<%= simple_form_for [:site_admin, @menu, @menu_item], html: { class: 'form-horizontal' } do |f| %>
  <%= f.show_errors %>

  <% if @menu_item_parent %>
    <div class="input">
      <%= f.input :parent,
        label: t(".parent_menu_item"),
        :input_html => {:value => @menu_item_parent.title, :disabled => 'disabled' },
        :as => :string %>
      <%= f.input :parent_id,
        :input_html => {:value => @menu_item_parent.id },
        :as => :hidden %>
    </div>
  <% end %>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% available_locales(@menu_item).each_with_index do |locale, index| %>
        <li class="<%= index == 0 ? "active" : "" %>"><%= link_to locale_with_name(locale), "#tab_#{locale}", data: {toggle: 'tab'} %></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% available_locales(@menu_item).each_with_index do |locale, index| %>
        <div id="tab_<%= locale.name %>" class="tab-pane<%= index == 0 ? " active" : "" %>">
          <%= f.i18ns_fields_for(locale) do |g| %>

            <% unless g.object.id.blank? %>
              <%= g.input :_destroy,
                label: t("activerecord.attributes.menu_item/i18ns._destroy", locale: locale.name.to_sym),
                as: :boolean %>
            <% end %>

            <%= g.input :title,
              label: t("activerecord.attributes.menu_item/i18ns.title", locale: locale.name.to_sym),
              placeholder: t(".title"),
              input_html: {class: "title_input"} %>

            <%= g.input :description,
              label: t("activerecord.attributes.menu_item/i18ns.description", locale: locale.name.to_sym),
              :input_html => {:size => "40x2", :style => "height:50px;" },
              :as => :text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% # URL Input %>
  <%=  target_dialog_input(f, :target, true) %>

  <div class='input'>
    <%= f.input :new_tab,
      as: :boolean, input_html: { class: "check-button" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-danger" %>
  </div>
<% end %> 
