<% if @notifications.empty? %>
  <div class="alert alert-warning">
    <%= t('.no_notifications') %>
  </div>
<% else %>
  <div class="pull-left"> <%= info_page @notifications %> </div>
  <div class="pull-right"> <%= paginate @notifications, remote: true %> </div>
  <div class="clearfix"></div> 
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th><%= t(".title") %></th>
        <th><%= t(".body") %></th>
        <th><%= t(".date") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td><%= link_to notification.title, admin_notification_path(notification.id) %></td>
          <td><%= strip_tags(notification.body.to_s)[0..50].html_safe %></td>
          <td><%= l(notification.created_at, :format => :short) %></td>
          <td class="text-right">
            <%= render_dropdown_menu do %>
              <%= make_menu(notification) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pull-left"> <%= per_page_links @notifications, true, :sm %> </div>
  <div class="pull-right"> <%= paginate @notifications, remote: true %> </div>
  <div class="clearfix"></div>
<% end %>
