<% if @notifications.empty? %>
  <div class="alert">
    <%= t('.no_notifications') %>
  </div>
<% else %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= t(".title") %></th>
        <th><%= t(".body") %></th>
        <th><%= t(".date") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td><%= link_to notification.title, admin_notification_path(notification.id) %></td>
          <td><%= strip_tags(notification.body.to_s)[0..50].html_safe %></td>
          <td><%= l(notification.created_at, :format => :short) %></td>
          <td> <%= raw make_menu(notification) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
