<div class="row">
  <div class="col-md-5">
    <%= form_tag admin_notifications_path, method: 'get', autocapitalize: "off", class: 'search' do %>
      <%= content_tag :div, class: 'input-group' do %>
        <%= search_field_tag :search, params[:search], class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag t("search"), class: 'btn btn-info btn-search' %>
        </span>
      <% end %>
    <% end %>
  </div>

  <% if check_permission(Admin::NotificationsController, ["new"]) %>
    <div class="col-md-3 pull-right">
      <%= link_to t(".new_notification"), new_admin_notification_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>

<%= content_tag :div, render('list'), id: 'list' %>
