<div id="profile">
<%= simple_form_for @profile, url: profile_path, html: { class: 'form-horizontal' } do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="avatar">
        <a href="//pt.gravatar.com/emails/" target="_blank">
          <img src="//www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@profile.email) %>?s=120&d=mm" class="img-circle">
        </a>
      </div>
      <div class="avatar-info">
        <%= t(".gravatar-info") %><br/>
        <b><%= t(".gravatar-important") %></b>
      </div>
      <div class="actions">
        <%= f.button :submit, class: 'btn btn-primary btn-block', disable_with: t("please_wait") %>
        <%= link_to "#{icon('chevron-left', white: true)}#{t("back")}".html_safe, profile_path(@profile.login), class: "btn btn-default btn-block" %>
      </div>
    </div>
    <div class="col-md-9">
        <%= f.show_errors %>
        <%= f.input :first_name, input_html: { class: 'input-block-level' } %>
        <%= f.input :last_name, input_html: { class: 'input-block-level' } %>
        <%= f.input :login, input_html: { class: 'input-block-level' } %>
        <%= f.input :email, as: :email, input_html: { class: 'input-block-level' }  %>
        <%= f.input :password, label: t(".password-change"), hint: t("lower_upper_number_chars"), as: :password,
          input_html: { class: 'input-block-level', pattern: '(?=.*\d)(?=.*[A-Z])(?=.*[a-z])^.{4,}$' } %>
        <%= f.input :password_confirmation, as: :password, input_html: { class: 'input-block-level' } %>
        <%= f.input :phone, input_html: {size: 20, maxlength: 20}, input_html: { class: 'input-block-level' } %>
        <%= f.input :mobile, input_html: {size: 20, maxlength: 20}, as: :tel, input_html: { class: 'input-block-level' } %>
        <%= f.input :locale_id,
          as: :radio_buttons,
          hint: t(".locale-hint"),
          boolean_style: :nested,
          collection: admin_locales.map{|l| [flag(l), l.id] } %>
    </div>
  </div>
<% end %>
</div>
