<div id="profile">
  <div class="row">
    <div class="col-md-3">
      <div class="avatar">
        <img src="//www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@profile.email) %>?s=120&d=mm" class="img-circle">
      </div>
      <div class="info">
        <%= @profile.first_name %><br />
        <span class="last-name"><%= @profile.last_name %></span>
      </div>
      <div class="actions">
        <%= link_to "#{icon('chevron-left', white: true)}#{t("back")}".html_safe, :back, class: "btn btn-default btn-block" %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="heading"><%= t('.login_history') %></div>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th><%= t(".login_ip") %></th>
            <th><%= t(".browser") %></th>
            <th><%= t(".platform") %></th>
            <th><%= t(".date") %></th>
          </tr>
        </thead>
        <tbody>
          <% @history.each do |history| %>
            <tr>
              <td><%= history.login_ip %></td>
              <td><%= history.browser %></td>
              <td><%= history.platform %></td>
              <td><%= l(history.created_at, :format => :short) %></td>
              <td></td>
            <tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
