<%# render 'view_picker' %>
<div class="pull-right"><%= paginate @albums, :remote => true %></div>
<div class="pull-left"><%= info_page @albums %></div>
<div class="clearfix"></div>
<div class="table-wrapper">
  <table class='table table-striped table-condensed align-middle nowrap'>
    <thead>
      <th class="center sel-all" width="1%"><%= check_box_tag :select_all, 1, false %></th>
      <th width="10%"><%= sortable 'archive_file_name', t(".archive") %></th>
      <th width="35%"><%= t(".title") %></th>
      <th width="12%"><%= sortable 'users.first_name', t(".author") %></th>
      <th width="20%"><%= sortable 'style.name', t(".tag") %></th>
      <th width="20%"><%= sortable 'tags.name', t(".category") %></th>
      <th width="25%"><%= sortable 'albums.created_at', t(".created_at") %></th>
      <% with_permission(action: :show) do %>
        <th width="5%"><%= sortable 'pages.publish', t(".publish") %></th>
      <% end %>
      <th width="5%" class="center"><%= sortable 'albums.view_count', t(".views") %></th>
      <th width="5%" class="center"><%= sortable 'albums.photos_count', t(".views") %></th>
      <th width="5%" class="center"><%#= t(".action")%></th>
    </thead>
    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td class="center sel-item"><%= check_box_tag :select_item, album.id, false %></td>
          <td><%= image_tag album.cover_photo.image, style: 'width: 64px; height: 64px;' if album.cover_photo %></td>
          <td>
            <% if check_permission(Sites::Admin::AlbumsController, [:edit]) %>
              <%= link_to "#{album.title} #{content_tag(:span, icon(:edit), class: 'oh-c-i')}".html_safe, edit_site_admin_album_path(album) %>
            <% else %>
              <%= album.title %>
            <% end %>
          </td>
          <td><%= album.user.first_name %></td>
          <td><% raw categories_links(album.categories) %></td>
          <td><%# raw categories_links(album.categories) %></td>
          <td><%= l(album.created_at, :format => :short) %></td>
          <% with_permission(action: :show) do %>
            <td class="publish">
              <%#= publication_status_page(album, remote: true) %></td>
          <% end %>
          <td width="5%" style="text-align:center;"><%= album.view_count %></td>
          <td width="5%" style="text-align:center;"><%= album.photos_count %></td>
          <td class="actions">
            <%= render_dropdown_menu do %>
              <%= link_to icon('eye-open', text: t('show')), site_album_path(album), target: :_blank %>
              <%= make_menu(album, :except => "show", :with_text => true) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render_bulk_actions do %>
    <% with_permission(action: :destroy_many) do %>
      <%= link_to icon('trash', text: t('destroy')), destroy_many_site_admin_albums_path, class: 'btn btn-sm btn-default destroy-many', method: :delete, data: {confirm: t('are_you_sure_del_many')} %>
    <% end %>
  <% end %>
</div>
<div class="pull-right"><%= paginate @albums, remote: true %></div>
<div class="pull-left"><%= per_page_links @albums, true, :sm%></div>
<div class="clearfix"></div>
