
  <div class="album-photo">
    <% if photo.is_cover? %>
      <%= content_tag(:span, t('.cover'), class: 'label label-success cover-label is-cover') %>
    <% else %>
      <% if check_permission(Sites::Admin::AlbumPhotosController, [:edit]) %>
        <%= link_to content_tag(:span, t('.make_cover')), '#', class: 'label label-success cover-label make-cover' %>
      <% end %>
    <% end %>
    <% if check_permission(Sites::Admin::AlbumPhotosController, [:destroy]) %>
      <%= link_to icon(:trash), site_admin_album_album_photo_path(@album, photo), title: t("destroy"), class: 'close', method: :delete, remote: true, data: {confirm: t('are_you_sure_del_item', item: photo.screen_name)} %>
    <% end %>
    <%= image_tag photo.image.url(:t), class: 'preview' %>
    <%= simple_form_for [:site_admin, @album, photo], remote: true do |f| %>
      <div class="caption">
        <h5 class="file-name"><%= photo.image_file_name %></h5>
        <% if check_permission(Sites::Admin::AlbumPhotosController, [:edit]) %>
          <%= f.input :description, as: :text, required: false, label: false, placeholder: t('activerecord.attributes.album_photo.description') %>
          <div class="status"><%= status ||= '' %></div>
        <% end %>
      </div>
      <% if check_permission(Sites::Admin::AlbumPhotosController, [:edit]) %>
        <div class="save-btn hide">
          <%= f.button :submit, class: '', value: t('save'), disable_with: t("please_wait") %>
        </div>
      <% end %>
    <% end %>
  </div>
