
<% @album.album_photos.each do |photo| %>
  <%= image_tag photo.image.url(:t) %>
<% end %>
<%= simple_form_for [:site_admin, @album, @album_photo] do |f| %>
  <div class="form-group file optional album_photos_image">
    <label class="file optional" for="album_photo_image">Adicionar Arquivos</label>
    <%= f.input :image, as: :file, label: t('.add_archives'), required: false, input_html: {multiple: true} %>
  </div>
  <div id="upload-preview" class="row">
    <div class="col-sm-6 col-md-3 col-lg-2 repo-template closeable" style="display: none;">
      <div class="thumbnail">
        <button type="button" class="close" data-dismiss="repo-item" tabindex="-1" title="<%= t("destroy") %>">&times;</button>
        <%= f.text_field :image, disabled: true, value: "" %>
        <div class="caption">
          <h4></h4>
          <%= f.input :description, as: :text, required: false %>
          <div class="status"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', disable_with: t("please_wait") %>
    <%# link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>
