<thead>
  <tr>
    <td colspan="99"><i><b><%= "*" unless present %><%= t(place_holder, scope: 'components.pos') %></b></i></td>
  </tr>
</thead>
<%  if components_per_holder.empty? %>
  <tr>
    <td colspan="99" align="center"><i><%= t("empty_placeholder") %></i></td>
  </tr>
<% else %>
  <tbody class="placeholder-group">
    <% components_per_holder.each do |comp| %>
      <% component = Weby::Components.factory(comp) %>
      <tr id="sort_sites_component_<%= component.id %>" class="place-<%=  "#{place_holder}" -%>">
        <td><%= component.id %></td>
        <td><%= "*" unless Weby::Components.is_enabled?(component.name) %><%= t("components.#{component.name}.name") %></td>
        <td><%= component.category rescue '--' %></td>
        <td align="center"><%= raw toggle_field(component, "publish") %></td>
        <td>
          <%= raw make_menu(component, :except => "show") %>
          <% if check_permission(ComponentsController, 'sort') %>
            <span class='handle icon icon-drag'><%= t("move") %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
