<%= simple_form_for @component.id ? site_component_path(@site, @component) : site_components_path(@site) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> <%= t "prohibited_being_saved", :count => @component.errors.count %>:</h2>
      <ul>
        <% @component.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden %>

  <div id="settings">
    <%= f.input :settings, :label => t("setting.other"), :as => :text %> 
	</div>

  <div class="input">
    <label><%= t("place").capitalize  %></label>
    <%= raw make_mini_layout %>
    <%= f.input :place_holder, :as => :hidden %>
  </div>

  <div class="actions">
    <%= f.submit t("save"), class: 'green-button' %>
    <%= link_to t('back'), site_site_components_path, class: 'red-button' %>
  </div>
<% end %>
