<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= @component.site %>
</p>

<p>
  <b>Place holder:</b>
  <%= @component.place_holder %>
</p>

<p>
  <b>Settings:</b>
  <%= @component.settings %>
</p>

<p>
  <b>Component:</b>
  <%= @component.component %>
</p>


<%= link_to 'Edit', edit_site_component_path %> |
<%= link_to 'Back', site_components_path %>
