<fieldset>  
  <p>
    <b><%= t"name" %>:</b>
    <%= @component.name %>
  </p>
  
  <p>
    <b><%= t"body" %>:</b>
    <%= @component.body %>
  </p>

  <%= link_to t('edit'), [@site, @component] %> | 
  <%= link_to t("list_all.masc"), site_components_path(@site) %> |
  <%= link_to t('back'), :back %>
</fieldset>
