<nav class="menu_accessibility_component right basic">
  <span class="accessibility">
    <% if component.font_size? %>
      <span class="accessibility_font">
        <% if !component.label_font_size.blank? %>
          <%= component.label_font_size %>
        <% end %>

        <%= link_to weby_icon('minus'), "#", onclick: 'font_size_down()', title: t(".decrease_font_size")%>
        <%= link_to weby_icon('font'), "#", onclick: 'font_size_original()', title: t(".default_font_size")%>
        <%= link_to weby_icon('plus'), "#", onclick: 'font_size_up()', title: t(".increase_font_size")%>
      </span>
    <% end %>
    <% if component.contrast? %>
      <span class="accessibility_color">
        <% if !component.label_contrast.blank? %>
          <%= component.label_contrast %>
        <% end %>

        <a href="#" class="contrast_normal">C</a>
        <a href="#" class="contrast_blue">C</a>
        <a href="#" class="contrast_black">C</a>
        <a href="#" class="contrast_yellow">C</a>
      </span>
    <% end %>
  </span>
</nav>