<section class="menu_accessibility_component extended">
  <div id="menu_accessibility_background">
    <nav class="menu_accessibility_extended accessibility_content" style="display: none;">
      <%= link_to '[x]', '#', class: 'close-accessibility' %>
      <ul id="accessibility_areas">
        <li class="accessibility_tools">
          <b><%= t('.accessibility_tools') %></b>
          <%= acessibility_font_links(component) %>
          <br />
          <span class="accessibility_color">
            <% if component.contrast? %>
              <%= acessibility_color_links(component) %>
            <%  end %>
          </span>
        </li>
        <li class="accessibility_keys">
          <b><%= t('.accessibility_keys') %></b>
          <p>CTRL + h<%= t('.or') %> ALT + h -<%= t(".homepage") %></p>
          <a href="<%= main_app.site_url(subdomain: current_site) %>" accesskey="h"></a>
          <p>CTRL + c<%= t('.or') %> ALT + c -<%= t(".go_to_content") %></p>
          <a href="#content" accesskey="c"></a>
          <p>CTRL + s<%= t('.or') %> ALT + s -<%= t(".focus_search_field") %></p>
          <a href="#search" accesskey="s"></a>
          <p>CTRL + i<%= t('.or') %> ALT + i -<%= t(".contact_information") %></p>
          <a href="<%= feedback_path %>" accesskey="i"></a>
          <p>CTRL + a<%= t('.or') %> ALT + a -<%= t(".details_hotkeys") %></p>
          <a href="http://acessibilidade.ufg.br" target="_blank" accesskey="a"></a>
        </li>
        <li class="accessibility_options">
          <%= raw component.additional_information %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="accessibility_content">
    <div id="accessibility_border"></div>
    <div id="accessibility_button">
      <label><%= image_tag 'components/accessibility-icon.png' %><b><%= t(".accessibility") %></b></label>
    </div>
  </div>
</section>

