<div class="tabbable">
  <ul class="nav nav-tabs" id="style-tab">
    <li class="active" >
      <a href="#basic" data-toggle="tab"><%= t(".basic") %></a>
    </li>
    <li>
      <a href="#extended" data-toggle="tab"><%= t(".extended") %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="basic">

      <%= f.input :template, include_blank: false, collection: component.template_options.map{|o| [t(".#{o}"), o] } %>

      <%= f.input :content_anchor %>
      <%= f.input :menu_anchor %>
      <%= f.input :search_anchor %>

      <span class="contrast">
        <%= f.input :contrast, :label => t("menu_accessibility.views.form.contrast"), wrapper: :checkbox, :as => :boolean %>
        <%= each_i18n_tab do |locale| %>
          <%= f.component_i18n_input locale, :label_contrast, :as => :string %>
        <% end %>
      </span>
      <span class="font-size">
        <%= f.input :font_size, :label => t("menu_accessibility.views.form.font_size"), wrapper: :checkbox, :as => :boolean %>
        <%= each_i18n_tab do |locale| %>
          <%= f.component_i18n_input locale, :label_font_size, :as => :string %>
        <% end %>
      </span>
      <%= f.input :information_access_url, as: :url, hint: t('.information_access_hint') %>
    </div>
    <div class="tab-pane" id="extended">
      <%= f.input :extended_accessibility, wrapper: :checkbox, as: :boolean %>
      <div class="extended_fields">
      <%= each_i18n_tab do |locale| %>
          <%= f.component_i18n_input locale, :additional_information,
            input_html: {class: "mceSimple", style: "height: 250px;"},
            as: :text %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :javascripts, javascript_include_tag("init/tinymce") %>
<% content_for :javascripts, javascript_include_tag("extended.form") %>
