<fieldset>
  <legend><%= t:forgot_password  %></legend>

  <%= t:fill_email_form  %>:<br />
  <br />

  <% form_tag password_resets_path do %>
    <label><%= t:email  %>:</label><br />
    <%= text_field_tag "email" %><br />
    <br />
    <%= submit_tag "Reset my password" %>
  <% end %>
</fieldset>
