<fieldset>
  <legend><%= t"forgot_password"  %></legend>
    
  <%= form_tag password_resets_path do %>

    <p> <label><%= t"email"  %>:</label> <%= text_field_tag "email" %> </p>

    <%= submit_tag t"reset_my_password" %>
  <% end %>
</fieldset>
