<% content_for :javascripts, javascript_include_tag('menus') %>

<%= simple_form_for [@site, @menu] do |f| %>
	<% if @menu.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@menu.errors.count, "") %> <%= t("prohibited_being_saved", :count => @menu.errors.count) %>:</h2>
			<ul>
				<% @menu.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

        <div class="tabs">
	<%= f.input :title, :label => t("title"),
		placeholder: t("title"),
		input_html: {class: "title_input"} %>

	<%= f.input :description, :label => t("description"),
		:input_html => {:size => "40x4" },
		:as => :text %>
        </div>
	<%= f.simple_fields_for :sites_menus do |menus_form| %>
		<%= menus_form.input :parent_id, :input_html => {:value => (params[:parent_id] ? params[:parent_id] : menus_form.object.parent_id) }, :as => :hidden %>
		<%= menus_form.input :site_id, :input_html => {:value => @site.id}, :as => :hidden %>

		<% if @menu_parent %>
			<%= menus_form.input "category", :input_html => {:value => "#{@menu_parent.category}"}, :as => :hidden %>
		<% else %>
			<div class="input select">
				<%= menus_form.label :category, t("group.one"), :class => "select", :for => "menu-category" %>
				<%= menus_form.select :category, @site.menu_categories, {}, :id => "menu-category" %>
				<%= link_to_function image_tag("add.png", :title => "Adicionar um acategoria"),
					"addToSelect('#menu-category')", :title => "Adicionar um categoria" %>
			</div>
		<% end %>
	<% end %>

      <div id="div_link">
    <%= f.input :link,
      label: t('url'),
      hint: t('type_param', param: t('url')),
      wrapper_html: { id: 'banner_url', style: 'float: left' },
      as: :string %>

    <%= link_to_function 'Clique aqui para selecionar uma página',
      'show_dialog($(this))',
      id: 'banner_page_select',
      style: "float: left; margin: 30px; 0 0 10px",
      class: "search-button",
      'data-link' => list_published_site_pages_path
    %>

    <% # Ao selecionar um noticia deve ser montado a url para ela,
       # então aqui guardamos o caminho para as páginas deste site %>
    <%= hidden_field_tag 'url_to_pages', site_pages_url(@site) %>
	</div>

	<div class="actions">
		<%= f.submit t("save"), class: "green-button" %>
		<%= link_to t("back"), :back, class: "red-button" %>
	</div>
<% end %> 
