<fieldset>
  <legend><%= t:editing, :param => (t:menu, :count => 1) %></legend>

  <% form_for(@menu) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label t:text %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label t:type, :param => t("url") %><br />
      <%= f.text_field :link %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <%= link_to t("back"), menus_path %>
</fieldset>
