<fieldset>
  <legend><%= t"editing", :param => (t"menu", :count => 1) %></legend>

  <center>
    <%= form_tag edit_site_menu_path(@site, @menu), :method => 'get', :remote => true do %>
      <%= label_tag t("search") %>
      <%= text_field_tag :search %>
      <%= submit_tag t("submit") %>
    <% end %>
  </center>
  <hr>

  <%= simple_form_for [@site, @menu] do |f| %>
    <% if @menu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@menu.errors.count,"") %> <%= t"prohibited_being_saved", :count => @menu.errors.count %>:</h2>
        <ul>
          <% @menu.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="link-field ">
      <label for="div_event"><%= t"type" %></label>
      <div class="input" id="link_form_pages">
        <%= t("internal") %> | <%= link_to t("external"), edit_site_menu_path(@site, :type => "external"), :update => "div_link", :remote => true, :onclick => "var img = new Image; img.src = '/images/spinner.gif'; $(this).parent().html(function(){return img})" %>
      </div>
    </div>

    <div id="div_link">
      <%= render :partial => 'formPages', :locals => {:f => f} %>
    </div>

    <%= f.input :title, :label => t("text"), :hint => t("field_required") %>

		<div class="actions">
		   <%= f.submit t("save") %> <%= link_to t("back"), :back %>
  	</div>

  <% end %> 

</fieldset>
