<fieldset>
  <legend><%= t"editing", :param => (t"menu", :count => 1) %></legend>

  <%= form_for @menu, :builder => SemanticFormBuilder do |f| %>
     <% if @menu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@menu.errors.count,"") %> <%= t"prohibited_being_saved", :count => @menu.errors.count %>:</h2>

        <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :title, :label => t("text")%>
    <%= f.text_field :link, :label => (t"type", :param => t("url")) %>
    <%= f.submit t("save") %>
  <% end %>

  <%= link_to t("back"), menus_path %>
</fieldset>
