<fieldset>
  <legend><%= t"list", :param => (t"menu", :count => 2)  %></legend>

  <div class="contextual">
    <p> 
      <%= link_to (t"create_param", :param => (t"menu", :count => 1)),  new_site_menu_path(:side => params[:side]), :class => 'icon icon-add'%>
    </p>
  </div>

  <div style="height:30px">
    <div class="simple_box"><%= link_to("Esquerdo", :controller => 'menus', :action => 'index', :side => "left") %></div>
    <div class="simple_box"><%= link_to("Direito", :controller => 'menus', :action => 'index', :side => "right") %></div>
    <div class="simple_box"><%= link_to("Superior", :controller => 'menus', :action => 'index', :side => "top") %></div>
    <div class="simple_box"><%= link_to("Inferior", :controller => 'menus', :action => 'index', :side => "bottom") %></div>
  </div>

  <% if not params[:side].nil? and not params[:side].empty? %>
    <div id="<%= params[:side] %>_m">
      <%= render params[:side] %>
    </div>
  <% end %>

  <p> 
  </p>
</fieldset>
