<fieldset>
  <legend><%= t"menu.other"  %></legend>

  <% if check_permission(MenusController, [:new]) %>
    <div class="contextual">
      <%= link_to (t"new_param.masc", :param => (t"menu.one")),  new_site_menu_path(@site), :class => 'icon icon-add'%>
    </div>
  <% end %>

  <div id='tabs'>
    <ul>
      <% @menus.each do |menu| %>
        <% selected = (menu==@menu ? "selected" : "") %>
        <li><%= link_to(menu.name.try(:titleize), menu==@menu ? '#' : site_menus_path(@site, :menu => menu.id), :rel => menu.id, :class => "#{selected}") %></li>
      <% end %>
    </ul>
  </div>
  <div id='main-tabs'>
    <% if @menu %>
      <div class="contextual">
        <% if check_permission(MenuItemsController, [:new]) %>
        <%= link_to (t"new_param.masc", :param => (t"menu_item.one")),  new_site_menu_menu_item_path(@site, @menu), :class => 'icon icon-add'%>
        <% end %>
        <% if check_permission(MenusController, [:edit]) %>
        |&nbsp;<%= link_to (t"edit", :param => (t"menu.one")),  edit_site_menu_path(@site, @menu), :class => 'icon icon-edit'%>
        <% end %>
        <% if check_permission(MenusController, [:destroy]) %>
        |&nbsp;<%= link_to t("destroy"), site_menu_path(@site, @menu), :method=>:delete, :confirm => t('are_you_sure'),:class=>'icon icon-del', :title => t("destroy") %>
        <% end %>
        &nbsp;
      </div>
      <%= raw print_menu(@global_menus[@menu.id], 1) %>
    <% end %>
  </div>

<%= javascript_tag do %>
  window.onload=function(){
    $(document).ready(function() {

      ////FIX-ME
      $('#content').css({'overflow':'hidden'});

      var dropped = false;
      $('#main-tabs > menu').nestedSortable({
        listType: 'menu',
        handle: '.handle',
        items: 'li',
        opacity: 0.7,
        forcePlaceholderSize: true,
        placeholder: 'drop-here',
        tolerance: 'pointer',
        toleranceElement: '> div',
        update: function(event, ui){

          if(dropped){
            $(this).nestedSortable('cancel');
            dropped = false;
            return;
          }

          id = ui.item.attr('id').replace('menu_item_','');
          parent_id = ui.item.parents('li').attr('id') ? ui.item.parents('li').attr('id').replace('menu_item_','') : 0;
          position = ui.item.index()+1;//A position no banco começa com 1

          $.ajax({
            type: 'post',
            data: 'id='+id+'&parent_id='+parent_id+'&position='+position,
            dataType: 'script',
            complete: function(request,text){
              if(text=='success') $(ui.item).effect('highlight');
              else $('#main-tabs > menu').nestedSortable('cancel');
            },
            url: '<%= change_order_site_menu_menu_items_path(@site, @menu) if @menu %>'
          });
        }
      });

      $( "#tabs li" ).droppable({
        hoverClass: "drop-here",
        tolerance: "pointer",
        drop: function( event, ui ) {
          drop_li = $(this)
          id = ui.draggable.attr('id').replace('menu_item_','');
          menu_id = drop_li.find('a').attr('rel');

          dropped = true;

          ////Testa para não alterar pra o proprio menu
          if( !drop_li.find('a').hasClass('selected') ){

            $.ajax({
              type: 'post',
              data: 'id='+id+'&new_menu_id='+menu_id,
              dataType: 'script',
              complete: function(request,text){
                if(text=='success'){
                  ui.draggable.remove();
                  location = drop_li.find('a').attr('href');
                }
              },
              url: '<%= change_menu_site_menu_menu_items_path(@site, @menu) if @menu%>'
            });

          }
        }
      });

    })
  }
  <% end %>
</fieldset>
<%= content_for :javascripts, javascript_include_tag("jquery.ui.nestedSortable") %>
<%= content_for :stylesheets, stylesheet_link_tag("jquery.sortable") %>