<fieldset>
  <legend><%= t:list, :param => (t:menu, :count => 2)  %></legend>

  <div style="height:30px">
    <div class="simple_box" onClick="$('#left_m').toggle();" style="cursor: pointer;">Esquerdo</div>
    <div class="simple_box" onClick="$('#right_m').toggle();" style="cursor: pointer;">Direito</div>
    <div class="simple_box" onClick="$('#top_m').toggle();" style="cursor: pointer;">Superior</div>
  </div>

  <div id="left_m" style="display:none;">
    <%= render "left" %>
  </div>
  <div id="right_m" style="display:none;">
    <%= render "right" %>
  </div>
  <div id="top_m" style="display:none;">
    <%= render "top" %>
  </div>

  <p> <%= link_to (t:create_param, :param => (t:menu, :count => 2)), new_site_menu_path %> </p>
</fieldset>
