<fieldset>
  <legend><%= t"menu.other"  %></legend>

  <div class="contextual">
    <p> <%= link_to (t"new_param.masc", :param => (t"menu.one")),  new_site_menu_path(:side => params[:side]), :class => 'icon icon-add'%> </p>
  </div>

  <div id='tabs'>
    <ul>
      <% links = ["main","secondary","base","auxiliary"] %>
      <% for link in links do %>
        <% selected = params[:side] == link ? "selected" : "" %>
        <li><%= link_to_unless(@menus[link].blank?, t("#{link}"), site_menus_path(@site, :side => link), :class => "#{selected}") %></li>
      <% end %>
    </ul>
  </div>
  <div id='main-tabs'>
    <% if @menus[params[:side]].empty? %>
      <p> <%= t("none_left_menu") %> </p>
    <% else %>
      <%= raw print_menu(@menus[params[:side]], 1) %>
    <% end %>
  </div>
</fieldset>
