<fieldset>
  <legend><%= t:list, :param => (t:menu, :count => 2)  %></legend>

  <div style="height:30px">
    <div class="simple_box"><%= link_to("Esquerdo", :controller => 'menus', :action => 'index', :left_menu => 1) %></div>
    <div class="simple_box"><%= link_to("Direito", :controller => 'menus', :action => 'index', :right_menu => 1) %></div>
    <div class="simple_box"><%= link_to("Superior", :controller => 'menus', :action => 'index', :top_menu => 1) %></div>
  </div>

  <% if params[:left_menu] %>
  <div id="left_m">
    <%= render "left" %>
  </div>
  <% end %>
  <% if params[:right_menu] %>
  <div id="right_m">
    <%= render "right" %>
  </div>
  <% end %>
  <% if params[:top_menu] %>
  <div id="top_m">
    <%= render "top" %>
  </div>
  <% end %>

  <p> <%= link_to (t:create_param, :param => (t:menu, :count => 2)),  :controller => 'menus', :site => params[:site_id], :action => 'new' %> </p>
</fieldset>
