<fieldset>
  <legend><%= t"menu.other"  %></legend>

  <div class="contextual">
    <p> <%= link_to (t"create_param", :param => (t"menu.one")),  new_site_menu_path(:side => params[:side]), :class => 'icon icon-add'%> </p>
  </div>

  <div id='tabs'>
    <ul>
      <li><%= link_to("Esquerdo", site_menus_path(@site, :side => "left"), :class => 'selected') %></li>
      <li><%= link_to("Direito", site_menus_path(@site, :side => "right")) %></li>
      <li><%= link_to("Superior", site_menus_path(@site, :side => "top")) %></li>
      <li><%= link_to("Inferior", site_menus_path(@site, :side => "bottom")) %></li>
    </ul>
  </div>

  <div id='main-tabs'>
    <% if not params[:side].nil? and not params[:side].empty? %>
      <%= render params[:side] %>
    <% end %>
  </div>
</fieldset>
