<fieldset>
  <legend><%= t"menu.other"  %></legend>

  <div class="contextual">
    <%= link_to (t"new_param.masc", :param => (t"menu.one")),  new_site_menu_path(:category => params[:category]), :class => 'icon icon-add'%> 
  </div>

  <div id='tabs'>
    <ul>
      <% links = @site.menu_categories %>
      <% for link in links do %>
        <% selected = params[:category] == link ? "selected" : "" %>
        <li><%= link_to(link.try(:titleize), site_menus_path(@site, :category => link), :class => "#{selected}") %></li>
      <% end %>
    </ul>
  </div>
  <div id='main-tabs'>
    <% unless @menus[params[:category]].blank? %>
      <%= raw print_menu(@menus[params[:category]], 1) %>
    <% end %>
  </div>
  <%= javascript_tag do %>
  window.onload=function(){
    $().ready(function() {

      var dropped = false;

      $('#main-tabs > menu').nestedSortable({
        listType: 'menu',
        handle: '.handle',
        items: 'li',
        opacity: 0.7,
        forcePlaceholderSize: true,
        placeholder: 'drop-here',
        tolerance: 'pointer',
        toleranceElement: '> div',
        update: function(event, ui){

          if(dropped){
            $(this).nestedSortable('cancel');
            dropped = false;
            return;
          }

          id = ui.item.attr('id').replace('menu_','');
          parent_id = ui.item.parents('li').attr('id') ? ui.item.parents('li').attr('id').replace('menu_','') : 0;
          position = ui.item.index()+1;//A position no banco começa com 1

          $.ajax({
            type: 'post',
            data: 'id='+id+'&parent_id='+parent_id+'&position='+position,
            dataType: 'script',
            complete: function(request,text){
              if(text=='success') $(ui.item).effect('highlight');
              else $('#main-tabs > menu').nestedSortable('cancel');
            },
            url: '<%= change_order_site_menus_path %>'
          });
        }
      });

      $( "#tabs li" ).droppable({
        hoverClass: "drop-here",
        tolerance: "pointer",
        drop: function( event, ui ) {
          drop_li = $(this)
          id = ui.draggable.attr('id').replace('menu_','');
          category = drop_li.find('a').text().toLowerCase();

          dropped = true;

          ////Testa para não alterar pra a própria categoria
          if( !drop_li.find('a').hasClass('selected') ){

            $.ajax({
              type: 'post',
              data: 'id='+id+'&category='+category,
              dataType: 'script',
              complete: function(request,text){
                if(text=='success'){
                  ui.draggable.remove();
                  location = drop_li.find('a').attr('href');
                }
              },
              url: '<%= change_category_site_menus_path %>'
            });

          }
        }
      });

    })
  }
  <% end %>
</fieldset>
<%= content_for :javascripts, javascript_include_tag("jquery.ui.nestedSortable") %>
<%= content_for :stylesheets, stylesheet_link_tag("jquery.sortable") %>
