<fieldset> 
  <% if !params[:parent_id] %>
		<% params[:parent_id] = "0" %>
    <legend> <%= t"create_param", :param => (t"menu", :count => 1) %> </legend>
  <% else %>
    <legend> <%= t"create_param", :param => t("sub_menu")%> </legend>
  <% end %>

  <%= form_for [@site, @menu], :builder => SemanticFormBuilder   do |f| %>
    <% if @menu.errors.any? %>
      <div id="error_explanation">
        <h2> <%= pluralize(@menu.errors.count, "") %> <%= t"prohibited_being_saved",:count => @menu.errors.count%>: </h2>
        <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p> <%= f.text_field :title, :label => t("text"), :required => true, :help => t("field_required") %> </p>
    <p> <%= f.text_field :link, :label => (t"type", :param => t("url")) %> </p>

		<%= f.fields_for :sites_menus do |menus_form| %>
      <%= menus_form.hidden_field :parent_id, :value => params[:parent_id] %>
      <%= menus_form.hidden_field :site_id, :value => @site.id %>

      <% if @menu_parent %>
        <%= menus_form.hidden_field "side", :value => "#{@menu_parent.side}" %>
      <% else %>
        <% menus_list = [[t("left"), "left"], [t("right"), "right"], [t("top"), "top"], [t("bottom"), "bottom"]] %>
        <p> <%= menus_form.select(:side, options_for_select(menus_list, selected = "#{params[:side]}"), :label => t("position")) %> </p>
      <% end %>
    <% end %>

    <p> <%= f.submit t("create") %> <%= link_to t("back"), :back %></p>
  <% end %> 
</fieldset>
