<fieldset> 
  <% if !params[:parent_id] %>
    <legend><%= t"create_param", :param => (t"menu", :count => 1) %></legend>
  <% else %>
    <legend><%= t"create_param", :param => t("sub-menu")%></legend>
  <% end %>

  <%= form_for(@menu) do |f| %>
    <% @menu.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>

    <%= f.hidden_field "sites_menus_attributes[][parent_id]", :value => params[:parent_id] %>
    <%= f.hidden_field "sites_menus_attributes[][site_id]", :value => @site.id %>
    <p>
      <%= t"text" %>:<br />
      <%= f.text_field :title %>
    </p>    
    <%# f.fields_for :sites_menus do |menus_form| %>
      <%#= menus_form.hidden_field :parent_id, :value => params[:parent_id] %>
      <%#= menus_form.text_field :position %>
    <%#end %>

    <% if params[:parent_id] %>
      <p>
        <%= t"position" %>:<br />
          <%= select(:sites_menus, :position, ["top", "left", "right", "bottom"]) %>
      </p>
    <% end %>

    <p> <%= f.submit t("create") %> <%= link_to t("back"), :back %></p>
  <% end %> 
</fieldset>
