<fieldset> 
  <% if !params[:father_id] %>
    <legend><%= t:create_param, :param => t("menu")%></legend>
  <% else %>
    <legend><%= t:create_param, :param => t("sub-menu")%></legend>
  <% end %>

  <%= form_for(@menu) do |f| %>
    <% @menu.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  

    <%= f.hidden_field :father_id, :value => params[:father_id] %>

    <p>
      <%= t:text %>:<br />
      <%= f.text_field :title %>
    </p>    
    <% if !params[:father_id] %>
      <p>
        <%= t:position %>:<br />
        <%= select(:menu, :position, [ "top", "right" , "left"]) %>
      </p>
    <% end %>

    <p> <%= f.submit t("create") %> <%= link_to t("back"), menus_path %></p>
  <% end %> 
</fieldset>
