<fieldset> 
	<% params[:parent_id] ||= 0 %>
  <legend> <%= params[:parent_id] == 0 ? (t"new_param.masc", :param => (t"menu.one")) : (t"new_param.masc", :param => t("sub_menu")) %> </legend>

  <center>
    <%= form_tag new_site_menu_path(@site, @menu), :method => 'get', :remote => true do %>
      <%= label_tag t("search") %>
      <%= text_field_tag :search %>
      <%= submit_tag t("submit") %>
    <% end %>
  </center>
  <hr>

  <%= form_for [@site, @menu], :builder => SemanticFormBuilder   do |f| %>
    <% if @menu.errors.any? %>
      <div id="error_explanation">
        <h2> <%= pluralize(@menu.errors.count, "") %> <%= t"prohibited_being_saved",:count => @menu.errors.count%>: </h2>
        <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="text-field ">
      <label for="div_event"><%= t"type" %></label>
      <div class="input">
        <div id="link_form_pages">
        <%= t("internal") %> | <%= link_to t("external"), new_site_menu_path(@site, :type => "external"), :update => "div_link", :remote => true, :onclick => "var img = new Image; img.src = '/images/spinner.gif'; $(this).html(function(){return img})" %>
        </div>
      </div>
    </div>

    <div id="div_link">
      <%= render :partial => 'formPages', :locals => {:f => f} %>
    </div>

    <%= f.text_field :title, :label => t("text"), :required => true, :help => t("field_required") %>
		<%= f.fields_for :sites_menus do |menus_form| %>
      <%= menus_form.hidden_field :parent_id, :value => params[:parent_id] %>
      <%= menus_form.hidden_field :site_id, :value => @site.id %>

      <% if @menu_parent %>
        <%= menus_form.hidden_field "category", :value => "#{@menu_parent.category}" %>
      <% else %>
        <%= menus_form.select(:category,
                              options_for_select(@site.menu_categories),
                              :label => t("category"),
                              :add => ["categoria", "#menu_sites_menus_attributes_0_category"]) %>

      <% end %>
    <% end %>

    <%= f.submit t("create") %> <%= link_to t("back"), :back %>
  <% end %> 
</fieldset>
