<p>
  <b>Title:</b>
  <%=h @menu.title %>
</p>

<p>
  <b>Father:</b>
  <%=h @menu.father_id %>
</p>

<p>
  <b>Position:</b>
  <%=h @menu.position %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>