<div class="tabbable i18n">
  <ul class="nav nav-tabs">
    <% current_site.locales.each_with_index do |locale, index| %>
      <li class="<%= index == 0 ? "active" : "" %>"><%= link_to locale_with_name(locale, '16'), "#tab_#{locale}", data: {toggle: 'tab'} %></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% current_site.locales.each_with_index do |locale, index| %>
      <div id="tab_<%= locale.name %>" class="tab-pane<%= index == 0 ? " active" : "" %>">

        <%= f.component_i18n_input locale, :title, :as => :string %>

      </div>
    <% end %>
  </div>
</div>
<%= f.input :style, :include_blank => false, :priority => [ ["FlexSlider",1] ], :collection => [ ["FlexSlider",1], ["LightBox",2]] %>
<%= f.input :width %>
<%= f.input :height %>
<%= f.input :timer, hint: t(".timer_hint") %> 
<%= f.input :description, as: :boolean %>

  <div class = "controls">
    <%= repository_search t(".add_photo"),
      "photo_ids", "photo_slider_component[photo_ids][]", component.generate_vector_images,
      multiple: true, file_types: 'image' %>
  </div>

<% content_for :bottom do %>
  <div id="dialog-repository-search">
    <%= render('sites/admin/repositories/repository_search') %>
  </div>
<% end %>
<%= content_for :stylesheets, stylesheet_link_tag("include_files") %>
