<%= form_for [@site, @repository], :html => { :multipart => true } , :builder => SemanticFormBuilder do |f| %> 
  <% if @repository.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@repository.errors.count, "") %> <%= t"prohibited_being_saved", 
              :count => @repository.errors.count %>: </h2>
      <ul>
      <% @repository.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.file_field :archive, :label => t(:archive, :count => 1) %>
  <%= f.text_field :description, :label => t("description"), :required => true, :help => t("field_required") %>
  <%= f.hidden_field :site_id, :value => @site.id %>

  <%= f.submit t("submit") %>
<% end %>
