<%= form_for(@repository, :html => { :multipart => true }, :builder => SemanticFormBuilder) do |f| %>
  <% if @repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
      <% @repository.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.text_field :description, :label => t("description") %>
	<%= f.file_field :archive, :label => t(:archive, :count => 1) %>
	<%=  f.hidden_field :site_id, :value => @site.id %>
  </div>

  <div class="actions">
    <%= f.submit t("submit"),{:controller => 'repositories', :action => 'show', :id =>  @repository.id} %>
  </div>
<% end %>
