<%#= FIXME: melhorar este 'componente do sistema'. Talvez usar cells ou apotamo %>
<% if @images %>
  <center>
    <%= label_tag :image_search, t('search') %>
    <%= search_field_tag :image_search, params[:image_search] %>
    <%= button_to_function t('search'), "search_images()" %>
    <span id='loading'></span>
  </center>

  <div id="images_list">
    <%= images_radio(@images, f, id) %>
  </div>

  <%= content_for :javascripts do %>
    <%= javascript_tag do %>
        function search_images(){
          var loading = LoadingGif.new($('span#loading')).show();
          $.ajax({ 
            data: { 'image_search': $('#image_search').val() },
            dataType: 'html',
            success: function(data){
              $('#images_list').html($(data).find('#images_list'));
              loading.hide();
            }
          });
        }

        $('#image_search').bind('keyup', function(event){
          if(event.keyCode == 13){
            search_images()
            return false;
          }
        });
    <% end %>
  <% end %>
<% else %>
  <%= flash.now[:warning] = (t"none_param", :param => t("picture")) %>
<% end %>
