  <% unless @repositories.empty? %>
    <%= will_paginate @repositories, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next"), :class => 'pagination ajax' %>
    <table class='list'>
      <thead>
        <th><%= t("archive.other") %></th>
        <th>id</th>
        <th><%= t("description") %></th>
        <th></th>
      </thead>
      <tbody>    
      <% @repositories.each do |repository| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <% unless repository.archive_content_type.include?("image") %>
            <% if repository.archive_content_type.include?("pdf") %>
              <td><%= link_to (image_tag "/images/pdf_file.png", :alt => repository.description), repository.archive.url, :title => repository.description %></td>
            <% else %>	
              <td><%= link_to (image_tag "/images/arquivo.gif", :alt => repository.description), repository.archive.url, :title => repository.description %></td>
            <% end %>	
          <% else %>
            <td><%= link_to (image_tag repository.archive.url(:little), :alt => repository.description), repository.archive.url, :title => repository.description %></td>
          <% end %>
          <td> <%= repository.id %></td>
          <td> <%= repository.description %></td>
          <td>
            <%= raw make_menu(repository) %> 
         </td>
        </tr>
      <% end; reset_cycle %>
      </tbody>
    </table>
  <% else %>
    <% flash.now[:warning] = (t"none_param", :param => t("archive.one")) %>
  <% end %>
