<h1><%= t"listing", :param => (t"archive", :count => 2) %></h1>


<% @repositories.each do |repository| %>
  <% if repository.site_id == @site.id %>
  <tr>
    <td><%=image_tag "/images/arquivo.gif" %></td>
	<td>ID: <%= repository.id %></td><br/>	
    <td><%= t("description") %>: <%= repository.description %> </td><br/>
    <td><%= link_to t("show"), {:controller => 'repositories', :action => 'show', :id => repository.id}%></td>
    <td><%= link_to t("edit"), {:controller => 'repositories', :action => 'edit', :id=> repository.id} %></td>
    <td><%= link_to t("destroy"), repository, :confirm => "are_you_sure?", :method => :delete %></td>
  </tr>
  <br/>
  <% end %>
<% end %>
</table>

<br />

<%= link_to (t"new_param", :param => (t"archive", :count => 1)), {:controller => 'repositories', :action => 'new'} %>
