<fieldset>
  <legend><%= t"archive.other" %></legend>
  
  <div class="contextual">
    <p> <%= link_to (t"new_param.masc", :param => (t"archive.one")), new_site_repository_path, :class => 'icon icon-add' %> </p>
  </div>

  <center>
    <%= form_tag request.path, :method => 'get', :remote => true do %>
      <%= text_field_tag :search %>
      <%= select_tag("mime_type", grouped_options_for_select(load_mime_types(@site)), {:include_blank => t("all"), :multiple => 'multiple'})%>
      <%= submit_tag t("search") %>
    <% end %>
  
  </center>
  
  <div id="repo_list">
    <%= render :partial => 'repo_list' %>
  </div>
</fieldset>
