<fieldset>
	<p> <%= raw archive_type_image(@repository) %>  </p>	
    <p>
      <b><%= t("archive_description") %>:</b> <%= @repository.description %>
			<br/>
			<b><%= t("archive_link") %>:</b>
			<%= link_to request.env["HTTP_HOST"]+@repository.archive.url.to_s, request.env["HTTP_HOST"]+@repository.archive.url %>
    </p>

    <%= link_to t("edit"), edit_site_repository_path(@site, @repository) %> | <%= link_to t("list_all.masc"), site_repositories_path(@site) %> | <%= link_to t("back"), :back %>

</fieldset>
