    <p>
      <% unless @repository.archive_content_type.include?("image") %>
        <%if @repository.archive_content_type.include?("pdf") %>
          <%= image_tag "/images/pdf_file.png", :size => "80x80" %>
        <% else %>	
          <%= image_tag "/images/arquivo.gif", :size => "80x80" %>
        <% end %>	
      <% else %>
        <%= image_tag @repository.archive.url %>
      <% end %>
    </p>	
    <p>
      <%= @repository.description %>	
    </p>

    <%= link_to t("edit"), edit_site_repository_path(@site, @repository) %> | <%= link_to t("list_all"), site_repositories_path(@site) %> | <%= link_to t("back"), :back %>
