<fieldset>
	<p> <%= weby_file_view(@repository, :original) %>  </p>	
  <p> <b><%= t("name") %>:</b> <%= @repository.archive_file_name %> </p>
  <p> <b><%= t("size") %>:</b> <%= @repository.archive_file_size %> </p>
  <p> <b><%= t("type") %>:</b> <%= @repository.archive_content_type %> </p>
  <p> <b><%= t("archive_description") %>:</b> <%= @repository.description %> </p>

  <%= make_menu(@repository, :except => "show") %> 
  <%= link_to t("list_all.masc"), site_repositories_path(@site), :class => 'icon icon-list' %> 
  <%= link_to t("back"), :back, :class => 'icon icon-back' %>
</fieldset>
