<%= info_page @pages %>
<%= paginate @pages, remote: true %>

<table class="list">
  <thead>
    <tr>
      <th><%= t("title") %></th>
      <th><%= sortable 'tags.name', t("category") %></th>
      <th><%= controller.action_name == 'events' ? sortable('pages.event_begin', t("period_event")) : sortable('pages.type', t("type")) %></th>
      <th><%= sortable 'pages.created_at', t("date_param", param: t("register"))%></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr id="<%= page.id %>">
        <td>
          <%= link_to page.title, site_page_path(current_site, page) %>
        </td>
        <td><%= page.category_list * ', ' %></td>
        <td><%= controller.action_name == 'events' ? period_dates(page.event_begin, page.event_end) : t("#{page.type.downcase}.one") %></td>
        <td><%= l(page.created_at.to_date, :format => :default) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= per_page_links @pages, true %>
<%= paginate @pages, remote: true %>