<%= info_page @pages %>
<div class="search-results">
<% if @pages.each do |page| %>
  <div class="item-search-result">
    <% if page.image %>
      <%= weby_file_view(page.image, :t, 64, nil, {as: "link", url: site_page_path(page), style: "float: right; margin-left: 7px;"}) %>
    <% end %>
    <header><%= link_to page.title, link_on_title(current_site, page) %></header>
    <div class="page-details">
        <% if action_name == 'events' %>
            <%= period_dates(page.event_begin, page.event_end) %>
        <% else %>
        <% if page.publish %>
          <% if @site.view_desc_pages  %>
             <span class="author"><%= t("posted_by") %><%= page.author.name_or_login %></span>
          <% end %>
             <span class="date"><%= t("posted_on") %><%= localize page.created_at, format: :medium %></span>
        <% end %>
       <% end %>
    </div>
    <summary>
      <%= raw page.summary %>
    </summary>
    <% page.category_list.each do |category| %>
      <span class="category"><%= link_to category , site_pages_path( tags: category.to_s ), class: 'weby-label default' %></span>
    <% end %>
    <p class="read_more"><%#= link_to t(".read_more"), site_page_path(page) %></p>
  </div>
<% end.empty? %>
  <div class="empty-result"><%= t(".no_#{action_name=='events' ? 'events' : 'pages' }") %></div>
<% end %>
</div>
<%= per_page_links @pages, true, :sm %>
<%= paginate @pages, remote: true, page_links: true %>
