<fieldset>
  <legend><%= controller.action_name == 'events' ? t("event.other") : t("page.other") %></legend>
  <center>
    <%= form_tag nil, method: 'get', remote: true do %>
      <%= text_field_tag :search, nil, title: t('.search_helper') %>
      <%= hidden_field_tag 'page', 1 %>
      <%= hidden_field_tag 'per_page', "#{params[:per_page]}" %>
      <%= submit_tag t("search"), class: 'search-button' %>
    <% end %>
  </center>
  
  <div class="pagination top">
    <%= info_page @pages %>
    <%= paginate @pages, remote: true %>
  </div>
  <div id="pages">
    <table class="list">
      <thead>
        <tr>
          <th><%= sortable 'pages.created_at', t("date_param", param: t("register"))%></th>
          <th><%= t("title") %></th>
          <th><%= sortable 'users.first_name', t("author") %></th>
          <th><%= sortable 'tags.name', t("category") %></th>
          <th><%= sortable 'pages.type', t("type") %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'page', collection: @pages %>
      </tbody>
    </table>
    <div class="pagination bottom">
      <%= per_page_links @pages, remote: true %>
      <%= paginate @pages, remote: true %>
    </div>
  </div>
</fieldset>
