<div class="pages_list_container">
  <h2>
    <%= t(".pages") %>
  </h2>

  <%= form_tag site_pages_path, method: 'get' do %>
    <div class="input-append search-field-button">
        <%= text_field_tag :search, params[:search] %>
        <%= button_tag image_tag("components/icon_search.png"), class: 'btn', title: t("search") %>
    </div>
    <%= link_to t('.advanced'), '#', class: 'toggle-advanced-search', onclick: "return toggleAdvancedSearch()"%>
    <span class="advanced-search<%= params[:search_type] ? "": " hide"%>">
      <%= radio_button_tag :search_type, 0, params[:search_type]=='0' %><span><%= t('.match_search') %></span>
      &nbsp;<%= radio_button_tag :search_type, 1, params[:search_type]=='1' %><span><%= t('.and_search') %></span>
      &nbsp;<%= radio_button_tag :search_type, 2, params[:search_type]=='2' %><span><%= t('.or_search') %></span>
    </span>
    <%= hidden_field_tag 'page', 1 %>
    <%= hidden_field_tag 'per_page', "#{params[:per_page]}" %>
  <% end %>
  <div id="pages" class="pages-list">
    <%= render partial: 'list' %>
  </div>
</div>

<% content_for :javascripts, javascript_include_tag("pages.index") %>
<% content_for :stylesheets, stylesheet_link_tag("search_results") %>
