<fieldset>
  <legend><%= controller.action_name == 'events' ? t("event.other") : t("page.other") %></legend>
  <center>
    <%= form_tag nil, method: 'get', remote: true do %>
      <%= text_field_tag :search, nil, title: t('.search_helper') %>
      <%= hidden_field_tag 'page', 1 %>
      <%= hidden_field_tag 'per_page', "#{params[:per_page]}" %>
      <%= submit_tag t("search"), class: 'search-button' %>
    <% end %>
  </center>
  
  <div id="pages">
      <%= render partial: 'list' %>
  </div>

</fieldset>
