<% content_for :title, " - #{@page.title}" %>
<article class="page-show">
  <%= weby_file_view(@page.image, :l, '128', nil) %>

  <header>
    <% if (defined?(as_component) ? as_component[:show_title] : true) %>
      <h2><%= @page.title %></h2>
    <% end %>
  </header>
  <% if !defined?(as_component) %>
    <div class="page-details">
    <% if @site.view_desc_pages %>
       <span class="author"><%= t("posted_by") %><%= @page.author %></span>
    <% end %>
    <% if @page.publish %>
       <span class="date"><%= t(".updated_at") %><%= l((@page.updated_at.blank? ? @page.created_at : @page.updated_at), format: :short) %>.</span>
    <% end %>
    </div>
  <% end %>

  <%= content_tag_if @page.event?, :div, class: 'event' do %>
    <h3><%= t(".event") %></h3>
    <p class="local">
      <%= label(:page, :local, style: 'display: inline-block;') %>:
      <%= @page.local %>
    </p>
    <%= content_tag_if @page.kind?, :p, class: 'event-type' do %>
      <%= label(:page, :kind, style: 'display: inline-block;') %>:
      <%= t("sites.admin.pages.event_form.#{@page.kind}") %>
    <% end %>
    <%= content_tag_if @page.event_email?, :p, class: 'event-email' do %>
      <%= label(:page, :event_email, style: 'display: inline-block;') %>:
      <%= @page.event_email %>
    <% end %>
    <p class="event-period">
      <%= label(:page, :event_period, t(".period_event"), style: 'display: inline-block;') %>:
      <span class="event-dates"><%=  period_dates(@page.event_begin, @page.event_end) %></span>
    </p>
  <% end %>

  <summary>
   <%= raw @page.summary %>
  </summary>

  <div class="body">
    <%= raw @page.text %>
  </div>

  <% if (defined?(as_component) ? as_component[:show_info] : true) %>
    <%= content_tag_if @page.source.present?, :p, class: 'source' do %>
      <span class="source-label"><%= "#{t('.source')}:" %></span>
      <%= "#{@page.source}" %>
    <% end %>

    <%= content_tag_if @page.category_list.any?, :p, class: 'categories' do %>
      <span class="categories-label"><%= "#{t('.categories')}:"  %></span>
      <% @page.category_list.each do |category| %>
        <%= link_to category, site_pages_path( tags: category.to_s ), class: 'weby-label default' %>
      <% end %>
    <% end %>
  <% end %>

  <%# List the related url if exist %>
  <% if @page.url? %>
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th><%= t(".related_url") %><%= ":   "%> <%= link_to @page.url, @page.url%> </th>
        </tr>
      </thead>
    </table>
  <% end %>

  <%# List the related files if they exist %>
  <% if @page.related_files.any? %>
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th><%= t(".related_files") %></th>
          <th><%= t(".size") %></th>
          <th><%= t(".archive_fingerprint") %></th>
        </tr>
      </thead>
      <tbody>
        <% @page.related_files.each do |file| %>
        <tr>
          <td><%= link_to file.description, file.archive.url %></td>
          <td><%= file.archive_file_size.to_i/1024 %> Kb</td>
          <td><%= file.archive_fingerprint %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div style="margin-top: 8px;">
    <%= link_to(weby_icon('edit', t("edit")), main_app.edit_site_admin_page_path(@page)) if check_permission(Sites::Admin::PagesController, [:edit]) %>
    <% if !defined?(as_component) %>
      <%= link_to weby_icon('list', t(".list_all")), site_pages_path() %>
      <%= link_to weby_icon('chevron-left', t("back")), :back %>
    <% end %>
  </div>
</article>
