<article class="page-show">
  <%= weby_file_view(@page.image, :little, '128', nil) %>

  <header>
    <%= raw available_flags(@page) if @page.locales.many? %>
    <h2><%= @page.title %></h2>
  </header>

  <%= content_tag_if @page.event?, :div, class: 'event' do %>
  <h3><%= t(".event") %></h3>
  <p class="local">
    <%= label(:page, :local, style: 'display: inline-block;') %>:
    <%= @page.local %>
  </p>
  <%= content_tag_if @page.kind?, :p, class: 'event-type' do %>
  <%= label(:page, :kind, style: 'display: inline-block;') %>:
  <%= t("pages.event_form.#{@page.kind}") %>
  <% end %>
  <%= content_tag_if @page.event_email?, :p, class: 'event-email' do %>
  <%= label(:page, :event_email, style: 'display: inline-block;') %>:
  <%= @page.event_email %>
  <% end %>
  <p class="event-period">
    <%= label(:page, :event_period, t(".period_event"), style: 'display: inline-block;') %>:
    <span class="event-dates"><%=  period_dates(@page.event_begin, @page.event_end) %></span>
  </p>
  <% end %>

  <summary>
    <p>
      <%= "#{@page.author} #{l(@page.created_at, format: :short)}" if @site.view_desc_pages %>
    </p>
    <p>
      <%= raw @page.summary %>
    </p>
  </summary>

  <div class="body">
    <%= raw @page.text %>
  </div>

  <%= content_tag_if @page.source.present?, :p, class: 'source' do %>
    <span class="source-label"><%= "#{t('source')}:" %></span>
    <%= "#{@page.source}" %>
  <% end %>

  <%= content_tag_if @page.category_list.any?, :p, class: 'categories' do %>
    <span class="categories-label"><%= "#{t('categories')}:"  %></span>
    <% @page.category_list.each do |category| %>
      <span class="label label-info"><%= category %></span>
    <% end %>
  <% end %>

  <%= render partial: 'related_files' if @page.related_files.any? %>

  <div style="margin-top: 8px;">
    <%= link_to(icon('edit', text: t("edit")), edit_site_admin_page_path(@page)) if check_permission(Sites::Admin::PagesController, [:edit]) %>
    <%= link_to icon('list', text: t(".list_all")), site_pages_path() %>
    <%= link_to icon('chevron-left', text: t("back")), :back %>
  </div>
</article>
