<% if !defined?(as_component) %>
  <% add_meta_tags @page %>
  <% content_for :social_code, render_social_share(:page, @page) %>
<% end %>

<article class="page-show">
  <%= yield :social_code if current_site.page_social_share_pos == 'top' %>
  <header>
    <% if (defined?(as_component) ? as_component[:show_title] : true) %>
      <%= content_tag :h1, @page.title, class: translate_class(@page) %>
    <% end %>
  </header>
  <% if !defined?(as_component) %>
    <div class="page-details details">
      <% if @site.show_pages_author %>
        <span class="author"><%= t("posted_by") %><%= @page.user %></span>
      <% end %>
      <% if @site.show_pages_created_at %>
        <span class="date created"><%= t("posted_on") %><%= l(@page.created_at, format: :short) %></span>
      <% end %>
      <% if @page.publish && @site.show_pages_updated_at %>
        <span class="date"><%= t(".updated_at") %><%= l(@page.real_updated_at, format: :short) %></span>
      <% end %>
    </div>
  <% end %>
  <%= yield :social_code if current_site.page_social_share_pos == 'middle' %>
  <%= render partial: 'sites/shared/pages_show_actions' %>
  <%= yield :social_code if current_site.page_social_share_pos == 'bottom' %>
  <div style="margin-top: 8px;" class="actions">
    <%= link_to(weby_icon('edit', t("edit")), main_app.edit_site_admin_page_path(@page)) if check_permission(Sites::Admin::PagesController, [:edit]) %>
    <% if !defined?(as_component) %>
      <%= link_to weby_icon('list', t(".list_all")), site_pages_path %>
      <%= link_to weby_icon('chevron-left', t("back")), :back %>
    <% end %>
  </div>
</article>
