<% content_for :title, " - #{@page.title}" %>
<article class="page-show">
  <header>
    <% if (defined?(as_component) ? as_component[:show_title] : true) %>
      <h2><%= @page.title %></h2>
    <% end %>
  </header>
  <% if !defined?(as_component) %>
    <div class="page-details details">
    <% if @site.view_desc_pages %>
       <span class="author"><%= t("posted_by") %><%= @page.user %></span>
    <% end %>
    <% if @page.publish %>
       <span class="date"><%= t(".updated_at") %><%= l((@page.updated_at.blank? ? @page.created_at : @page.updated_at), format: :short) %>.</span>
    <% end %>
    </div>
  <% end %>

  <div class="body">
    <%= raw @page.text %>
  </div>

  <%# List the related files if they exist %>
  <% if @page.related_files.any? %>
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th><%= t(".related_files") %></th>
          <th><%= t(".size") %></th>
          <th><%= t(".archive_fingerprint") %></th>
        </tr>
      </thead>
      <tbody>
        <% @page.related_files.each do |file| %>
        <tr>
          <td><%= link_to file.description, file.archive.url %></td>
          <td><%= file.archive_file_size.to_i/1024 %> Kb</td>
          <td><%= file.archive_fingerprint %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div style="margin-top: 8px;">
    <%= link_to(weby_icon('edit', t("edit")), main_app.edit_site_admin_page_path(@page)) if check_permission(Sites::Admin::PagesController, [:edit]) %>
    <% if !defined?(as_component) %>
      <%= link_to weby_icon('list', t(".list_all")), site_pages_path %>
      <%= link_to weby_icon('chevron-left', t("back")), :back %>
    <% end %>
  </div>
</article>
