<% content_for :title, " - #{@page.title}" %>
<article class="page-show">
  <header>
    <% if (defined?(as_component) ? as_component[:show_title] : true) %>
      <h2><%= @page.title %></h2>
    <% end %>
  </header>
  <% if !defined?(as_component) %>
    <div class="page-details details">
    <% if @site.view_desc_pages %>
       <span class="author"><%= t("posted_by") %><%= @page.user %></span>
    <% end %>
    <% if @page.publish %>
       <span class="date"><%= t(".updated_at") %><%= l((@page.i18ns.first.updated_at.blank? ? @page.i18ns.first.created_at : @page.i18ns.first.updated_at), format: :short) %>.</span>
    <% end %>
    </div>
  <% end %>

  <%= render partial: 'sites/shared/pages_show_actions' %>

  <div style="margin-top: 8px;">
    <%= link_to(weby_icon('edit', t("edit")), main_app.edit_site_admin_page_path(@page)) if check_permission(Sites::Admin::PagesController, [:edit]) %>
    <% if !defined?(as_component) %>
      <%= link_to weby_icon('list', t(".list_all")), site_pages_path %>
      <%= link_to weby_icon('chevron-left', t("back")), :back %>
    <% end %>
  </div>
</article>
