<% title ".banners" %>
<%= simple_form_for [:site_admin, @banner], html:  { class: 'form-horizontal' } do |f| %>
  <%= f.show_errors %>

  <%= repository_search t(".image"), "banner_image",
    "banner[repository_id]", @banner.repository,
    multiple: false, file_types: 'image' %>

  <%= image_size_picker f %>

  <%= f.input :title, 
    placeholder: t(".title"),
    input_html: {class: "title_input"} %>

  <%= f.input :text, 
    input_html: {:size => "70x5"},
    as: :text %>

  <% # URL Input %>
  <%=  target_dialog_input(f, :page) %>

  <%= f.input t(".category"), wrapper: :append do %>
    <%= f.select :category_list,
      @site.banners.category_counts, {},
      :id => "category" %><%= link_to_function t(".add_category"), "addToSelect('#category','#{t(".new_category")}')", :class => 'btn btn-info' %>
  <% end %>

  <%= f.input :position, hint: t(".lower_numbers_come_first") %>

  <div class='input'>
    <%= f.input :publish, 
      wrapper_html: { class: "side" },
      as: :boolean, input_html: { class: "check-button" } %>
    <div class="clear"></div>
  </div>

  <%= f.input :date_begin_at, label: t(".period_banner"), :wrapper => :append do %>
     <%= f.input_field :date_begin_at, placeholder: t(".begin"), label: false %>
     <%= f.input_field :date_end_at, placeholder: t(".publication_infinite"), label: false %>
  <% end %>

  <div class='input'>
    <%= f.input :new_tab,
      wrapper_html: { class: "side" },
      as: :boolean, input_html: { class: "check-button" } %>
    <div class="clear"></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>

<% content_for :javascripts, javascript_include_tag("init/datetime") %>
<% content_for :stylesheets, stylesheet_link_tag("datetime") %>
