<% title ".banners" %>
<% breadcrumb params[:search].present? ? :banners_search : :banners %>
<div class="pull-left">
  <%= form_tag site_admin_banners_path, method: 'get', autocapitalize: "off", class: 'search pull-right' do %>
    <%= content_tag :div, class: 'input-append' do %>
      <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t("search"), class: 'btn btn-default btn-info btn-search' %>
    <% end %>
  <% end %>
</div>

<div class="pull-right">
  <%= link_to t(".new_banner"),
    new_site_admin_banner_path,
    class: "btn btn-default btn-success" %>
</div>
<div class="clearfix"></div>

<% if @banners.empty? %>
  <div class="alert">
    <%= t(".none_banner") %>
  </div>
<% else %>
  <div id="list">
    <%= render :partial => banners_partial %>
  </div>
<% end %>
