<%- title ".banners" %>

<div class="span9">
  <div class="well">
    <div class="pull-left">
      <%= form_tag request.path, method: 'get', autocapitalize: "off", class: 'search pull-right' do %>
        <%= content_tag :div, class: 'input-append' do %>
          <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t("search"), class: 'btn btn-primary btn-search' %>
        <% end %>
      <% end %>
    </div>


    <div class="pull-right">
      <%= link_to t(".new_banner"),
        new_site_admin_banner_path,
        class: "btn btn-success btn-large" %>
    </div>
    <div class="clearfix"></div>

    <div id="list">
      <%= render :partial => "list" %>
    </div>
  </div>
</div>
