<%- title ".banners" %>

<div class="span9">
  <div class="well">
    <% unless @banner.repository.nil? %>
    <% format = @banner.size ? @banner.size : format_for_custom(@banner.width, @banner.height) %>
    <%= weby_file_view(@banner.repository,
                       format,
                       "#{@banner.width}",
                       "#{@banner.height}",
                       {as: 'link', alt: @banner.text, title: @banner.text }) %>
  <% end %>
  <p> 
    <h1> <%= t(".banner") %> </h1>
  </p>

  <i><%= @banner.user.login %>, <%= l @banner.created_at, :format => :short %></i>

  <p> 
    <h2> <%= @banner.text %> </h2>
  </p>
  <p>
    <h3> <%= t(".url") %>: <%= link_to @banner.url, @banner.url %> </h3>
  </p>

  <%= make_menu(@banner, :except => "show") %>
  <%= link_to icon('list', text:t(".list_all")), site_admin_banners_path() %> 
  <%= link_to icon('chevron-left', text:t("back")), :back %>

 </div>
</div>

