<% title ".banners" %>
<% breadcrumb :banners_show, @banner %>
<% unless @banner.repository.nil? %>
  <% format = @banner.size.present? ? @banner.size : format_for_custom(@banner.width, @banner.height, @banner.repository) %>
  <%= weby_file_view(@banner.repository,
                      format,
                      "#{@banner.width}",
                      "#{@banner.height}",
                      {target: '_blank'}) %>
<% end %>
<p> 
  <h2> <%= @banner.title %> </h2>
</p>
<p> 
    <%= @banner.text %> 
</p>
<p>
  <span class="label label-defaultlabel-info"><%= @banner.categories.join(", ") || t(".none_category") %></span>
</p>
<p>
  <b> <%= t(".period_banner") %>: </b> <%= l @banner.date_begin_at, :format => :short %> - <%= l @banner.date_end_at, :format => :short if @banner.date_end_at  %>
</p>
<p>
  <b> <%= t(".url") %>: </b> <%= link_to @banner.url, @banner.url, target: '_blank' %>
</p>
<p>
  <i><%= @banner.user.name_or_login %>, <%= l @banner.created_at, :format => :short %></i>
</p>
<p>
  <b><%= @banner.click_count %></b> clicks
</p>

<div class="form-actions">
  <%= make_menu(@banner, :except => "show") %>
  <%= link_to icon('list', text:t(".list_all")), site_admin_banners_path() %>
  <%= link_to icon('chevron-left', text:t("back")), :back %>
</div>
