<fieldset>
  <% unless @banner.repository.nil? %>
    <% format = @banner.size ? @banner.size : "little" %>
    <%= weby_file_view(@banner.repository,
                       format,
                       "#{@banner.width}",
                       "#{@banner.height}",
                       {as: 'link', alt: @banner.text, title: @banner.text }) %>
  <% end %>
  <p> 
    <h1> <%= t("banner.one") %> </h1>
  </p>

  <i><%= @banner.user.login %>, <%= l @banner.created_at, :format => :short %></i>

  <p> 
    <h2> <%= @banner.text %> </h2>
  </p>
  <p>
    <h3> <%= t("url") %>: <%= link_to @banner.url, @banner.url %> </h3>
  </p>

  <%= make_menu(@banner, :except => "show") %>
  <%= link_to t("list_all.masc"), site_admin_banners_path(@site), :class => 'icon icon-list' %> 
  <%= link_to t("back"), :back, :class => 'icon icon-back' %>
</fieldset>
