<p class="pull-right">
  <%= link_to t(".new_banner"),
    new_site_admin_banner_path,
    class: "btn btn-success" %>
  <%= link_to t(:recycle_bin),
      site_admin_banners_path(deleted: true),
      class: "btn btn-inverse"
    %>
</p>
<div class="clearfix"></div>

<% if @banners.empty? %>
  <div class="alert">
    <%= t(".none_banner") %>
  </div>
<% else %>
  <div id="list">
    <div class="pull-left"> <%= info_page @banners %> </div>                                                                    
    <div class="pull-right"> <%= paginate @banners, remote: true %> </div>                                                      
    <div class="clearfix"></div>                                                                                                
                                                                                                                                
    <table class='table table-striped table-condensed'>                                                                         
        <thead>                                                                                                                   
          <th><%= t(".image") %></th>                                                                                             
          <th><%= sortable 'title', t(".title") %></th>                                                                           
          <th><%= t(".category") %></th>                                                                                          
          <th><%= sortable 'position', t(".position") %></th>                                                                     
          <!--<th><%#= sortable 'created_at', t(".register_date")%></th>-->                                                       
          <th><%= sortable 'date_begin_at', t(".publication_date")%></th>                                                         
          <th><%= t(".publish") %></th>                                                                                           
          <th></th>                                                                                                               
        </thead>                                                                                                                  
        <tbody>                                                                                                                   
          <% @banners.each do |banner| %>                                                                                         
              <tr>                                                                                                                  
              <td> <%= weby_file_view(banner.repository, :thumb, "64", "64", {target: '_blank', title: banner.text}, true) %></td>
              <%# Se for pra mostrar inicio e fim, assim é como se mostra a data de fim: print_date_end(banner.date_end_at) %>    
              <td><%= banner.title %></td>                                                                                        
              <td><%= banner.categories.join(", ") || t(".none_category") %></td>                                                 
              <td><%= banner.position %></td>                                                                                     
              <!--<td><%#=l banner.created_at, format: :short %></td>-->                                                          
              <td><%=l banner.date_begin_at, format: :short %></td>                                                               
              <td align="center">                                                                                                 
                <%= status_icon(banner) %>                                                                                 
              </td>                                                                                                               
              <td> 
                <% if check_permission(Sites::Admin::StylesController, [:destroy]) %>                                                                          
                  <%= link_to icon('fire', text: t("destroy")), site_admin_banner_path(banner), :data => {:confirm => t("are_you_sure")}, :method => :delete %>
                <% end %>
                <% if check_permission(Sites::Admin::StylesController, [:recover]) %>                                                                          
                 <%= link_to icon('refresh', text: t("recover")),  recover_site_admin_banner_path(banner)  %>                                                  
                <% end %>
              </td>                                                                                                               
            </tr>                                                                                                                 
          <% end %>                                                                                                               
        </tbody>                                                                                                                  
      </table>                                                                                                                    
                                                                                                                                  
      <div class="pull-left"> <%= per_page_links @banners, true, :mini  %> </div>                                                 
      <div class="pull-right"> <%= paginate @banners, remote: true %> </div>                                                      
      <div class="clearfix"></div>                                                                                                

  </div>
<% end %>
