<thead>
  <tr>
    <td colspan="99"><i><b><%= "*" unless present %><%= t(".#{place_holder}") %></b></i></td>
  </tr>
</thead>
<%  if components_per_holder.empty? %>
  <tr>
    <td colspan="99" align="center"><i><%= t(".empty_placeholder") %></i></td>
  </tr>
<% else %>
  <tbody class="placeholder-group">
    <% components_per_holder.each do |comp| %>
      <% component = Weby::Components.factory(comp) %>
      <tr id="sort_sites_component_<%= component.id %>" class="place-<%=  "#{place_holder}" -%>  <%= "error" unless component_is_available(component.name) %>">
        <td><%= t("components.#{component.name}.name") %></td>
        <td><%= component.alias? ? component.alias : component.default_alias %></td>
        <td align="center"><%= raw toggle_field(component, "publish") %></td>
        <td>
          <% exceptions = ["show"] %>
          <% exceptions << "edit" unless component_is_available(component.name)  %>
          <%= raw make_menu(component, :except => exceptions) %>
          <% if check_permission(Sites::Admin::ComponentsController, 'sort') %>
            <span class='handle'><%= icon('move', text:t("move")) %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
