<% title ".layout" %>
<% breadcrumb :components_new_choose, @skin %>

<ul class="nav nav-tabs space-top">
  <!-- li class="active"><a href="#all" data-toggle="tab"><%= t(".all") %></a></li-->
  <% @available_components.each.with_index do |item, idx| %>
    <% title, _comps = item %>
    <li class="<%= 'active' if idx.zero? %>"><a href="#<%= title.strip.parameterize %>" data-toggle="tab"><%= title %></a></li>
  <% end %>
</ul>


<%= form_tag new_site_admin_skin_component_path(@skin), method: :get do %>
  <%= hidden_field_tag :placeholder, params[:placeholder] if params[:placeholder] %>

  <div class="tab-content">
    <%
=begin%>
 <div class="tab-pane active" id="all">
      <div class="maxi_layout">
        <% @available_components.each do |group, compos| %>
          <%= render 'new_components', group: group, compos: compos, render_title: true %>
        <% end %>
      </div>
    </div>
<%
=end%>

    <% @available_components.each.with_index do |item, idx| %>
      <% title, compos = item %>
      <div class="tab-pane<%= ' active' if idx.zero? %>" id="<%= title.strip.parameterize %>">
        <div class="maxi_layout">
          <%= render 'new_components', group: title, compos: compos %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-group string">
    <label class="string"><%= t('.component') %></label>
    <div class="selected-component empty"><%= t('.select_component') %></div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><%= t(".next_step") %></button>
    <%= link_to t("back"), site_admin_skin_path(@skin, anchor: 'tab-layout'), class: "btn btn-default" %>
  </div>
<% end %>

<% content_for :stylesheets, stylesheet_link_tag("maxi_layout") %>
<% content_for :javascripts, javascript_include_tag('components.form') %>
