<% title ".layout" %> 
<% breadcrumb :components_new_choose%>
<div id="available_components">
  <%= form_tag new_site_admin_component_path, :method => :get do %>
    <%= hidden_field_tag :placeholder, params[:placeholder] if params[:placeholder] %>
    <div id="main">
      <%= select_tag "component", grouped_options_for_select(available_components_sorted), size: '11', id: "component_select" %>

      <img id="component_image" src="/assets/components/default.png"/>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-default btn-primary"><%= t(".next_step") %></button>
        <%= link_to t("back"), site_admin_components_path, class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<style type="text/css">
  #available_components select#component_select {
    height: 180px;
    width: 250px;
    margin: 8px;
    margin-left: 0px;
  }

  #available_components img#component_image {
    height: 180px;
    width: 230px;
    margin: 8px;
    border: 1px solid #888;
  }

  #available_components #main {
    position: relative;
  }
</style>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(window).ready(function() {
      var img_cache = {};
      var default_image = $('#component_image').attr('src');

      $('#component_select').change(function() {
        var selected = $('#component_select :selected').val();

        if (img_cache[selected]) {
          $('#component_image').attr('src', img_cache[selected]);
          return;
        }

        var url = '/assets/components/' + selected + '.png';
        $.get(url, function() {
          $('#component_image').attr('src', url);
          img_cache[selected] = url;
          
        }).error(function(){
          $('#component_image').attr('src', default_image);
        });
      });
    });
  </script>
<% end %>
