<p class="pull-right">
  <% if check_permission(Sites::Admin::ComponentsController, [:new]) %>
    <%= link_to t(".new_component"),
      new_site_admin_component_path,
      class: "btn btn-success" %>
  <% end %>
</p>
<div class="clearfix"></div>

<div id="maxi_layout">
<% @placeholders.each do |row| %>
  <%= content_tag :div, class: "maxi_level #{row["names"].many? ? "multi" : "single"}" do %>
    <% row["names"].each_with_index do |name, idx| %>
      <%= content_tag :div, class: "placeholder", data: {place: name}, style: "width: #{row["widths"] ? row["widths"][idx] : 100/row["names"].size}%;" do %>
        <%= link_to '+', new_site_admin_component_path(placeholder: name), class: "add-btn btn btn-success btn-small", title: t(".new_component") if check_permission(Sites::Admin::ComponentsController, 'new') %>
        <div class="placeholder-name"><%= t("themes.#{current_site.theme}.placeholders.#{name}") %></div>
        <ul>
          <% components_per_holder = @components.select{|component| component.place_holder == name} %>
          <% if components_per_holder.empty? %>
            <!--<div><i><%#= t(".empty_placeholder") %></i></div>-->
          <% end %>

          <% components_per_holder.each do |comp| %>
          <% component = Weby::Components.factory(comp) %>
          <li id="sort_sites_component_<%= component.id %>" class="component component-<%= component.name %> <%= "disabled" unless component_is_available(component.name) %>" data-place="<%= name %>">
            <div>
              <span class="widget-name">
                <%#= image_tag("/assets/components/#{component.name}.png", style: 'height: 64px;') %>
                <%= raw "#{toggle_field(component, "publish")} #{t("components.#{component.name}.name")} - #{component.alias || component.default_alias}" %>
                <% exceptions = ["show"] %>
                <% exceptions << "edit" unless component_is_available(component.name)  %>
              </span>
              <div class="pull-right">
                <%= raw make_menu(component, :except => exceptions, :with_text => false) %>
                <% if check_permission(Sites::Admin::ComponentsController, 'sort') %>
                  <span class='handle'><%= icon('move') %></span>
                <% end %>
              </div>
              <div class="clearfix"></div>
            </div>
          </li>
          <% end %>
          <% @components = @components - components_per_holder %>
        </ul>
      <% end %>
    <% end %>
  <div class="clearfix"></div>
  <% end %>
<% end %>
</div>

<div id="leftout">
  <ul>
  <%# Se sobrou algum component com placeholder que não está no layout atual %>
  <% @components.each do |comp| %>
      <% component = Weby::Components.factory(comp) %>
      <li class="component component-<%= component.name %>">
        <div>
          <%#= image_tag("/assets/components/#{component.name}.png", style: 'height: 64px;') %>
          <%= raw "#{toggle_field(component, "publish")} #{t("components.#{component.name}.name")} - #{component.alias || component.default_alias}" %>
          <% exceptions = ["show"] %>
          <% exceptions << "edit" unless component_is_available(component.name)  %>
          <div class="pull-right">
            <%= raw make_menu(component, :except => exceptions) %>
          </div>
          <div class="clearfix"></div>
        </div>
      </li>
  <% end %>
  </ul>
</div>

<%= javascript_tag do %>
window.onload=function(){
  $(document).ready(function(){

    $('.placeholder').each(function(){
      $(this).sortable({
        //axis: 'y',
        dropOnEmpty: true,
        handle: '.handle',
        connectWith: '.placeholder',
        forcePlaceholderSize: true,
        placeholder: 'drop-here',
        items: 'li',
        opacity: 0.4,
        scroll: true,
        tolerance: 'pointer',
        toleranceElement: '> div',
        update: function(evt, ui){
          $('.maxi_level.multi').each(function(){ $(this).attr('style', ''); $(this).css({'height':$(this).height()}); });
          $.ajax({
            type: 'post',
            data: 'place_holder='+ $(this).data('place') +'&'+ $(this).sortable('serialize'),
            dataType: 'script',
            complete: function(request){ if(!ui.sender){ ui.item.effect('pulsate', {times: 1}, 350); } },
            url: '<%= sort_site_admin_components_path %>'
          });
        }
      });
    });

    ////FIX-ME
    $('.maxi_level.multi').each(function(){ $(this).css({'height':$(this).height()}); });
  });
}
<% end %>
<%= content_for :javascripts, javascript_include_tag("jquery-ui.min") %>
<%= content_for :stylesheets, stylesheet_link_tag("sortable") %>
<%= content_for :stylesheets, stylesheet_link_tag("layouts/shared/maxi_layout") %>
