<head>
  <title><%= @site.try(:description) || 'Weby' %><%= yield :title %></title>
  <meta charset="utf-8"/>
  <meta name="description" content="<%= @site.try(:description) %>"/>
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag(:rss, site_feed_url(format: 'rss'),  {:title => "#{@site.try(:title)} - RSS"}) %>
  <%= auto_discovery_link_tag(:atom, site_feed_url(format: 'atom'),  {:title => "#{@site.try(:title)} - ATOM"}) %>
  <%= load_layout_stylesheet(layout) %>
  <%= stylesheet_link_tag '_webybar' %>
  <%= yield :stylesheets %>
  <%= yield :components_stylesheets %>
  <%= render 'sites/shared/loadStyles' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
    <%= javascript_include_tag "IE9" %>
  <![endif]-->
</head>
<noscript>
  <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em;
    color: red; background-color: white; border: 1px solid red; padding: 4px;
    font-family: Tahoma, Verdana, sans-serif;font-size: 11px">
    <%= t("need_javascript") %>		 
  </div>
</noscript>
