<head>
  <title> <%= @site.try(:description) || 'Weby' %> </title>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <%= load_layout_stylesheets(theme) %>
  <%= stylesheet_link_tag 'menu_dropdown' if @site.try(:menu_dropdown) %>
  <%= stylesheet_link_tag '_webybar' %>
  <%= render 'sites/shared/loadStyles' %>
  <%= yield :stylesheets %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>
    <%= javascript_include_tag "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" %>
  <![endif]-->
</head>
<noscript>
  <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em;
    color: red; background-color: white; border: 1px solid red; padding: 4px;
    font-family: Tahoma, Verdana, sans-serif;font-size: 11px">
    <%= t("need_javascript") %>		 
  </div>
</noscript>
