<head>
  <title> <%= @site.try(:description) || 'Weby' %> </title>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'institutional' %>
  <%= stylesheet_link_tag 'weby_bar' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'simple_form' %>
  <%= stylesheet_link_tag 'paginate' %>
  
  <!-- Css do tema ui-lightness do jquery-ui -->
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.13.custom.css' %>
  
  <!--[if lt IE 9]>
  <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>
  <%#= javascript_include_tag "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" %>
  <![endif]-->

  <%= yield :stylesheets %>

  <%= stylesheet_link_tag 'menu_dropdown' if @site.try(:menu_dropdown) %>
  <%= render 'sites/viewCsses' if @site %>
</head>
