<head>
  <title><%= @site.try(:description) || 'Weby' %><%= yield :title %></title>
  <meta charset="utf-8"/>
  <meta name="description" content="<%= @site.try(:description) %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag(:rss, main_app.site_feed_url(format: 'rss'),  {:title => "#{@site.try(:title)} - RSS"}) %>
  <%= auto_discovery_link_tag(:atom, main_app.site_feed_url(format: 'atom'),  {:title => "#{@site.try(:title)} - ATOM"}) %>
  <%= load_layout_stylesheet(layout) %>
  <%= stylesheet_link_tag '_webybar' %>
  <%= yield :stylesheets %>
  <%= yield :components_stylesheets %>
  <%= render 'sites/shared/loadStyles' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
    <%= javascript_include_tag "IE9" %>
  <![endif]-->
</head>
