<div class="well" id="menu-admin">
  <ul class="nav nav-pills nav-stacked">
    <% if current_site %>
      <%= menu_item_to t(".settings"), edit_site_admin_path if check_permission(SitesController, [:edit]) %>
      <%= menu_item_to t(".users"), manage_roles_site_admin_users_path if check_permission(Sites::Admin::UsersController, [:manage_roles])%> 
      <%= menu_item_to t(".archives"), site_admin_repositories_path if check_permission(Sites::Admin::RepositoriesController, [:index])%>
      <%= menu_item_to t(".pages"), site_admin_pages_path if check_permission(Sites::Admin::PagesController, [:index])%>
      <%#= menu_item_to t(".covers"), fronts_site_admin_pages_path if check_permission(Sites::Admin::PagesController, [:index])%>
      <%= menu_item_to t(".menus"), site_admin_menus_path if check_permission(Sites::Admin::MenusController, [:index])%> 
      <%= menu_item_to t(".banners"), site_admin_banners_path if check_permission(Sites::Admin::BannersController, [:index])%> 
      <%= menu_item_to t(".components"), site_admin_components_path if check_permission(Sites::Admin::ComponentsController, [:index])%> 
      <%= menu_item_to t(".styles"), site_admin_styles_path if check_permission(Sites::Admin::StylesController, [:index])%> 
      <%= menu_item_to t(".roles_permissions"), site_admin_roles_path if check_permission(Sites::Admin::RolesController, [:index])%> 
      <li class="nav-header"><%= t(".feedback") %></li>
      <%= menu_item_to t(".messages"), site_admin_feedbacks_path if check_permission(Sites::Admin::FeedbacksController, [:index])%>
      <%= menu_item_to t(".groups"), site_admin_groups_path if check_permission(Sites::Admin::GroupsController, [:index])%>
    <% else %>
      <%= menu_item_to t(".sites"), admin_sites_path if true or check_permission(Admin::SitesController, [:index])%> 
      <%= menu_item_to t(".users"), admin_users_path if check_permission(Admin::UsersController, [:index])%> 
      <%= menu_item_to t(".roles_permissions"), admin_roles_path if check_permission(Admin::RolesController, [:index])%> 
      <%= menu_item_to t(".permissions"), admin_rights_path if check_permission(Admin::RightsController, [:index])%> 
      <%= menu_item_to t(".settings"), admin_settings_path if check_permission(Admin::SettingsController, [:index])%> 
    <% end %>
  </ul>
</div>
