<div class="well">
  <ul class="nav nav-pills nav-stacked">
  <% if current_site %>
    <li> <%= link_to (t"setting.other"), admin_site_path(@site) if true or check_permission(Admin::SitesController, [:edit]) %> </li>
    <li> <%= link_to (t"user.other"), manage_roles_site_admin_users_path(@site) if check_permission(Sites::Admin::UsersController, [:manage_roles])%> </li>
    <li> <%= link_to (t"page.other"), site_admin_pages_path(@site) if check_permission(Sites::Admin::PagesController, [:index])%> </li>
    <li> <%= link_to t("covers"), fronts_site_admin_pages_path(@site) if check_permission(Sites::Admin::PagesController, [:index])%> </li>
    <li> <%= link_to (t"menu.other"), site_admin_menus_path(@site) if check_permission(Sites::Admin::MenusController, [:index])%> </li>
    <li> <%= link_to (t"banner.other"), site_admin_banners_path(@site) if check_permission(Sites::Admin::BannersController, [:index])%> </li>
    <li> <%= link_to t("component.other"), site_admin_components_path(@site) if check_permission(Sites::Admin::ComponentsController, [:index])%> </li>
    <li> <%= link_to (t"archive.other"), site_admin_repositories_path(@site) if check_permission(Sites::Admin::RepositoriesController, [:index])%> </li>
    <li> <%= link_to (t"style.other"), site_admin_styles_path(@site) if check_permission(Sites::Admin::StylesController, [:index])%> </li>
    <li> <%= link_to (t"roles_permissions"), site_admin_roles_path(@site) if check_permission(Sites::Admin::RolesController, [:index])%> </li>
    <li> <%= link_to (t"group.other"), site_admin_groups_path(@site) if check_permission(Sites::Admin::GroupsController, [:index])%> </li>
    <li> <%= link_to (t"messages") +" "+ (t"feedback.one"), site_admin_feedbacks_path(@site) if check_permission(Sites::Admin::FeedbacksController, [:index])%> </li>
  <% else %>
    <li> <%= link_to t("site.other"), admin_sites_path if check_permission(Admin::SitesController, [:index])%> </li>
    <li> <%= link_to t("user.other"), admin_users_path if check_permission(Admin::UsersController, [:index])%> </li>
    <li> <%= link_to t("roles_permissions"), admin_roles_path if check_permission(Admin::RolesController, [:index])%> </li>
    <li> <%= link_to t("rights"), admin_rights_path if check_permission(Admin::RightsController, [:index])%> </li>
    <li> <%= link_to t("setting.other"), admin_settings_path if check_permission(Admin::SettingsController, [:index])%> </li>
  <% end %>
  </ul>
</div>

