<div id="menu-admin">
  <ul class="nav nav-pills nav-stacked">
    <% if current_site %>
      <%  if !current_user.has_role_in?(current_site) %>
        <div class="alert alert-warning">
          <%= t('.none_role') %>
        </div>
      <% else %>
        <div class="nav-header">
          <%= menu_item_to t(".dashboard"), main_app.site_admin_path %>
        </div>
        <%= menu_item_to t(".users"), main_app.manage_roles_site_admin_users_path if check_permission(Sites::Admin::UsersController, [:manage_roles])%>
        <%= menu_item_to t(".components"), main_app.site_admin_components_path if check_permission(Sites::Admin::ComponentsController, [:index])%>
        <%= menu_item_to t(".styles"), main_app.site_admin_styles_path if check_permission(Sites::Admin::StylesController, [:index])%>
        <%#= menu_item_to t(".statistics"), main_app.site_admin_stats_path if check_permission(Sites::Admin::StatisticsController, [:index])%>
        <%= menu_item_to t(".settings"), main_app.edit_site_admin_path if check_permission(SitesController, [:edit]) %>
        <%= menu_item_to t(".activity_records"), main_app.site_admin_activity_records_path if check_permission(Sites::Admin::ActivityRecordsController, [:index]) %>
        <%= menu_item_to t(".backup"), main_app.site_admin_backups_path if current_user.is_admin? %>
        <%= menu_item_to t(".extensions"), main_app.site_admin_extensions_path if check_permission(Sites::Admin::ExtensionsController, [:index]) %>
        <div class="nav-header">
          <%= menu_item_to t(".contents"), main_app.site_admin_path %>
        </div>
        <%= build_admin_menu %>
      <% end %>
    <% else %>
      <div class="nav-header">
        <%= menu_item_to t(".dashboard"), main_app.admin_path %>
      </div>
      <%= menu_item_to t(".sites"), main_app.admin_sites_path if true or check_permission(Admin::SitesController, [:index])%>
      <%= menu_item_to t(".groupings"), main_app.admin_groupings_path if current_user.is_admin? %>
      <%= menu_item_to t(".users"), main_app.admin_users_path if current_user.is_admin? %>
      <%= menu_item_to t(".notifications"), main_app.admin_notifications_path if current_user.is_admin? %>
      <%#= menu_item_to t(".statistics"), main_app.admin_stats_path if current_user.is_admin? %>
      <%= menu_item_to t(".settings"), main_app.admin_settings_path if current_user.is_admin? %>
      <%= menu_item_to t(".activity_records"), main_app.admin_activity_records_path if current_user.is_admin? %>
    <% end %>
  </ul>
</div>
