<%content_for :javascripts, javascript_include_tag('jquery.lightbox_me')%>
<%= content_for :javascripts do %>
  <script type="text/javascript">
    $('#try-1').click(function(e) {
        $('#about-modal').lightbox_me({
centered: true, 
onLoad: function() { 
}
});
        e.preventDefault();
        });
</script>
      <% end %>

      <div class='navbar navbar-inverse navbar-fixed-top' id="weby-navbar">
        <div class='navbar-inner'>
          <div class='container'>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= link_to root_url(subdomain: nil), class: 'brand orbitron logo' do %>
              web<span class="red">y</span>
            <% end %>
            <% if current_user %>
              <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user"></i> <%= current_user.first_name -%>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li> <%= link_to t(".my_profile"), admin_user_url(current_user, subdomain: nil) -%> </li>
                <li class="divider"></li>
                <li> <%= link_to t(".logout"), logout_path(back_url: site_path) -%> </li>
              </ul>
            </div>
          <% else %>
            <ul class="nav pull-right">
              <li> <%= link_to t(".login"), login_url(subdomain: nil, protocol: login_protocol, back_url: "#{request.fullpath}") %> </li>
              <li> <%= link_to t(".register"), new_admin_user_url(subdomain: nil) %> </li>
            </ul>
          <% end %>
          <div class="nav-collapse">
            <ul class="nav">
              <% if current_user %>
                <% if not(current_user.is_admin) %>
                  <% if not(user_sites.empty?) %>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <%= t(".sites") %><b class="caret"></b>
                    </a>
                    <%= content_tag :ul, user_sites, class: 'dropdown-menu' %>
                    </li>
                  <% end %>
                <% else %>
                  <li>
                  <%= link_to t(".weby-dashboard"), admin_url(subdomain: nil) %>
                  </li>
                <% end %>
              <% end %>
              <li>
              <%= link_to(t(".show_site"), site_path) if (is_in_admin_context? and current_site) %>
              </li>
              <li>
              <%= link_to(t(".help"), weby_settings[:help_site], target: '_blank') if weby_settings[:help_site] %>
              </li>
              <li> <%= link_to t(".about"), '#', target: '_blank', id: 'try-1' %> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="about-modal" style="display:none; background-color:white;">
      <i class="icon-remove icon-black close"></i>
      <div>
        <%= render 'layouts/shared/about'  %>
      </div>
    </div>
