<div class='navbar navbar-inverse navbar-fixed-top' id="weby-navbar">
  <div class='navbar-inner'>
    <div class='container'>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to root_url(subdomain: nil), class: 'brand orbitron logo' do %>
        web<span class="red">y</span>
      <% end %>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> <%= current_user.first_name -%>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li> <%= link_to t(".my_profile"), admin_user_url(current_user, subdomain: nil) -%> </li>
          <li class="divider"></li>
          <li> <%= link_to t(".logout"), logout_path(back_url: site_url(subdomain: current_site)) -%> </li>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <% if not(current_user.is_admin) %>
            <% if not(user_sites.empty?) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t(".sites") %><b class="caret"></b>
                </a>
                <%= content_tag :ul, user_sites, class: 'dropdown-menu' %> 
              </li>
            <% end %>
          <% else %>
            <li>
              <%= link_to t(".weby-dashboard"), admin_url(subdomain: nil) %>
            </li>
          <% end %>
          <li>
            <%= link_to(t(".show_site"), site_path) if (is_in_admin_context? and current_site) %>
          </li>
          <li>
            <%= link_to(t(".help"), Setting.get(:help_site), target: '_blank') if Setting.get(:help_site) %>
          </li>
          <li> <%= link_to t(".about"), '/about.html', target: '_blank' %> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
