<div class='navbar'>
<div class='navbar-inner'>
<div class='conteiner cf'>

<%= content_tag :ul,
  class: "#{(current_user and user_sites and not(current_user.is_admin)) ? 'webybar-dropdown' : 'nav'}
  pull-left" do %>
  <li>
    <%= link_to root_path, class: 'brand' do %>
      <span class='white'>web</span><span class='red'>y<span>
    <% end %>
    <%= content_tag :ul, user_sites,
      class: 'right' if current_user and user_sites and not(current_user.is_admin) %> 
  </li>
<% end %>

<div class='nav-colapse cf'>
  <ul class='nav'>
    <li class='divider-vertical'></li>
    <li><%= link_to t("dashboard"), admin_sites_path() if check_permission(AdminController, [:index]) %></li>
    <li>
      <%= link_to t('help'),
        (Setting.get(:help_site) || "/help"),
        target: '_blank' %>
    </li>
    <li><%= link_to t('about'), '/about', target: '_blank' %></li>
  </ul>

  <%= content_tag :ul, class: "#{current_user ? 'webybar-dropdown' : 'nav'} pull-right" do %> 
    <% if current_user %>
      <li>
        <%= link_to current_user.first_name, admin_user_path(current_user), class: 'brand avatar',
          style: "background-image: url(http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email)}?s=30);" %>
        <ul class='left'>
          <li><%= link_to t("logout"), logout_path(back_url: "#{request.fullpath}") %></li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to t('login'), login_path(back_url: "#{request.fullpath}") %></li>
      <li><%= link_to t('register'), new_admin_user_path %></li>
    <% end %>
  <% end %>
</div>

</div>
</div>
</div>
