<% if current_user %>
  <% content_for :javascripts, javascript_include_tag('jquery.lightbox_me') %>
  <% content_for :javascripts, javascript_include_tag('about') %>
  <div id="weby_bar">
    <%= link_to main_app.root_url(subdomain: nil), class: 'pull-left logo' do %>
      <%= image_tag 'weby-navbar.png' %>
    <% end %>
    
      
    <div class="nav pull-left">
      <%= link_to t(".dashboard"), main_app.site_admin_path, class: 'pull-left' if current_user.has_role_in?(current_site) %>
      <%= link_to(t(".help"), current_settings.help_site, target: '_blank', class: 'left') if current_settings.help_site %>
      <%= link_to t(".about"), '#', target: '_blank', class: 'left', id: 'about-weby' %>
    </div>
    <div class="user pull-right">
      <%= link_to main_app.profile_url(current_user.login, subdomain: current_site) do %>
      <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=42&d=mm"
        class="pull-right"/>
      <% end %>
      <div class="info pull-right">
        <%= link_to current_user.first_name, main_app.profile_url(current_user.login, subdomain: current_site), class: 'clean' %>
        <br/>
        <%= link_to main_app.site_admin_url(subdomain: nil) do %>
          <%= content_tag(:span, icon('cog', white: true), class: "label") %>
        <% end if current_user.is_admin? %>
        <%= notifications_icon %>
        <%= link_to icon('off', white: true), main_app.logout_path(back_url: main_app.site_path), class: 'label label-important', title: t('.logout') %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
<% else %>
  <%= link_to image_tag('weby-shortcut.png'),
    weby_login_url(main_app.site_admin_url(subdomain: current_site)), id: 'weby_shortcut' %>
<% end %>
