<% if @activity.empty? %>
  <div class="alert">
    <%= t('.no_activity_records') %>
  </div>
<% else %>
  <div class="clearfix"></div>
  <table class='table table-striped'>
    <thead>
    </thead>
    <tbody>
      <% @activity.each do |record| %>
        <tr>
          <td><%= l(record.created_at, :format => :short) %></td>
          <td><%= record.user %> <%= t(".#{record.note}") %></td>
          <td>
            <% if record.controller == "menu_items" %>
              <%= link_to(icon("eye-open", :text => t(".show")), 
                  polymorphic_url([:site_admin, record.loggeable.menu, record.loggeable], 
                  :subdomain => record.site)) unless record.action.eql?("destroy") %>
            <% else %>
              <%= link_to(icon("eye-open", :text => t(".show")), 
                  polymorphic_url([:site_admin, record.loggeable], 
                  :subdomain => record.site)) unless record.action.eql?("destroy") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
