<% title ".activity_records" %>
<% breadcrumb params[:search].present? ? :activity_records_search : :activity_records, params[:search] %>
<div class="row">
  <div class="col-md-5">
    <%= form_tag admin_activity_records_path, method: 'get', autocapitalize: "off", class: 'search' do %>
      <%= content_tag :div, class: 'input-group' do %>
        <%= search_field_tag :search, params[:search], class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag t("search"), class: 'btn btn-info' %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>

<div id="list">
  <%= render :partial => "list" %>
</div>
