<% include_component_javascript :javascripts, 'event_list' %>
<% quant = component.quant || 5 %>
<%
@events = @site.pages.order('event_begin asc').
  published.upcoming_events.
  page(params[:event_list_page]).per(quant)
%>

<section class="event_list_component">
  <table class="list border fullwidth zebra">
    <tr>
      <th>
        <%= link_to(component.title || t(".events"), main_app.events_site_pages_path(direction: 'desc', sort: 'pages.event_begin')) %>
      </th>
    </tr>
    <% @events.try(:each) do |page| %>
      <tr>
        <td>
          <p><%= link_to page.title, link_on_title(current_site, page), target: (component.new_tab && page.url.present? ? '_blank' : '_self') %></p>
          <p class="event-dates"><%= period_dates(page.event_begin, page.event_end, false) -%></p>
          <%= raw page.summary %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @events, param_name: :event_list_page, remote: true, comp_url: main_app.site_component_path(component.id), page_links: true %>
</section>
