<% quant = component.quant || 5 %>
<%
@events = @site.pages.order('event_begin asc').
  available.upcoming_events.
  page(params[:event_list_pages]).per(quant)
%>

<section class="event_list_component">
  <table class="list border fullwidth zebra">
    <tr>
      <th>
        <%= link_to(component.title || t(".events"), main_app.events_site_pages_path(direction: 'desc', sort: 'pages.event_begin')) %>
      </th>
    </tr>
    <% @events.try(:each) do |page| %>
      <tr>
        <td>
          <p><%= link_to page.title, main_app.site_page_path(page) %></p>
          <p class="event-dates"><%= period_dates(page.event_begin, page.event_end, false) -%></p>
          <%= raw page.summary %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @events, param_name: :event_list_pages %>
</section>
