<% if component.use_translator? %>
  <%= hidden_field_tag(:auto_translate_trigger, session[:locale_atr]) if session[:locale_atr].present? %>
  <% include_component_javascript :javascripts, 'auto_translate' %>
  <% content_for :stylesheets, stylesheet_link_tag('auto_translate') %>
  <div id="google_translate_element2"></div>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
  <% curr_locale = session[:locale_atr].present? ? Locale.new(name: session[:locale_atr]) : Locale.find_by(name: current_locale) %>
<% else %>
  <% curr_locale = Locale.find_by(name: current_locale) %>
<% end %>

<nav class="menu_i18n_component right">
  <% if component.dropdown?  %>
    <ul class="i18n_dropdown <%= component.template %>" >
      <li>
      <%= locale_link(curr_locale, component.template, auto_translate: component.use_translator?) %>
        <ul class="i18n_submenu">
          <% component.use_locales(current_site).select{|loc| loc.name != curr_locale.name }.each do |locale| %>
            <li><%= locale_link(locale, component.template, auto_translate: component.use_translator?) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% else %>
    <% component.use_locales(current_site).each do |locale| %>
      <%= locale_link(locale, component.template, auto_translate: component.use_translator?) %>
    <% end %>
  <% end %>
</nav>
