<hr />
<p>
  <%= f.label :assunto %><br />
  <%= f.text_field :assunto %>
</p>
<p>
  <%= f.label :texto_clob %><br />
  <%= f.text_field :texto_clob %>
</p>
<p>
  <%= f.label :lado %><br />
  <%= f.text_field :lado %>
</p>