<hr />
<p>
  <%= f.label :kind %><br />
  <%= f.text_field :kind %>
</p>
<p>
  <%= f.label :local_realiza %><br />
  <%= f.text_field :local_realiza %>
</p>
<p>
  <%= f.label :inicio %><br />
  <%= f.datetime_select :inicio %>
</p>
<p>
  <%= f.label :fim %><br />
  <%= f.datetime_select :fim %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :fonte %><br />
  <%= f.text_field :fonte %>
</p>
<p>
  <%= f.label :titulo %><br />
  <%= f.text_field :titulo %>
</p>
<p>
  <%= f.label :texto_imagem %><br />
  <%= f.text_field :texto_imagem %>
</p>
<p>
  <%= f.label :resumo %><br />
  <%= f.text_field :resumo %>
</p>
<p>
  <%= f.label :pdf %><br />
  <%= f.text_field :pdf %>
</p>
<p>
  <%= f.label :capa %><br />
  <%= f.text_field :capa %>
</p>