<h1><%= t:editing, :param => t("page") %></h1>

<% form_for(@pagina) do |f| %>
  <% if @pagina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagina.errors.count, "error") %> prohibited this site from being saved:</h2>
      <ul>
      <% @pagina.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label  t:date, :param => t("registration") %><br />
    <%= f.date_select :dt_cadastro %>
  </p>
  <p>
    <%= f.label  t:date, :param => t(":publication") %><br />
    <%= f.date_select :dt_publica %>
  </p>
  <p>
    <%= f.label  t:date, :param => t("begin") %><br />
    <%= f.date_select :dt_inicio %>
  </p>
  <p>
    <%= f.label  t:data, :param => t("end") %><br />
    <%= f.date_select :dt_fim %>
  </p>
  <p>
    <%= f.label t:picture %><br />
    <%= f.text_field :imagem %>
  </p>
  <p>
    <%= f.label  t:position %><br />
    <%= f.text_field :posicao %>
    </p>
  <p>
    <%= f.label t:source %><br />
    <%= f.text_field :fonte %>
  </p>
  <p>
    <%= f.label  t:status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label  t:author %><br />
  </p>
  <p>
    <%= f.label  t:editor %><br />
    <%= f.text_field :editor %>
  </p>
  <p>
    <%= f.label t:chief_editor %><br />
    <%= f.text_field :editor_chefe %>
  </p>
  <p>
    <%= f.label t:kind %><br />
    <%= f.text_field :kind %>
  </p>
  <p>
    <%= f.label  t:title %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label  t:localization %><br />
    <%= f.text_field :local_realiza %>
  </p>
  <p>
    <%= f.label  t:begin %><br />
    <%= f.datetime_select :inicio %>
  </p>
  <p>
    <%= f.label  t:end %><br />
    <%= f.datetime_select :fim %>
  </p>
  <p>
    <%= f.label  t:text %><br />
    <%= f.text_field :texto %>
  </p>
  <p>
    <%= f.label  t:email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label  t:url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label  t:picture_text %><br />
    <%= f.text_field :texto_imagem %>
  </p>
  <p>
    <%= f.label  t:summary %><br />
    <%= f.text_field :resumo %>
  </p>
  <p>
    <%= f.label  t:pdf %><br />
    <%= f.text_field :pdf %>
  </p>
  <p>
    <%= f.label  t:site_id %><br />
    <%= f.text_field :site_id %>
  </p>
  <p>
    <%= f.label t:cover %><br />
    <%= f.text_field :capa %>
  </p>
  <p>
    <%= f.label  t:time_cover %><br />
    <%= f.datetime_select :time_capa %>
  </p>
  <p>
    <%= f.label  t:subject %><br />
    <%= f.text_field :assunto %>
  </p>
  <p>
    <%= f.label :texto_clob %><br />
    <%= f.text_field :texto_clob %>
  </p>
  <p>
    <%= f.label  t:side %><br />
    <%= f.text_field :lado %>
  </p>
  <p>
    <%= f.submit  %>
  </p>
<% end %>

<%= link_to 'Show', @pagina %> |
<%= link_to 'Back', paginas_path %>
