<h1>Nova <%= params[:type] %></h1>

<%= form_for "pagina", @pagina, :url => :paginas do |f| %>
  <% @pagina.errors.full_messages.each do |msg| %>  
    <li><%= msg %></li>  
  <% end %>  

  <%= f.hidden_field :type, :value => params[:type] %>

  <p>
    <%= f.label :dt_cadastro %><br />
    <%= f.date_select :dt_cadastro %>
  </p>
  <p>
    <%= f.label :dt_publica %><br />
    <%= f.date_select :dt_publica %>
  </p>
  <p>
    <%= f.label :dt_inicio %><br />
    <%= f.date_select :dt_inicio %>
  </p>
  <p>
    <%= f.label :dt_fim %><br />
    <%= f.date_select :dt_fim %>
  </p>
  <p>
    <%= f.label :imagem %><br />
    <%= f.text_field :imagem %>
  </p>
  <p>
    <%= f.label :posicao %><br />
    <%= f.text_field :posicao %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :autor_id %><br />
    <%= f.text_field :autor_id %>
  </p>
  <p>
    <%= f.label :editor %><br />
    <%= f.text_field :editor %>
  </p>
  <p>
    <%= f.label :editor_chefe %><br />
    <%= f.text_field :editor_chefe %>
  </p>
  <p>
    <%= f.label :texto %><br />
    <%= f.text_field :texto %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :site_id %><br />
    <%= f.text_field :site_id %>
  </p>

  <p>
    <%= f.label :time_capa %><br />
    <%= f.datetime_select :time_capa %>
  </p>

  <%= render :partial => "new" + params[:type], :locals=> { :f=>f } %>

  <p> <%= f.submit 'Criar' %> </p>
<% end %>

<%= link_to 'Voltar', :back %>
