<p>
  <b>Dt cadastro:</b>
  <%=h @pagina.dt_cadastro %>
</p>

<p>
  <b>Dt publica:</b>
  <%=h @pagina.dt_publica %>
</p>

<p>
  <b>Db inicio:</b>
  <%=h @pagina.db_inicio %>
</p>

<p>
  <b>Dt fim:</b>
  <%=h @pagina.dt_fim %>
</p>

<p>
  <b>Imagem:</b>
  <%=h @pagina.imagem %>
</p>

<p>
  <b>Posicao:</b>
  <%=h @pagina.posicao %>
</p>

<p>
  <b>Fonte:</b>
  <%=h @pagina.fonte %>
</p>

<p>
  <b>Status:</b>
  <%=h @pagina.status %>
</p>

<p>
  <b>Autor:</b>
  <%=h @pagina.autor %>
</p>

<p>
  <b>Editor:</b>
  <%=h @pagina.editor %>
</p>

<p>
  <b>Editor chefe:</b>
  <%=h @pagina.editor_chefe %>
</p>

<p>
  <b>Kind:</b>
  <%=h @pagina.kind %>
</p>

<p>
  <b>Titulo:</b>
  <%=h @pagina.titulo %>
</p>

<p>
  <b>Local realiza:</b>
  <%=h @pagina.local_realiza %>
</p>

<p>
  <b>Inicio:</b>
  <%=h @pagina.inicio %>
</p>

<p>
  <b>Fim:</b>
  <%=h @pagina.fim %>
</p>

<p>
  <b>Texto:</b>
  <%=h @pagina.texto %>
</p>

<p>
  <b>Email:</b>
  <%=h @pagina.email %>
</p>

<p>
  <b>Url:</b>
  <%=h @pagina.url %>
</p>

<p>
  <b>Texto imagem:</b>
  <%=h @pagina.texto_imagem %>
</p>

<p>
  <b>Resumo:</b>
  <%=h @pagina.resumo %>
</p>

<p>
  <b>Pdf:</b>
  <%=h @pagina.pdf %>
</p>

<p>
  <b>Site:</b>
  <%=h @pagina.site_id %>
</p>

<p>
  <b>Capa:</b>
  <%=h @pagina.capa %>
</p>

<p>
  <b>Time capa:</b>
  <%=h @pagina.time_capa %>
</p>

<p>
  <b>Assunto:</b>
  <%=h @pagina.assunto %>
</p>

<p>
  <b>Texto clob:</b>
  <%=h @pagina.texto_clob %>
</p>

<p>
  <b>Lado:</b>
  <%=h @pagina.lado %>
</p>


<%= link_to 'Edit', edit_pagina_path(@pagina) %> |
<%= link_to 'Back', paginas_path %>