<p>
  <b><%= t:data, :param => t("registration") %>:</b>
  <%=h @pagina.dt_cadastro %>
</p>

<p>
  <b><%= t:data, :param => t("publication")%>:</b>
  <%=h @pagina.dt_publica %>
</p>

<p>
  <b><%= t:data, :param => t("begin")%>:</b>
  <%=h @pagina.dt_inicio %>
</p>

<p>
  <b><%= t:data, :param => t("end") %>:</b>
  <%=h @pagina.dt_fim %>
</p>

<p>
  <b><%= t:picture %>:</b>
  <%=h @pagina.imagem %>
</p>

<p>
  <b><%= t:position %>:</b>
  <%=h @pagina.posicao %>
</p>

<p>
  <b><%= t:source %>:</b>
  <%=h @pagina.fonte %>
</p>

<p>
  <b><%= t:status%>:</b>
  <%=h @pagina.status %>
</p>

<p>
  <b><%= t:author%>:</b>
  <%=h @pagina.autor %>
</p>

<p>
  <b><%= t:editor%></b>
  <%=h @pagina.editor %>
</p>

<p>
  <b><%= t:chief_editor %></b>
  <%=h @pagina.editor_chefe %>
</p>


<p>
  <b><%= t:kind %>:</b>
  <%=h @pagina.kind %>
</p>

<p>
  <b><%= t:title:</b>
  <%=h @noticia.titulo %>
</p>

<p>
  <b><%= t:localization %>:</b>
  <%=h @pagina.local_realiza %>
</p>

<p>
  <b><%= t:begin  %>:</b>
  <%=h @pagina.inicio %>
</p>

<p>
  <b><%= t:end  %>:</b>
  <%=h @pagina.fim %>
</p>

<p>
  <b><%= t:text  %>:</b>
  <%=h @pagina.texto %>
</p>

<p>
  <b><%= t:email  %>Email:</b>
  <%=h @pagina.email %>
</p>

<p>
  <b><% t:url %>:</b>
  <%=h @pagina.url %>
</p>

<p>
  <b><%= t:picture_text %>:</b>
  <%=h @pagina.texto_imagem %>
</p>

<p>
  <b><%= t:summary  %>:</b>
  <%=h @pagina.resumo %>
</p>

<p>
  <b><%= t:pdf %>:</b>
  <%=h @pagina.pdf %>
</p>

<p>
  <b><% t:site %>:</b>
  <%=h @pagina.site_id %>
</p>

<p>
  <b><%= t:cover  %>:</b>
  <%=h @pagina.capa %>
</p>

<p>
  <b><%= t:time_cover %>:</b>
  <%=h @pagina.time_capa %>
</p>

<p>
  <b><%= t:subject  %>:</b>
  <%=h @pagina.assunto %>
</p>

<p>
  <b><%=#??   %>Texto clob:</b>
  <%=h @pagina.texto_clob %>
</p>

<p>
  <b><%= t:side %>:</b>
  <%=h @pagina.lado %>
</p>


<%= link_to 'Edit', edit_pagina_path(@pagina) %> |
<%= link_to 'Back', paginas_path %>
