<%= simple_form_for [:site_admin, @role], html: { class: 'form-horizontal' } do |f| %>
  <%= f.show_errors %>

  <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden if @site %>
  <%= f.input :name  %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>
