<%= simple_form_for [@site, :admin, @role], html: { class: 'form-horizontal' } do |f| %>
  <%= f.show_errors %>

  <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden if @site %>
  <%= f.input :name, :label => t("name") %>
  <%#= f.input :theme, :collection => @themes.collect{|p| [ p , p]}, :label => t("layout") %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to t("back"), :back, class: "btn btn-danger" %>
  </div>
<% end %>
