<% title ".users" %>
<% breadcrumb :roles_trash %>
<% content_for :javascripts do %>
  <%= javascript_include_tag "roles_index" %>
<% end %>

<p class="pull-right">
  <% if check_permission(Sites::Admin::RolesController, [:new]) %>
    <%= link_to t(".new_role"),
      new_site_admin_role_path,
      class: "btn btn-success" %>
  <% end %>
  <% if check_permission(Sites::Admin::UsersController, [:manage_roles]) %>
    <%= link_to t(".users"), 
      main_app.manage_roles_site_admin_users_path,
      class: "btn" %>
  <% end %>
  <% if check_permission(Sites::Admin::UsersController, [:index]) %>
    <%= link_to t(:recycle_bin),
      site_admin_roles_path(deleted: true),
      class: "btn btn-inverse" %>
   <% end %>
</p>
<div class="clearfix"></div>

<% if @roles.empty? %>
  <div class="alert">
    <%= t(".none_role") %>
  </div>
<% else %>

  <%= form_tag site_admin_roles_path, :method => :put, :id => 'roles_form' do %>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th><%= t(".roles_permissions")%></th>
          <% @roles.each do |role| %>
            <th>
              <%= role.name %>
              <p>
              <% if check_permission(Sites::Admin::RolesController, [:destroy]) %>
                <%= link_to icon('fire', text: t("destroy")), site_admin_role_path(role), :data => {:confirm => t("are_you_sure")}, :method => :delete %>
              <% end %>
              <% if check_permission(Sites::Admin::RolesController, [:recover]) %>                                                                       
                <%= link_to icon('refresh', text: t("recover")),  recover_site_admin_role_path(role)  %>
              <% end %>                                                                                                                                  

              </p>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @rights.each do |controller, permissions| %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td colspan="<%= @roles.length + 1%>">
              <b><%= t(".#{controller}") %></b>
            </td>
          </tr>
          <% permissions.each do |right, config| %>
            <tr class="<%= cycle 'odd', 'even' %> right-<%= right %>">
              <td>
                <%= config['name'] %>
              </td>
              <% @roles.each do |role| %>
                <td>
                  <%= check_box_tag "role[#{role.id}][permissions][#{controller}][]", right, role.permissions_hash.fetch(controller,[]).include?(right), :id => nil, :class => "column-#{role.id}", :disabled => true %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end; reset_cycle %>
      </tbody>
    </table>

    <div class="form-actions">
     <%= link_to t("back"), :back, class: "btn" %>
    </div>
  <% end %>

<% end %>
