<% load_components %>
<!doctype html>
<html lang="<%= current_locale %>">
  <head>
    <%= current_site&.google_analytics_code %>
    <title><%= @site.try(:description) || 'Weby' %><%= yield :title %></title>
    <meta charset="utf-8"/>
    <meta name="description" content="<%= @site.try(:description) %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= csrf_meta_tag %>
    <%= favicon_link_tag favicon(@site) %>
    <%= auto_discovery_link_tag(:rss, main_app.site_feed_url(format: 'rss'),  {:title => "#{@site.try(:title)} - RSS"}) %>
    <%= auto_discovery_link_tag(:atom, main_app.site_feed_url(format: 'atom'),  {:title => "#{@site.try(:title)} - ATOM"}) %>
    <%= render 'sites/shared/social_meta' %>
    <%= stylesheet_link_tag 'webybar' %>
    <%= stylesheet_link_tag 'weby-assets' %>
    <%= yield :stylesheets %>
    <%= yield :components_stylesheets %>
    <%= stylesheet_link_tag 'jornal' %>
    <%= render 'sites/shared/loadStyles' %>
    <%= current_site&.head_html_code %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  </head>
  <body class="<%= yield :body_class %>">
    <%= render_webybar %>
    <div class='first_place'>
      <%= yield :layout_first_place %>
    </div>
    <header>
      <%= yield :layout_top %>
    </header>        
   <section id="content">
      <div class="container"><%= yield %></div>
    </section>
    <footer>
      <%= yield :layout_bottom %>
    </footer>
    <%= javascript_include_tag 'base' %>
    <%= javascript_include_tag 'jornal' %>
    <%= yield :javascripts %>
    <script>
       $(document).ready(function(){
    //
    $(window).scroll(stickyMenu);

    // Get the menu
    var menuDock = $('.side-dock');

    // Get the offset position of the navbar
    var menuStickTop = menuDock.offset().top;

    /// panels
    var panels = $('.side-dock .btn').map(function(){
      var t = $('.'+$(this).data('target'));
      t.data('origin', $(this).attr('href'));
      return t;
    });
    var lastPanel = '';
    
    // Add the sticky class to the menuBar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function stickyMenu() {
      var fromTop = $(this).scrollTop();

      var currPanels = panels.map(function(){
        if ($(this).offset().top - 61 < fromTop) return this;
      });
      var curr = currPanels[currPanels.length-1];

      if(curr != lastPanel && curr){
        lastPanel = curr;
        $('.side-dock .btn').removeClass('active');
        $('.side-dock .btn[href='+curr.data('origin')+']').addClass('active');
      }
 
      if (fromTop > menuStickTop) {
        menuDock.addClass('fixed');
      } else {
        menuDock.removeClass('fixed');
      }
    }
    
    $('.side-dock').on('click', '.btn', function(){
      var $this = $(this);
      var target = $('.'+$this.data('target'));
      if (target.length > 0) {
        $('html, body').stop().animate({ scrollTop: target.offset().top - 60 }, 300);
      }
      return false;
    });
  });
    </script>
  </body>
</html>
