<div id="<%= locale.name %>">
  <%= builder.input(:locale_id, input_html: { value: locale.id }, as: :hidden) %>
  <% if controller.action_name != 'new' %>
    <%= builder.input :_destroy,
      label: t("destroy"),
      as: :boolean %>
  <% end %>
  <%= builder.input :title, label: t("title"),
    placeholder: t("title"),
    required: false,
    input_html: {class: "title_input"} %>

  <%= builder.input :text, label: t("text"),
    input_html: {class: "mceAdvance", style: "width: 550px; height: 320px;"},
    as: :text %>

  <%= builder.input :summary, label: t("summary"),
    input_html: {class: "mceSimple", style: "width: 550px; height: 180px;"},
    as: :text %>
</div>
