<div id="<%= i18nbuilder.object.locale.name %>">
  <%= i18nbuilder.input(:locale_id, input_html: { value: i18nbuilder.object.locale.id }, as: :hidden) %>
  <% if controller.action_name != 'new' %>
    <%= i18nbuilder.input :_destroy,
      label: t("delete"),
      as: :boolean %>
  <% end %>
  <%= i18nbuilder.input :title, label: t("title"),
    placeholder: t("title"),
    required: false,
    input_html: {class: "title_input"} %>

  <%= i18nbuilder.input :text, label: t("text"),
    input_html: {class: "mceAdvance", size: "70x15"},
    as: :text %>

  <%= i18nbuilder.input :summary, label: t("summary"),
    input_html: {class: "mceSimple", size: "70x5" },
    as: :text %>
</div>
