<div class="tabbable">
    <ul class="nav nav-tabs">
      <% current_site.locales.each_with_index do |locale, index| %>
        <li class="<%= index == 0 ? "active" : "" %>"><%= link_to locale_with_name(locale), "#tab_#{locale}", data: {toggle: 'tab'} %></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% current_site.locales.each_with_index do |locale, index| %>
        <div id="tab_<%= locale.name %>" class="tab-pane<%= index == 0 ? " active" : "" %>">

          <%= f.input :label, :as => :string, :input_html => {
            :value => component.label ? component.label[locale.name] : "",
            :name => "breadcrumb_component[label][#{locale.name}]",
            :id => "breadcrumb_component_label_#{locale.name}"} %>

        </div>
      <% end %>
    </div>
  </div>