<% load_components %>

<!doctype html>
<html lang="<%= current_locale %>">
  <head>
    <%= current_site&.google_analytics_code %>
    <title><%= "#{yield :title} | " if content_for?(:title) %><%= @site.try(:title) || 'Weby' %></title>
    <meta charset="utf-8"/>
    <meta name="description" content="<%= @site.try(:description) %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= csrf_meta_tag %>
    <%= render 'sites/shared/social_meta' %>
    <%= favicon_link_tag favicon(@site) %>
    <%= auto_discovery_link_tag(:rss, main_app.site_feed_url(format: 'rss'),  {:title => "#{@site.try(:title)} - RSS"}) %>
    <%= auto_discovery_link_tag(:atom, main_app.site_feed_url(format: 'atom'),  {:title => "#{@site.try(:title)} - ATOM"}) %>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
    <%= stylesheet_link_tag 'webybar' %>
    <%= stylesheet_link_tag 'weby-assets' %>
    <%= yield :stylesheets %>
    <%= yield :components_stylesheets %>
    <%= render 'sites/shared/loadStyles' %>
    <%= current_site&.head_html_code %>
  </head>
  <body class="<%= yield :body_class %>">
    <%= render_webybar %>
    <div class='first_place'>
      <%= yield :layout_first_place %>
    </div>
    <div id="wrapper" <%= "style=\"max-width: #{ @main_width }px\"".html_safe if @main_width %>>
      <header>
        <%= yield :layout_top %>
        <div class="clear"> </div>
      </header>
      <section id="content">
        <div class="container"><%= yield %></div>
      </section>
    </div>
    <footer>      
      <%= yield :layout_bottom %>
    </footer>

    <%= javascript_include_tag "base" %>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <%= yield :javascripts %>
  </body>
</html>
