<fieldset>
  <legend><%= (t"editing", :param => (t"site.one")) %></legend>
  <%= link_to t('back'), :back %>

  <center>
    <% menus_list = [[t("picture"), "image"], [t("pdf"), "pdf"]] %>
    <%= form_tag edit_site_admin_path(@site, @site), :method => 'get', :remote => true do %>
      <%= label_tag t("search") %>
      <%= text_field_tag :search %>
      <%= select_tag(:type, options_for_select(menus_list, selected = "#{params[:type]}")) %>
      <%= submit_tag t("submit") %>
    <% end %>
  </center>
  <hr>

  <div id="repo_new" >
    <div class="contextual">
      <%= link_to (t"new_param.masc", :param => (t"archive.one")), new_site_repository_path(),
        :remote => true,
        :onclick => "$('#page').toggle();",
        :class => 'icon icon-add' %>
    </div>
    <div id="page" style="display:none">
    </div>
  </div>

  <%= form_for @site, :builder => SemanticFormBuilder do |f| %>
    <% if @site.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@site.errors.count, "") %> <%= t"prohibited_being_saved", 
            :count => @site.errors.count %>:</h2>
        <ul>
        <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id='form'>
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>

    <%= f.text_field :body_width, :label => t("body_width"), :help => (t"example_param", :param => "960") %><br />
    <% unless @site.repository.nil? %>
      <%= f.text_field :top_banner_width, :label => t("top_banner_width"), :help => (t"example_param", :param => "960") %><br />
      <%= f.text_field :top_banner_height, :label => t("top_banner_height"), :help => (t"example_param", :param => "101") %><br />
    <% end %>
    <%= f.text_field :name, :label => t("name"), :required => true, :help => t("field_required") %><br />
    <%= f.text_field :url, :label => "URL", :required => true, :help => t("field_required") %><br />
    <%= f.text_area :description, :label => t("description"), :size => "44x8", :help => t("site_comments") %><br />
	  <%= f.text_area :footer, :value => (@site.footer.nil? ? t("footer_text") : @site.footer), :class => "mceSimple", :label => t("footer"), :size => "45x10"%>
    <%= f.select :theme, @themes.collect{|p| [ p , p]}, {:include_blank => true}, :label => t('layout') %><br />
    <%= f.submit t("submit") %>
  <% end %>

  <%= link_to t('back'), :back %>
</fieldset>
