<fieldset>
  <legend><%= (t"editing", :param => (t"site.one")) %></legend>

  <div id="repo_new" >
    <div class="contextual">
      <%= link_to (t"new_param.masc", :param => (t"archive.one")), new_site_repository_path,
        :remote => true,
        :onclick => "$('#page').toggle();",
        :class => 'icon icon-add' %>
    </div>
    <div id="page" style="display:none"> </div>
  </div>

  <%= simple_form_for @site do |f| %>
    <% if @site.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@site.errors.count, "") %> <%= t"prohibited_being_saved", :count => @site.errors.count %>:</h2>
        <ul>
          <% @site.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id='form'>
      <%= f.input :top_banner_id, 
        :label => t('picture'),
        :collection => @images,
        :collection_wrapper_tag => "div class='radio-group-xxx'",
        :as => :radio, 
        :label_method => lambda { |context| archive_type_image(context, :mini) },
        :value_method => 'id',
        :paginate => "#{paginate @images}" %>
      <%#= render 'repositories/images_radio_list', :f => f, :id => :top_banner_id %>
    </div>

    <%= f.input :body_width, :label => t("body_width"), :hint => (t"example_param", :param => "960") %>
    <% unless @site.repository.nil? %>
      <%= f.input :top_banner_width, :label => t("top_banner_width"), :hint => (t"example_param", :param => "960") %>
      <%= f.input :top_banner_height, :label => t("top_banner_height"), :hint => (t"example_param", :param => "101") %>
    <% end %>
    <%= f.input :name, :label => t("name"), :hint => t("field_required") %>
    <%= f.input :url, :label => "URL", :hint => t("field_required"), :as => :url %>
    <%= f.input :per_page, :label => t("itens_per_page"), :hint => (t"example_param", :param => "15, 30, 50, 100, 250, 500") %>
    <%= f.input :per_page_default, :label => t("per_page_default") %>
    <%= f.input :description, :label => t("description"), :input_html => { :size => "44x8" }, :hint => t("site_comments"), :as => :text %>
    <%= f.input :footer, :label => t("footer"), :input_html => {:value => (@site.footer.nil? ? t("footer_text") : @site.footer), :class => "mceSimple", :size => "45x10"}, :as => :text %>
    <%= f.input :view_desc_pages, :label => t("view_desc_pages"), :hint => t("view_desc_pages_help"), :as => :boolean %>
    <%= f.input :menu_dropdown, :label => t("use_menu_dropdown"), :hint => t("desc_use_menu_dropdown"), :as => :boolean %>
    <%= f.input :theme, :collection => @themes.collect{|p| [ p , p]}, :label => t('layout') %>

    <%= f.association :locales, :as => :check_boxes,
      :collection => Locale.all.map{|l| [image_tag("flags/24/#{l.flag}"), l.id] },
    :label => 'Traduções' %>

  <div class="actions">
    <%= f.submit t("submit") %>
    <%= link_to t('back'), :back %>
  </div>

<% end %>

</fieldset>
