<fieldset>
<% if current_user %>
  <p>
    <%= link_to (t"site.other"), sites_path %>
    <% if check_permission(SitesController, "new") %>
     | <%= link_to t("new"), new_site_path, :class => 'icon icon-add' %>
    <% end %>
  </p>
  <p>
    <%= link_to (t"user.other"), @site ? site_users_path : users_path %>
    <% if check_permission(UsersController, "new") %>
     | <%= link_to t("new"), new_user_path, :class => 'icon icon-add' %>
    <% end %>
  </p>
  <% if @site %>
    <p>
      <%= link_to (t"menu.other"), site_menus_path %>
      <% if check_permission(MenusController, "new") %>
       | <%= link_to t("new"), new_site_menu_path, :class => 'icon icon-add' %>
      <% end %>
    </p>
    <p>
      <%= link_to (t"page.other"), site_pages_path %>
      <% if check_permission(PagesController, "new") %>
       | <%= link_to t("new"), new_site_page_path, :class => 'icon icon-add' %>
      <% end %>
    </p>
    <p>
      <%= link_to (t"banner.other"), site_banners_path %>
      <% if check_permission(BannersController, "new") %>
       | <%= link_to t("new"), new_site_banner_path, :class => 'icon icon-add' %>
      <% end %>
    </p>
    <p>
      <%= link_to (t"group.other"), site_groups_path %>
      <% if check_permission(GroupsController, "new") %>
       | <%= link_to t("new"), new_site_group_path, :class => 'icon icon-add' %>
      <% end %>
    </p>
    <p>
      <%= link_to (t"archive.other"), site_repositories_path %>
      <% if check_permission(RepositoriesController, "new") %>
       | <%= link_to t("new"), new_site_repository_path, :class => 'icon icon-add' %>
      <% end %>
    </p>
    <p>
      <%= link_to (t"permission.other"), rights_path %>
      <% if check_permission(RightsController, "new") %>
       | <%= link_to t("new"), new_right_path, :class => 'icon icon-add' %>
      <% end %>
    </p>
    <p>
      <%= link_to (t"roles_permissions"), site_roles_path %>
      <% if check_permission(RolesController, "new") %>
       | <%= link_to t("new"), new_site_role_path, :class => 'icon icon-add' %>
      <% end %>
    </p>
    <p>
      <%= link_to (t"feedback"), site_feedbacks_path %>
      <% if check_permission(FeedbacksController, "new") %>
      <% end %>
    </p>
    <p>
	    <%= link_to (t"setting.other"), edit_site_admin_path(@site, @site) %>
    </p>
  <% end %>

<% end %>
</fieldset>
