<fieldset>
  <legend><%= t('messages') %> - <%= t('feedback.one') %></legend>

  <div class="contextual">
    <% if check_permission(Sites::GroupsController, [:new]) %>
      <%= link_to (t"new_param.masc", :param => (t"group.one")), new_site_admin_group_path, :class => 'icon icon-add' -%>
    <% end %>
    <% if check_permission(Sites::GroupsController, [:index]) %>
      | <%= link_to (t"group.other"), site_admin_groups_path(@site), :class => 'icon icon-list' -%>
    <% end %>
  </div>

  <% unless @feedbacks.empty? %>
    <div class="page_info_paginator"><%= t"views.pagination.total" %>&nbsp;<%= @feedbacks.length %></div>
    <table class='list'>
      <thead>
        <th><%= t 'name' %></th>
        <th><%= t 'email' %></th>
        <th><%= t 'subject' %></th>
        <th></th>
      </thead>
      <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%= feedback.name %></td>
          <td><%= feedback.email %></td>
          <td><%= feedback.subject %></td>
          <td>
            <%= raw make_menu(feedback) %> 
          </td>
        </tr>
      <% end; reset_cycle %>
      </tbody>
    </table>
  <% end %>
</fieldset>
