<%- title  'messages' %>

<div class="span9">
  <div class="well">

<% if @feedbacks.empty? %>
  <div class="alert">
    <%= (t"none_param", param: t("feedback.one")) %>
  </div>
<% end %>

    <div class="pull-right">
      <% if check_permission(Sites::Admin::GroupsController, [:new]) %>
        <%= link_to t('new_param.masc', param: t('group.one')),
          new_site_admin_group_path,
          class: "btn btn-success btn-large" %>
      <% end %>
      <% if check_permission(Sites::Admin::FeedbacksController, [:index]) %>
        <%= link_to t('group.other'),
          site_admin_groups_path,
          class: "btn btn-primary btn-large" %>
      <% end %>
    </div>
    <div class="clearfix"></div>

  <% unless @feedbacks.empty? %>
    <div class="page_info_paginator"><%= t"views.pagination.total" %>&nbsp;<%= @feedbacks.length %></div>
    <table class='table table-striped table-condensed'>
      <thead>
        <th><%= t 'name' %></th>
        <th><%= t 'email' %></th>
        <th><%= t 'subject' %></th>
        <th></th>
      </thead>
      <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%= feedback.name %></td>
          <td><%= feedback.email %></td>
          <td><%= feedback.subject %></td>
          <td>
            <%= raw make_menu(feedback) %> 
          </td>
        </tr>
      <% end; reset_cycle %>
      </tbody>
    </table>
  <% end %>
</div>
</div>
