<h3 class="title-box"> <%= t(".recover_password") %> </h3>
<p> <%= t(".fill_email_form") %> </p>
<%= form_tag password_sent_path do %>
  <div class="control-group">
    <div class="controls">
      <%= text_field_tag "email", "#{params[:email]}", class: "string span12", placeholder: t(".field_email"), input_html: { autofocus: "autofocus" } %>
    </div>
  </div>
  <%= submit_tag t('submit'), class: 'btn btn-primary', disable_with: t("please_wait") %>
<% end %>
