<h4>
  <%= t(".reset_password") %>
</h4>
<%= simple_form_for @user, url: update_password_path, method: :post do |f| %>
  <%= f.show_errors %>
  <%= f.input :id, as: :hidden %>
  <%= f.input :password, label: t(".password_change"), required: true, as: :password %>
  <%= f.input :password_confirmation, as:  :password %>
  <%= f.button :submit, t("submit"), class: 'btn btn-primary btn-large', disable_with: t("please_wait") %>
<% end %>
