<h3 class="title-box"> <%= t(".change_password") %> </h3>
<%= simple_form_for @user, url: update_password_path, method: :post do |f| %>
  <%= f.show_errors %>
  <%= f.input :id, as: :hidden %>
  <%= f.input :password, placeholder: t(".password_change"), required: true, as: :password,
    label: false, input_html: { autofocus: "autofocus" } %>
  <%= f.input :password_confirmation, placeholder: t(".password_confirmation_label"),
    as: :password, label: false %>
  <%= f.button :submit, t("submit"), class: 'btn-primary', disable_with: t("please_wait") %>
<% end %>
