<% if @activity_records.empty? %>
  <div class="alert alert-warning">
    <%= t('.no_activity_records') %>
  </div>
<% else %>
  <div class="pull-right"><%= paginate @activity_records, remote: true %></div>
  <div class="pull-left"><%= info_page @activity_records %></div>
  <div class="clearfix"></div>
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th><%= t(".created_at") %></th>
        <th><%= t(".site") %></th>
        <th><%= t(".note") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @activity_records.each do |activity_record| %>
        <tr>
          <td><%= l(activity_record.created_at, format: :short) %></td>
          <td><%= link_to activity_record.site.name, site_url(subdomain: activity_record.site), title: activity_record.site.title, target: :_blank if activity_record.site %></td>
          <td>
            <%= activity_record.user %>
            <% if activity_record.is_linkable? %>
              <%= link_to "#{t(".#{activity_record.note}")} #{content_tag(:span, icon(:'eye-open'), class: 'oh-c-i')}".html_safe, build_loggeable_url(activity_record) %>
            <% else %>
              <%= t(".#{activity_record.note}") %>
            <% end %>
          </td>
          <td class="text-right">
            <%= render_dropdown_menu do %>
              <%= link_to(icon("eye-open", text: t(".show")), build_loggeable_url(activity_record), class: "action-link") if activity_record.is_linkable? %>
              <%= link_to(icon("search", text: t(".details")),
                          admin_activity_record_path(activity_record), class: "action-link" )%>
              <%= link_to(icon("trash", text: t(".destroy")),
                          admin_activity_record_path(activity_record), method: :delete, data: {confirm: t('are_you_sure_del_item', item: activity_record.screen_name)}, class: "action-link") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pull-left"> <%= per_page_links @activity_records, true, :sm %> </div>
  <div class="pull-right"> <%= paginate @activity_records, remote: true %> </div>
  <div class="clearfix"></div>
<% end %>
