<% if @activity_records.empty? %>
  <div class="alert alert-warning">
    <%= t('.no_activity_records') %>
  </div>
<% else %>

  <div class="pull-left"> <%= info_page @activity_records %> </div>
  <div class="pull-right"> <%= paginate @activity_records, remote: true %> </div>
  <div class="clearfix"></div>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= t(".created_at") %></th>
        <th><%= t(".note") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @activity_records.each do |activity_record| %>
        <tr>
          <td><%= l(activity_record.created_at, format: :short) %></td>
          <td><%= activity_record.user %> <%= t(".#{activity_record.note}") %></td>
          <td style="text-align: right">
            <%= link_to(icon("eye-open", text: t(".show")),
                       polymorphic_url(activity_record.loggeable_url_params, subdomain: activity_record.site), class: "table-menu") if activity_record.action != "destroy" && activity_record.loggeable %>
            <%= link_to(icon("search", text: t(".details")),
                        admin_activity_record_path(activity_record), class: "table-menu" )%>
            <%= link_to(icon("trash", text: t(".destroy")),
                        admin_activity_record_path(activity_record), method: :delete, confirm: t('are_you_sure'), class: "table-menu") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pull-left"> <%= per_page_links @activity_records, true, :xs %> </div>
  <div class="pull-right"> <%= paginate @activity_records, remote: true %> </div>
  <div class="clearfix"></div>
<% end %>
