<div class="pull-left">
  <%= form_tag admin_activity_records_path, method: 'get', autocapitalize: "off", class: 'search pull-right' do %>
    <%= content_tag :div, class: 'input-append' do %>
      <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t("search"), class: 'btn btn-default btn-info btn-search' %>
    <% end %>
    <%= select_tag :site_id, options_for_select(Site.all.map{ |site| [site.title || site.name, site.id] }, params[:site_id]), include_blank: true %>
  <% end %>
</div>
<div class="clearfix"></div>

<div id="list">
  <%= render :partial => "list" %>
</div>
