<div class="user_profile">
  <br />
  <p><b><%= t('.id') %>: </b> <%= @activity.id %></p>
  <p><b><%= t('.user') %>: </b> <%= @activity.user %></p>
  <p><b><%= t('.site') %>: </b> <%= @activity.site.title %></p>
  <p><b><%= t('.browser') %>: </b> <%= @activity.browser %></p>
  <p><b><%= t('.ip') %>: </b> <%= @activity.ip_address %></p>
  <p><b><%= t('.controller') %>: </b> <%= @activity.controller %></p>
  <p><b><%= t('.action') %>: </b> <%= @activity.action %></p>
  <p><b><%= t('.params') %>: </b> <%= @activity.params %></p>
  <p><b><%= t('.created_at') %>: </b> <%= @activity.created_at %></p>
</div>
