<%= simple_form_for [:admin, @grouping] do |f| %>
  <%= f.show_errors %>

  <%= f.input :name %>
  <%= f.input :hidden, wrapper: :checkbox %>
  <%= f.association :sites, labelmethod: :title, input_html: {class: 'select2 site-groupings'} %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>

<% content_for :javascripts, javascript_include_tag("sites.form") %>