<div class="add-uniq-file <%= "without-image" unless selected %>"
  data-place-name="<%= (place_name) %>"
  data-field-name="<%= (field_name) %>"
  data-multiple="<%= (multiple) %>"
  data-file-types="<%= (file_types.to_s) %>">
  <button type="button" class="close <%= " hide" unless selected %>" style="color:red; font-size: 25px;">×</button>

  <span> <%= link_title %> </span>

  <div id="<%= escape_javascript(place_name) %>" class="<%= local_assigns[:class] %>">
    <%= radio_button_tag field_name, selected.id, {id: "repository_id_#{selected.id}", style: "display: none;"} if selected %>
    <label>
      <figure>
        <% if selected %>
          <%= weby_file_view(selected, :i, 64, 64, {as: 'image'}) %>
          <figcaption><%= selected.description %></figcaption>
        <% end %>
      </figure>
    </label>
  </div>
</div>
