<div class="form-group">
  <div class="input add-multiple-files">
    <%= link_to link_title, "#",
      {data: {:'place-name' => place_name, :'field-name' => field_name, :'multiple' => multiple, :'file-types' => file_types.to_s},
      class: 'add-button btn btn-info'} %>
    <ul id="<%= place_name %>">
      <% selected.each do |repository|  %>
        <li class="backgrounded">
          <%= label_tag "repository_#{repository.id}" do %>
            <figure>
              <%= weby_file_view(repository, :i, 64, 64, {as: 'image'}) %>
              <figcaption><%= repository.description %> </figcaption>
            </figure>
          <% end %>
          <%= check_box_tag field_name, repository.id, true, id: "repository_#{repository.id}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
