<div class="search_bar">
  <%= form_tag main_app.site_admin_repositories_path(template: 'list_popup'), method: 'get', autocapitalize: "off", class: 'search', remote: true do %>
    <div class="row">
      <div class="col-md-7">
        <%= search_input params[:search], placeholder: t('.search_repository'), button_class: 'btn-search-repository' %>
      </div>
    </div>
    <%= hidden_field_tag 'page', 1 %>
    <%= hidden_field_tag 'per_page', "#{params[:per_page]}" %>
  <% end %>
  <div class="clearfix"></div>
</div>
<% if @repositories %>
  <% if @repositories.empty? %>
    <div class="alert alert-warning">
      <%= t(".none_file") %>
    </div>
  <% else %>
    <div class="repository-results">
      <ul id="target-search-results">
        <% @repositories.each do |repository| %>
          <li data-title="<%= repository.description %>" data-url="<%= repository.archive.url(:o, false) %>" class="cursor highlight target-item">
            <label>
              <figure>
                <%=  weby_file_view(repository, :i, 64, 64, as: 'image') %>
                <figcaption><%=repository.description%></figcaption>
              </figure>
            </label>
          </li>
        <% end %>
      </ul>

      <div class="pull-right"> <%= paginate @repositories, remote: true, size: :sm %> </div>
      <div class="pull-left"> <%= per_page_links @repositories, true, :sm %> </div>
      <div class="clearfix"></div>
    </div>
  <% end %>
<% end %>
