<%= render 'view_picker' %>
<div class="pull-right"><%= paginate @repositories, :remote => true %></div>
<div class="pull-left"><%= info_page @repositories %></div>
<div class="clearfix"></div>
<div class="table-wrapper">
  <table class='table table-striped table-condensed align-middle nowrap'>
    <thead>
      <th class="center sel-all" width="1%"><%= check_box_tag :select_all, 1, false %></th>
      <th width="10%"><%= sortable 'archive_file_name', t(".archive") %></th>
      <th width="35%"><%= sortable 'title', t(".title") %></th>
      <th width="35%"><%= sortable 'description', t(".description") %></th>
      <th width="20%"><%= sortable 'archive_content_type', t(".type") %></th>
      <th></th>
    </thead>
    <tbody>
      <% @repositories.each do |repository| %>
        <tr>
          <td class="center sel-item"><%= check_box_tag :select_item, repository.id, false %></td>
          <td><%= weby_file_view(repository, :t, "64", "64", target: '_blank') %></td>
          <td>
            <% if check_permission(Sites::Admin::RepositoriesController, [:edit]) %>
              <%= link_to "#{repository.title} #{content_tag(:span, icon(:edit), class: 'oh-c-i')}".html_safe, edit_site_admin_repository_path(repository) %>
            <% else %>
              <%= repository.title %>
            <% end %>
          </td>
          <td><%= repository.description %></td>
          <td><%= repository.archive_content_type %></td>
          <td class="actions text-right">
            <%= render_dropdown_menu do %>
              <% if repository.image? && check_permission(Sites::Admin::RepositoriesController, [:crop]) %>
                <%= link_to icon('scissors', text: t('.crop_image')), crop_site_admin_repository_path(repository) %>
              <% end %>
              <%= raw make_menu(repository) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render_bulk_actions do %>
    <% with_permission(action: :destroy_many) do %>
      <%= link_to icon('trash', text: t('destroy')), destroy_many_site_admin_repositories_path, class: 'btn btn-sm btn-default destroy-many', method: :delete, data: {confirm: t('are_you_sure_del_many')} %>
    <% end %>
  <% end %>
</div>
<div class="pull-right"><%= paginate @repositories, remote: true %></div>
<div class="pull-left"><%= per_page_links @repositories, true, :sm%></div>
<div class="clearfix"></div>
