<div class="search_bar">
  <%= form_tag site_admin_repositories_path(template: 'list_popup'), method: 'get', autocapitalize: "off", class: 'search', remote: true do %>
    <%= content_tag :div, class: 'input-append' do %>
      <%= search_field_tag :search, params[:search], placeholder: t('.search_repository'), class: 'input-search' %><%= submit_tag t("search"), class: 'btn btn-info btn-search-repository' %>
    <% end %>
    <%= hidden_field_tag 'page', 1 %>
    <%= hidden_field_tag 'per_page', "#{params[:per_page]}" %>
  <% end %>
</div>
<% if @repositories %>
  <% if @repositories.empty? %>
    <div class="alert">
      <%= t(".none_file") %>
    </div>
  <% else %>
    <div class="repository-results">
      <ul id="target-search-results">
        <% @repositories.each do |repository| %>
          <li data-title="<%= repository.description %>" data-url="<%= repository.archive.url(:original, false) %>" class="cursor highlight target-item">
            <label>
              <figure>
                <%=  weby_file_view(repository, :mini, 64, 64, as: 'image') %>
                <figcaption><%=repository.description%></figcaption>
              </figure>
            </label>
          </li>
        <% end %>
      </ul>

      <div class="pull-right"> <%= paginate @repositories, remote: true, size: :small %> </div>
      <div class="pull-left"> <%= per_page_links @repositories, true, :xs %> </div>
      <div class="clearfix"></div>
    </div>
  <% end %>
<% end %>
