<%= render 'view_picker' %>
<div class="pull-right"><%= paginate @repositories, :remote => true %></div>
<div class="pull-left"><%= info_page @repositories %></div>
<div class="clearfix"></div>

<table class='table table-striped table-condensed nowrap'>
  <thead>
    <th width="10%"><%= sortable 'archive_file_name', t(".archive") %></th>
    <th width="35%"><%= sortable 'description', t(".description") %></th>
    <th width="20%"><%= sortable 'archive_content_type', t(".type") %></th>
    <th></th>
  </thead>
  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td> <%= weby_file_view(repository, :t, "64", "64", target: '_blank', title: repository.archive_file_name) %> </td>
        <td> <%= repository.description %> </td>
        <td> <%= repository.archive_content_type %> </td>
        <td class="text-right"> <%= raw make_menu(repository) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right"><%= paginate @repositories, remote: true %></div>
<div class="pull-left"><%= per_page_links @repositories, true, :sm%></div>
<div class="clearfix"></div>
