<% content_for :javascripts, javascript_include_tag('repository.dialog') %>
<% content_for :stylesheets, stylesheet_link_tag("repository_search") %>
<div id="dialog-repository-search" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-pills pull-right">
          <li class="my-repo active">
            <%= link_to t(".my_repository"), "#tab_repository", data: {toggle: 'pill'} %>
          </li>
          <li class="others-repo">
            <%= link_to t(".others_repositories"), "#tab_others_repositories", data: {toggle: 'pill'} %>
          </li>
          <li>
            <%= link_to t(".new_file"), "#tab_new_file", data: {toggle: 'pill'} %>
          </li>
        </ul>
        <h3 class="modal-title pull-left"><%= t('.archives') %></h3>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div id="tab_repository" class="tab-pane active">
            <%= form_tag main_app.site_admin_repositories_path(format: :json),
              method: 'get',
              autocapitalize: "off",
              class: 'search repo-search',
              id: 'repository-search-form',
              data: {noresult: t('.none_file')},
              remote: true do %>
              <div class="row">
                <div class="col-md-6">
                  <%= search_input params[:search] %>
                </div>
                <div class="col-md-6">
                  <%= select_tag "mime_type[]",
                      grouped_options_for_select(load_mime_types(current_site), params[:mime_type]),
                      include_blank: false,
                      style: 'width: 208px; vertical-align: top;',
                      class: 'search-filter pull-right',
                      multiple: true %>
                  <%= hidden_field_tag 'page', "1", id: 'search-page' %>
                </div>
              </div>
            <% end %>

            <ul class="repositories-search-results">
            </ul>
          </div>
          <div id="tab_others_repositories" class="tab-pane">
            <%= form_tag main_app.site_admin_repositories_path(format: :json),
              method: 'get',
              autocapitalize: "off",
              class: 'search repo-search',
              id: 'repository-search-form',
              data: {noresult: t('.none_file')},
              remote: true do %>
              <input id="global" name="global" value="1" type="hidden"/>
              <div class="row">
                <div class="col-md-6">
                  <%= search_input params[:search] %>
                </div>
                <div class="col-md-6">
                  <%= select_tag "mime_type[]",
                      grouped_options_for_select(load_mime_types(current_site), params[:mime_type]),
                      include_blank: false,
                      style: 'width: 208px; vertical-align: top;',
                      class: 'search-filter pull-right',
                      multiple: true %>
                  <%= hidden_field_tag 'page', "1", id: 'search-page' %>
                </div>
              </div>
            <% end %>

            <ul class="repositories-search-results">
            </ul>
          </div>
          <div id="tab_new_file" class="tab-pane">
            <div class="row">
              <div class="col-md-7">
                <%= simple_form_for Repository.new, url: main_app.site_admin_repositories_path,
                  method: :post, remote: true, :html => { class: 'form-xhorizontal', id: "ajax-upload-form" } do |f| %>

                  <div style="margin-bottom: 10px">
                    <%= label_tag :fileupload, t(".file") %>
                    <div>
                      <span class="file-wrapper">
                        <%= file_field_tag "repository[archive]", required: false, id: "fileupload" %>
                        <span class="folder-button btn btn-info"><%= t(".select_file") %></span>
                      </span>
                      <span class="file-name"></span>
                      <div class="form-group string">
                        <p class="help-block col-md-12">
                          <%= t(".max_file_size", param: current_settings.max_file_size) %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div style="margin-bottom: 15px">
                    <%= label_tag :title, t(".title") %>
                    <%= text_field_tag "repository[title]", "", required: true, class: 'form-control',
                      id: "repository_title", hint: t(".field_required") %>
                    <%= label_tag :legend, t(".legend") %>
                    <%= text_field_tag "repository[legend]", "", class: 'form-control',
                      id: "repository_legend" %>
                    <%= label_tag :description, t(".description") %>
                    <%= text_area_tag "repository[description]", "", required: true, class: 'form-control',
                      id: "repository_description", hint: t(".field_required") %>
                    <div class="clearfix"></div>
                  </div>
                  <p class="text-warning col-md-12">
                      <%= t(".repository_alert") %>
                    </p>
                  <%= hidden_field_tag "repository[site_id]", @site.id, id: "site_id" %>

                  <%= submit_tag t(".send"), class: 'btn btn-primary send-file', type: :submit, data: {disable_with: t('please_wait')} %>                  
                <% end %>
              </div>
              <div class="col-md-5">
                <%= image_tag asset_url('loading-bar.gif'), id: 'upload-file-progress', style: 'display: none;' %>
                <!--<progress value="0" max="100" id="upload-file-progress" style="display: none;"></progress>-->
                <div id="results"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to t("ok"), '#', id: 'repository-include-link', class: "btn btn-primary" %>
        <a href="#" class="btn btn-default" data-dismiss="modal"><%=t('cancel')%></a>
      </div>
    </div>
  </div>
</div>
