<div class="modal-header">
  <h3 class="pull-left"><%= t('archive.other') %></h3>
  <ul class="nav nav-pills pull-right">
    <li class="active">
      <%= link_to t(".repository"), "#tab_repository", data: {toggle: 'pill'} %>
    </li>
    <li>
      <%= link_to t(".new_file"), "#tab_new_file", data: {toggle: 'pill'} %>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
<div class="modal-body">
  <div class="tab-content">
    <div id="tab_repository" class="tab-pane active">
      <%= form_tag site_admin_repositories_path(format: :json),
        method: 'get',
        autocapitalize: "off",
        class: 'search',
        id: 'repository-search-form',
        remote: true do %>
        <%= content_tag :div, class: 'input-append pull-right' do %>
          <%= select_tag "mime_type[]",
          grouped_options_for_select(load_mime_types(@site), ),
          include_blank: t('all') %>
          <%= search_field_tag :search, params[:search] %><%= submit_tag t("search"), class: 'btn btn-primary btn-search' %>
          <%= hidden_field_tag 'page', "1" %>
          <%= hidden_field_tag 'per_page', "#{params[:per_page]}" %>
        <% end %>
        <div class="clearfix"></div>
      <% end %>
      
      <%= form_tag "#", id: 'repository-include-form' do %>
        <ul id="repositories-search-results">
        </ul>
      <% end %>
    </div>

    <div id="tab_new_file" class="tab-pane">
      <%= render "sites/admin/repositories/ajax_upload" %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= link_to_function t("save"), '', id: 'repository-include-link', class: "btn btn-primary" %>
  <a href="#" class="btn" data-dismiss="modal"><%=t('close')%></a>
</div>
