<div class="clearfix"></div>
<%= info_page @repositories %>
<%= paginate @repositories, :remote => true %>

<div class="clear">
  <% @repositories.each do |repository| %>
    <div class="span2">
      <div class="thumbnail">
        <%= weby_file_view(repository, :mini, "100", nil) %>
        <div class="caption">
          <%= repository.description %> <br />
          <%= raw make_menu(repository) %> 
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="clearfix"></div>
<%= per_page_links @repositories, true %>
<%= paginate @repositories, :remote => true %>
