<ul class="attachment_list">
  <% @repositories.each do |p| %>
    <li id="<%= p.id %>" class="attachment_list">
    <% if params[:media] == 'print'%> 
      <div class="thumbs">
        <%= "#{t(".insert")}:" %>
        <br/>
        <%= link_to t("details"), p.archive.url( :original ), :onclick => "select_thumb(this);return false;"%><br/>
        <%= link_to t('cancel'), 'javascript:void(0)', :onclick => "cancel_image();return false;"%>
      </div>
      <%= link_to_function( image_tag( p.archive.url(:mini), :alt => p.description ), "select_image(this)" )%>
    <% else%>
      <%= link_to p.original_file_name, p.original.url, :onclick => "select_thumb(this);return false;"%>&nbsp;&nbsp;&nbsp;
    <% end%>
    </li>
  <% end %>
</ul>

<br style="clear:both;" />
<div style="float:right;margin-bottom:10px;">
  <%= paginate @repositories, :remote => true %>
</div>
