<div class="col-md-12">
  <div class="col-md-12 pull-left"><%= render 'view_picker' %></div>
  <div class="col-md-5 pull-left"><%= info_page @repositories %></div>
  <div class="col-md-7 pull-right"><%= paginate @repositories, :remote => true %></div>
  <div class="clearfix"></div>
</div>

<div class="clear col-md-12">
  <% @repositories.each do |repository| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= weby_file_view(repository, :thumb, 160, nil, target: '_blank') %>
        <div class="caption">
          <p style="overflow: hidden; white-space: nowrap; height: 20px; text-overflow: ellipsis;"><%= repository.description %></p>
          <%= raw make_menu(repository) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="pull-left"><%= per_page_links @repositories, true, :xs %></div>
<div class="pull-right"><%= paginate @repositories, :remote => true %></div>
<div class="clearfix"></div>
