<%= render 'view_picker' %>
<div class="pull-right"><%= paginate @repositories, :remote => true %></div>
<div class="pull-left"><%= info_page @repositories %></div>
<div class="clearfix"></div>

<div class="row">
  <% @repositories.each do |repository| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= weby_file_view(repository, :t, 160, nil, target: '_blank') %>
        <div class="caption">
          <p style="overflow: hidden; white-space: nowrap; height: 20px; text-overflow: ellipsis;"><%= repository.title %></p>
          <% if repository.image? && check_permission(Sites::Admin::RepositoriesController, [:crop]) %>
            <%= link_to icon('scissors', text: t('.crop_image')), crop_site_admin_repository_path(repository), class: 'action-link' %>
          <% end %>
          <%= raw make_menu(repository) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="pull-right"><%= paginate @repositories, :remote => true %></div>
<div class="pull-left"><%= per_page_links @repositories, true, :sm %></div>
<div class="clearfix"></div>
