<script type="text/javascript">
  $(function() {

     $("#repo_list .pagination a,#repo_list a#search_button_repo").click(function(){
        $comp = $(this).parents('#repo_list');
        //alert($comp);
        $comp.css('position', 'relative');
        console.log($comp)
        $comp.prepend($('<div class="loading-cloak"></div>').css({
            position: 'absolute',
            top: 0,
            left: 0,
            height: $comp.outerHeight(),
            width: $comp.outerWidth(),
            textAlign: 'center',
            background: 'rgba(255,255,255,.65) url(/assets/loading.gif) no-repeat center center'
        }));
    });

    // Para realizar a consulta por páginas
    $('#search_button_repo').click(function(e) {
      var search = $('#search_repo').val();
      $.get(this.href, {'template': 'tinymce_link', 'search': search}, null, 'script');
      e.preventDefault();
      return false;
    });

    // Forma um link para o arquivo:
    $(".attachment_list > li").click(function(){
      $('#href').val($(this).data('url'));
    });
  });
</script>
<div id="tinyMCE_search_area_repo">
  <%= text_field_tag 'search_repo', params[:search], placeholder: t('search') + " " + t(".archive"), onkeypress: "return enter_to_click(event,'search_button_repo');" %>
  <%= link_to t('search'), site_admin_repositories_path, remote: true, id: 'search_button_repo' %>
</div>
<br/>
<% if @repositories.empty? %>
  <div class="alert">
    <%= t(".none_file") %>
  </div>
<% else %>
  <ul class="attachment_list">
    <% @repositories.each do |repository| %>
      <li id="<%= repository.id %>" class="attachment_list" data-url="<%=repository.archive.url(:original, false)%>">
        <%=   weby_file_view(
                repository,
                :mini,
                32,
                32,
                as: 'image'
              ) %>

        <div><%=repository.description%></div>
      </li>
    <% end %>
  </ul>

  <div style="clear: both;float:right;">
    <%= paginate @repositories, remote: true, page_links: true %>
  </div>
  <div style="clear:both;"> </div>
<% end %>
