<script type="text/javascript">
  $(function() {

     $("#dynamic_images_list .pagination a,#dynamic_images_list a#search_button").click(function(){
        $comp = $(this).parents('#dynamic_images_list');
        //alert($comp);
        $comp.css('position', 'relative');
        console.log($comp)
        $comp.prepend($('<div class="loading-cloak"></div>').css({
            position: 'absolute',
            top: 0,
            left: 0,
            height: $comp.outerHeight(),
            width: $comp.outerWidth(),
            textAlign: 'center',
            background: 'rgba(255,255,255,.65) url(/assets/loading.gif) no-repeat center center'
        }));
    });

    // Para realizar a consulta por páginas
    $('#search_button').click(function(e) {
      var search = $('#search').val();
      console.log(search);
      $.get(this.href, {'template': 'tinymce', 'search': search}, null, 'script');
      e.preventDefault();
      return false;
    });
  });
</script>
<div id="tinyMCE_search_area">
  <%= text_field_tag 'search', params[:search], placeholder: t('search') + " " + t('.image'), onkeypress: "return enter_to_click(event,'search_button');" %>
  <%= link_to t('search'), site_admin_repositories_path(mime_type: params[:mime_type]), remote: true, id: 'search_button' %>
</div>
<br/>
<% if @repositories.empty? %>
  <div class="alert">
    <%= t(".none_file") %>
  </div>
<% else %>
  <ul class="attachment_list">
    <% @repositories.each do |repository| %>
      <li id="<%= repository.id %>" class="attachment_list">
        <%= link_to(
              image_tag(
                repository.archive.url(:mini),
                :alt => repository.description,
                :width => '64px',
                :height => '64px'
              ),
              repository.archive.url( :original ),
              :title => repository.description,
              :onclick => "select_thumb(this); return false;" ) %>
      </li>
    <% end %>
  </ul>

  <div style="clear: both;float: right;">
    <%= paginate @repositories, remote: true, page_links: true %>
  </div>
  <div style="clear:both;"> </div>
<% end %>