<% title ".archives" %>
<% breadcrumb :repositories_edit, @repository %>
<%= simple_form_for [:site_admin, @repository], :html => { class: 'form-horizontal'} do |f| %>
  <%= f.show_errors %>
 
  <%= f.input :archive, :as => :file %>
  <%= f.input :description,  :hint => (t(".field_required") + " " + t(".accessibility_needs"))%>
  <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden %>

  <%  if @repository.image? %>
    <img id="img-crop" data-src="<%= @repository.archive_url %>"/>
    <input type="hidden" name="x" value="" />
    <input type="hidden" name="y" value="" />
    <div id="crop-dimensions">
      <span><%= t('.height') %></span>
      <input style="width: 50px;" type="text" name="h" value="" />
      <span><%= t('.width') %></span>
      <input style="width: 50px;" type="text" name="w" value="" />   
    </div>
  <% end  %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>

<% content_for :javascripts, javascript_include_tag('imgAreaSelect/jquery.imgareaselect') %>
<% content_for :stylesheets, stylesheet_link_tag('imgAreaSelect/imgareaselect-default') %>
<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#img-crop').load(function(){
      $(this).imgAreaSelect({ fadeSpeed: 400, handles: true,
       imageHeight: this.naturalHeight, imageWidth: this.naturalWidth,
        onSelectChange: function ( image, selection ) {
            $('input[name=x]').val(selection.x1);
            $('input[name=y]').val(selection.y1);
            $('input[name=w]').val(selection.width);
            $('input[name=h]').val(selection.height);
        }
       })
      });
      $('#img-crop').attr('src', $('#img-crop').data('src'))
    });
  </script>
<% end %>
