<% title ".archives" %>
<% breadcrumb :repositories_edit, @repository %>
<%= simple_form_for [:site_admin, @repository], wrapper: :devise_input do |f| %>
  <%= f.show_errors %>

  <div class="row">
    <div class="col-md-3">
      <div class="img-edit-preview">
        <%= weby_file_view(@repository, :o, nil, nil, target: '_blank') %>
      </div>
      <% if @repository.image? && check_permission(Sites::Admin::RepositoriesController, [:crop]) %>
        <%= link_to icon('scissors', text: t('.crop_image')), crop_site_admin_repository_path(@repository), class: 'btn btn-default btn-sm' %>
      <% end %>
    </div>
    <div class="col-md-7">
      <%= f.input :archive, :as => :file %>
      <%= f.input :title, required: true %>
      <%= f.input :legend %>
      <%= f.input :description,  :hint => (t(".field_required") + " " + t(".repo_description_hint")) %>
      <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>
