<%- title 'archive.other' %>

<div class="span9">
  <div class="well">
    <div class="pull-left">
      <%= form_tag request.path, method: 'get', autocapitalize: "off", class: 'search pull-right' do %>
        <%= content_tag :div, class: 'input-append' do %>
          <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t("search"),
            class: 'btn btn-large btn-primary btn-search' %><%= select_tag "mime_type[]",
              grouped_options_for_select(load_mime_types(@site)), include_blank: true, style: 'height:
              37px;', class: 'add-on'  %>
        <% end %>
      <% end %>
    </div>
    <div class="pull-right">
      <%= link_to t('new_param.masc', param: t('archive.one')),
        new_site_admin_repository_path,
        class: "btn btn-success btn-large" %>
    </div>
    <div class="clearfix"></div>

    <div id="repo_list">
      <%= render :partial => 'repositories_as_boxes' %>
    </div>
  </div>
</div>
