<% content_for :javascripts, javascript_include_tag('repositories') %>
<div class="pull-right">
  <%= link_to t(".new_archive"),
    new_site_admin_repository_path,
    class: "btn btn-success" %>
</div>
<div class="pull-left">
  <%= form_tag site_admin_repositories_path, method: 'get', autocapitalize: "off", class: 'search pull-right' do %>
    <%= content_tag :div, class: 'input-append' do %>
      <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t(".search"),
        class: 'btn btn-info btn-search' %>
    <% end %>
    <%= select_tag "mime_type[]",
      grouped_options_for_select(load_mime_types(current_site), params[:mime_type]),
      include_blank: false,
      style: 'vertical-align: top;',
      class: 'select2 search-filter input-xlarge',
      multiple: true %>
  <% end %>
</div>
<div class="clearfix"></div>

<% if @repositories.empty? %>
  <div class="alert">
    <%= t(".none_archive") %>
  </div>
<% else %>
  <div id="repo_list">
    <%= render :partial => repository_partial %>
  </div>
<% end %>
