<% title "recycle_bin" %>
<% breadcrumb :repositories_recycle_bin %>
<% content_for :javascripts, javascript_include_tag('repositories.index') %>
<div class="pull-right">
  <% with_permission(action: :new) do %>
    <%= link_to t(".new_archive"),
      new_site_admin_repository_path,
      class: "btn btn-success" %>
  <% end %>
  <% with_permission(action: :index) do %>
    <%= link_to t(".archives"), site_admin_repositories_path, class: "btn btn-default" %>
  <% end %>
  <% with_permission(action: :destroy) do %>
    <%= link_to t("empty_bin"), empty_bin_site_admin_repositories_path, class: "btn btn-default btn-danger #{'disabled' if @repositories.empty?}", method: :delete, disabled: @repositories.empty?, data: {confirm: t('confirm_empty_bin')} %>
  <% end %>
</div>
<div class="clearfix"></div>

<% if @repositories.empty? %>
  <div style="margin-top: 10px;" class="alert alert-warning">
    <%= t("empty_recycle_bin") %>
  </div>
<% else %>
  <div id="repo_list">
    <div class="pull-left"> <%= info_page @repositories %> </div>
    <div class="pull-right"> <%= paginate @repositories, remote: true %> </div>
    <div class="clearfix"></div>

    <table class="table table-striped table-condensed align-middle">
        <thead>
            <th><%= sortable 'archive_file_name', t(".archive") %></th>
            <th><%= sortable 'title', t(".title") %></th>
            <th><%= sortable 'description', t(".description") %></th>
            <th><%= sortable 'archive_content_type', t(".type") %></th>
            <th><%= sortable 'deleted_at', t(".deleted_at") %></th>
            <th></th>
          </thead>
        <tbody>
          <% @repositories.each do |repository| %>
              <tr>
              <td> <%= weby_file_view(repository, :t, "64", "64", as: :image, title: repository.archive_file_name) %> </td>
              <td> <%= repository.title %> </td>
              <td> <%= repository.description %> </td>
              <td> <%= repository.archive_content_type %> </td>
              <td> <%= l(repository.deleted_at, :format => :short) %> </td>
              <td class="text-right">
                <%= render_dropdown_menu do %>
                  <%= recycle_bin_actions repository, with_text: true %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <div class="pull-left"> <%= per_page_links @repositories, true, :i  %> </div>
        <div class="pull-right"> <%= paginate @repositories, remote: true %> </div>
        <div class="clearfix"></div>
  </div>
<% end %>
