<% title ".archives" %>
<% breadcrumb :repositories_show, @repository %>
<p><%= weby_file_view(@repository, :o, nil, nil, target: '_blank') %>  </p>
<p><b><%= t(".name") %>:</b> <%= @repository.archive_file_name %> </p>
<p><b><%= t(".size") %>:</b> <%= number_to_human_size(@repository.archive_file_size) %> </p>
<p><b><%= t(".type") %>:</b> <%= @repository.archive_content_type %> </p>
<p><b><%= t(".title") %>:</b> <%= @repository.title %> </p>
<p><b><%= t(".legend") %>:</b> <%= @repository.legend %> </p>
<p><b><%= t(".archive_description") %>:</b> <%= @repository.description %> </p>
<p><b><%= t(".archive_fingerprint") %>:</b> <%= @repository.archive_fingerprint %> </p>
<p>
  <b id="toppathwrap"><%= t(".file_link") %>: </b>
  <span id="link"><%= @repository.archive.url(:o, false) %></span>
  <button class="btn btn-default btn-sm" data-clipboard-target='link' id='d_clip_button' data-copied-hint="<%= t(".copied")%>" tittle="<%= t(".copy_to_clipboard") %>"><%= t(".copy")%></button>
</p>     

<div class="form-actions">
  <%= make_menu(@repository, :except => "show") %>
  <%= link_to icon('list', text: t("list_all")), site_admin_repositories_path() %>
  <%= link_to icon('chevron-left', text:t("back")), :back %>
</div>
<% content_for :javascripts, javascript_include_tag('zeroclipboard') %>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      var clip = new ZeroClipboard($("#d_clip_button"))
      clip.on ('complete', function(){
        $("#d_clip_button").text(<%= "'#{t('.copied')}'".html_safe %>).addClass("disabled");
      } );
    });
 </script>
<% end %>

