<%- title 'file.other' %>

<div class="span9">
  <div class="well">
	<p> <%= weby_file_view(@repository, :original) %>  </p>	
  <p> <b><%= t("name") %>:</b> <%= @repository.archive_file_name %> </p>
  <p> <b><%= t("size") %>:</b> <%= @repository.archive_file_size %> </p>
  <p> <b><%= t("type") %>:</b> <%= @repository.archive_content_type %> </p>
  <p> <b><%= t("archive_description") %>:</b> <%= @repository.description %> </p>
	<p> <b><%= t("file_link") %>:</b> <%= @repository.archive.url(:original) %>  </p>	

  <%= make_menu(@repository, :except => "show") %> 
  <%= link_to icon('list', text: t("list_all.masc")), site_admin_repositories_path() %> 
  <%= link_to icon('chevron-left', text:t("back")), :back %>
</div>
</div>