<section class="banner_list_component <%= component.orientation %>">
  <% @banners = current_site.banners.published.tagged_with(component.category) %>
  <% @banners.each do |banner| %>
    <% banner_url = banner.page_id ? site_page_path(banner.page_id) : banner.url %>
    <div class="banner">
    <% if not banner.repository.nil? %>
      <figure class="banner_image">
        <% format = banner.size ? banner.size : format_for_custom(banner.width, banner.height) %>
        <%= weby_file_view(banner.repository,
                           format,
                           "#{banner.width}",
                           "#{banner.height}",
                           {
                              as: 'link',
                              alt: banner.text,
                              title: banner.text,
                              url: banner_url,
                              target: (banner.new_tab ? '_blank' : '')
                           }) %>
      </figure>
    <% else %>
      <div class="banner_text" style="<%= "width:#{banner.width}px;" if banner.width %>">
        <h2><%= "#{banner.title}" %></h2>
        <a href="<%= "#{banner_url}" %>" target="<%= banner.new_tab ? "_blank":"" %>"><p><%= "#{banner.text}" %></p></a>
      </div>
    <% end %>
    <% if check_permission(Sites::Admin::BannersController, ["toggle_field"]) %>
      <span class="unpublish"><%= link_to t("unpublish"), toggle_field_site_admin_banner_path(banner, field: 'publish'), method: :put %></span>
    <% end %>
    </div>
  <% end %>
  <div class="clear clearfix"> </div>
</section>
