<tr id="<%= page.id %>">
  <td><%= l(page.created_at, :format => :short) %></td>
  <td>
    <%= title_with_flags(page) %>
  </td>
  <td><%= page.author.first_name %></td>
  <td><%= page.category_list * ', ' %></td>
  <td><%= t"#{page.type.downcase}.one" %></td>
  <% with_permission(action: :toggle_field) do %>
    <td align="center" class="front">
      <%= raw toggle_field(page, "front") %></td>
    <td align="center" class="publish">
      <%= publication_status(page) %></td>
    <td><%= make_menu(page, :except => "show") %></td>
  <% end %>
</tr>
