<h1>Editing noticia</h1>

<% form_for(@noticia) do |f| %>
  <%= f.error_messages %>
<p>
    <%= f.label :dt_cadastro, t:date, :param => t("registration") %><br />
    <%= f.date_select :dt_cadastro %>
  </p>
  <p>
    <%= f.label :dt_publica, t:date, :param => t(":publication") %><br />
    <%= f.date_select :dt_publica %>
  </p>
  <p>
    <%= f.label :dt_inicio, t:date, :param => t("begin") %><br />
    <%= f.date_select :dt_inicio %>
  </p>
  <p>
    <%= f.label :dt_fim, t:data, :param => t("end") %><br />
    <%= f.date_select :dt_fim %>
  </p>
  <p>
    <%= f.label :imagem, t:picture %><br />
    <%= f.text_field :imagem %>
  </p>
  <p>
    <%= f.label :posicao, t:position %><br />
    <%= f.text_field :posicao %>
    </p>
    <p>
    <%= f.label :status, t:status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :autor, t:author %><br />
  </p>
  <p>
    <%= f.label :editor, t:editor %><br />
    <%= f.text_field :editor %>
  </p>
  <p>
    <%= f.label :editor_chefe, t:chief_editor %><br />
    <%= f.text_field :editor_chefe %>
  </p>

  <p>
    <%= f.label :texto, t:text %><br />
    <%= f.text_area :texto %>
  </p>
   <p>
    <%= f.label :url, t:url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :site_id, t:site_id %><br />
    <%= f.text_field :site_id %>
  </p>
  <p>
    <%= f.label :fonte, t:source %><br />
    <%= f.text_field :fonte %>
  </p>
  <p>
    <%= f.label :titulo, t:title %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :texto_imagem, t:picture_text %><br />
    <%= f.text_field :texto_imagem %>
  </p>
  <p>
    <%= f.label :resumo, t:summary %><br />
    <%= f.text_field :resumo %>
  </p>
  <p>
    <%= f.label :pdf, t:pdf %><br />
    <%= f.text_field :pdf %>
  </p>
  <p>
    <%= f.label :capa, t:cover %><br />
    <%= f.text_field :capa %>
  </p>
  <p>
    <%= f.label :time_capa, t:time_cover %><br />
    <%= f.datetime_select :time_capa %>
  </p>
  <p>
    <%= f.submit  %>
  </p>
<% end %>

<%= link_to 'Show', @noticia %> |
<%= link_to 'Back', noticias_path %>
