<h1>Editing noticia</h1>

<% form_for(@noticia) do |f| %>
  <% if @noticia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@noticia.errors.count, "error") %> prohibited this site from being saved:</h2>
      <ul>
      <% @noticia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.date_select :created_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => t("date"), :param => t("register")  %>
  </p>
  <p>
    <%= f.date_select :date_pub, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  t("date"), :param => t("publication")%>
  </p>
  <p>
    <%= f.date_select :date_begin, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  t("date"), :param => t("begin")%>
  </p>
  <p>
    <%= f.date_select :date_end, :order => [:year, :month, :day], :use_month_numbers => true, :label => t("date"), :param => t("end") %>
  </p>
  <p>
    <%= f.text_field :image, :label => t("picture") %>
  </p>
  <p>
    <%= f.text_field :position, :label => t("position")%>
    </p>
    <p>
    <%= f.text_field :status, :label => t("status") %>
  </p>
  <p>
    <%= f.label  t"author" %><br />
  </p>
  <p>
    <%= f.text_field :editor_id, :label => t("editor")%>
  </p>
  <p>
    <%= f.text_field :editor_chief_id, :label => t("chief_editor")%>
  </p>
  <p>
    <%= f.text_area :text, :label => t("text")%>
  </p>
   <p>
    <%= f.text_field :url, :label => t("url")%>
  </p>
  <p>
    <%= f.text_field :source, :label => t("source")%>
  </p>
  <p>
    <%= f.text_field :title, :label => t("title")%>
  </p>
  <p>
    <%= f.text_field :text_image, :label => %>
  </p>
  <p>
    <%= f.text_field :summary, :label => t("picture_text")%>
  </p>
  <p>
    <%= f.text_field :pdf, :label => t("pdf")%>
  </p>
  <p>
    <%= f.text_field :front, :label => (t"cover")%>
  </p>
  <p>
    <%= f.datetime_select :front_time, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  t("time_cover")%>
  </p>
  <p>
    <%= f.submit  t("send")%>
  </p>
<% end %>

<%= link_to t("show"), @noticia %> <%= link_to t("back") %>
