<h1>Listando notícias</h1>

<table list='class'>
  <thead>
    <th>Titulo</th>
    <th>Capa</th>
    <th>Status</th>
    <th>Autor</th>
    <th>Data de cadastro</th>
  </thead>
  <tbody>
  <% @noticias.each do |noticia| %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <td><%=h noticia.titulo %></td>
      <td><%=h noticia.capa %></td>
      <td><%=h noticia.status %></td>
      <td><%=h noticia.user.login %></td>
      <td><%=h noticia.created_at %></td>

      <td><%= link_to 'Show', noticia %></td>
      <td><%= link_to 'Edit', edit_noticia_path(noticia) %></td>
      <td><%= link_to 'Destroy', noticia, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end; reset_cycle %>
  </tbody>
</table>

<%= link_to "Criar Notícia", new_pagina_path(:type => "Noticia") %>
