<fieldset>
  <legend><%= t"listing", :param => (t"news", :count => 2 )%></legend>

  <table class='list'>
    <thead>
      <th><%= t"title" %></th>
      <th><%= t"cover" %></th>
      <th><%= t"status" %></th>
      <th><%= t"author" %></th>
      <th><%= t"date", :param => t("register")%></th>
      <th></th>
    </thead>
    <tbody>
    <% @noticias.each do |noticia| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%=h noticia.title %></td>
        <td><%=h noticia.front %></td>
        <td><%=h noticia.status %></td>
        <td><%=h noticia.author_id %></td>
        <td><%=h noticia.created_at %></td>
        <td>
          <% if params[:site_id] %>
            <%= link_to t("show"), :controller => 'noticias', :action => 'show', :id => noticia %>
            <%= link_to t("edit"), :controller => 'noticias', :action => 'edit', :id => noticia %>
            <%= link_to t("destroy"), {:controller => 'noticias', :action => 'destroy', :id => noticia}, :confirm => t("are_you_sure"), :method => :delete %>
          <% end %>
        </td>
      </tr>
    <% end; reset_cycle %>
    </tbody>
  </table>

  <p> <%= link_to (t"create_param", :param => (t"news", :count => 1)), :controller => 'pages', :action => 'new', :type => "Noticia" %> </p>
</fieldset>
