<p>
  <b>Dt cadastro:</b>
  <%=h @noticia.dt_cadastro %>
</p>

<p>
  <b>Dt publica:</b>
  <%=h @noticia.dt_publica %>
</p>

<p>
  <b>Dt inicio:</b>
  <%=h @noticia.dt_inicio %>
</p>

<p>
  <b>Dt fim:</b>
  <%=h @noticia.dt_fim %>
</p>

<p>
  <b>Imagem:</b>
  <%=h @noticia.imagem %>
</p>

<p>
  <b>Posicao:</b>
  <%=h @noticia.posicao %>
</p>

<p>
  <b>Status:</b>
  <%=h @noticia.status %>
</p>

<p>
  <b>Autor:</b>
  <%=h @noticia.autor %>
</p>

<p>
  <b>Editor:</b>
  <%=h @noticia.editor %>
</p>

<p>
  <b>Editor chefe:</b>
  <%=h @noticia.editor_chefe %>
</p>

<p>
  <b>Texto:</b>
  <%=h @noticia.texto %>
</p>

<p>
  <b>Url:</b>
  <%=h @noticia.url %>
</p>

<p>
  <b>Site:</b>
  <%=h @noticia.site_id %>
</p>

<p>
  <b>Fonte:</b>
  <%=h @noticia.fonte %>
</p>

<p>
  <b>Titulo:</b>
  <%=h @noticia.titulo %>
</p>

<p>
  <b>Texto imagem:</b>
  <%=h @noticia.texto_imagem %>
</p>

<p>
  <b>Resumo:</b>
  <%=h @noticia.resumo %>
</p>

<p>
  <b>Pdf:</b>
  <%=h @noticia.pdf %>
</p>

<p>
  <b>Capa:</b>
  <%=h @noticia.capa %>
</p>

<p>
  <b>Time capa:</b>
  <%=h @noticia.time_capa %>
</p>


<%= link_to 'Edit', edit_noticia_path(@noticia) %> |
<%= link_to 'Back', noticias_path %>