<p>
  <b><%= t"date", :param => t("register") %>:</b>
  <%= @noticia.created_at %>
</p>
<p>
  <b><%= t"date", :param => t("publication")%>:</b>
  <%= @noticia.date_pub %>
</p>
<p>
  <b><%= t"date", :param => t("begin")%>:</b>
  <%= @noticia.date_begin %>
</p>
<p>
  <b><%= t"date", :param => t("end") %>:</b>
  <%= @noticia.date_end %>
</p>
<p>
  <b><%= t"picture" %>:</b>
  <%= @noticia.image %>
</p>
<p>
  <b><%= t"position" %>:</b>
  <%= @noticia.position %>
</p>
<p>
  <b><%= t"status" %>:</b>
  <%= @noticia.status %>
</p>
<p>
  <b><%= t"author" %>:</b>
  <%= @noticia.author_id %>
</p>
<p>
  <b><%= t"editor" %></b>
  <%= @noticia.editor_id %>
</p>
<p>
  <b><%= t"chief_editor" %></b>
  <%= @noticia.editor_chief_id %>
</p>
<p>
  <b><%= t"text" %>:</b>
  <%= @noticia.text %>
</p>
<p>
  <b><%= t"url" %>:</b>
  <%= @noticia.url %>
</p>
<p>
  <b><%= t"site_id" %>:</b>
  <%= @noticia.site_id %>
</p>
<p>
  <b><%= t"title" %>:</b>
  <%= @noticia.title %>
</p>
<p>
  <b><%= t"text_image" %>:</b>
  <%= @noticia.text_image %>
</p>
<p>
  <b><%= t"summary" %>:</b>
  <%= @noticia.summary %>
</p>
<p>
  <b><%= t"pdf" %>:</b>
  <%= @noticia.pdf %>
</p>
<p>
  <b><%= t"front" %>:</b>
  <%= @noticia.front %>
</p>
<p>
  <b><%= t"front_time" %>:</b>
  <%= @noticia.front_time %>
</p>

 <%= link_to t("edit"), {:controller => 'pages', :action => 'edit', :type => 'Noticia'} %> | <%= link_to t("back"), :back %>
