<div id="pages">
  <p> <h1> <%= @noticia.title %> </h1> </p>

  <a href="<%= @noticia.image.url %>" alt="<%= @noticia.text_image %>">
    <img src="<%= @noticia.image.url %>" align="right" width="200" height="200" >
    </img>
  </a>

  <p> <i> <%= @noticia.user.login %>, <%=h @noticia.date_pub %> </i> </p>
  <h2> <p> <%= @noticia.summary %> </p> </h2>
  <h3> <%= raw @noticia.text %> </h3>
  <%= @noticia.url %> </br>
  <%= @noticia.pdf %> </br>

  <%= link_to t("edit"), {:controller => 'pages', :action => 'edit', :id => @noticia.id, :type => 'Noticia'} %> | <%= link_to t("back"), :back %>
</div>
