<p>
  <b><%= t:data, :param => t("registration") %>:</b>
  <%=h @noticia.dt_cadastro %>
</p>

<p>
  <b><%= t:data, :param => t("publication")%>:</b>
  <%=h @noticia.dt_publica %>
</p>

<p>
  <b><%= t:data, :param => t("begin")%>:</b>
  <%=h @noticia.dt_inicio %>
</p>

<p>
  <b><%= t:data, :param => t("end") %>:</b>
  <%=h @noticia.dt_fim %>
</p>

<p>
  <b><%= t:picture %>:</b>
  <%=h @noticia.imagem %>
</p>

<p>
  <b><%= t:position %>:</b>
  <%=h @noticia.posicao %>
</p>

<p>
  <b><%= t:status%>:</b>
  <%=h @noticia.status %>
</p>

<p>
  <b><%= t:author%>:</b>
  <%=h @noticia.autor %>
</p>

<p>
  <b><%= t:editor%></b>
  <%=h @noticia.editor %>
</p>

<p>
  <b><%= t:chief_editor %></b>
  <%=h @noticia.editor_chefe %>
</p>

<p>
  <b><%= t:text %>:</b>
  <%=h @noticia.texto %>
</p>

<p>
  <b><%= t:url %>:</b>
  <%=h @noticia.url %>
</p>

<p>
  <b><%= t:site_id %>:</b>
  <%=h @noticia.site_id %>
</p>

<p>
  <b><%= t:sorce%>:</b>
  <%=h @noticia.fonte %>
</p>

<p>
  <b><%= t:title:</b>
  <%=h @noticia.titulo %>
</p>

<p>
  <b><%= t:text_picture %>:</b>
  <%=h @noticia.texto_imagem %>
</p>

<p>
  <b><%= t:summary%>:</b>
  <%=h @noticia.resumo %>
</p>

<p>
  <b><%= t:pdf %>:</b>
  <%=h @noticia.pdf %>
</p>

<p>
  <b><%= t:capa %>:</b>
  <%=h @noticia.capa %>
</p>

<p>
  <b><%= :time_cover %>:</b>
  <%=h @noticia.time_capa %>
</p>


<%= link_to 'Edit', edit_noticia_path(@noticia) %> |
<%= link_to 'Back', noticias_path %>
