<% content_for :javascripts, javascript_include_tag('jquery.tagcanvas.min') %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
        if(!$('#myCanvas').tagcanvas({
          textColour: <%= "'#{component.color}'".html_safe %>,
          outlineMethod: 'colour',
          outlineColour: <%= "'#{component.hoover_color}'".html_safe %>, 
          textHeight: <%= component.font_size %>,
          reverse: true,
          depth: 0.8,
          maxSpeed: 0.05,
          shape: <%= "'#{component.cloud_type}'".html_safe %>
          <%= ",lock: 'x'".html_safe if ['hcylinder','hring'].include? component.cloud_type %> 
          },'tags')) {
        // something went wrong, hide the canvas container
        $('.tag_cloud').hide();
        }
        });
      </script>
    <% end %>

    <div class="weby_tag_cloud_component">
      <canvas id="myCanvas" style=width:<%= component.width %>px;height:<%= component.height %>px >
        <div id="tags">
          <% unless (tags = component.tags(current_site)).empty? %>
            <% tags.each do |tag| %>
              <li> <%= link_to tag, site_pages_path(tags: tag.to_s) %></li>
            <% end %>
          <% end %>
        </div>
      </canvas>
    </div>


