<% content_for :javascripts, javascript_include_tag('jquery.tagcanvas.min') %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
        if(!$('#myCanvas').tagcanvas({
          textColour: <%= "'#{component.color}'".html_safe %>,
          outlineMethod: <%= "'#{component.hoover_type}'".html_safe %>,
          weight: true,
          weightMode: "size",
          weightFrom: "data-weight",
          outlineColour: <%= "'#{component.hoover_color}'".html_safe %>, 
          textHeight: 15,
          reverse: true,
          depth: 0.8,
          maxSpeed: <%= component.speed.to_f/100 %> ,
          shape: <%= "'#{component.cloud_type}'".html_safe %>
          <%= ",lock: 'x'".html_safe if ['hcylinder','hring'].include? component.cloud_type %> 
          },'tags')) {
        // something went wrong, hide the canvas container
        $('.myCanvas').hide();
        }
        });
      </script>
    <% end %>

    <div class="weby_tag_cloud_component">
      <canvas id="myCanvas" width=<%= component.width %> height=<%= component.height %> >
      </canvas>
        <div id="tags">
          <% unless (tags = component.tags(current_site)).empty? %>
            <% tags.each do |tag| %>
              <li> <%= link_to tag, main_app.site_pages_path(tags: tag.to_s), data: { weight: component.tag_size(tag,current_site)} %></li>
            <% end %>
          <% end %>
        </div>
    </div>


