<div id="profile">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="avatar">
        <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=120&d=mm" class="img-circle">
      </div>
      <div class="info">
        <%= current_user.first_name %><br />
        <span class="last-name"><%= current_user.last_name %></span>
      </div>
      <div class="actions">
        <%= link_to "#{icon('chevron-left', white: true)} #{t("back")}".html_safe, :back, class: "btn btn-block" %>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
      <div class="heading buffer-bottom"><%= t('.notifications') %></div>
      <div id="notifications">
        <div class="pull-left">
          <%= form_tag notifications_path, method: 'get', autocapitalize: "off", class: 'search pull-right' do %>
            <%= content_tag :div, class: 'input-append' do %>
              <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t("search"), class: 'btn btn-info btn-search' %>
            <% end %>
          <% end %>
        </div>

        <div class="pull-right">
          <%= link_to t(".mark_all_notifications_as_read"), mark_as_read_notifications_path, method: :post, class: "btn btn-primary" if current_user.unread_notifications_array.any? %>
        </div>

        <div class="clearfix"></div>
        <div id="list">
          <%= render 'list' %>
        </div>
      </div>
    </div>
  </div>
</div>


