  <div id="repo_new" >
    <div class="contextual">
      <%= link_to (t"new_param.masc", :param => (t"archive.one")), new_site_repository_path,
        :remote => true,
        :onclick => "$('#page').toggle();",
        :class => 'icon icon-add' %>
    </div>
    <div id="page" style="display:none"> </div>
  </div>

  <div id='repo_list'>
    <%= render :partial => 'repositories/repo', :locals => {:obj => @banner, :field => :repository_id, :collection => @images} %>
  </div>

  <% repo_styles = Repository.attachment_definitions[:archive][:styles] %>
  <% unless repo_styles.nil? %>
    <%= f.input :size, 
      :label => t('size'),
      :collection => repo_styles,
      :collection_wrapper_tag => "div class='radio-group'",
      :label_method => lambda { |u| "#{t(u[0])} #{u[1]}" }, 
      :value_method => lambda { |u| u[0] },
      :as => :radio %>
  <% end %>

  <%= f.input :width, :label => t("width"), :input_html => {:size => 5} %>
  <%= f.input :height, :label => t("height"), :input_html => {:size => 5} %>
  <%= f.input :date_begin_at, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  (t"date_param", :param => t("begin")), :as => :datetime %>
  <%= f.input :date_end_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date_param", :param => t("end")), :default => 1.month.from_now, :as => :datetime %>
  <%= f.input :title, :label => t("title"), :hint => t("field_required") %>
  <%= f.input :text, :label => t("text"), :input_html => {:size => "44x6"}, :hint => t("field_required"), :as => :text %>
  <%= f.input :url, :label => t("url"), :hint => t("field_required"), :as => :url %>
  <%= f.input :category, :collection => @site.banner_categories, :label => t("category"), :add => ["categoria", "#banner_category"] %>
  <%= f.input :publish, :label => t("publish"), :hint => t("publish_help"), :as => :boolean %>
  <%= f.input :hide, :label => t("hide"), :hint => t("hide_help"), :as => :boolean %>
  <%= f.input :user_id, :input_html => {:value => "#{@current_user.id}"}, :as => :hidden %>
