  <%= link_to t('back'), :back %>

  <div id="repo_new" >
    <div class="contextual">
      <%= link_to (t"new_param.masc", :param => (t"archive.one")), new_site_repository_path(),
        :remote => true,
        :onclick => "$('#page').toggle();",
        :class => 'icon icon-add' %>
    </div>
    <div id="page" style="display:none">
    </div>
  </div>

  <div id='repo_list'>
    <%= render :partial => 'pages/repo_list', :locals => { :f => f } %>
  </div>

  <% repo_styles = Repository.attachment_definitions[:archive][:styles] %>
  <% unless repo_styles.nil? %>
    <%= f.radio_button_group :size, repo_styles.map{|u| { :value => u[0], :label => "#{t(u[0])} #{u[1]}"}}, "", :label => t("size"), :help => t("size") %>
  <% end %>

  <%= f.text_field :width, :label => t("width"), :size => 5 %>
  <%= f.text_field :height, :label => t("height"), :size => 5 %>
  <%= f.datetime_select :date_begin_at, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  (t"date_param", :param => t("begin")) %>
  <%= f.datetime_select :date_end_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date_param", :param => t("end")), :default => 1.month.from_now %>
  <%= f.text_field :title, :label => t("title"), :required => true, :help => t("field_required") %>
  <%= f.text_area :text, :label => t("text"), :size => "44x6", :required => true, :help => t("field_required") %>
  <%= f.text_field :url, :label => t("url"), :required => true, :help => t("field_required") %>
  <%= f.check_box :publish, :label => t("publish"), :help => t("publish_help") %>
  <%= f.check_box :hide, :label => t("hide"), :help => t("hide_help") %>
  <%= f.hidden_field :user_id, :value => "#{@current_user.id}"%>
