<%= render 'repositories/search_and_new_file' %>

<%= simple_form_for [@site, @banner], :html => { :multipart => true } do |f| %>
  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@banner.errors.count,"") %>
        <%= t"prohibited_being_saved", :count => @banner.errors.count %>:
      </h2>
      <ul>
        <% @banner.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id='repo_list' >
    <%= render 'repositories/repo',
      :obj => @banner,
      :field => :repository_id,
      :collection => @images %>
  </div>

  <div class="checkbox-button-set">
    <% repo_styles = Repository.attachment_definitions[:archive][:styles] %>
    <% unless repo_styles.nil? %>
      <%= f.input :size, 
        label: t('size'),
        collection: repo_styles,
        label_method: lambda { |u| "#{u[1]}" }, 
        value_method: lambda { |u| "#{u[0]}" },
        as: :radio%>
    <% end %>
  </div>

  <%= f.input :width, :label => t("width"), :input_html => {:size => 3} %> 
  <%= f.input :height, :label => t("height"), :input_html => {:size => 3} %>

  <div class="tabs">
    <%= f.input :title, label: t("title"),
      placeholder: t("title"),
      input_html: {class: "title_input"} %>

    <%= f.input :text, label: t("text"),
      input_html: {class: "mceSimple", :size => "70x5"},
      as: :text %>
  </div>

  <div class="period-dates left">
    <label><%= t("period_banner") %> </label>
    <div class="period-dates-inputs">
      <%= f.input :date_begin_at, as: :string,
        placeholder: t("begin"),
        wrapper_html: {class: "period-date period-date-left"},
        input_html: {class: "datetimepicker"} %>

      <%= f.input :date_end_at, as: :string,
        placeholder: t("publication_infinite"),
        wrapper_html: {class: "period-date period-date-right"},
        input_html: {class: "datetimepicker"} %>
    </div>
  </div>

  <%= f.input :category_list, :label => t('categories'), :hint => t('page_categories_help') %>

  <div class="link-field">
    <label for="div_event"><%= t"type" %></label>
    <div id="link_form_pages">
      <% set_params_type_value %>
      <%= links_to_banner_type(params[:type], action ||='new') %>
    </div>
  </div>

  <div id="div_link">
    <%= render :partial => 'formPages', :locals => {:f => f} %>
  </div>

  <div class="right">
    <%= f.input :publish , :label => t("publish"),
      wrapper_html: { class: "left no-clearfix" },
      as: :boolean, input_html: { class: "check-button" } %>
    <%= f.input :hide , label: t("hide"), 
      wrapper_html: { class: "right no-clearfix" },
      as: :boolean, input_html: { class: "check-button" } %>
  </div>
  <%= f.input :user_id, :input_html => {:value => "#{@current_user.id}"}, :as => :hidden %>
  <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden %>


  <div class="actions">
    <%= f.submit t("#{save}"),disable_with: t("saving"),class: "green-button" %> 
    <%= link_to t('back'), :back, class: "red-button" %>
  </div>
<% end %>

<%= content_for :stylesheets, stylesheet_link_tag("form_with_title") %>
