<fieldset>
  <legend><%= t"edit" %> <%= (t"banner.one") %></legend>
  
  <center>
    <%= form_tag edit_site_banner_path(@site), :method => 'get', :remote => true do %>
      <%= label_tag t("search") %>
      <%= text_field_tag :image_search %>
      <%= submit_tag t("submit") %>
    <% end %>
  </center>
  <hr>

  <%= simple_form_for [@site, @banner], :html => { :multipart => true } do |f| %>
    <% if @banner.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@banner.errors.count,"") %><%= t"prohibited_being_saved", :count => @banner.errors.count %>:</h2>
        <ul>
        <% @banner.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <%= render :partial => 'form', :locals => {:f => f} %>

    <%= f.submit t"save" %> <%= link_to t('back'), :back %>
  <% end %>
</fieldset>
