<fieldset>
  <legend><%= t"banner.other"  %></legend>

  <div class="contextual">
    <%= link_to (t"new_param.masc", :param => (t"banner.one")), new_site_banner_path, :class => 'icon icon-add' %>
  </div>
  
  <center>
    <%= form_tag request.path, method: 'get', autocapitalize: "off" do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag t("search"), class: "search-button" %>
    <% end %>
  </center>
  
  <div id="list">
    <%= render :partial => "list" %>
  </div>
</fieldset>
