<fieldset>
  <legend><%= t"banner.other"  %></legend>

  <div class="contextual">
    <p> <%= link_to (t"new_param.masc", :param => (t"banner.one")), new_site_banner_path, :class => 'icon icon-add' %> </p>
  </div>
  
  <center>
    <%= form_tag request.path, :method => 'get', :remote => true do %>
      <%= text_field_tag :search %>
      <%= submit_tag t("search") %>
    <% end %>
  </center>

  <div id="list">
    <%= render :partial => "list" %>
  </div>
</fieldset>
