<fieldset>
  <legend><%= t"list_param", :param => (t"banner", :count => 2)  %></legend>

  <div class="contextual">
    <p> 
      <%= link_to (t"create_param", :param => (t"banner", :count => 1)), new_site_banner_path, :class => 'icon icon-add' %> 
    </p>
  </div>

  <% unless @banners.empty? %>
    <table class='list'>
      <thead>
        <th><%= "id" %></th>
        <th><%= t"date_param", :param => t("register")%></th>
        <th><%= t"date_param", :param => t("publication")%></th>
        <th><%= t"title" %></th>
        <th><%= t"author" %></th>
        <th><%= t"publish" %></th>
        <th></th>
      </thead>
      <tbody>
      <% @banners.each do |banner| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%= banner.id %></td>
          <td><%= banner.date_begin_at %></td>
          <td><%= banner.date_end_at %></td>
          <td><%= banner.title %></td>
          <td><%= banner.user.login %></td>
          <td align="center">
            <% if (banner.date_begin_at <= Time.now and banner.date_end_at > Time.now) %>
              <%= raw toggle_field(banner, "publish") %>
            <% end %>
          </td>
          <td>
            <%= link_to t('show'), site_banner_path(@site, banner) %>
            <%= link_to t('edit'), edit_site_banner_path(@site, banner) %>
            <%= link_to t('destroy'), site_banner_path(@site, banner), :confirm => t('are_you_sure'), :method => :delete %>
          </td>
        </tr>
      <% end; reset_cycle %>
      </tbody>
    </table>
  <% end %>
</fieldset>
