<fieldset>
  <% unless @banner.repository.nil? %>
    <%= link_to image_tag("#{@banner.repository.archive.url}", :width => "#{@banner.width}", :height => "#{@banner.height}", :align => "right"), @banner.url, :alt => @banner.repository.description, :title => @banner.repository.description %>
  <% end %>

  <p> <h1> <%= t("banner", :count => 1) %> </h1> </p>
  <i><%= l @banner.created_at, :format => :short %></i>
  <p> <h3> <%=h @banner.url %> </h3> </p>

  <%= link_to t("edit"), edit_site_banner_path(@site, @banner) %> | <%= link_to t("list"), site_banners_path(@site) %> | <%= link_to t("back"), :back %>
</fieldset>
