<%= simple_form_for [@site, @group] do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count,"") %> <%= t"prohibited_being_saved", :count => @group.errors.count%>:</h2>
      <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, :label => t("name"), :hint => t("field_required") %>

  <% unless @users.nil? %>
    <div class="collection_check_boxes">
      <label for="users_id_"><%= t "user.other" %>:</label>
      <div class="check_boxes">
        <% @users.each do |user| %>
          <%= check_box_tag 'group[user_ids][]', user.id, @group.user_ids.include?(user.id) %>
          <%= user.login %>
          <br/>
        <% end %>
        <%= hidden_field_tag 'group[user_ids][]', '' %>
      </div>
    </div>
  <% end %>

  <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden %>

  <div class="actions">
    <%= f.submit t("save"), class: "green-button" %> <%= link_to t('back'), :back, class: "red-button" %>
  </div>

<% end %>
