<% #TODO colocar traduções %>
<%= form_for @group, :builder => SemanticFormBuilder do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, :label => t("name") %>

  <div class="select-field">
    <label for="users_id_">Usuários</label>
    <div class="input">
      <%= select_tag "users_ids[]",
          options_for_select(@users.collect{|u| [u.login, u.id]}),
          :multiple => true,
          :size => 7,
          :style => "width: 205px" %>
    </div>
  </div>

  <%= f.hidden_field :site_id, :value => @site.id %>

  <%= f.submit t("create") %>

<% end %>
