<%= form_for @group, :builder => SemanticFormBuilder do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, :label => t("name") %>

  <%=  f.hidden_field :site_id, :value => @site.id %>

  <%= f.submit t("create") %>

<% end %>
