<%= form_for [@site, @group], :builder => SemanticFormBuilder do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count,"") %> <%= t"prohibited_being_saved", :count => @group.errors.count%>:</h2>
      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, :label => t("name"), :required => true, :help => t("field_required") %>

  <div class="select-field">
    <label for="users_id_"><%= t "user", :count => 2 %>:</label>
    <div class="input" style="margin-left: 20%; padding-left: 10px">
      <% @users.each do |user| %>
				<%= check_box_tag 'group[user_ids][]', user.id, @group.user_ids.include?(user.id) %>
				<%= user.login %>
				<br/>
      <% end %>

			<%= hidden_field_tag 'group[user_ids][]', '' %>

    </div>
  </div>

  <%= f.hidden_field :site_id, :value => @site.id %>

  <%= f.submit t("submit") %>

<% end %>
