<%= paginate @groups, :remote => true %>
<%= info_page @groups %>
<table class='list'>
  <thead>
    <th><%= sortable 'name', t('name') %></th>
    <th></th>
  </thead>
  <tbody>
  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, site_group_path(@site, group) %></td>
      <td>
        <%= raw make_menu(group) %> 
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @groups, :remote => true %>
<%= per_page_links @groups %>
