<%= paginate @groups %>
<%= per_page_links @groups %>
<table class='list'>
  <thead>
    <th><%= sortable 'name', t('name') %></th>
    <th></th>
  </thead>
  <tbody>
  <% @groups.each do |group| %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <td><%= link_to group.name, site_group_path(@site, group) %></td>
      <td>
        <%= raw make_menu(group) %> 
      </td>
    </tr>
  <% end; reset_cycle %>
  </tbody>
</table>
<%= paginate @groups %>
<%= per_page_links @groups %>
