<fieldset>
  <legend><%= t 'listing', :param => t('group', :count => 2) %></legend>

  <div class="contextual">
    <p> 
      <%= link_to (t"new_param", :param => (t"group", :count => 1)), new_site_group_path, :class => 'icon icon-add' %>
    </p>
  </div>

  <table class='list'>
    <thead>
      <th><%= t'name' %></th>
      <th></th>
    </thead>
    <tbody>
    <% @groups.each do |group| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= link_to group.name, site_group_path(@site, group) %></td>
        <td>
          <%= link_to t('edit'), edit_site_group_path(@site, group) %>
          <%= link_to t('destroy'), site_group_path(@site, group), :confirm => t('are_you_sure'), :method => :delete %>
        </td>
      </tr>
    <% end; reset_cycle %>
    </tbody>
  </table>
</fieldset>
