<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Usuários:</b>
  <ul>
    <% @group.users.each do |user| %>
      <li><%= user.login %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_site_group_path(@site.id, @group) %> |
<%= link_to 'Back', site_groups_path %>
