<% unless @site.users.empty? %>
<table class="list">

  <thead>
    <tr>
      <th><%= t "enroled_user" %></th>
      <th style="width: 40%">Papel</th>
      <th style="width: 15%"></th>
    </tr>
  </thead>

  <tbody>
    <% @site.users.uniq.each do |user| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= link_to user.login, user %></td>

        <td>
          <span id="user_<%= user.id %>">
            <%= user.roles.map(&:name).join(', ') %>
          </span>

          <div id="role_form_<%= user.id %>">
            <% if @user and @user.id == user.id %>
              <%= render 'role_form' %>
            <% end %>
          </div>
          
        </td>

        <td>
          <%= link_to "editar",
                      { :action => 'manage_roles', :user_id => user.id },
                      :remote => 'true',
                      :class => 'role_edit icon icon-edit',
                      :user_id => user.id %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
<% else %>
  <h2>Nenhum usuário cadastrado</h2>
<% end %>
