<% unless @site.users.empty? %>
<table class="list">

  <thead>
    <tr>
      <th>Usuário</th>
      <th style="width: 40%">Papel</th>
      <th style="width: 15%"></th>
    </tr>
  </thead>

  <tbody>
    <% @site.users.uniq.each do |user| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= link_to user.login, user %></td>

        <td>
          <span id="user-<%= user.id %>">
            <%= user.roles.map(&:name).join(', ') %>
          </span>
          
					<%= form_tag change_roles_site_users_path(@site), :method => "post",
												:id => "form-user-#{user.id}", :remote => 'true', :update => 'enroled' %>
					<%= hidden_field_tag 'user[id]', user.id %>
            <p>
              <% @roles.each do |role| %>
                <label>
                  <%= check_box_tag 'role_ids[]', role.id, user.roles.include?(role) %>
                  <%= role.name %>
                </label>
                <br />
              <% end %>
            </p>
            <%= submit_tag 'Enviar' %>
						<%= link_to_function t('cancel'), "$('#user-#{user.id}').show(); $('#form-user-#{user.id}').hide(); return false;" %>
          </form>
        </td>

        <td><%= link_to_function t('edit'), "$('#user-#{user.id}').hide(); $('#form-user-#{user.id}').show(); return false;" %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<% else %>
	<h2>Nenhum usuário cadastrado</h2>
<% end %>

<%# TODO remover essa função daqui %>
<%= javascript_tag "window.onload = function() { $('form[id^=\"form-user\"]').each(function (e){ $(this).hide(); }) }" %>
