  <%= paginate @users, :remote => true %>
  <%= info_page @users %>
  <table class="list">
    <thead>
      <tr>
        <th><%= sortable 'login', t("user", :count => 1) %></th>
        <th><%= sortable 'email', t("email") %></th>
        <th><%= t"active" %></th>
        <th><%= t"is_admin" %></th>
        <% if check_permission(UsersController, :change_roles) %>
          <th><%= t"role.other" %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%=h user.login %></td>
          <td><%=h user.email %></td>
          <td align="center"><%= raw toggle_field(user, 'status') %></td>
          <td align="center"><%= raw toggle_field(user, 'is_admin') %></td>
          <% if check_permission(UsersController, :change_roles) %>
            <td><%= link_to 'gerenciar papeis', {:controller => 'users', :action => 'manage_roles', :user => user.id} %></td>
          <% end %>
          <td>
            <%= raw make_menu(user) %> 
          </td>
        </tr>
        <% end; reset_cycle %>
      </tbody>
    </table>
  <%= paginate @users, :remote => true %>
  <%= per_page_links @users %>
