<%= form_tag change_roles_site_users_path(@site),
              :method => "post",
              :id => "form-user-#{@user.id}",
              :remote => 'true',
              :update => 'enroled' %>

  <%= hidden_field_tag 'user[id]', @user.id %>
  <p>
    <% @roles.each do |role| %>
      <label>
        <%= check_box_tag 'role_ids[]', role.id, @user.roles.include?(role) %>
        <%= role.name %>
      </label>
      <br />
    <% end %>
  </p>
  <%= submit_tag 'Enviar' %>
  <%#= link_to_function t('cancel'), "$('#user-#{@user.id}').show(); $('#form-user-#{@user.id}').hide(); return false;" %>
</form>
