<%# TODO escrever traduções %>
<h1>Gerenciar papeis</h1>

<table class="list">

  <thead>
    <tr>
      <th>Usuário</th>
      <th>Papel</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site.users.uniq.each do |user| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= link_to user.login, user %></td>

        <td>
          <span id="user-<%= user.id %>">
            <%= user.roles.map(&:name).join(', ') %>
          </span>
          
          <form id="form-user-<%= user.id %>" style="display: none;">
            <p>
              <% @roles.each do |role| %>
                <label>
                  <%= check_box_tag 'user[role_ids][]', role.id, user.roles.include?(role) %>
                  <%= role.name %>
                </label>
                <br />
              <% end %>
            </p>
            <%= submit_tag 'Enviar' %>
          </form>
        </td>

        <td><%= link_to_function t('edit'), "$('#form-user-#{user.id}').hide(); $('#form-user-#{user.id}').show(); return false;" %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<% unless @users_unroled.empty? %>
<h2>Cadastrar novo usuário</h2>

<%= form_tag change_roles_site_users_path(@site), :method => "post", :id => "subscribe_users" %>

  <div id="_left">
    <% @users_unroled.each do |user| %>
      <label>
        <%= check_box_tag 'user[id]', user.id %>
        <%= user.login %>
      </label><br/>
    <% end %>
  </div>


  <div id="_right">
    <% @roles.each do |role| %>
      <label>
        <%= check_box_tag 'user[role_ids][]', role.id %>
        <%= role.name %>
      </label>
      <br />
    <% end %>
  </div>

  <div id="_submit">
    <input type="submit" value="cadastrar" />
  </div>
</form>

<% else %>
<h2>Nenhum usuário para cadastrar</h2>
<% end %>
