<fieldset>
  <legend> <%= t('user.one') %> </legend>

  <div>
    <h1><%= @user.first_name + " " + @user.last_name %></h1>
    <p> <b><%= t('email') %>:</b> <%= @user.email %> </p>
    <p> <b><%= t('phone') %>:</b> <%= @user.phone %> </p>
    <p> <b><%= t('mobile') %>:</b> <%= @user.mobile %> </p>
    <p> <b><%= t('last_request') %>:</b> <%= @user.last_request_at.to_s(:short) %> </p>
  </div>

  <% if @user.id == @current_user.id or check_permission(UsersController, 'edit') %>
    <%= link_to t('edit'), :controller => 'users', :action => "edit", :id => @user.id %> |
  <% end %>
  <%= link_to t('back'), :back %>
</fieldset>
