<h1><%= t"editing", :param => (t"newsletter", :count => 1)%></h1>

<% form_for(@informativo) do |f| %>
  <% if @informativo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@informativo.errors.count, "error") %> prohibited this site from being saved:</h2>
      <ul>
      <% @informativo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.date_select :created_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => t("date"), :param => t("register")  %>
  </p>
  <p>
    <%= f.date_select :date_pub, :order => [:year, :month, :day], :use_month_numbers => true, :label => t("date"), :param => t("publication") %>
  </p>
  <p>
    <%= f.date_select :date_begin, :order => [:year, :month, :day], :use_month_numbers => true, :label => t("date"), :param => t("begin")  %>
  </p>
  <p>
    <%= f.date_select :date_end, :order => [:year, :month, :day], :use_month_numbers => true, :label => t("date"), :param => t("end")  %>
  </p>
  <p>
    <%= f.text_field :image, :label => t("picture") %>
  </p>
  <p>
    <%= f.text_field :position, :label => t("position") %>
    </p>
    <p>
    <%= f.text_field :status, :label => t("status") %>
  </p>
  <p>
  </p>
  <p>
    <%= f.text_field :editor_id, :label => t("editor") %>
  </p>
  <p>
    <%= f.text_field :editor_chief_id, :label => t("chief_editor") %>
  </p>
  <p>
    <%= f.text_area :text, :label => t("text") %>
  </p>
  <p>
    <%= f.text_field :url, :label => t("url") %>
  </p>
  <p>
    <%= f.text_field :site_id, :label => t("site_id") %>
  </p>
  <p>
    <%= f.text_field :subject, :label => t("subject")%>
  </p>
<p>
    <%= f.text_field :text_clob, :label => t("subject") %>
  </p>
  <p>
    <%= f.text_field :text_image, :label => t("subject")%>
  </p>
  <p>
    <%= f.text_field :align, :label => t("subject") %>
  </p>
  <p>
    <%= f.text_field :summary, :label => t("subject") %>
  </p>
  <p>
    <%= f.text_field :pdf, :label => t("subject") %>
  </p>
<p>
    <%= f.text_field :front, :label => t("subject") %>
  </p>
  <p>
    <%= f.datetime_select :front_time, :order => [:year, :month, :day], :use_month_numbers => true, :label => t("subject")%>
  </p>
  <p>
    <%= f.text_field :kind, :label => t("kind") %>
  </p>
  <p>
    <%= f.text_field :local, :label => t("kind")%>
  </p>
  <p>
    <%= f.datetime_select :event_begin, :order => [:year, :month, :day], :use_month_numbers => true, :label => t("event"), :param => t("begin") %>
  </p>
  <p>
    <%= f.datetime_select :event_end, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  t("event"), :param => t("end") %>
  </p>
  <p>
    <%= f.text_field :subject, :label => t("subject")%>
  </p>
  <p>
    <%= f.text_field :text_clob, :label => t("texto_clob") %>
  </p>
  <p>
    <%= f.text_field :align, :label => t("side")%>
  </p>
  <p>
    <%= f.submit  %>
  </p>
<% end %>

<%= link_to t("Show"), @informativo %> |
<%= link_to t("back"), informativos_path %>
