<fieldset>
  <legend><%= t"listing", :param => ( t"newsletter", :count => 2) %></legend>

  <table class="list">
    <thead>
      <th><%= t"date", :param => t("register") %></th>
      <th><%= t"date", :param => t("publication")%></th>
      <th><%= t"title" %></th>
      <th><%= t"position" %></th>
      <th><%= t"status" %></th>
      <th></th>
    </thead>
    <tbody>
    <% @informativos.each do |informativo| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= informativo.created_at %></td>
        <td><%= informativo.date_pub %></td>
        <td><%= informativo.position %></td>
        <td><%= informativo.status %></td>
        <td><%= informativo.title %></td>
        <td>
          <% if params[:site_id] %>
            <%= link_to t("show"), site_informativo_path("#{params[:site_id]}", informativo) %>
            <%= link_to t("edit"), {:controller => 'pages', :action => 'edit', :id => informativo, :type => 'Informativo'}%>
            <%= link_to t("destroy"), {:controller => 'pages', :action => 'destroy', :id => informativo}, :confirm => t("are_you_sure"), :method => :delete %>
          <% end %>
        </td>
      </tr>
    <% end; reset_cycle %>
    <tbody>
  </table>

  <p> <%= link_to (t"create_param" , :param => (t"newsletter", :count => 1)), new_site_page_path(:type => "Informativo") if params[:site_id] %> </p>
</fieldset>
