<fieldset>
  <legend><%= t:listing, :param => ( t:newsletter, :count => 2) %></legend>

  <table class="list">
    <thead>
      <th><%= t:date, :param => t("register") %></th>
      <th><%= t:date, :param => t("publication")%></th>
      <th><%= t:title %></th>
      <th><%= t:position %></th>
      <th><%= t:status%></th>
      <th></th>
    </thead>
    <tbody>
    <% @informativos.each do |informativo| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= informativo.created_at %></td>
        <td><%= informativo.date_pub %></td>
        <td><%= informativo.position %></td>
        <td><%= informativo.status %></td>
        <td><%= informativo.title %></td>
        <td>
          <%= link_to 'Show', informativo %>
          <%= link_to 'Edit', edit_informativo_path(informativo) %>
          <%= link_to 'Destroy', informativo, :confirm => t("are_you_sure"), :method => :delete %>
        </td>
      </tr>
    <% end; reset_cycle %>
    <tbody>
  </table>

  <p> <%= link_to (t:create_param , :param => (t:newsletter, :count => 1)), new_page_path(:type => "Informativo") %> </p>
</fieldset>
