<div id="pages">
  <p> <h1> <%= t("newsletter", :count => 1) %> </h1> </p>
  <p> <a href="<%= @informativo.image.url %>" alt="<%= @informativo.text_image %>">
    <img src="<%= @informativo.image.url %>" align="right" width="200" height="200">
    </img>
  </a> </p>
  <i> <%=h @informativo.date_pub %> </i>

  <p> <h3> <%=h @informativo.url %> </h3> </p>


  <%= link_to t("edit"), {:controller => 'pages', :action => 'edit', :id => @informativo.id, :type => 'Informativo'}%> | <%= link_to t("back"), :back %>
</div>
