<p>
  <b>Dt cadastro:</b>
  <%=h @informativo.dt_cadastro %>
</p>

<p>
  <b>Dt publica:</b>
  <%=h @informativo.dt_publica %>
</p>

<p>
  <b>Dt inicio:</b>
  <%=h @informativo.dt_inicio %>
</p>

<p>
  <b>Dt fim:</b>
  <%=h @informativo.dt_fim %>
</p>

<p>
  <b>Imagem:</b>
  <%=h @informativo.imagem %>
</p>

<p>
  <b>Posicao:</b>
  <%=h @informativo.posicao %>
</p>

<p>
  <b>Status:</b>
  <%=h @informativo.status %>
</p>

<p>
  <b>Autor:</b>
  <%=h @informativo.autor %>
</p>

<p>
  <b>Editor:</b>
  <%=h @informativo.editor %>
</p>

<p>
  <b>Editor chefe:</b>
  <%=h @informativo.editor_chefe %>
</p>

<p>
  <b>Texto:</b>
  <%=h @informativo.texto %>
</p>

<p>
  <b>Url:</b>
  <%=h @informativo.url %>
</p>

<p>
  <b>Site:</b>
  <%=h @informativo.site_id %>
</p>

<p>
  <b>Assunto:</b>
  <%=h @informativo.assunto %>
</p>

<p>
  <b>Texto clob:</b>
  <%=h @informativo.texto_clob %>
</p>

<p>
  <b>Lado:</b>
  <%=h @informativo.lado %>
</p>


<%= link_to 'Edit', edit_informativo_path(@informativo) %> |
<%= link_to 'Back', informativos_path %>