<p>
  <b> <%= t:data, :param => t("registration") %></b>
  <%=h @informativo.dt_cadastro %>
</p>

<p>
  <b><%= t:data, :param => t("publication")%></b>
  <%=h @informativo.dt_publica %>
</p>

<p>
  <b><%= t:data, :param => t("begin")%></b>
  <%=h @informativo.dt_inicio %>
</p>

<p>
  <b><%= t:data, :param => t("end") %></b>
  <%=h @informativo.dt_fim %>
</p>

<p>
  <b><%= t:picture %></b>
  <%=h @informativo.imagem %>
</p>

<p>
  <b><%= t:position %></b>
  <%=h @informativo.posicao %>
</p>

<p>
  <b><%= t:status%></b>
  <%=h @informativo.status %>
</p>

<p>
  <b><%= t:author%></b>
  <%=h @informativo.autor %>
</p>

<p>
  <b><%= t:editor%></b>
  <%=h @informativo.editor %>
</p>

<p>
  <b><%= t:chief_editor %></b>
  <%=h @informativo.editor_chefe %>
</p>

<p>
  <b><%= t:text %></b>
  <%=h @informativo.texto %>
</p>

<p>
  <b><%= t:url%></b>
  <%=h @informativo.url %>
</p>

<p>
  <b><%= t:site%></b>
  <%=h @informativo.site_id %>
</p>

<p>
  <b><%= t:subject%></b>
  <%=h @informativo.assunto %>
</p>

<p>
  <b><%= "Texto clob" %></b>
  <%=h @informativo.texto_clob %>
</p>

<p>
  <b><%= t:side %></b>
  <%=h @informativo.lado %>
</p>


<%= link_to 'Edit', edit_informativo_path(@informativo) %> |
<%= link_to 'Back', informativos_path %>
