<%= info_page @albums %>
<div class="search-results">
<% if @albums.each do |album| %>
  <div class="item-search-result">
    <article>
      <header class="<%= translate_class(album) %>"><%= link_to album.title, site_album_path(album) %></header>
      <div class="page-details details">
        <% if album.publish %>
          <span class="author"><%= t("posted_by") %><%= album.user.name_or_login %></span>
          <span class="date"><%= t("posted_on") %><%= localize album.created_at, format: :short %></span>
        <% end %>

        <%= link_to "Ver Ãlbum", site_album_path(album), class: "btn btn-inverse default-hidden" %>
      </div>
    </article>
  </div>
<% end.empty? %>
  <div class="empty-result"><%= t(".no_albums") %></div>
<% end %>
</div>
<%= per_page_links @albums, false %>
<%= paginate @albums, page_links: true %>

<style>
.default-hidden {
  display: none;
}
</style>