<div class="page-show">
  <div class="album-cover" style="background-image: url('<%= @album.get_cover_photo&.image&.url(:f) %>')">
    <div class="overlay"></div>
    <div class="cover-content">
      <h1><%= @album.title %></h1>
      <% if @extension.show_author || @extension.show_created_at %>
        <div class="info">
          <% if @extension.show_author %>
            <span class="author"><%= t("posted_by") %><%= @album.user.name_or_login %></span>
          <% end %>
          <% if @extension.show_created_at %>
            <span class="date"><%= t("posted_on") %><%= localize @album.created_at, format: :short %></span>
          <% end %>
        </div>
      <% end %>
      <div class="album-desc"><%= @album.text&.html_safe %></div>
      <div class="info"><%= t('.photos', count: @album.photos_count.to_i) %></div>
      <div class="info"><%= t('.views', count: @album.view_count.to_i) %></div>
    </div>
  </div>

  <div id="album" class="photos-list">
    <%= render 'photos' %>
  </div>
  <div style="margin-top: 8px;" class="actions">
    <%= link_to(weby_icon('edit', t("edit")), main_app.edit_site_admin_album_path(@album)) if check_permission(Sites::Admin::AlbumsController, [:edit]) %>
    <%= link_to weby_icon('list', t("list_all")), site_albums_path %>
    <%= link_to weby_icon('chevron-left', t("back")), :back %>
  </div>
</div>

<%# content_for :javascripts, javascript_include_tag("pages.index") %>
<% content_for :stylesheets, stylesheet_link_tag("search_results") %>
