<% title ".menus" %>
<% breadcrumb :menus %>
<div class="row">
  <div class="<%= @menu ? 'col-md-3' : 'col-md-12' %>">
    <div class="add-menu">
      <% with_permission action: :new do %>
        <%= link_to icon('plus-sign', text: t(".new_menu")), new_site_admin_menu_path, class: "btn btn-success #{'btn-block' if @menu}" %>
      <% end %>
    </div>
    <% if @menus.empty? %>
      <div class="alert alert-warning">
        <%= t(".none_menu") %>
      </div>
    <% else %>
      <div class="list-group menu-tabs" id="tabs" data-url="<%= change_order_site_admin_menus_path %>">
        <% @menus.each do |menu| %>
          <% active = (menu==@menu ? "active" : "") %>
          <%= content_tag :li, class: "list-group-item #{active}", id: "menu_#{menu.id}", data: {menu_id: menu.id} do %>
            <%= image_tag('drag.png', class: 'handle') %>
            <%= link_to(menu.name.try(:titleize), menu==@menu ? '#' : site_admin_menus_path(menu: menu.id)) %>
            <%= render_dropdown_menu direction: 'bottom-right' do %>
              <%= link_to(icon('eye-open', text: t('show')), site_admin_menus_path(menu: menu.id), class: 'action-link') if menu!=@menu %>
              <%= make_menu(menu, except: :show) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if @menu %>
    <div class="col-md-9">
      <div class="pull-right">
        <% with_permission controller: Sites::Admin::Menus::MenuItemsController, action: :new do %>
          <%= link_to icon('plus-sign', text: t(".new_menu_item")), new_site_admin_menu_menu_item_path(@menu), class: "btn btn-success" %>
        <% end %>
        <% with_permission action: :edit do %>
          <%#= link_to t("edit"), edit_site_admin_menu_path(@menu), class: "btn btn-default", title: t('edit') %>
        <% end %>
        <% with_permission action: :destroy do %>
          <%#= link_to t("destroy"), site_admin_menu_path(@menu), class: "btn btn-danger", data: { confirm: t('are_you_sure_del_item', item: @menu.screen_name) }, method: :delete, title: t('destroy') %>
        <% end %>
      </div>
      <div class="clearfix control-group"></div>
      <% if @menu.menu_items.empty? %>
        <div class="alert alert-warning">
          <%= t(".none_menu_item", menu: @menu.name) %>
        </div>
      <% else %>
        <div id="main-menu" data-sort-url="<%= change_order_site_admin_menu_menu_items_path(@menu) %>" data-change-url="<%= change_menu_site_admin_menu_menu_items_path(@menu) %>">
          <%= link_to t('.collapse', icon: icon('chevron-right')).html_safe, '#', class: 'expand-collapse', data: {alt_text: t('.expand', icon: icon('chevron-down')).html_safe} %>
          <%= print_menu(@menu, view_ctrl: true) %>
          <%= render_bulk_actions do %>
            <% with_permission(action: :destroy_many) do %>
              <%= link_to icon('trash', text: t('destroy')), destroy_many_site_admin_menu_menu_items_path(@menu), class: 'btn btn-sm btn-default destroy-many', method: :delete, data: {confirm: t('are_you_sure_del_many')} %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% content_for :stylesheets, stylesheet_link_tag("sortable") %>
      <% content_for :javascripts, javascript_include_tag("init/sortable") %>
      <% content_for :javascripts, javascript_include_tag("menus.index") %>
    </div>
  <% end %>
</div>
