<% title ".menus" %>
<% breadcrumb :menus %>
<% with_permission action: :new do %>
  <div class="pull-right">
    <%= link_to t(".new_menu"),
      new_site_admin_menu_path,
      class: "btn btn-default btn-success" %>
  </div>
  <div class="clearfix control-group"></div>
<% end %>

<% if @menus.empty? %>
  <div class="alert">
    <%= t(".none_menu") %>
  </div>
<% else %>
  <div class="tabbable">
    <ul class="nav nav-tabs" id="tabs">
      <% @menus.each do |menu| %>
        <% active = (menu==@menu ? "active" : "") %>
        <li class="<%= active %>" data-menu-id="<%= menu.id %>"><%= link_to(menu.name.try(:titleize), menu==@menu ? '#' : site_admin_menus_path(menu: menu.id)) %></li>
      <% end %>
    </ul>
    <div class='tab-content'>
      <% if @menu %>
        <div id="main-menu">
          <% with_permission controller: Sites::Admin::Menus::MenuItemsController, action: :new do %>
            <div class="pull-right">
              <%= link_to t(".new_menu_item"),
                new_site_admin_menu_menu_item_path(@menu),
                class: "btn btn-default btn-success" %>
            </div>
            <div class="clearfix control-group"></div>
          <% end %>

          <% if @menu.menu_items.empty? %>
            <div class="alert">
              <%= t(".none_menu_item") %>
            </div>
          <% else %>
            <%= raw print_menu(@menu, true) %>
          <% end %>
        </div>
        <div class="form-actions">
          <%= make_menu(@menu, except: :show) %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @menu %>
    <% with_permission controller: Sites::Admin::Menus::MenuItemsController, action: :new do %>
      <div class="pull-right">
        <%= link_to t(".new_menu_item"),
          new_site_admin_menu_menu_item_path(@menu),
          class: "btn btn-success" %>
      </div>
      <div class="clearfix control-group"></div>
    <% end %>
    <% if @menu.menu_items.empty? %>
      <div class="alert">
        <%= t(".none_menu_item") %>
      </div>
    <% else %>
      <div id="main-menu">
      <%= print_menu(@menu, view_ctrl: true) %>
      </div>
    <% end %>
    <div class="form-actions">
      <%= make_menu(@menu, except: :show) %>
    </div>
  <% end %>

  <%= javascript_tag do %>
    window.onload=function(){
      $(document).ready(function() {

        var dropped = false;
        $('#main-menu > menu').nestedSortable({
          rootID: 'root',
          listType: 'menu',
          handle: '.handle',
          items: 'li',
          opacity: 0.7,
          scroll: true,
          forcePlaceholderSize: true,
          placeholder: 'drop-here',
          tolerance: 'pointer',
          toleranceElement: 'div.menuitem-ctrl',
          update: function(event, ui){
            if(dropped){
              $(this).nestedSortable('cancel');
              dropped = false;
              return;
            }
            var id = ui.item.attr('id').replace('menu_item_','');
            $.ajax({
              type: 'post',
              data: 'id='+ id +'&'+ $(this).nestedSortable('serialize'),
              dataType: 'script',
              complete: function(request,text){
                if(text=='success') ui.item.effect('pulsate', {times: 1}, 350);
                else $('#main-menu > menu').nestedSortable('cancel');
              },
              url: '<%= change_order_site_admin_menu_menu_items_path(@menu) if @menu %>'
            });
          }
        });

        $( "#tabs li" ).not('.active').droppable({
          hoverClass: "drop-here",
          tolerance: "pointer",
          drop: function( event, ui ) {
            var drop_li = $(this)
            var id = ui.draggable.attr('id').replace('menu_item_','');
            var menu_id = drop_li.data('menu-id');

            dropped = true;
            ////Testa para não alterar pra o proprio menu
            if( !drop_li.hasClass('active') ){
              $.ajax({
                type: 'post',
                data: 'id='+id+'&new_menu_id='+menu_id,
                dataType: 'script',
                complete: function(request,text){
                  if(text=='success'){
                    ui.draggable.remove();
                    location = drop_li.find('a').attr('href');
                  }
                },
                url: '<%= change_menu_site_admin_menu_menu_items_path(@menu) if @menu%>'
              });
            }
          }
        });

        ////FIX-ME
        $('#main-menu').css({'height':$('#main-menu').height()});
      });
    }
  <% end %>
  <% content_for :javascripts, javascript_include_tag("init/sortable") %>
  <% content_for :stylesheets, stylesheet_link_tag("sortable") %>

<% end %>
