<%- title 'menu.other' %>

<div class="span9">
  <div class="well">
    <% with_permission action: :new do %>
      <div class="pull-right">
        <%= link_to t('new_param.masc', param: t('menu.one')),
          new_site_admin_menu_path,
          class: "btn btn-success btn-large" %>
      </div>
      <div class="clearfix"></div>
    <% end %>

    <div class="tabbable">
      <ul class="nav nav-tabs" id="tabs">
        <% @menus.each do |menu| %>
          <% active = (menu==@menu ? "active" : "") %>
          <li class="<%= active %>"><%= link_to(menu.name.try(:titleize), menu==@menu ? '#' : site_admin_menus_path(:menu => menu.id), :rel => menu.id) %></li>
        <% end %>
      </ul>

      <div class='tab-content'>
        <% if @menu %>
          <div class="pull-right">
            <% with_permission controller: Sites::Admin::Menus::MenuItemsController, action: :new do %>
              <%= link_to t('new_param.masc', param: t('menu_item.one')),
                new_site_admin_menu_menu_item_path(@menu),
                class: "btn btn-success" %>
            <% end %>
            <% with_permission action: :edit do %>
              <%= link_to t('edit', param: t('menu.one')),
                edit_site_admin_menu_path(@menu),
                class: "btn btn-primary" %>
            <% end %>
            <% with_permission action: :destroy do %>
              <%= link_to t('destroy'),
                site_admin_menu_path(@menu),
                method: :delete, confirm: t('are_you_sure'),
                class: "btn btn-primary" %>
            <% end %>
            &nbsp;
          </div>
          <div class="clearfix control-group"></div>
          <div class="well" id="main-menu">
            <%= raw print_menu(@menu, 1) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  window.onload=function(){
  $(document).ready(function() {

  var dropped = false;
  $('#main-menu > menu').nestedSortable({
  listType: 'menu',
  handle: '.handle',
  items: 'li',
  opacity: 0.7,
  forcePlaceholderSize: true,
  placeholder: 'drop-here',
  tolerance: 'pointer',
  toleranceElement: '> div',
  update: function(event, ui){

  if(dropped){
  $(this).nestedSortable('cancel');
  dropped = false;
  return;
  }

  id = ui.item.attr('id').replace('menu_item_','');
  parent_id = ui.item.parents('li').attr('id') ? ui.item.parents('li').attr('id').replace('menu_item_','') : 0;
  position = ui.item.index()+1;//A position no banco começa com 1

          $.ajax({
            type: 'post',
            data: 'id='+id+'&parent_id='+parent_id+'&position='+position,
            dataType: 'script',
            complete: function(request,text){
              if(text=='success') ui.item.effect('pulsate', {times: 1}, 350);
              else $('#main-menu > menu').nestedSortable('cancel');
            },
            url: '<%= change_order_site_admin_menu_menu_items_path(@menu) if @menu %>'
          });
        }
      });

  $( "#tabs li" ).not('.active').droppable({
  hoverClass: "drop-here",
  tolerance: "pointer",
  drop: function( event, ui ) {
  drop_li = $(this)
  id = ui.draggable.attr('id').replace('menu_item_','');
  menu_id = drop_li.find('a').attr('rel');

  dropped = true;

  ////Testa para não alterar pra o proprio menu
  if( !drop_li.hasClass('active') ){

            $.ajax({
              type: 'post',
              data: 'id='+id+'&new_menu_id='+menu_id,
              dataType: 'script',
              complete: function(request,text){
                if(text=='success'){
                  ui.draggable.remove();
                  location = drop_li.find('a').attr('href');
                }
              },
              url: '<%= change_menu_site_admin_menu_menu_items_path(@menu) if @menu%>'
            });

  }
  }
  });

  ////FIX-ME
  $('#content').css({'overflow':'hidden'});
  $('#main-menu').css({'height':$('#main-menu').height()});

  });
  }
<% end %>
<%= content_for :javascripts, javascript_include_tag("jquery-ui.min") %>
<%= content_for :javascripts, javascript_include_tag("jquery.ui.nestedSortable") %>
<%= content_for :stylesheets, stylesheet_link_tag("sortable") %>
