<% title ".menus" %>
<% breadcrumb :menus %>
<% with_permission action: :new do %>
  <div class="pull-right">
    <%= link_to t(".new_menu"),
      new_site_admin_menu_path,
      class: "btn btn-success" %>
  </div>
  <div class="clearfix form-group"></div>
<% end %>

<% if @menus.empty? %>
  <div class="alert alert-warning">
    <%= t(".none_menu") %>
  </div>
<% else %>
  <div class="tabbable menu-tabs">
    <ul class="nav nav-tabs" id="tabs" data-url="<%= change_order_site_admin_menus_path %>">
      <% @menus.each do |menu| %>
        <% active = (menu==@menu ? "active" : "") %>
        <li class="<%= active %>" id="menu_<%= menu.id %>" data-menu-id="<%= menu.id %>"><%= link_to(menu.name.try(:titleize), menu==@menu ? '#' : site_admin_menus_path(menu: menu.id)) %>
          <%= icon('move') %></li>
      <% end %>
    </ul>
  </div>
  <% if @menu %>
    <% with_permission controller: Sites::Admin::Menus::MenuItemsController, action: :new do %>
      <div class="pull-right">
        <%= link_to t(".new_menu_item"),
          new_site_admin_menu_menu_item_path(@menu),
          class: "btn btn-success" %>
      </div>
      <div class="clearfix control-group"></div>
    <% end %>
    <% if @menu.menu_items.empty? %>
      <div class="alert alert-warning">
        <%= t(".none_menu_item") %>
      </div>
    <% else %>
      <div id="main-menu" data-sort-url="<%= change_order_site_admin_menu_menu_items_path(@menu) %>" data-change-url="<%= change_menu_site_admin_menu_menu_items_path(@menu) %>">
      <%= print_menu(@menu, view_ctrl: true) %>
      </div>
    <% end %>
    <div class="form-actions">
      <%= make_menu(@menu, except: :show) %>
    </div>
  <% end %>

  <% content_for :stylesheets, stylesheet_link_tag("sortable") %>
  <% content_for :javascripts, javascript_include_tag("init/sortable") %>
  <% content_for :javascripts, javascript_include_tag("menus.index") %>

<% end %>
