<fieldset>
  <legend><%= t"editing", :param => (t"event", :count => 1) %></legend>

  <% form_for(@evento) do |f| %>
    <% if @evento.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this site from being saved:</h2>
        <ul>
        <% @evento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label  t"date", :param => t("register") %><br />
      <%= f.date_select :created_at, :order => [:year, :month, :day], :use_month_numbers => true  %>
    </p>
    <p>
      <%= f.label  t"date", :param => t("publication") %><br />
      <%= f.date_select :date_pub, :order => [:year, :month, :day], :use_month_numbers => true  %>
    </p>
    <p>
      <%= f.label  t"date", :param => t("begin") %><br />
      <%= f.date_select :date_begin, :order => [:year, :month, :day], :use_month_numbers => true  %>
    </p>
    <p>
      <%= f.label t"date", :param => t("end") %><br />
      <%= f.date_select :date_end, :order => [:year, :month, :day], :use_month_numbers => true  %>
    </p>
    <p>
      <%= f.label  t"picture" %><br />
      <%= f.text_field :image %>
    </p>
    <p>
      <%= f.label  t"position" %><br />
      <%= f.text_field :position %>
    </p>
    <p>
      <%= f.label  t"status" %><br />
      <%= f.text_field :status %>
    </p>
    <p>
      <%= f.label t"author" %><br />
      <%= f.text_field :author_id %>
    </p>
    <p>
      <%= f.label  t"editor" %><br />
      <%= f.text_field :editor_id %>
    </p>
    <p>
      <%= f.label  t"chief_editor" %><br />
      <%= f.text_field :editor_chief_id %>
    </p>
    <p>
      <%= f.label  t"text" %><br />
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.label  t"url" %><br />
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.label  t"site_id" %><br />
      <%= f.text_field :site_id %>
    </p>
    <p>
      <%= f.label  t"source" %><br />
      <%= f.text_field :source %>
    </p>
    <p>
      <%= f.label t"title" %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label t"picture_text" %><br />
      <%= f.text_field :text_image %>
    </p>
    <p>
      <%= f.label  t"summary" %><br />
      <%= f.text_field :summary %>
    </p>
    <p>
      <%= f.label :pdf %><br />
      <%= f.text_field :pdf %>
    </p>
    <p>
      <%= f.label t"cover" %><br />
      <%= f.text_field :front %>
    </p>
    <p>
      <%= f.label  t"time_cover" %><br />
      <%= f.datetime_select :front_time, :order => [:year, :month, :day], :use_month_numbers => true %>
    </p>
    <p>
      <%= f.label  t"kind" %><br />
      <%= f.text_field :kind %>
    </p>
    <p>
      <%= f.label  t"localization" %><br />
      <%= f.text_field :local %>
    </p>
    <p>
      <%= f.label  t"begin" %><br />
      <%= f.datetime_select :event_begin, :order => [:year, :month, :day], :use_month_numbers => true   %>
    </p>
    <p>
      <%= f.label  t"end" %><br />
      <%= f.datetime_select :event_end, :order => [:year, :month, :day], :use_month_numbers => true %>
    </p>
    <p>
      <%= f.submit  %>
    </p>
  <% end %>

  <p> <%= link_to t('show'), @evento %> | <%= link_to t('back'), eventos_path %> </p>
</fieldset>
