<fieldset>
  <legend><%= t"listing", :param => (t"event", :count => 2)  %></legend>

  <table class='list'>
    <thead>
      <th><%= t"date", :param => t("register") %></th>
      <th><%= t"date", :param => t("publication")%></th>
      <th><%= t"title" %></th>
      <th><%= t"cover" %></th>
      <th><%= t"status" %></th>
      <th><%= t"author" %></th>
      <th></th>
    </thead>
    <tbody>
    <% @eventos.each do |evento| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%=h evento.created_at %></td>
        <td><%=h evento.date_pub %></td>
        <td><%=h evento.title %></td>
        <td><%=h evento.front %></td>
        <td><%=h evento.status %></td>
        <td><%=h evento.author_id %></td>
        <td>          
          <% if params[:site_id] %>
            <%= link_to t("show"), {:controller => 'eventos', :action => 'show', :id => evento, :type => 'Evento'} %>
            <%= link_to t("edit"), {:controller => 'pages', :action => 'edit', :id => evento, :type => 'Evento'}  %>
            <%= link_to t("destroy"),  {:controller => 'pages', :action => 'destroy', :id => evento } , :confirm => t("are_you_sure"), :method => :delete %>
          <% end %>
        </td>
      </tr>
    <% end; reset_cycle %>
    <tbody>
  </table>

  <p> <%= link_to (t"create_param", :param => (t"event", :count => 1)), new_site_page_path(:type => "Evento") if params[:site_id]%> </p>
</fieldset>
