<div id="pages">
  <p> <h1> <%= @evento.title %> </h1> </p>
  <a href="<%= @evento.image.url %>" alt="<%= @evento.text_image %>">
    <img src="<%= @evento.image.url %>" align="right" width="200" height="200" >
    </img>
  </a>
  <%= @evento.date_pub %> </i>

  <p> <h2> <%= @evento.summary %> </p>
  <p> <%= @evento.local %> </h2> </p>
  <p> <h3> <%= raw @evento.text %> </h3> </p>
  <p> <h3> <b> <%= t("source") %> <%= @evento.source %> </h3> </b> </p>

  <%= link_to t("edit"), :controller => 'pages', :action => 'edit', :id => @evento.id, :type => 'Evento'%>
  <%= link_to t("back"), :back %>
</div>
