<p>
  <b><%= t:data, :param => t("registration") %></b>
  <%=h @evento.dt_cadastro %>
</p>

<p>
  <b><%= t:data, :param => t("publication")%></b>
  <%=h @evento.dt_publica %>
</p>

<p>
  <b><%= t:data, :param => t("begin")%></b>
  <%=h @evento.dt_inicio %>
</p>

<p>
  <b><%= t:data, :param => t("end") %></b>
  <%=h @evento.dt_fim %>
</p>

<p>
  <b><%= t:picture %></b>
  <%=h @evento.imagem %>
</p>

<p>
  <b><%= t:position %></b>
  <%=h @evento.posicao %>
</p>

<p>
  <b><%= t:status%></b>
  <%=h @evento.status %>
</p>

<p>
  <b><%= t:author%></b>
  <%=h @evento.autor %>
</p>

<p>
  <b><%= t:editor%></b>
  <%=h @evento.editor %>
</p>

<p>
  <b><%= t:chief_editor %></b>
  <%=h @evento.editor_chefe %>
</p>

<p>
  <b><%= t:text %></b>
  <%=h @evento.texto %>
</p>

<p>
  <b><%= t:url%></b>
  <%=h @evento.url %>
</p>

<p>
  <b><%= t:site%></b>
  <%=h @evento.site_id %>
</p>

<p>
  <b><%= t:source %></b>
  <%=h @evento.fonte %>
</p>

<p>
  <b><%= t:title %></b>
  <%=h @evento.titulo %>
</p>

<p>
  <b><%= t:picture_text %></b>
  <%=h @evento.texto_imagem %>
</p>

<p>
  <b><%= t:summary %></b>
  <%=h @evento.resumo %>
</p>

<p>
  <b><%= t:pdf %></b>
  <%=h @evento.pdf %>
</p>

<p>
  <b><%= t:cover %></b>
  <%=h @evento.capa %>
</p>

<p>
  <b><%= t:time_cover %></b>
  <%=h @evento.time_capa %>
</p>

<p>
  <b><%= t:kind %></b>
  <%=h @evento.kind %>
</p>

<p>
  <b><%= t:localization%></b>
  <%=h @evento.local_realiza %>
</p>

<p>
  <b><%= t:begin%></b>
  <%=h @evento.inicio %>
</p>

<p>
  <b><%= t:end %></b>
  <%=h @evento.fim %>
</p>

<p>
  <b><%= t:email %></b>
  <%=h @evento.email %>
</p>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
