<p>
  <b>Dt cadastro:</b>
  <%=h @evento.dt_cadastro %>
</p>

<p>
  <b>Dt publica:</b>
  <%=h @evento.dt_publica %>
</p>

<p>
  <b>Dt inicio:</b>
  <%=h @evento.dt_inicio %>
</p>

<p>
  <b>Dt fim:</b>
  <%=h @evento.dt_fim %>
</p>

<p>
  <b>Imagem:</b>
  <%=h @evento.imagem %>
</p>

<p>
  <b>Posicao:</b>
  <%=h @evento.posicao %>
</p>

<p>
  <b>Status:</b>
  <%=h @evento.status %>
</p>

<p>
  <b>Autor:</b>
  <%=h @evento.autor %>
</p>

<p>
  <b>Editor:</b>
  <%=h @evento.editor %>
</p>

<p>
  <b>Editor chefe:</b>
  <%=h @evento.editor_chefe %>
</p>

<p>
  <b>Texto:</b>
  <%=h @evento.texto %>
</p>

<p>
  <b>Url:</b>
  <%=h @evento.url %>
</p>

<p>
  <b>Site:</b>
  <%=h @evento.site_id %>
</p>

<p>
  <b>Fonte:</b>
  <%=h @evento.fonte %>
</p>

<p>
  <b>Titulo:</b>
  <%=h @evento.titulo %>
</p>

<p>
  <b>Texto imagem:</b>
  <%=h @evento.texto_imagem %>
</p>

<p>
  <b>Resumo:</b>
  <%=h @evento.resumo %>
</p>

<p>
  <b>Pdf:</b>
  <%=h @evento.pdf %>
</p>

<p>
  <b>Capa:</b>
  <%=h @evento.capa %>
</p>

<p>
  <b>Time capa:</b>
  <%=h @evento.time_capa %>
</p>

<p>
  <b>Kind:</b>
  <%=h @evento.kind %>
</p>

<p>
  <b>Local realiza:</b>
  <%=h @evento.local_realiza %>
</p>

<p>
  <b>Inicio:</b>
  <%=h @evento.inicio %>
</p>

<p>
  <b>Fim:</b>
  <%=h @evento.fim %>
</p>

<p>
  <b>Email:</b>
  <%=h @evento.email %>
</p>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>