<p>
  <b><%= t"date", :param => t("register") %></b>
  <%=h @evento.created_at %>
</p>
<p>
  <b><%= t"date", :param => t("publication")%></b>
  <%=h @evento.date_pub %>
</p>
<p>
  <b><%= t"date", :param => t("begin")%></b>
  <%=h @evento.date_begin %>
</p>
<p>
  <b><%= t"date", :param => t("end") %></b>
  <%=h @evento.date_end %>
</p>
<p>
  <b><%= t"picture" %></b>
  <%=h @evento.image %>
</p>
<p>
  <b><%= t"position" %></b>
  <%=h @evento.position %>
</p>
<p>
  <b><%= t"status" %></b>
  <%=h @evento.status %>
</p>
<p>
  <b><%= t"author" %></b>
  <%=h @evento.author_id %>
</p>
<p>
  <b><%= t"editor" %></b>
  <%=h @evento.editor_id %>
</p>
<p>
  <b><%= t"chief_editor" %></b>
  <%=h @evento.editor_chief_id %>
</p>
<p>
  <b><%= t"text" %></b>
  <%=h @evento.text %>
</p>
<p>
  <b><%= t"url" %></b>
  <%=h @evento.url %>
</p>
<p>
  <b><%= t"site" %></b>
  <%=h @evento.site_id %>
</p>
<p>
  <b><%= t"source" %></b>
  <%=h @evento.source %>
</p>
<p>
  <b><%= t"title" %></b>
  <%=h @evento.title %>
</p>
<p>
  <b><%= t"picture_text" %></b>
  <%=h @evento.text_image %>
</p>
<p>
  <b><%= t"summary" %></b>
  <%=h @evento.summary %>
</p>
<p>
  <b><%= t"pdf" %></b>
  <%=h @evento.pdf %>
</p>
<p>
  <b><%= t"cover" %></b>
  <%=h @evento.front %>
</p>
<p>
  <b><%= t"time_cover" %></b>
  <%=h @evento.front_time %>
</p>
<p>
  <b><%= t"kind" %></b>
  <%=h @evento.kind %>
</p>
<p>
  <b><%= t"localization" %></b>
  <%=h @evento.local %>
</p>
<p>
  <b><%= t"begin" %></b>
  <%=h @evento.event_begin %>
</p>
<p>
  <b><%= t"end" %></b>
  <%=h @evento.event_end %>
</p>

<%= link_to t("edit"), edit_evento_path(@evento) %> |
<%= link_to t("back"), eventos_path %>
