<div class="row">
  <div class="span12">
    <ul class="nav nav-pills pull-left">
      <li class=""><%= link_to(t(".sites"), root_url(subdomain: nil), class: 'left') %></li>
      <% if current_user && !current_user.is_admin? && current_user.sites.any? %>
        <li><%= link_to(t(".my-sites"), root_url(subdomain: nil, anchor: 'my-sites'), class: 'left') %></li>
      <% end %>
      <li class=""><a href="#clipping" data-toggle="tab"><%= t(".clipping") %></a></li>
      <li class="active"><%= link_to(t(".condensed"), condensed_path, class: 'left') %></a></li>
    </ul>
    <%= form_tag request.path, method: 'get', autocapitalize: "off", class: 'form-inline pull-right search' do %>
      <%= content_tag :div, class: 'input-append' do %>
        <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t(".search"), class: 'btn btn-info' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row condensed">
  <div class="span6 content tabs pull-right">
    <div class="tab-content">
      <div class="tab-pane active" id="clipping">
        <%= render 'sites/list' %>
      </div>
    </div>
  </div>

  <div class="span6 content tabs pull-left">
    <div class="tab-content">
      <div class="tab-pane active" id="clipping">
        <%= render 'list-condensed' %>
      </div>
    </div>
  </div>
</div>
