<div class="row">
  <div class="span12">
    <ul class="nav nav-pills pull-left">
      <li class=""><%= link_to(t(".sites"), root_url(subdomain: nil), class: 'left') %></li>
      <% if current_user && not(current_user.is_admin) && not(user_sites.empty?) %>
        <li><a href="#my-sites" data-toggle="tab"><%= t(".my-sites") %></a></li>
      <% end %>
      <li class="active"><a href="#clipping" data-toggle="tab"><%= t(".clipping") %></a></li>
    </ul>
    <%= form_tag request.path, method: 'get', autocapitalize: "off", class: 'form-inline pull-right search' do %>
      <%= content_tag :div, class: 'input-append' do %>
        <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t(".search"), class: 'btn btn-info' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="content tabs">
  <div class="tab-content">
    <div class="tab-pane" id="my-sites">
    </div>
    <div class="tab-pane active" id="clipping">
      <%= render 'list' %>
    </div>
  </div>
</div>
