<fieldset>
  <legend><%= t"setting.other" %></legend>

  <% form_tag '/settings', :method => 'put' do %>
    <table class="list">
      <thead>
        <tr>
          <th><%= t('setting.name') %></th>
          <th><%= t('setting.value') %></th>
        </tr>
      </thead>
      <tbody>
        <%= @settings.each do |setting| %>
          <tr>
            <td><%= setting.name  %></td>
            <td><%= setting.value  %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <p> <%= submit_tag t("submit") %> </p>
  <% end %>

</fieldset>
