<div class='well'>
  <div class='padding-box'>
    <%= raw flash_message %>
  </div>

  <%= simple_form_for [:admin, @user], url: admin_password_reset_path, html: { class: 'form-horizontal' }, method: :put do |f| %>
    <%= f.show_errors %>

    <%= f.input :password, label: t(".password_change"), required: true, as: :password %>
    <%= f.input :password_confirmation, as:  :password %>
    <div class="form-actions">
		   <%= f.button :submit, t("submit"), class: 'btn-primary btn-large', disable_with: t("please_wait") %>
  	</div>
  <% end %>
</div>
<%= render partial: 'footer' %>
