<p>
<%= form_tag url_for({controller: 'repositories_search', action: 'search'}),
  method: :get, remote: true, id: 'blahh'  do %>
  <%= hidden_field_tag "many", many %>
  <%= hidden_field_tag "name", name %>
  <%= hidden_field_tag "final_files_list", final_files_list %>
  <%= search_field_tag "search[name]", nil, placeholder: t('filename_or_description') %>
  <% if file_types.try(:any?) %>
    <% file_types.each do |file_type| %>
      <%= hidden_field_tag "search[type][]", file_type %>
    <% end %>
  <% else %>
    <%= select_tag( "search[type][]", grouped_options_for_select(load_mime_types(@site)), {include_blank: t('all')} ) %>
    <%= link_to_function(image_tag("add_off.png"), "toogle_select_multiple($('#search_type_'));") %>
  <% end %>
  <%= submit_tag t("search"),
    class: "search-button",
    onclick: "$('.files_list_search_result').html('');" %>
<% end %>
</p>

<%= form_tag params.merge({controller: 'repositories_search', action: 'include_files'}),
  remote: true, id: 'include-files-to-form' do  %>
  <ul class="files_list_search_result files_list checkbox-button-set">
  </ul>
<% end %>
