<%= repository_search( t(".select_image"), "page_image", "image_component[repository_id]", (Repository.find(component.repository_id) rescue nil), multiple: false, file_types: ['image','flash']) %>

<%= image_size_picker f %>

<%= target_dialog_input f, :target, true %>

<%= f.input :new_tab, as: :boolean %>

<%= f.input :html_class, :input_html => {:pattern => '^[A-Za-z0-9_\-]*$'} %>

<% content_for :bottom do %>
  <div id="dialog-repository-search">
    <%= render('sites/admin/repositories/repository_search') %>
  </div>
<% end %>
<%= content_for :stylesheets, stylesheet_link_tag("include_files") %>