<%= each_i18n_tab do |locale| %>
  <%= repository_search( t(".select_image"), "page_image_#{locale.name}", "image_component[repository_id][#{locale.name}]", (Repository.find(component.repository_id_i18n(locale.name)) rescue nil), multiple: false, file_types: ['image','flash']) %>
  <%= repository_search( t(".select_contrast_image"), "page_contrast_image_#{locale.name}", "image_component[contrast_repository_id][#{locale.name}]", (Repository.find(component.contrast_repository_id_i18n(locale.name)) rescue nil), multiple: false, file_types: ['image','flash'], class: 'contrast') %>
  <%= f.component_i18n_input locale, :title, as: :string %>
<% end %>

<% if component.default_image.present? %>
  <%= label_tag t('.default_image') %>
  <div>
    <div class="image_tag">
      <%= image_tag(component.default_image, style: style_for_dimension(component.width, component.height), alt: component.default_image_alt) %>
    </div>
  </div>
<% end %>

<% if component.contrast_default_image.present? %>
  <%= label_tag t('.contrast_default_image') %>
  <div>
    <div class="contrast_image_tag">
      <%= image_tag(component.contrast_default_image, style: style_for_dimension(component.width, component.height), alt: component.default_image_alt) %>
    </div>
  </div>
<% end %>

<%= image_size_picker f %>

<%= target_dialog_input f, :target, true %>

<%= f.input :new_tab, wrapper: :checkbox, as: :boolean %>

<%= f.input :html_class, :input_html => {:pattern => '^[A-Za-z0-9_\-\s]*$'} %>

<%= f.input :hide_for_sr, wrapper: :checkbox, as: :boolean %>

<%= f.input :default_image, as: :hidden %>
