<%= each_i18n_tab do |locale| %>
  <%= repository_search( t(".select_image"), "page_image_#{locale.name}", "image_component[repository_id][#{locale.name}]", (Repository.find(component.repository_id_i18n(locale.name)) rescue nil), multiple: false, file_types: ['image','flash']) %>
<% end %>

<% if component.default_image %>
  <%= label_tag t('.default_image') %>
  <div>
    <div class="image_tag">
      <%= image_tag(component.default_image, style: style_for_dimension(component.width, component.height)) %>
    </div>
  </div>
<% end %>

<%= image_size_picker f %>

<%= target_dialog_input f, :target, true %>

<%= f.input :new_tab, wrapper: :checkbox, as: :boolean %>

<%= f.input :html_class, :input_html => {:pattern => '^[A-Za-z0-9_\-]*$'} %>

<%= f.input :default_image, as: :hidden %>
