<fieldset>
  <legend><%= t"editing", :param => (t"my_password") %></legend>

  <%= simple_form_for @user, :url => password_reset_path, :method => :put do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "") %> <%= t"prohibited_being_saved", :count => @user.errors.count %>:</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :password, :label => f.object.new_record? ?  t('password') : t("password_change"), :hint => t("field_required"), :as => :password %><br />
    <%= f.input :password_confirmation, :label => t('password_confirmation'), :hint => t("field_required"), :as => :password %>


		<div class="actions">
		   <%= f.submit t("update_password_log") %>
  	</div>

  <% end %>
</fieldset>
