<%= simple_form_for([@site,@page]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", count: @page.errors.count %>:</h2>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tabs">
    <ul>
      <% @site.locales.each do |locale| %>
        <li><%= link_to locale_with_name(locale), "##{locale}" %></li>
      <% end %>
    </ul>
    <% @site.locales.each do |locale| %>
      <div id="<%= locale.name %>">
        <%= f.globalize_fields_for(locale.name) do|g| %>
          <% if g.object.try(:id) %>
            <%= g.input :_destroy,
              label: t("destroy"),
              as: :boolean %>
          <% end %>
          <%= g.input :title %>

          <%= g.input :summary,
            input_html: {class: "mceSimple", style: "width: 550px; height: 180px;"},
            as: :text %>

          <%= g.input :text,
            input_html: {class: "mceAdvance", style: "width: 550px; height: 320px;"},
            as: :text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= f.input :date_begin_at %>

  <%= f.input :type %>

  <div class="actions">
    <%= f.button :submit, t('save'), class: 'green-button' %>
    <%= link_to t('back'), site_pages_path(@site), class: 'red-button' %>
  </div>
<% end %>

<%= content_for :javascripts, javascript_include_tag("pages.form") %>
