<%= simple_form_for([@site,@page]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", count: @page.errors.count %>:</h2>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= f.input :title %>
  </div>
  <div class="input">
    <%= f.input :summary %>
  </div>
  <div class="input">
    <%= f.input :text %>
  </div>

  <div class="input">
    <%= f.input :date_begin_at %>
  </div>

  <div class="input">
    <%= f.input :type %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
