<%= render 'repositories/search_and_new_file' %>

<%= simple_form_for [@site, @page],	html: { multipart: true } do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", count: @page.errors.count %>:</h2>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id='repo_list' >
    <%= render 'repositories/repo',
      :obj => @page,
      :field => :repository_id,
      :collection => @images,
      :hint => t("help_image") %>
  </div>

  <% unless self.controller.action_name == "edit" %>
    <div id="page_type" class="input">
      <%= check_box_tag :type, :Event, params[:type] == 'Event' %>
      <%= label_tag :type, "#{t("is")} #{t("event.one")}?" %>
    </div>
    <div id="event_fields">
    </div>
  <% end %>

  <div class="tabs">
    <ul>
      <% @page.page_i18ns.each do |page_i18n| %>
        <li> <%= link_to locale_with_name(page_i18n), "##{page_i18n.locale.name}" %> </li>
      <% end %>
    </ul>
    <%= f.fields_for :page_i18ns do |i18nbuilder| %>
      <%= render(partial: 'page_i18ns/page_i18n', locals: { i18nbuilder: i18nbuilder }) %>
    <% end %>
  </div>

  <div>
    <div class="input">
      <%= f.input :source,
        wrapper_html: {class: 'side'},
        label: t("source") %> 

      <%= f.input :url,
        wrapper_html: {class: 'side'},
        label: t("redirect_address"),
        placeholder: "http://site.com" %>
      <div class='clear'></div>
    </div>

    <div class="input">
      <label><%= t"period_page"  %> </label>
      <%= f.input :date_begin_at,
        label: false,
        as: :string,
        placeholder: t('begin'),
        wrapper_html: {class: 'side'},
        input_html: {class: 'datetimepicker'} %>

      <%= f.input :date_end_at,
        label: false,
        as: :string,
        placeholder: t('publication_infinite'),
        wrapper_html: {class: 'side'},
        input_html: {class: 'datetimepicker'} %>
      <div class='clear'></div>
    </div>

    <%= f.input :category_list, label: t('categories'),
      placeholder: "UFG, Sports, Arts",
      hint: t('page_categories_help') %>

    <%= f.input :created_at, order: [:year, :month, :day],
      use_month_numbers: true, label: (t"date_param", param: t("register")),
      start_year: Time.now.year, as: :hidden %>

    <%= f.input :site_id, input_html: {value: @site.id}, as: :hidden  %>

    <%= f.simple_fields_for :sites_pages do |pages_form| %>
      <%= pages_form.input :site_id, input_html: {value: @site.id}, as: :hidden  %>
      <%= pages_form.input :page_id, input_html: {value: @page.id}, as: :hidden  %>
    <% end %>

    <div class='input'>
      <%= f.input :publish , label: t("publish"),
        wrapper_html: { class: "side" },
        as: :boolean, input_html: { class: "check-button" } %>
      <%= f.input :front , label: t("cover"), 
        wrapper_html: { class: "side" },
        as: :boolean, input_html: { class: "check-button" } %>
      <div class='clear'></div>
    </div>
    <div class="input" id="link-to-add-related-files" >

      <%= link_to_function t("add_param", param: t("related_files")),
        "repository_search();",
        class: 'add-button' %>
      <ul id="files-added">
        <% @page.repositories.each do |repository|  %>
          <li class="backgrounded">
            <%= label_tag "repository_#{repository.id}" do %>
              <figure>
                <%= weby_file_view(repository, :mini, 64, 64, {as: 'link'}) %>
                <figcaption><%= repository.description %></figcaption>
              </figure>
            <% end %>
            <%= check_box_tag "page[repository_ids][]", repository.id, true, id: "repository_#{repository.id}" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="actions">
      <%= f.submit (t"save"), class: "green-button" %>
      <%= link_to t("back"), :back, class: "red-button" %>
    </div>
  </div>
<% end %>

<%= content_for :javascripts, javascript_include_tag("pages_new") %>
<%= content_for :javascripts, javascript_include_tag("repository_search") %>
<%= content_for :stylesheets, stylesheet_link_tag("include_files") %>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    function repository_search(){
    var dialog = $(document.createElement("div")).
    attr('id', 'repository-search-dialog').
    html('<%=escape_javascript render("repositories/repository_search") %>').
    dialog();
    }
  <% end %>
<% end %>
