<%= simple_form_for [@site, @page],	html: { multipart: true } do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", count: @page.errors.count %>:</h2>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= repository_search t("page.image"), "page_image",
    "page[repository_id]", @page.repository,
    multiple: false, file_types: 'image' %>

  <% if @page.id.blank? || @page.type == 'Event' %>
    <div class="input page_type">
      <%= check_box_tag :is_event, :Event, @page.type == 'Event', disabled: !@page.id.blank? %>
      <%= label_tag :is_event, "#{t("is")} #{t("event.one")}?" %>
      <%= f.input :type, :as => :hidden %>
      <div class='clear'></div>
    </div>
    <div id="form_event">
      <div id="event_fields">
        <% kind_list =
          [[t("regional"), "regional"],
           [t("nacional"), "nacional"],
           [t("internacional"), "internacional"]] %>

         <%= f.input :local,
           :label => t("localization"),
           :required => true,
           :help => t("field_required") %>

         <%= f.input :kind,
           :collection => kind_list.map{|p| [p[0], p[1]]},
           :label => t("kind"),
           :label_html => {:include_blank => true} %>

         <div class="input">
           <label><%= t"period_event"  %></label>
           <%= f.input :event_begin,
             label: false,
             placeholder: t("begin"),
             wrapper_html: {class: 'side'} %>

           <%= f.input :event_end,
             label: false,
             placeholder: t("end"),
             wrapper_html: {class: 'side'} %>
           <div class='clear'></div>
         </div>
       </div>
     </div>
   <% end %>

   <div class="tabs">
     <ul>
       <% @page.page_i18ns.each do |page_i18n| %>
         <li> <%= link_to locale_with_name(page_i18n), "##{page_i18n.locale.name}" %> </li>
       <% end %>
     </ul>
     <%= f.fields_for :page_i18ns do |i18nbuilder| %>
       <%= render(partial: 'page_i18ns/page_i18n', locals: { i18nbuilder: i18nbuilder }) %>
     <% end %>
   </div>

   <div>
     <div class="input">
       <%= f.input :source,
         wrapper_html: {class: 'side'},
         label: t("source") %> 

       <%= f.input :url,
         wrapper_html: {class: 'side'},
         label: t("redirect_address"),
         placeholder: "http://site.com" %>
       <div class='clear'></div>
     </div>

     <div class="input">
       <label><%= t"period_page"  %> </label>
       <%= f.input :date_begin_at,
         label: false,
         placeholder: t('begin'),
         wrapper_html: {class: 'side'} %>

       <%= f.input :date_end_at,
         label: false,
         placeholder: t('publication_infinite'),
         wrapper_html: {class: 'side'} %>
       <div class='clear'></div>
     </div>

     <%= f.input :category_list, label: t('categories'),
       placeholder: "UFG, Sports, Arts",
       hint: t('page_categories_help') %>

     <%= f.input :created_at, order: [:year, :month, :day],
       use_month_numbers: true, label: (t"date_param", param: t("register")),
       start_year: Time.now.year, as: :hidden %>

     <%= f.input :site_id, input_html: {value: @site.id}, as: :hidden  %>

     <%= f.simple_fields_for :sites_pages do |pages_form| %>
       <%= pages_form.input :site_id, input_html: {value: @site.id}, as: :hidden  %>
       <%= pages_form.input :page_id, input_html: {value: @page.id}, as: :hidden  %>
     <% end %>

     <div class='input'>
       <%= f.input :publish , label: t("publish"),
         wrapper_html: { class: "side" },
         as: :boolean, input_html: { class: "check-button" } %>
       <%= f.input :front , label: t("cover"), 
         wrapper_html: { class: "side" },
         as: :boolean, input_html: { class: "check-button" } %>
       <div class='clear'></div>
     </div>

     <%= repository_search t("add_param", param: t("related_files")),
       "related_files", "page[repository_ids][]", @page.repositories,
       multiple: true, file_types: false %>

     <div class="actions">
       <%= f.submit (t"save"), class: "green-button" %>
       <%= link_to t("back"), :back, class: "red-button" %>
     </div>
   </div>
 <% end %>

 <div id="dialog-repository-search">
   <%= render('repositories/repository_search') %>
 </div>

 <%= content_for :javascripts, javascript_include_tag("pages.form") %>
