<%= simple_fields_for @page do |f| %>
	<% if params[:type] == "Event" %>
		<%= f.input :type, :input_html => {:value => "Event"}, :as => :hidden %>

		<% kind_list =
			[[t("regional"), "regional"],
			[t("nacional"), "nacional"],
			[t("internacional"), "internacional"]] %>
			
		<%= f.input :local,
			:label => t("localization"),
			:required => true,
			:help => t("field_required") %>
	
		<%= f.input :kind,
			:collection => kind_list.map{|p| [p[0], p[1]]},
			:label => t("kind"),
			:label_html => {:include_blank => true} %>

		<div class="input">
			<label><%= t"period_event"  %></label>
			<%= f.input :event_begin,
				label: false,
				as: :string,
				placeholder: t("begin"),
				wrapper_html: {class: 'side'},
				input_html: {class: "datetimepicker"} %>

			<%= f.input :event_end,
				label: false,
				as: :string,
				placeholder: t("end"),
				wrapper_html: {class: 'side'},
				input_html: {class: "datetimepicker"} %>
			<div class='clear'></div>
		</div>
	<% else %>
		<%= f.input :type, :input_html => {:value => "News"}, :as => :hidden %>
	<% end %>
<% end %>
