<%= simple_form_for([@site,@page]) do |f| %>
  <%= f.error_notification %>

  <div class="input">
    <%= f.input :title %>
  </div>
  <div class="input">
    <%= f.input :summary %>
  </div>
  <div class="input">
    <%= f.input :text %>
  </div>

  <div class="input">
    <%= f.input :type %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
