<ul>
  <% locales.each do |locale| %>
    <li><%=link_to t(locale), "##{locale}",  :style => 'color: black !important'  %></li>
  <% end %>
</ul>

<%= f.fields_for :page_i18ns do |i18n| %>
  <div id="<%= i18n.object.locale.name  %>">
    <% unless Setting.get('default_locale') == i18n.object.locale.name %>
      <div class="remove-i18n">
        <%= i18n.label :_destroy, t('mark_to_destroy') %>
        <%= i18n.check_box :_destroy %>
      </div>
    <% end %>
    <%= render 'page_i18ns/form', :f => i18n, :locale => i18n.object.locale.id %>
  </div>
  <div ></div>
<% end %>

