  <% unless @pages.empty? %>
    <%= will_paginate @pages, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next"), :class => 'pagination ajax' %>
    <table class='list'>
      <thead>
        <th><%= "id" %></th>
        <th><%= t"date_param", :param => t("register")%></th>
        <th><%= t"date_param", :param => t("publication")%></th>
        <th><%= t"title" %></th>
        <th><%= t"author" %></th>
        <th><%= t"type" %></th>
        <th><%= t"cover" %></th>
        <th><%= t"publish" %></th>
        <th></th>
      </thead>
      <tbody>
      <% @pages.each do |page| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%= page.id %></td>
          <td><%= l page.created_at, :format => :short %></td>
          <td><%= l page.date_begin_at, :format => :short %></td>
          <td><%= page.title %></td>
          <td><%= page.user.login %></td>
          <td><%= t"#{page.type.downcase}", :count => 1 %></td>
          <td align="center"><%= raw toggle_field(page, "front") %></td>
          <td align="center"><%= raw toggle_field(page, "publish") %></td>
          <td>
            <%= raw make_menu(page) %> 
          </td>
        </tr>
      <% end; reset_cycle %>
      </tbody>
    </table>
    <%= will_paginate @pages, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next"), :class => 'pagination ajax' %>
  <% else %>
    <% flash.now[:warning] = (t"none_param", :param => t("page.one")) %>
  <% end %>
