<center>
  <%= form_tag request.path, :method => 'get', :remote => true do %>
    <%= text_field_tag :search %>
    <%= select_tag("locales", options_for_select(@site.locales.map{|l| [t(l.name), l.name]}), {include_blank: t('all')} ) %>
    <%= hidden_field_tag 'page', 1 %>
    <%= hidden_field_tag 'per_page', "#{params[:per_page]}" %>
    <%= submit_tag t("search") %>
  <% end %>
</center>

<%= paginate @pages, :remote => true %>
<%= info_page @pages %>
<%= per_page_links @pages, true %>
<table id='list' class="list">
  <thead>
    <th><%= sortable 'date_begin_at', t("date_param", :param => t("register"))%></th>
    <th><%= sortable 'title', t("title") %></th>
    <th><%= sortable 'category', t("category") %></th>
    <th><%= sortable 'type', t("type") %></th>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <%= content_tag :tr, id: "sort_page_#{page.id}", onclick: "selected(#{page.id}, '#{page.by_locale(session[:locale]).title}')", style: 'cursor: pointer' do %>
        <td><%= page.created_at.strftime('%d/%m/%y') %></td>
        <td><%= page.by_locale(session[:locale]).title %></td>
        <td><%= page.category_list %></td>
        <td><%= t"#{page.type.downcase}.one" %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
