<%= info_page @pages %>
<%= paginate @pages, :remote => true %>
<table id='list' class="list">
  <thead>
    <th><%= sortable 'id' %></th>
    <th><%= sortable 'created_at', t("date_param", :param => t("register"))%></th>
    <th><%= sortable 'title', t("title") %></th>
    <th><%= sortable 'author_id', t("author") %></th>
    <th><%= sortable 'category', t("category") %></th>
    <th><%= sortable 'type', t("type") %></th>
    <% if check_permission(PagesController, 'toggle_field') %>
      <th><%= sortable 'front', t("cover") %></th>
      <th><%= t"publish" %></th>
    <% end %>
    <th></th>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr id="sort_page_<%= page.id %>">
        <td><%= page.id %></td>
        <td><%=l page.created_at, :format => :short %></td>
        <td><%= link_to page.by_locale(session[:locale]).title, site_page_path(@site,page) %></td>
        <% if page.user %>
          <td><%= page.user.first_name ? ("#{page.user.first_name} #{page.user.last_name}") : page.user.login %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= page.category_list.join ', ' %></td>
        <td><%= t"#{page.type.downcase}.one" %></td>
        <% if check_permission(PagesController, [:toggle_field]) %>
          <td align="center"><%= raw toggle_field(page, "front") %></td>
          <td><%= publication_status(page) %></td>
        <% end %>
        <td>
          <%= make_menu(page, :except => "show") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @pages, :remote => true %>
<%= per_page_links @pages %>
