<% @repository = Repository.new %>
<%= simple_form_for [@site, @repository],
  url: site_repositories_path(from: 'other'),
  remote: false,
  html: { :multipart => true } do |f| %> 
  <% if @repository.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@repository.errors.count, "") %> <%= t"prohibited_being_saved", :count => @repository.errors.count %>: </h2>
      <ul>
      <% @repository.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :description, :label => t("description"), :required => true, :hint => t("field_required") %>
  <%= f.input :archive, :label => t(:archive, :count => 1), :required => true, :hint => t("field_required"), :as => :file %>
  <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden %>

  <label class="string"></label>
  <%= f.submit t("submit"),class: "green-button" %>
<% end %>
