<hr />
  <p>
    Título: <%= f.text_field :title %> *
  </p>
  <p>
    Resumo: <%= f.text_field :summary %>
  </p>
  <p>
    Fonte: <%= f.text_field :source %> *
  </p>
  <p>
    <%= f.check_box :front %> A notícia é capa?
  </p>
  <p>
    <%= f.label :text_image %><br />
    <%= f.text_field :text_image %>
  </p>
  <p>
    <%= f.label :pdf %><br />
    <%= f.text_field :pdf %>
  </p>
