<hr />
<p>
  <%= f.label :subject %><br />
  <%= f.text_field :subject %>
</p>
<p>
  <%= f.label :text_clob %><br />
  <%= f.text_field :text_clob %>
</p>
<p>
  <%= f.label :align %><br />
  <%= f.text_field :align %>
</p>
