<div id='no_front_news'>
  <%= paginate @no_front_news, :remote => true %>
  <%= info_page @no_front_news %>
  <% if @no_front_news.count > 0 %>
    <table class="border fullwidth zebra">
      <tr>
        <th> <%= link_to t("page.other"), site_pages_path(@site) %> </th>
      </tr>
      <% @no_front_news.each do |page| %>
        <tr>
          <td>
            <p>
            <%= link_to page.title, site_page_path(@site, page) %>
            <%= raw page.summary %>
            </p>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
