<tr>
  <td><%= l(page.created_at, :format => :short) %></td>
  <td>
    <%= page.title %>
    <% page.i18ns.each do |i18n| %>
      <%= flag_link(Locale.find_by_id(i18n.locale_id), site_page_path(@site, page, page_locale: i18n.locale.name), '24') %>
    <% end %>
  </td>
  <td><%= page.author.first_name %></td>
  <td><%= page.category_list.join ', ' %></td>
  <td><%= t"#{page.type.downcase}.one" %></td>
  <% with_permission(action: :toggle_field) do %>
    <td align="center"><%= raw toggle_field(page, "front") %></td>
    <td align="center"><%= publication_status(page) %></td>
    <td><%= make_menu(page, :except => "show") %></td>
  <% end %>
</tr>
