<tr>
  <td><%= l(page.created_at, :format => :short) %></td>
  <td>
    <p><%= page.title %></p>
    <p>
      <% page.locales.each do |locale| %>
        <%= flag_link(locale, site_page_path(@site, page, page_locale: locale.name), '16') %>
      <% end %>
    </p>
  </td>
  <td><%= page.author.first_name %></td>
  <td><%= page.category_list * ', ' %></td>
  <td><%= t"#{page.type.downcase}.one" %></td>
  <% with_permission(action: :toggle_field) do %>
    <td align="center"><%= raw toggle_field(page, "front") %></td>
    <td align="center"><%= publication_status(page) %></td>
    <td><%= make_menu(page, :except => "show") %></td>
  <% end %>
</tr>
