<tr>
  <td><%= page.id %></td>
  <td><%= l(page.created_at, :format => :short) %></td>
  <td>
    <%= page.i18n(current_locale).title %>
    <%# FIXME: Retirar esse loop ridículo daki! %>
    <% page.locales.each do |locale| %>
      <%= image_tag "flags/24/#{locale.flag}" %>
      <% end %>
  </td>
  <td><%= page.author %></td>
  <td><%= page.category_list.join ', ' %></td>
  <td><%= t"#{page.type.downcase}.one" %></td>
  <% if check_permission(PagesController, [:toggle_field]) %>
    <td align="center"><%= raw toggle_field(page, "front") %></td>
    <td align="center"><%= publication_status(page) %></td>
  <% end %>
  <td>
    <%= make_menu(page, :except => "show") %>
  </td>
</tr>
