<tr>
  <td><%= l(page.created_at, :format => :short) %></td>
  <td>
    <%= page.title %>
    <% page.locales.each do |locale| %>
      <%= image_tag "flags/24/#{Locale.find_by_name(locale).flag}" %>
    <% end %>
  </td>
  <td><%= page.author %></td>
  <td><%= page.category_list.join ', ' %></td>
  <td><%= t"#{page.type.downcase}.one" %></td>
  <% with_permission(action: :toggle_field) do %>
    <td align="center"><%= raw toggle_field(page, "front") %></td>
    <td align="center"><%= publication_status(page) %></td>
    <td><%= make_menu(page, :except => "show") %></td>
  <% end %>
</tr>
