<fieldset>
  <div id="pages">
    <p> <h1> <%= t("newsletter", :count => 1) %> </h1> </p>

    <% unless @page.repository.archive_file_name.nil? %>
      <p> 
        <a href="<%= @page.repository.archive.url %>" alt="<%= @page.repository.description %>">
        <%= image_tag("#{@page.repository.archive.url}", :size => "200x200", :align => "right") %>
        </a> 
      </p>
    <% end %>

    <i><%= l @page.created_at, :format => :short %></i>

    <p> <h3> <%=h @page.url %> </h3> </p>

    <%= link_to t("edit"), {:controller => 'pages', :action => 'edit', :id => @page.id, :type => 'Newsletter'}%> | 
    <%= link_to t("back"), site_pages_path()%>
  </div>
</fieldset>
