<script type="text/javascript">
  $(function() {
    // Forma um link para a página da forma:
    //  /sites/site_name/pages/page_id
    $("table.list > tbody > tr").click(function(){
      var site = tinyMCEPopup.editor.settings.site_name;
      $('#href').val("/sites/"+site+"/pages/"+$(this).find('td').first().text());
    });

    // Para realizar a consulta por páginas
    $('#search_button').click(function(e) {
      var search = $('#search').val();
      $.get(this.href, {'tiny_mce': true, 'search': search}, null, 'script');
      e.preventDefault();
      return false;
    });
  });
</script>
<style type="text/css">
  table.list tr{
    cursor: pointer;
  }
  table.list tbody tr:hover {
    background: rgb(204, 204, 204);
  }
</style>
<div id="tinyMCE_search_area">
  <%= text_field_tag 'search', params[:search], placeholder: t('search') + " " + t('page.other'), onkeypress: "return enter_to_click(event,'search_button');" %>
  <%= link_to t('search'), tiny_mce_site_pages_path, remote: true, id: 'search_button' %>
</div>
<br/>

<table class='list' style="width:100%" rules="all">
  <thead>
    <th><%= sortable 'pages.id', t("id") %></th>
    <th><%= sortable 'title', t("title") %></th>
    <th><%= sortable 'users.first_name', t("author") %></th>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.id %></td>
        <td><%= page.title %></td>
        <td><%= page.author.first_name ? ("#{page.author.first_name} #{page.author.last_name}") : page.author.login %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br style="clear:both;" />
<div style="float:right;margin-bottom:2px;">
  <%= paginate @pages, remote: true %>
</div>