<div class="tabs">
  <ul>
    <% @site.locales.each do |locale| %>
      <li><%= link_to locale_with_name(locale), "##{locale}" %></li>
    <% end %>
  </ul>
  <% @site.locales.each do |locale| %>
    <div id="<%= locale.name %>">
      <%= f.i18ns_fields_for(locale) do |g| %>
          <%= g.input :_destroy,
            as: :boolean if g.object.try(:id) %>
        <%= g.input :title, required: false %>

        <%= g.input :summary,
          input_html: {class: "mceSimple", style: "width: 550px; height: 180px;"},
          as: :text %>

        <%= g.input :text,
          input_html: {class: "mceAdvance", style: "width: 550px; height: 320px;"},
          as: :text %>
      <% end %>
    </div>
  <% end %>
</div>
