<% unless @front_news.empty? %>
  <section id="pages">
    <% @front_news.each do |page| %> 
      <li id=<%= "page_#{page.id}" %> style="list-style-type:none;">
      <div class="<%= cycle 'pageright', 'pageleft' %>">
        <% unless page.repository.nil? %>
          <%= link_to image_tag("#{page.repository.archive.url(:mini)}", :alt => page.repository.description), site_page_path(@site, page, :type => params[:type]), :title => page.repository.description %>
        <% end %>
        <p> <h2> <%= page.title %> </h2> </p>
        <%= raw page.summary %>
        <p> <%= link_to t("read_more"), site_page_path(@site, page) %> </p>
        <div class="clear"></div>
        <%= raw make_menu(page) %>
        <% if check_permission(PagesController, [:sort]) %>
          <%= link_to t("move"), "#", :class => 'handle icon icon-drag' %>
        <% end %>
      </div>
    <% end; reset_cycle %>
    </li>
  </section>
<% end %>
<% unless @no_front_news.empty? %>
  <table class="border fullwidth zebra">
    <tr> 
      <th> <%= t "page.other" %> </th> 
    </tr>
    <% @no_front_news.each do |page| %>
      <tr>
        <td>
          <p> 
            <%= link_to page.title, site_page_path(@site, page) %>
            <%= raw page.summary %>
          </p>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
