<fieldset>
  <legend><%= t"create_param.masc", :param => t("i18n") %></legend>

  <%# TODO: Internacionalizar campos %>
  <p>Nóticia original<p>
  <h2><%= @page.by_locale(@current_locale).title %></h2>
  <small><%= raw @page.by_locale(@current_locale).summary %></small>
  <p><%= raw @page.by_locale(@current_locale).text %></p>
  <hr>

  <%= simple_form_for @page_i18n, :url => create_i18n_site_page_path(@site, @page), :html => { :method => :post } do |f| %>
    <%= f.input :page_id, :as => :hidden %>
    <%= f.association :locale, :label => t('locale'), :collection => @langs.map{ |l| [t(l.name), l.id] }, :include_blank => false %>

    <%= render 'page_i18ns/form', :f => f %>

    <div class="actions">
      <%= f.submit t("create") %> <%= link_to t("back"), :back %>
    </div>

  <% end %>
</fieldset>
