<fieldset>
  <legend><%= t"editing", :param => t("#{params[:type].downcase}", :count => 1) %></legend>

  <%= form_for [@site, @page], :url => site_page_path(@site, @page, :type => params[:type]), :html => { :multipart => true }, :builder => SemanticFormBuilder do |f| %>
   <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", :count => @page.errors.count %>:</h2>

        <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %> 

    <%= f.datetime_select :date_begin_at, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  (t"date_param", :param => t("begin")), :start_year => Time.now.year %>
    <%= f.datetime_select :date_end_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date_param", :param => t("end")), :start_year => Time.now.year %>

    <%= f.hidden_field :position %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :author_id %>
    <%= f.text_area :text, :label => t("text"), :class => "mceAdvance" %>

    <%= render :partial => "form" + params[:type], :locals => {:f => f} %>

    <% if !@repositories.nil? %>
      <% @repositories.each do |image| %>
        <p>
        <% if image.archive_content_type.gsub(%r(/.*),'') == "image" %>
          <%= image_tag image.archive.url, :size => "80x80" %>
          <%= f.radio_button :repository_id, image.id.to_i, :label => "#{image.description}" %>
        <% end %>
        </p>
      <% end %>
      <%= will_paginate @repositories, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next") %>
    <% end %>

    <%= f.submit t("submit") %> <%= link_to t("back"), :back %>
  <% end %>

</fieldset>

