<fieldset>
  <legend><%= t"editing", :param => t("#{params[:type].downcase}.one") %></legend>

  <div id="repo_new" >
    <div class="contextual">
      <%= link_to (t"new_param", :param => (t"archive.one")), nil, :update => "repo_new", :remote => true, :onclick => "$('#page1').toggle();", :class => 'icon icon-add', %>
    </div>
    <div id="page1" style="display:none">
      <%= render :partial => 'repositories/form'%>
    </div>
  </div>

  <%= form_for [@site, @page], :url => site_page_path(@site, @page, :type => params[:type]), :html => { :multipart => true }, :builder => SemanticFormBuilder do |f| %>
   <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", :count => @page.errors.count %>:</h2>
        <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %> 

    <%= link_to t("back"), :back %>

    <div id="div_event">
      <%= render :partial => 'formEvent', :locals => {:f => f} %>
    </div>

    <div id='repo_list'>
      <%= render :partial => 'repo_list', :locals => { :f => f } %>
    </div>

    <%= f.hidden_field :position %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :author_id %>

    <%= f.datetime_select :date_begin_at, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  (t"date_param", :param => t("begin")), :start_year => Time.now.year %>
    <%= f.datetime_select :date_end_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date_param", :param => t("end")), :start_year => Time.now.year %>

    <%= f.text_field :title, :label => t("title"), :required => true, :help => t("field_required")  %>
    <%= f.text_area :text, :label => t("text"), :class => "mceAdvance", :size => "48x10" %>

    <%= f.text_area :summary, :label => t("summary"), :class => "mceSimple", :size => "48x8" %>
    <%= f.text_field :source, :label => t("source"), :required => true, :help => t("field_required") %> 
    <%= f.text_field :url, :label => t("url") %>
    <%= f.check_box :publish , :label => t("publish"), :help => t("publish_help") %>
    <%= f.check_box :front , :label => t("cover"), :help => t("cover_help") %>

    <div class="check-box-fields">
      <label for="div_event">
        <%= t("related_files") %>
        <span class="help"> <%= t("related_files_help") %> </span>
      </label>
      <div class="input">
        <% @page.repositories.each do |repo_file| %>
          <%= check_box_tag("#{@page.type.downcase}[repository_ids][]", repo_file.id, true) %>
          <%= "#{repo_file.description} (#{repo_file.archive_file_name})" %>
          <br />
        <% end %>
        <div id="files_list">
          <%= render :partial => 'files_list' %>
        </div>
        <div id="will_paginate">
          <%#= page_entries_info @repo_files %>
          <%= will_paginate @page_files_unchecked, :param_name => 'page_files', :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next"), :class => 'pagination ajax', :page_links => false, :renderer => Twitter, :twitter_label => t("more") %>
        </div>
      </div>
    </div>

    <%= f.submit_and_cancel t("save"), t("cancel") %>
    <%= link_to t("back"), :back %>
  <% end %>

  <div id="repo_new" >
    <div class="contextual">
      <%= link_to (t"new_param", :param => (t"archive.one")), nil, :update => "repo_new", :remote => true, :onclick => "$('#page2').toggle();", :class => 'icon icon-add' %>
    </div>
    <div id="page2" style="display:none">
      <%= render :partial => 'repositories/form'%>
    </div>
  </div>
</fieldset>

