<fieldset>
  <legend><%= t"editing", :param => t("#{params[:type].downcase}.one") %></legend>

  <div id="repo_new" >
    <div class="contextual">
      <%= link_to (t"new_param.masc", :param => (t"archive.one")), new_site_repository_path,
        :remote => true,
        :onclick => "$('#page').toggle();",
        :class => 'icon icon-add' %>
    </div>
    <div id="page" style="display:none"> </div>
  </div>

  <%= simple_form_for [@site, @page], :url => site_page_path(@site, @page, :type => params[:type]), :html => { :multipart => true } do |f| %>
    <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", :count => @page.errors.count %>:</h2>
        <ul>
          <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %> 

    <div id="div_event">
      <%= render :partial => 'formEvent', :locals => {:f => f} %>
    </div>

    <div id='repo_list'> 
      <%= info_page @repos %>
      <%= render :partial => 'repositories/repo', :locals => {:obj => @page, :field => :repository_id, :collection => @repos} %>
    </div>

    <%= f.input :date_begin_at, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  (t"date_param", :param => t("begin")), :as => :datetime %>
    <%= f.input :date_end_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date_param", :param => t("end")), :id => "datapicker", :as => :datetime %>

    <%= f.fields_for :page_i18ns do |i18n| %>
      <%= i18n.input :locale_id, :as => :hidden %>
      <br />
      <hr />
      <h1><%= t i18n.object.locale.name %></h1>
      <% unless Setting.get('default_locale') == i18n.object.locale.name %>
        <div class="remove-i18n">
          <%= i18n.label :_destroy, t('mark_to_destroy') %>
          <%= i18n.check_box :_destroy %>
        </div>
      <% end %>
      <%= render 'page_i18ns/form', :f => i18n %>
    <% end %>

    <%= f.input :source, :label => t("source"), :hint => t("field_required") %> 
    <%= f.input :url, :label => t("url") %>
    <%#= f.input :category, :collection => @site.page_categories, :label_html => { :add => ["categoria", "#page_category"] } %>
    <%= f.input :category_list, :label => t('categories'), :hint => t('page_categories_help') %>

    <%= f.input :publish , :label => t("publish"), :hint => t("publish_help"), :as => :boolean %>
    <%= f.input :front , :label => t("cover"), :hint => t("cover_help"), :as => :boolean %>
    
    <%= f.input :position, :as => :hidden %>
    <%= f.input :status, :as => :hidden %>
    <%= f.input :author_id, :input_html => {:value => "#{@current_user.id}"}, :as => :hidden %>

    <div class="collection_check_boxes">
      <label>
        <%= t("related_files") %>
      </label>
      <div class="check_boxes">
        <% @page.repositories.each do |repo_file| %>
          <p class='checklabel'>
            <%= check_box_tag("#{@page.type.downcase}[repository_ids][]", repo_file.id, true) %>
            <%= "#{repo_file.description} (#{repo_file.archive_file_name})" %>
          </p>
        <% end %>
        <div id="files_list">
          <%= render :partial => 'files_list' %>
        </div>
        <div id="twitter">
          <%= paginate @page_files_unchecked, :param_name => 'twitter_page', :theme => 'twitter', :remote => true %> 
        </div>
        <span class="hint"> <%= t("related_files_help") %> </span>
      </div>
    </div>

    <label class="string"></label>
    
		<div class="actions">
		   <%= f.submit t("edit") %> <%= link_to t("back"), :back %>
  	</div>
  	
  <% end %>
</fieldset>
