<fieldset>
  <legend><%= t"editing", :param => t("#{params[:type].downcase}", :count => 1) %></legend>

  <%= form_for [@site, @page], :url => site_page_path(@site, @page, :type => params[:type]), :html => { :multipart => true }, :builder => SemanticFormBuilder do |f| %>
   <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", :count => @page.errors.count %>:</h2>
        <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %> 

    <% unless @repositories.nil? %>
      <%= f.radio_button_group :repository_id, @repositories.map{|u| { :value => u.id, :image => u.archive.url }}, (will_paginate @repositories, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next")), :label => t("picture"), :help => t("picture") %>
    <% end %>

    <%= f.datetime_select :date_begin_at, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  (t"date_param", :param => t("begin")), :start_year => Time.now.year %>
    <%= f.datetime_select :date_end_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date_param", :param => t("end")), :start_year => Time.now.year %>

    <%= f.hidden_field :position %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :author_id %>
    <%= f.text_field :title, :label => t("title"), :required => true, :help => t("field_required")  %>
    <%= f.text_area :text, :label => t("text"), :class => "mceAdvance", :size => "48x10" %>

    <%= render :partial => "form" + params[:type], :locals => {:f => f} %>

    <%= f.submit(t"save") %>
  <% end %>

</fieldset>

