<fieldset>
  <legend><%= t"page.other"  %></legend>

  <% if params[:type] %>
    <% if check_permission(PagesController, 'new') %>
      <div class="contextual">
        <p> <%= link_to (t"new_param.fem", :param => (t"page.one")), new_site_page_path, :class => 'icon icon-add' %> </p>
      </div>
    <% end %>
  <% end %>

  <center>
    <%= form_tag request.path, :method => 'get', :remote => true do %>
      <%= text_field_tag :search %>
      <%= select_tag("locales", options_for_select(@site.locales.map{|l| [t(l.name), l.name]}), {include_blank: t('all')} ) %>
      <%= hidden_field_tag 'page', 1 %>
      <%= hidden_field_tag 'per_page', "#{params[:per_page]}" %>
      <%= submit_tag t("search") %>
    <% end %>
  </center>

  <div id="page_list">
    <%= render :partial => ( @tiny_mce ? 'list_popup' : 'list' ) %>
  </div>

  <%= javascript_tag do %>
    window.onload=function(){
      $().ready(function() {
        $('#list').sortable({
          axis: 'y', 
          dropOnEmpty:false, 
          handle: '.handle', 
          cursor: 'crosshair',
          items: 'tr',
          opacity: 0.4,
          scroll: true,
          update: function(){
            $.ajax({
              type: 'post', 
              data: $('#list').sortable('serialize'),
              dataType: 'script', 
              complete: function(request){ $('#list tr').effect('highlight'); },
              url: '<%= sort_site_pages_path %>'
            })
          }
        })
      })
    }
  <% end %>
</fieldset>
