<%= javascript_include_tag 'tinymce/tiny_mce.js' %>
<%= javascript_include_tag 'tinymce/webyge_tinymce_default.js' %>

<fieldset>
  <legend><%= t"new" %> <%= params[:type] %></legend>

  <%= form_for @page, :builder => SemanticFormBuilder, :as => :page, :url => :pages do |f| %>
    <% @page.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  

    <%= f.date_select :created_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date", :param => t("register")), :start_year => Time.now.year %>
    <%= f.date_select :date_pub, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date", :param => t("publication")), :start_year => Time.now.year %>
    <%= f.date_select :date_begin, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  (t"date", :param => t("begin")), :start_year => Time.now.year %>
    <%= f.date_select :date_end, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date", :param => t("end")), :start_year => Time.now.year %>
    <%= f.text_field :image, :label => t("picture") %>
    <%= f.text_field :position, :label => t("position") %>
    <%= f.text_field :status, :label => t("status") %>
    <%= f.text_field :author_id, :label => t("author") %>
    <%= f.text_field :editor_id, :label => t("editor") %>
    <%= f.text_field :editor_chief_id, :label => t("chief_editor") %>
    <%= f.text_area :text, :label => t("text") %>
    <%= f.text_field :url, :label => t("url") %>
    <%= f.datetime_select :front_time, :label => t("time_cover"), :order => [:year, :month, :day], :use_month_numbers => true, :start_year => Time.now.year %>

    <%= f.hidden_field :type, :value => params[:type] %>
    <%= f.hidden_field :site_id, :value => @site.id %>

    <%= f.fields_for :sites_pages do |pages_form| %>
      <%= pages_form.hidden_field :site_id, :value => @site.id %>
      <%= pages_form.hidden_field :page_id, :value => @page.id %>
    <% end %>

    <%= render :partial => "new" + params[:type], :locals => {:f => f} %>
    <%= f.submit t("submit") %> <%= link_to t("back") %>
  <% end %>

</fieldset>
