<h1><%= t:new %> <%= params[:type] %></h1>

<%= form_for "page", @page, :url => :pages do |f| %>
  <% @page.errors.full_messages.each do |msg| %>  
    <li><%= msg %></li>  
  <% end %>  

  <%= f.hidden_field :type, :value => params[:type] %>

  <p>
    <%= f.label  t:date, :param => t("register") %><br />
    <%= f.date_select :created_at, :order => [:year, :month, :day], :use_month_numbers => true %>
  </p>
  <p>
    <%= f.label  t:date, :param => t("publication") %><br />
    <%= f.date_select :date_pub, :order => [:year, :month, :day], :use_month_numbers => true %>
  </p>
  <p>
    <%= f.label  t:date, :param => t("begin") %><br />
    <%= f.date_select :date_begin, :order => [:year, :month, :day], :use_month_numbers => true %>
  </p>
  <p>
    <%= f.label  t:date, :param => t("end") %><br />
    <%= f.date_select :date_end, :order => [:year, :month, :day], :use_month_numbers => true %>
  </p>
  <p>
    <%= f.label  t:picture %><br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.label  t:position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :autor_id %><br />
    <%= f.text_field :author_id %>
  </p>
  <p>
    <%= f.label  t:editor %><br />
    <%= f.text_field :editor_id %>
  </p>
  <p>
    <%= f.label t:chief_editor %><br />
    <%= f.text_field :editor_chief_id %>
  </p>
  <p>
    <%= f.label  t:text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.label  t:url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label  t:site_id %><br />
    <%= f.text_field :site_id %>
  </p>
  <p>
    <%= f.label  t:time_cover %><br />
    <%= f.datetime_select :front_time, :order => [:year, :month, :day], :use_month_numbers => true %>
  </p>

  <%= render :partial => "new" + params[:type], :locals=> { :f=>f } %>

  <p> <%= f.submit %> </p>
<% end %>

<%= link_to 'Voltar', :back %>
