<fieldset>
  <legend><%= t"new_param.fem", :param => (t"page.one") %></legend>

  <% unless self.controller.action_name == "edit" %>

    <div class="left" id="page_type">
      <div class="radio-button-set" id="link_form_pages">
        <%= radio_button_tag :type, :News, params[:type] == 'News', class: 'check-button' %>
        <%= label_tag :type_News, t("news.one") %>
        <%= radio_button_tag :type, :Event, params[:type] == 'Event', class: 'check-button' %>
        <%= label_tag :type_Event, t("event.one") %>
      </div>
    </div>

  <% end %>

  <%= simple_form_for [@site, @page], :url => site_pages_path(:type => params[:type]), :html => { :multipart => true } do |f| %>
    <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", :count => @page.errors.count %>:</h2>
        <ul>
          <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="right" id="include_page_file">
      <%= render_cell :repository, :include_file, "page[repository_id]", 
        t("add_param", param: t("page.image")),
        file_types: "image", multiplicity: "one" %>
    </div>

    <div class="left" id="event_fields">
    </div>

    <%= f.fields_for :page_i18ns do |i18nbuilder| %>
      <%= i18nbuilder.input :locale_id, :as => :hidden %>
      <%= render 'page_i18ns/form', :f => i18nbuilder %>
    <% end %>

    <div class="left">
      <%= f.input :date_begin_at, as: :string,
        input_html: {class: "datepicker"} %>
  
      <%= f.input :date_end_at, as: :string,
        input_html: {class: "datepicker"} %>
    </div>

    <div class="right">
      <%= f.input :publish , :label => t("publish"),
        as: :boolean, input_html: { class: "check-button" } %>
      <%= f.input :front , :label => t("cover"), 
        as: :boolean, input_html: { class: "check-button" } %>
    </div>

    <%= f.input :source, label: t("source") %> 
    <%= f.input :url, label: t("url"),
      hint: "#{t("field_required")} #{t("example_param", :param => "http://site.com")}" %>

    <%= f.input :category_list, :label => t('categories'), :hint => t('page_categories_help') %>

    <%= f.input :created_at, :order => [:year, :month, :day],
      :use_month_numbers => true, :label => (t"date_param", :param => t("register")),
      :start_year => Time.now.year, :as => :hidden %>
    <%= f.input :position, :as => :hidden %>
    <%= f.input :status, :as => :hidden %>
    <%= f.input :author_id, :input_html => {:value => "#{@current_user.id}"}, :as => :hidden %>
    <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden  %>

    <%= f.simple_fields_for :sites_pages do |pages_form| %>
      <%= pages_form.input :site_id, :input_html => {:value => @site.id}, :as => :hidden  %>
      <%= pages_form.input :page_id, :input_html => {:value => @page.id}, :as => :hidden  %>
    <% end %>

    <%= render_cell :repository, :include_file, "page[repository_ids][]",
      t("add_param", param: t("related_files")) %>

    <div class="actions">
      <%= f.submit (t"create_param", :param => (t"page.one")), class: "green-button" %>
      <%= link_to t("back"), :back, class: "red-button" %>
    </div>
  <% end %>
</fieldset>

<%= content_for :javascripts, javascript_include_tag("pages_new") %>
<%= content_for :stylesheets, stylesheet_link_tag("pages_new") %>
