<fieldset>
  <legend><%= t"new" %> <%= params[:type] %></legend>

  <%= form_for [@site, @page], :url => site_pages_path(:type => params[:type]), :html => { :multipart => true }, :builder => SemanticFormBuilder do |f| %>
    <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", :count => @page.errors.count %>:</h2>

        <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :created_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date", :param => t("register")), :start_year => Time.now.year %>
    <%= f.date_select :date_begin, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  (t"date", :param => t("begin")), :start_year => Time.now.year %>
    <%= f.date_select :date_end, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date", :param => t("end")), :start_year => Time.now.year %>
    <%= f.hidden_field :position %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :author_id %>
    <%= f.text_area :text, :label => t("text"), :class => "mceAdvance" %>

    <%= f.hidden_field :type, :value => params[:type] %>
    <%= f.hidden_field :site_id, :value => @site.id %>

    <%= f.fields_for :sites_pages do |pages_form| %>
      <%= pages_form.hidden_field :site_id, :value => @site.id %>
      <%= pages_form.hidden_field :page_id, :value => @page.id %>
    <% end %>

    <%= render :partial => "form" + params[:type], :locals => {:f => f} %>
    <%= f.file_field :image, :label => t("picture") %>

    <%= f.submit t("submit") %> <%= link_to t("back"), :back %>
  <% end %>

</fieldset>
