<fieldset>
  <legend><%= t"new_param.fem", :param => (t"page.one") %></legend>

  <div id="repo_new" >
    <div class="contextual">
      <%= link_to (t"new_param.masc", :param => (t"archive.one")), new_site_repository_path,
        :remote => true,
        :onclick => "$('#page').toggle();",
        :class => 'icon icon-add' %>
    </div>
    <div id="page" style="display:none"> </div>
  </div>

  <%= simpl_form_for [@site, @page], :url => site_pages_path(:type => params[:type]), :html => { :multipart => true } do |f| %>
    <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", :count => @page.errors.count %>:</h2>
        <ul>
          <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id="div_event">
      <%= render :partial => 'formEvent', :locals => {:f => f} %>
    </div>

    <div id='repo_list'> 
      <%= info_page @repos %>
      <%= render :partial => 'repositories/repo', :locals => {:obj => @page, :field => :repository_id, :collection => @repos} %>
    </div>

    <%= f.input :date_begin_at,
      :label =>  (t"date_param", :param => t("begin")),
      :start_year => Time.now.year,
      :id => "datapicker",
      :as => :datetime %>

    <%= f.input :date_end_at,
      :label => (t"date_param", :param => t("end")),
      :start_year => Time.now.year,
      :default => 1.month.from_now,
      :id => "datapicker",
      :as => :datetime %>

    <%= f.fields_for :page_i18ns do |i18nbuilder| %>
      <%= i18nbuilder.input :locale_id, :as => :hidden %>
      <%= render 'page_i18ns/form', :f => i18nbuilder %>
    <% end %>

    <%= f.input :source, :label => t("source") %> 
    <%= f.input :url, :label => t("url") %>

    <%#= f.input :category, :collection => @site.page_categories, :label_html => { :add => ["categoria", "#page_category"] } %>
    <%= f.input :category_list, :label => t('categories'), :hint => t('page_categories_help') %>

    <%= f.input :publish , :label => t("publish"), :hint => t("publish_help"), :as => :boolean %>
    <%= f.input :front , :label => t("cover"), :hint => t("cover_help"), :as => :boolean %>

    <%= f.input :created_at, :order => [:year, :month, :day],
      :use_month_numbers => true, :label => (t"date_param", :param => t("register")),
      :start_year => Time.now.year, :as => :hidden %>
    <%= f.input :position, :as => :hidden %>
    <%= f.input :status, :as => :hidden %>
    <%= f.input :author_id, :input_html => {:value => "#{@current_user.id}"}, :as => :hidden %>
    <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden  %>

    <%= f.simple_fields_for :sites_pages do |pages_form| %>
      <%= pages_form.input :site_id, :input_html => {:value => @site.id}, :as => :hidden  %>
      <%= pages_form.input :page_id, :input_html => {:value => @page.id}, :as => :hidden  %>
    <% end %>

    <div class="collection_check_boxes">
      <label>
        <%= t("related_files") %>
      </label>
      <div class="check_boxes">
        <div id="files_list">
          <%= render :partial => 'files_list' %>
        </div>
        <span class="hint"> <%= t("related_files_help") %> </span>
        <div id="twitter">
          <%= paginate @page_files_unchecked, :param_name => 'twitter_page', :theme => 'twitter', :remote => true %> 
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit (t"create_param", :param => (t"page.one")) %> <%= link_to t("back"), :back %>
    </div>
  <% end %>
</fieldset>
