<%= javascript_include_tag 'tinymce/tiny_mce.js' %>
<%= javascript_include_tag 'tinymce/webyge_tinymce_default.js' %>

<h1><%= t"new" %> <%= params[:type] %></h1>

<%= form_for @page, :builder => SemanticFormBuilder, :url => :pages  do |f| %>
  <% @page.errors.full_messages.each do |msg| %>  
    <li><%= msg %></li>  
  <% end %>  

 <p>
      <%= f.date_select :created_at, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date", :param => t("register"))  %>
    </p>
    <p>
      <%= f.date_select :date_pub, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date", :param => t("publication"))  %>
    </p>
    <p>
      <%= f.date_select :date_begin, :order => [:year, :month, :day], :use_month_numbers => true, :label =>  (t"date", :param => t("begin"))  %>
    </p>
    <p>
      <%= f.date_select :date_end, :order => [:year, :month, :day], :use_month_numbers => true, :label => (t"date", :param => t("end") )  %>
    </p>
    <p>
      <%= f.text_field :image, :label => t("picture") %>
    </p>
    <p>
      <%= f.text_field :position, :label => t("position") %>
    </p>
    <p>
      <%= f.text_field :status, :label => t("status") %>
    </p>
    <p>
      <%= f.text_field :author_id, :label => t("author") %>
    </p>
    <p>
      <%= f.text_field :editor_id, :label => t("editor") %>
    </p>
    <p>
      <%= f.text_field :editor_chief_id, :label => t("chief_editor") %>
    </p>
    <p>
      <%= f.text_area :text, :label => t("text") %>
    </p>
    <p>
      <%= f.text_field :url, :label => t("url") %>
    </p> 
  <p>
    <%= f.datetime_select :front_time, :label => t("time_cover") , :order => [:year, :month, :day], :use_month_numbers => true %>
  </p>
  <%= f.hidden_field :type, :value => params[:type] %>

  <%= render :partial => "new" + params[:type], :locals=> { :f => f } %>

  <%= f.submit t("submit") %> <%= link_to t("back") %>
<% end %>
