<fieldset>
  <legend><%= t"new_param.fem", :param => (t"page.one") %></legend>

  <%= simple_form_for [@site, @page], :url => site_pages_path(:type => params[:type]), :html => { :multipart => true } do |f| %>
    <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count,"") %><%= t"prohibited_being_saved", :count => @page.errors.count %>:</h2>
        <ul>
          <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless self.controller.action_name == "edit" %>

      <fieldset class="left" id="page-event" >
        <legend>
          <div id="page_type">
            <%= check_box_tag :type, :Event, params[:type] == 'Event' %>
            <%= label_tag :type, "#{t("is")} #{t("event.one")}?" %>
          </div>
        </legend>  
        <div id="event_fields"></div>
      </fieldset>

    <% end %>

    <div class="right" id="include_page_image">
      <%= render_cell :repository, :include_file, "page[repository_id]", 
        t("page.image"), file_types: "image", multiplicity: "one",
        same_place: true %>
    </div>

    <div class="tabs">
      <ul>
        <% @site.locales.each do |locale| %>
          <li>
          <%= link_to t(locale.name), "##{locale.name}"  %>
          </li>
        <% end %>
      </ul>
      <% @site.locales.each do |locale| %>
        <div id="<%= locale.name %>">
          <%= international_fields(locale.id, f) %>
        </div>
      <% end %>
    </div>

    <div>
      <div class="left">
        <%= f.input :source, label: t("source") %> 
      </div>
      <div class="right">
        <%= f.input :url, label: t("redirect_address"),
          placeholder: "http://site.com" %>
      </div>
    </div>

    <div class="period-dates left">
      <label>Período da Notícia: </label>
      <div class="period-dates-inputs">
        <%= f.input :date_begin_at, as: :string,
          placeholder: t("begin"),
          wrapper_html: {class: "period-date period-date-left"},
          input_html: {class: "datetimepicker"} %>

        <%= f.input :date_end_at, as: :string,
          placeholder: t("publication_infinite"),
          wrapper_html: {class: "period-date period-date-right"},
          input_html: {class: "datetimepicker"} %>
      </div>
    </div>

    <%= f.input :category_list, :label => t('categories'),
      placeholder: "UFG, Sports, Arts",
      :hint => t('page_categories_help') %>

    <%= f.input :created_at, :order => [:year, :month, :day],
      :use_month_numbers => true, :label => (t"date_param", :param => t("register")),
      :start_year => Time.now.year, :as => :hidden %>

    <%#= f.input :position, :as => :hidden %>
    <%#= f.input :status, :as => :hidden %>
    <%= f.input :author_id, :input_html => {:value => "#{@current_user.id}"}, :as => :hidden %>
    <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden  %>

    <%= f.simple_fields_for :sites_pages do |pages_form| %>
      <%= pages_form.input :site_id, :input_html => {:value => @site.id}, :as => :hidden  %>
      <%= pages_form.input :page_id, :input_html => {:value => @page.id}, :as => :hidden  %>
    <% end %>


    <div style="margin-top: 30px">
      <div class="left">
        <%= render_cell :repository, :include_file, "page[repository_ids][]",
          t("add_param", param: t("related_files")) %>
      </div>

      <div class="right">
        <%= f.input :publish , :label => t("publish"),
          wrapper_html: { class: "left no-clearfix" },
          as: :boolean, input_html: { class: "check-button" } %>
        <%= f.input :front , :label => t("cover"), 
          wrapper_html: { class: "right no-clearfix" },
          as: :boolean, input_html: { class: "check-button" } %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit (t"create_param.masc", :param => (t"page.one")), class: "green-button" %>
      <%= link_to t("back"), :back, class: "red-button" %>
    </div>
  <% end %>
</fieldset>

<%= content_for :javascripts, javascript_include_tag("pages_new") %>
<%#= content_for :javascripts, javascript_include_tag("paginate_on_scroll") %>
<%= content_for :stylesheets, stylesheet_link_tag("pages_new") %>
