<% @page.attributes.each do |attribute, value| %>
<p>
  <%= label :page, attribute.to_sym %>: <%= value %>
</p>
<% end %>

<%= t(".created_at") %>

<div class="actions">
  <% with_permission(action: :edit) do %>
    <%= link_to 'Edit', edit_site_page_path(@site, @page), class: 'red-button' %>
  <% end %>
  <%= link_to t('back'), site_pages_path(@site), class: 'red-button' %>
</div>
