<p>
  <b><%= t:data, :param => t("registration") %>:</b>
  <%= @page.created_at %>
</p>
<p>
  <b><%= t:data, :param => t("publication")%>:</b>
  <%= @page.date_pub %>
</p>
<p>
  <b><%= t:data, :param => t("begin")%>:</b>
  <%= @page.date_begin %>
</p>
<p>
  <b><%= t:data, :param => t("end") %>:</b>
  <%= @page.date_end %>
</p>
<p>
  <b><%= t:picture %>:</b>
  <%= @page.image %>
</p>
<p>
  <b><%= t:position %>:</b>
  <%= @page.position %>
</p>
<p>
  <b><%= t:source %>:</b>
  <%= @page.source %>
</p>
<p>
  <b><%= t:status%>:</b>
  <%= @page.status %>
</p>
<p>
  <b><%= t:author%>:</b>
  <%= @page.author %>
</p
<p>
  <b><%= t:editor%></b>
  <%= @page.editor %>
</p>
<p>
  <b><%= t:chief_editor %></b>
  <%= @page.editor_cheif_id %>
</p>
<p>
  <b><%= t:kind %>:</b>
  <%= @page.kind %>
</p>
<p>
  <b><%= t:title %>:</b>
  <%= @noticia.title %>
</p>
<p>
  <b><%= t:localization %>:</b>
  <%= @page.local %>
</p>
<p>
  <b><%= t:begin  %>:</b>
  <%= @page.event_begin %>
</p>
<p>
  <b><%= t:end  %>:</b>
  <%= @page.event_end %>
</p>
<p>
  <b><%= t:text  %>:</b>
  <%= @page.text %>
</p>
<p>
  <b><%= t:email  %>Email:</b>
  <%= @page.email %>
</p>
<p>
  <b><% t:url %>:</b>
  <%= @page.url %>
</p>
<p>
  <b><%= t:picture_text %>:</b>
  <%= @page.text_image %>
</p>
<p>
  <b><%= t:summary  %>:</b>
  <%= @page.summary %>
</p>
<p>
  <b><%= t:pdf %>:</b>
  <%= @page.pdf %>
</p>
<p>
  <b><% t:site %>:</b>
  <%= @page.site_id %>
</p>
<p>
  <b><%= t:cover  %>:</b>
  <%= @page.front %>
</p>
<p>
  <b><%= t:time_cover %>:</b>
  <%= @page.front_time %>
</p>
<p>
  <b><%= t:subject  %>:</b>
  <%= @page.subject %>
</p>
<p>
  <b><%=#??   %>Texto clob:</b>
  <%= @page.text_clob %>
</p>
<p>
  <b><%= t:side %>:</b>
  <%= @page.align %>
</p>

<%= link_to t('edit'), edit_page_path(@page) %> | <%= link_to t('back') %>
