<p>
  <b><%= t:data, :param => t("registration") %>:</b>
  <%=h @page.created_at %>
</p>

<p>
  <b><%= t:data, :param => t("publication")%>:</b>
  <%=h @page.date_pub %>
</p>

<p>
  <b><%= t:data, :param => t("begin")%>:</b>
  <%=h @page.date_begin %>
</p>

<p>
  <b><%= t:data, :param => t("end") %>:</b>
  <%=h @page.date_end %>
</p>

<p>
  <b><%= t:picture %>:</b>
  <%=h @page.image %>
</p>

<p>
  <b><%= t:position %>:</b>
  <%=h @page.position %>
</p>

<p>
  <b><%= t:source %>:</b>
  <%=h @page.source %>
</p>

<p>
  <b><%= t:status%>:</b>
  <%=h @page.status %>
</p>

<p>
  <b><%= t:author%>:</b>
  <%=h @page.author %>
</p>

<p>
  <b><%= t:editor%></b>
  <%=h @page.editor %>
</p>

<p>
  <b><%= t:chief_editor %></b>
  <%=h @page.editor_cheif_id %>
</p>


<p>
  <b><%= t:kind %>:</b>
  <%=h @page.kind %>
</p>

<p>
  <b><%= t:title:</b>
  <%=h @noticia.title %>
</p>

<p>
  <b><%= t:localization %>:</b>
  <%=h @page.local %>
</p>

<p>
  <b><%= t:begin  %>:</b>
  <%=h @page.event_begin %>
</p>

<p>
  <b><%= t:end  %>:</b>
  <%=h @page.event_end %>
</p>

<p>
  <b><%= t:text  %>:</b>
  <%=h @page.text %>
</p>

<p>
  <b><%= t:email  %>Email:</b>
  <%=h @page.email %>
</p>

<p>
  <b><% t:url %>:</b>
  <%=h @page.url %>
</p>

<p>
  <b><%= t:picture_text %>:</b>
  <%=h @page.text_image %>
</p>

<p>
  <b><%= t:summary  %>:</b>
  <%=h @page.summary %>
</p>

<p>
  <b><%= t:pdf %>:</b>
  <%=h @page.pdf %>
</p>

<p>
  <b><% t:site %>:</b>
  <%=h @page.site_id %>
</p>

<p>
  <b><%= t:cover  %>:</b>
  <%=h @page.front %>
</p>

<p>
  <b><%= t:time_cover %>:</b>
  <%=h @page.front_time %>
</p>

<p>
  <b><%= t:subject  %>:</b>
  <%=h @page.subject %>
</p>

<p>
  <b><%=#??   %>Texto clob:</b>
  <%=h @page.text_clob %>
</p>

<p>
  <b><%= t:side %>:</b>
  <%=h @page.align %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
