<article>
  <% unless @page.repository.nil? %>
    <%= link_to image_tag("#{@page.repository.archive.url(:little)}", :align => "right"), @page.repository.archive.url, :alt => @page.repository.description, :title => @page.repository.description %>
  <% end %>

  <header>
    <h1> <%= @page.title %> </h1>
      <summary>
        <% if @site.view_desc_pages %>
          <p>
            <%= @page.user.first_name ? ("#{@page.user.first_name} #{@page.user.last_name}") : @page.user.login %>
            <%= l @page.created_at, :format => :short  %>
          </p>
        <% end %>
        <p> <%= raw @page.summary %> </p>
      </summary>
  </header>

  <%= raw @page.text %>
  <p>
  <h3> <%= @page.url.try(:empty?) ? @page.source : link_to(@page.source, @page.url) %>
  <%= " | categoria: " + @page.category unless @page.category.blank? %> </h3>
  </p>

  <% unless @page.repositories.empty? %>
    <table class="list">
      <thead bgcolor = white>
        <th><%= t"related_files" %></th>
        <th><%= t"size" %></th>
        <th> MD5 </th>
      </thead>
      <tbody>    
      <% @page.repositories.each do |repository| %>
        <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= link_to repository.description, repository.archive.url %></td>
        <td><%= repository.archive_file_size.to_i/1024 %> KB</td>
        <td><%= Digest::MD5.file(repository.archive.path) %></td>
        </tr>
      <% end; reset_cycle %>
      </tbody>
    </table>
    <br />
  <% end %>

  <% if check_permission(PagesController, ["edit"]) %>
    <%= link_to t("edit"), edit_site_page_path(@site, @page) %> |
  <% end %>
  <%= link_to t("list_all.fem"), site_pages_path(@site) %> | <%= link_to t("back"), :back %>
</article>
