<div id="list">
  <section id="pages">
  <% @front_news.each do |page| %>
    <li id=<%= "page_#{page.id}" %> style="list-style-type:none;">
      <article class="<%= cycle 'pageleft','pageright' %>">
        <% unless page.repository.nil? %>
          <% page.repository.archive.reprocess! if File.file?(page.repository.archive.path) and not File.file?(page.repository.archive.path(:little)) %>
          <%= link_to image_tag("#{page.repository.archive.url(:mini)}",
            :alt => page.repository.description),
            site_page_path(@site, page, :type => params[:type]),
            :title => page.repository.description %>
        <% end %>
        <header>
        <h2> <%= link_to page.title, site_page_path(@site, page) %> </h2>
        <% if @site.view_desc_pages %>
          <p>
          <i>
            <%= page.user.first_name ? ("#{page.user.first_name} #{page.user.last_name}") : page.user.login %>
            <%= l page.created_at, :format => :short  %>
          </i>
          </p>
        <% end %>
        </header>
        <summary>
        <%= raw page.summary %>
        </summary>
        <p> <%= link_to t("read_more"), site_page_path(@site, page) %> </p>
        <div class="clear"></div>
        <%= raw make_menu(page) %>
        <% if check_permission(PagesController, ["sort"]) %>
          <%= link_to t("move"), "#", :class => 'handle icon icon-drag' if @front_news.length > 1 %>
        <% end %>
      </article>
      <% end; reset_cycle %>
    </li>
  </section>

  <div id='no_front_news'>
    <%= paginate @no_front_news, :remote => true %>
    <%= info_page @no_front_news %>
    <% if @no_front_news.count > 0 %>
      <table class="border fullwidth zebra">
        <tr>
          <th> <%= link_to t("page.other"), site_pages_path(@site) %> </th>
        </tr>
        <% @no_front_news.each do |page| %>
          <tr>
            <td>
              <p>
              <%= link_to page.title, site_page_path(@site, page) %>
              <%= raw page.summary %>
              </p>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
<%= javascript_tag do %>
  window.onload=function(){
    $().ready(function() {
      $('#list').sortable({
        axis: 'y', 
        dropOnEmpty:false, 
        handle: '.handle', 
        cursor: 'crosshair',
        items: 'li',
        opacity: 0.4,
        scroll: true,
        update: function(){ $.ajax({ type: 'post', data: $('#list').sortable('serialize'), dataType: 'script', complete: function(request){ $('#list').effect('highlight'); }, url: '<%= sort_site_pages_path(:from => 'view') %>' }) }
      })
    })
  }
<% end %>
