<% unless @other_styles.empty? %>
  <%= info_page other_styles %>
  <%= paginate other_styles, param_name: :page_other_styles, window: 1 %>

  <table class='list'>
    <thead>
      <th> <%= t('name') %> </th>
      <th> <%= t('owner') %> </th>
      <th> <%= t('actions') %> </th>
    </thead>
    <tbody>
    <% @other_styles.each do |style| %>
      <tr>
        <td> <%= style.name %> </td>
        <td> <%= style.owner.name %> </td>
        <td class="style-action">
          <%= raw style_actions style, others: true %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate other_styles, param_name: :page_other_styles, window: 1 %>
<% else %>
  <p class="empty"> <%= t('no_other_styles') %> </p>
<% end %>
