<details open class="styles" id="own_styles">
  <summary><%= t("own_styles") %></summary>
  <div>
    <% unless styles.empty? %>
      <%= info_page styles %>

      <table class='list' id='style_list'>
        <thead>
          <th> <%= t('name') %> </th>
          <th> <%= t('sites_followers') %> </th>
          <th> <%= t('actions') %> </th>
        </thead>
        <tbody>
          <% styles.each do |style| %>
            <tr id = "sort_style_<%= style.id %>">
              <td> <%= style.name %> </td>
              <td> 
                <% style.followers.each do |site| %>
                  <%= site.name %>
                <% end %>
              </td>
              <td class="style-action">
                <%= raw style_actions style %>
                <% with_permission(action: :sort) do %>
                  <span class='handle icon icon-drag'><%= t("move") %></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
      <p class="empty"> <%= t('no_own_styles') %> </p>
    <% end %>
  </div>
</details>

<%= javascript_tag do %>
  window.onload=function(){
    $(document).ready(function() {
      $('#style_list').sortable({
        axis: 'y',
        dropOnEmpty:false,
        handle: '.handle',
        items: 'tbody > tr',
        opacity: 0.7,
        scroll: true,
        forcePlaceholderSize: true,
        update: function(ev, ui){
          id_moved = ui.item.attr('id').replace('sort_style_','');
          id_after = ui.item.next().attr('id') ? ui.item.next().attr('id').replace('sort_style_','') : 0;
          id_before = ui.item.prev().attr('id') ? ui.item.prev().attr('id').replace('sort_style_','') : 0;
          //alert(id_moved+' between '+id_before+' and '+id_after);
          $.ajax({
            type: 'post',
            data: {'id_moved':id_moved,'id_after':id_after,'id_before':id_before},
            dataType: 'script',
            complete: function(request){ ui.item.effect('highlight'); },
            error: function(){$('#list').sortable('cancel');},
            url: '<%= sort_site_styles_path %>'
          });
        }
      });
    });
  }
<% end %>

<%= content_for :javascripts, javascript_include_tag("jquery-ui.min") %>
<%= content_for :stylesheets, stylesheet_link_tag("jquery.sortable") %>
