<details open class="styles" id="own_styles">
  <summary><%= t("own_styles") %></summary>
  <div>
    <% unless styles.empty? %>
      <%= info_page styles %>

      <table class='list'>
        <thead>
          <th> <%= t('name') %> </th>
          <th> <%= t('sites_followers') %> </th>
          <th> <%= t('actions') %> </th>
        </thead>
        <tbody>
          <% styles.each do |style| %>
            <tr>
              <td> <%= style.name %> </td>
              <td> 
                <% style.followers.each do |site| %>
                  <%= site.name %>
                <% end %>
              </td>
              <td class="style-action">
                <%= raw style_actions style %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate styles, param_name: :page_own_styles, remote: true, params: { style_type: 'own' } %>
    <% else %>
      <p class="empty"> <%= t('no_own_styles') %> </p>
    <% end %>
  </div>
</details>
