<details open id="styles">
  <summary id="styles"><%= t("#{type}_styles") %></summary>
  <div id="<%= "#{type}_styles" %>">
    <% unless styles.blank? %>
      <%= info_page styles %>
      <table class='list'>
        <thead>
          <th> <%= t('name') %> </th>
          <th> <%= t('owner') %> </th>
          <th> <%= t('actions') %> </th>
        </thead>
        <tbody>
          <% styles.each do |style| %>
            <tr>
              <td> <%= style.name %> </td>
              <td> 
                <% style.followers.each do |site| %>
                  <%= site.name %>
                <% end %>
              </td>
              <td class="style-action">
                <%= raw style_actions style, { others: true, type.to_sym => true } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate styles, param_name: "page_#{type}_styles", remote: true, params: { style_type: type.to_s } %>
    <% else %>
      <p class="empty"> <%= t('no_own_styles') %> </p>
    <% end %>
  </div>
</details>
