<%- title t(".rights")  %>

<div class="span9">
  <div class="well">
    <% if check_permission(Admin::RightsController, [:new]) %>
      <div class="pull-right">
        <%= link_to t(".new_permission"),
          new_admin_right_path,
          class: 'btn btn-success btn-large' %>
      </div>
    <% end %>
    
    <div class="pull-left">
    <%= link_to t(".list_roles_permissions"),
      admin_roles_path,
      class: 'btn btn-info btn-large' %>
    </div>

    <table class='table table-striped'>
      <thead>
        <tr>
          <th><%= t(".name") %></th>
          <th><%= t(".controller") %></th>
          <th><%= t(".action") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @rights.group_by(&:controller).sort.each do |p, i| %>
          <tr>
            <th colspan="4"><%= t("#{p.singularize}.other") %></th>
          </tr>
          <% i.each do |right| %>
            <tr>
              <td><%= right.name %></td>
              <td><%= right.controller %></td>
              <td><%= right.action %></td>
              <td><%= raw make_menu(right, :except => 'show') %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
