<%= simple_form_for [@site,@css] do |f| %>

  <% if @css.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@css.errors.count,"") %> <%= t"prohibited_being_saved", :count => @css.errors.count%>:</h2>
      <ul>
        <% @css.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, :label => t("name"), :hint => t("field_required") %>

	<div class="input">
		<%= f.input :css, :label => t("css.one"), :as => :text, wrapper_html: { class: 'nostyle' },:input_html => {class:'css-editor'} %>
		<%= link_to t("help_with_css"), "https://softifes.andifes.org.br/projects/weby/wiki/Working_with_css",
			:target => "_blank" %>
		<%= image_tag "help-icon.png" %>
	</div>

  <%= f.fields_for :sites_csses do |sc| %>
    <%= sc.input :site_id, :input_html => {:value => @site.id}, :as => :hidden %>
    <%= sc.input :owner, :input_html => {:value => true}, :as => :hidden %>
    <%= sc.input :publish, :input_html => {:value => true}, :as => :hidden %>
  <% end %>

  <div class="actions">
		<%= f.submit t("save"), :class => 'green-button' %>
		<%= link_to t('back'), site_csses_path(@site), :class => 'red-button' %>
  </div>

<% end %>
