<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <% full_links = defined?(page_links) and page_links %>
  <div>
    <ul class="pagination<%= " pagination-#{size}" if defined?(size) %>">
      <%= first_page_tag if full_links and !current_page.first? %>
      <%= prev_page_tag unless current_page.first? and full_links%>
      <% if full_links %>
        <% each_page do |page| -%>
          <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
            <%= page_tag page %>
          <% elsif !page.was_truncated? -%>
            <%= gap_tag %>
          <% end %>
        <% end %>
      <% else %>
        <li class="page">
          <select class="input-mini<%= " input-#{size}" if defined?(size) %> form-control">
            <% 1.upto total_pages do |page| %>
              <option data-url="<%= Kaminari::Helpers::Page.new(@template, @options).page_url_for page %>" <%= page == current_page.number ? 'selected="selected"' : '' %>><%= page -%></option>
            <% end -%>
          </select>
        </li>
      <% end %>
      <%= next_page_tag unless current_page.last? and full_links %>
      <%= last_page_tag if full_links and !current_page.last? %>
    </ul>
  </div>
<% end -%>
