  <%= simple_form_for (@site ? [@site, @right] : @right), :html => {:class => ''} do |f| %>
    <% if @right.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@right.errors.count, "error") %> prohibited this site from being saved:</h2>
        <ul>
        <% @right.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :name, :label => t("name"), :hint => t("field_required") %>
    <%= f.input :controller, :label => t("controller"), :hint => t("field_required") %>
    <%= f.input :action, :label => t("action"), :hint => t("field_required") %>
  
    <div class="actions">
      <%= f.submit t("save"), class: "green-button" %>
      <%= link_to t("back"), :back, class: "red-button" %>
    </div>
  <% end %>
