<h1><%= t:editing, :param => t("rights") %> </h1>

<% form_for(@right) do |f| %>
  <%= f.error_messages %>

  <%= f.label  t:name %><br />
  <%= f.text_field :name %><br />
  <%= f.label  t:controller %><br />
  <%= f.text_field :controller %><br />
  <%= f.label  t:action %><br />
  <%= f.text_field :action %><br />
  <p>
    <%= f.submit 'Update' %> | <%= link_to 'Back', rights_path %>
  </p>
<% end %>
