<h1>Listando permissões</h1>

<table class="list">
  <thead>
    <tr>
      <th><%= t:name %></th>
      <th><%= t:controller%></th>
      <th><%= t:action%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @rights.each do |right| %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <td><%= right.name %></td>
      <td><%= right.controller %></td>
      <td><%= right.action %></td>
      <td>
        <%= make_menu(right) %>
        <%#= link_to 'Edit', edit_right_path(right) %>
        <%#= link_to 'Destroy', right, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end; reset_cycle %>
  </tbody>
</table>

<p> <%= link_to (t:list, :param => t("roles_permissions")), :controller => "roles", :action => "index" %> </p>

<% if check_permission(RightsController, "new") %>
  <p><%= link_to t('new'), new_right_path %></p>
<% end %>
