<fieldset>
  <legend><%= t"permission.other" %></legend>

  <% if check_permission(RightsController, [:new]) %>
    <div class="contextual">
      <p> <%= link_to (t"create_param", :param => t('right')), new_right_path, :class => 'icon icon-add' %> </p>
    </div>
  <% end %>

  <table class="list">
    <thead>
      <tr>
        <th><%= t"name" %></th>
        <th><%= t"controller" %></th>
        <th><%= t"action" %></th>
      </tr>
    </thead>
    <tbody>
    <% @rights.each do |right| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= right.name %></td>
        <td><%= right.controller %></td>
        <td><%= right.action %></td>
      </tr>
    <% end; reset_cycle %>
    </tbody>
  </table>

  <p> <%= link_to (t"list_param", :param => t("roles_permissions")), :controller => "roles", :action => "index" %> </p>

</fieldset>
