<fieldset>
  <legend><%= t"new_param", :param => t("right")%></legend>

  <% form_for(@right, :builder => SemanticFormBuilder) do |f| %>
    <% @right.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    
    <%= f.text_field :name, :label => t("name") %><br />
    <%= f.text_field :controller, :label => t("controller") %><br />
    <%= f.text_field :action, :label => t("action") %><br />
    <p>
      <%= f.submit  t("create")%>
    </p>
  <% end %>

  <%= link_to t('back'), rights_path %>
</fieldset>
