<h1>New right</h1>

<% form_for(@right) do |f| %>
  <%= f.error_messages %>
  
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
  <%= f.label :controller %><br />
  <%= f.text_field :controller %><br />
  <%= f.label :action %><br />
  <%= f.text_field :action %><br />
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rights_path %>
