<h1><%= t:new, :param => t("right")%></h1>

<% form_for(@right) do |f| %>
  <%= f.error_messages %>
  
  <%= f.label :name, t:name%><br />
  <%= f.text_field :name %><br />
  <%= f.label :controller, t:controller %><br />
  <%= f.text_field :controller %><br />
  <%= f.label :action, t:action %><br />
  <%= f.text_field :action %><br />
  <p>
    <%= f.submit  %>
  </p>
<% end %>

<%= link_to 'Back', rights_path %>
