<p>
  <b>Name:</b>
  <%=h @right.name %>
</p>

<p>
  <b>Controller:</b>
  <%=h @right.controller %>
</p>

<p>
  <b>Action:</b>
  <%=h @right.action %>
</p>


<%= link_to 'Edit', edit_right_path(@right) %> |
<%= link_to 'Back', rights_path %>