<%= simple_form_for resource,
  as: resource_name,
  url: login_path do |f| %>

  <%= raw flash_message %>

  <%= f.input :login, autofocus: true, label: false,
    placeholder: t('.field_login') %>
  <%= f.input :password, label: false,
    placeholder: t('.field_password') %>
  <%= f.input :remember_me, as: :boolean,
    wrapper_html: { class: "pull-left boolean-inline" },
    label_html: { class: "pull-right" },
    label: t(".field_remember_me") %>

  <%= link_to t(".forgot_password"), forgot_password_path, class: "pull-right" %>

  <div class="clearfix"></div>

  <%= f.button :submit, t('.login'), class: 'btn-primary' %> 
<% end %>
