<% content_for :javascripts do %>
  <%= javascript_include_tag "roles_index" %>
<% end %>

<%- title 'roles_permissions' %>

<div class="span9">
  <div class="well">

    <% if check_permission(Admin::RolesController, [:new]) %>
      <div class="pull-right">
        <%= link_to t("create_param.masc", param: t("role.one")),
          new_admin_role_path,
          class: "btn btn-success btn-large" %>
      </div>
    <% end %>

    <div class="pull-left">
    <%= link_to (t"list_param", :param => (t"permission", :count => 2)),
      admin_rights_path,
      class: 'btn btn-info btn-large' %>
    </div>
    <div class="clearfix"></div>

    <%= form_tag admin_roles_path, :method => :put, :id => 'roles_form' do %>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th><%= t"roles_permissions", :count => 2%></th>
            <% @roles.each do |role| %>
              <th>
                <%= role.name %> 
                <p> 
                  <%= link_to icon('check'), nil, :onclick => "toggleCheckboxesBySelector('input.column-#{role.id}')", :remote => true %>
                  <% if check_permission(Admin::RolesController, [:edit]) %>
                    <%= link_to icon('edit', text: t('edit')), edit_admin_role_path(role) %>
                  <% end %>
                  <% if check_permission(Admin::RolesController, [:destroy]) %>
                    <%= link_to icon('trash', text: t('destroy')), admin_role_path(role), :confirm => t('are_you_sure'), :method => :delete %> 
                  <% end %>
                </p>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @rights.group_by(&:controller).sort.each do |p, i| %>
            <tr class="<%= cycle 'odd', 'even' %>">
              <td colspan="<%= @roles.length + 1%>">
                <b><%= t("#{p.singularize}.other") %></b>
              </td>
            </tr>
            <% i.each do |right| %>
              <tr class="<%= cycle 'odd', 'even' %> right-<%= right.id %>">
                <td>
                  <%= link_to icon('check'), nil, :onclick => "toggleCheckboxesBySelector('.right-#{right.id} input')", :remote => true %>
                  <%= right.name %>
                </td>
                <% @roles.each do |role| %>
                  <td>
                    <%= check_box_tag "role[#{role.id}][right_ids][]", right.id, role.rights.include?(right), :id => nil, :class => "column-#{role.id}" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
            <% end; reset_cycle %>
          </tbody>
        </table>

        <% # Campos identificar que o formulário foi enviado sem nenhuma permissão marcada %>
        <% @roles.each do |role| %>
          <%= hidden_field_tag "role[#{role.id}][right_ids][]", "" %>
        <% end %>

        <div class="form-actions">
          <%= button_tag t("save"), class: 'btn btn-primary' %>
          <%= link_to t("back"), :back, class: "btn btn-danger" %>
        </div>
      <% end %>

    </div>
  </div>
