<% if @extensions.empty? %>
  <div class="alert">
    <%= t(".none_extension") %>
  </div>
<% end %>

<table class='table table-striped table-condensed'>
  <thead>
    <th><%= t(".name") %></th>
    <th></th>
  </thead>
  <tbody>
    <% @extensions.each do |extension| %>
      <tr>
        <td>
          <% if check_permission(Sites::Admin::ExtensionsController, 'edit') %>
            <%= link_to t("extensions.#{extension.name}.name"), "/#{extension.name}/admin" %>
          <% else %>
            <%= t("extensions.#{extension.name}.name") %>
          <% end %>
          </td>
        <td>
          <%= raw make_menu(extension) %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
