<% if @extensions.empty? %>
  <div class="alert alert-warning">
    <%= t(".none_extension") %>
  </div>
<% else %>

  <table class='table table-striped'>
    <thead>
      <th><%= t(".name") %></th>
      <th><%= t(".version") %></th>
      <th></th>
    </thead>
    <tbody>
      <% @extensions.each do |extension| %>
        <% raw_extension = Weby::extensions[extension.name.to_sym] %>
        <tr>
          <td>
              <%= link_to t("extensions.#{extension.name}.name"), "/#{extension.name}/admin" %>
            </td>
          <td>
            <%= raw_extension.version %>
          </td>
          <td class="text-right">
            <%= raw make_menu(extension) %>
         </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
