<%= simple_form_for [:site_admin, @style], html: {class: 'form-horizontal'} do |f| %>
  <%= f.show_errors %>

  <%= f.input :name,
    hint: t("field_required") %>

  <%= f.input :owner_id, 
    input_html: {value: @site.id}, 
    as: :hidden %>

  <div class="input">
    <%= f.input :css, 
      as: :text,
      wrapper_html: { class: 'nostyle' },
      input_html: {class: 'style-editor' } %>

    <%= link_to icon('question-sign', text:t(".help_with_style")),
      (Setting.get(:help_site) || "/help"),
      target: "_blank"%>

    
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-danger" %>
  </div>
<% end %>
