<%= simple_form_for [:site_admin, @skin, @style], html: {class: 'form-horizontal'} do |f| %>
  <%= f.show_errors %>

  <%= f.input :name,
    hint: t("field_required") %>

  <%= f.input :publish, wrapper: :checkbox, wrapper_html: { class: "side" }, as: :boolean, input_html: { class: "check-button" } %>

  <%= link_to t(".format"), "#", class: "btn btn-default btn-sm js-code-format" %>
  <%= link_to t(".comment"), "#", class: "btn btn-default btn-sm js-code-comment" %>
  <%= link_to t(".uncomment"), "#", class: "btn btn-default btn-sm js-code-uncomment" %>
  <%= link_to t(".insert_image"), "#", class: "btn btn-default btn-sm js-code-add-image" %>

  <% if !@style.new_record? %>
    <%= f.button :button, t(".apply"), type: :button, disabled: :disabled, class: "btn-apply btn btn-primary btn-sm" %>
  <% end %>

  <%= f.input :css,
    as: :text,
    wrapper_html: { class: 'nostyle large-editor' },
    input_html: {class: 'code-area', data: {:'code-mode' => 'css'} } %>

  <%= link_to icon('question-sign', text:t(".help_with_style")),
              (current_settings.help_site || "/help"),
              target: "_blank" %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
  <% if !@style.new_record? %>
    <div id="preview-css-panel">
      <span><%= t('.preview') %></span>
      <iframe src="<%= site_url(subdomain: current_site) %>"></iframe>
    </div>
  <% end %>
<% end %>
<%= repository_dialog %>
<% content_for :javascripts, javascript_include_tag("init/codemirror") %>
<% content_for :javascripts, javascript_include_tag('styles.form') %>
