<%= simple_form_for [:site_admin, @style], html: {class: 'form-horizontal'} do |f| %>
  <%= f.show_errors %>

  <%= f.input :name,
    hint: t("field_required") %>

  <%= f.input :owner_id, 
    input_html: {value: @site.id}, 
    as: :hidden %>

  
  <div class="input">
    <div class="btn-toolbar code-editor-menu">
      <div class="btn-group">
        <%= link_to t(".format"),"javascript:autoFormatSelection()", class: "btn" %>
        <%= link_to t(".comment"),"javascript:commentSelection(true)", class: "btn" %>
        <%= link_to t(".uncomment"),"javascript:commentSelection(false)", class: "btn" %>
      </div>
    </div>
    <%= f.input :css, 
      as: :text,
      wrapper_html: { class: 'nostyle' },
      input_html: {class: 'style-editor', id: 'code' } %>

    <%= link_to icon('question-sign', text:t(".help_with_style")),
      (weby_settings[:help_site] || "/help"),
      target: "_blank"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-danger" %>
  </div>
<% end %>
<%= content_for :stylesheets, stylesheet_link_tag("codeMirror/codemirror") %>
<%= content_for :javascripts, javascript_include_tag("codeMirror/codemirror.min") %>
<%= content_for :javascripts, javascript_include_tag("codeMirror/formatting.min") %>
<%= content_for :javascripts, javascript_include_tag("codeMirror/css.min") %>
<%= content_for :javascripts do %>
  <script type="text/javascript">
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        tabSize: 2,
        onCursorActivity: function() {
          editor.setLineClass(hlLine, null, null);
          hlLine = editor.setLineClass(editor.getCursor().line, null, "activeline");
        }
      });
      var hlLine = editor.setLineClass(0, "activeline");
      //CodeMirror.commands["selectAll"](editor);
      
      function getSelectedRange() {
        return { from: editor.getCursor(true), to: editor.getCursor(false) };
      }
      
      function autoFormatSelection() {
        var range = getSelectedRange();
        editor.autoFormatRange(range.from, range.to);
      }
      
      function commentSelection(isComment) {
        var range = getSelectedRange();
        editor.commentRange(isComment, range.from, range.to);
      }      
  </script>
<% end %>
