<% unless styles.empty? %>
  <div class="styles">
    <table class="table table-striped" id="style_list" data-url="<%= sort_site_admin_styles_path %>">
      <thead>
        <th width="20%"> <%= t('.name') %> </th>
        <th width="30%"> <%= "#{t('.site')}/#{t('.followers')}" %> </th>
        <th width="15%"> <%= t('.updated_at') %> </th>
        <th width="5%" style="text-align: center;"> <%= t('.publish') %> </th>
        <th></th>
      </thead>
      <tbody>
        <% styles.each do |style| %>
          <tr id="sort_style_<%= style.id %>" class="<%= "deactivated" unless style.publish %>">
            <td> <%= icon('retweet') if style.style %><%= link_to(style.name, site_admin_style_path(style)) %> </td>
            <td> <%= style.style ?
                      link_to( style.owner.name, site_url(subdomain: style.owner), target: :_blank, title: style.owner.title) :
                      '' #style.followers.each.map{|site| link_to site.name, site_url(subdomain: site), title: site.title, target: :_blank }.join(', ').html_safe
                 %>
            </td>
            <td> <%= l(style.original.updated_at, format: :short) %></td>
            <td style="text-align: center;"><%= raw toggle_field(style, "publish") %></td>
            <td class="text-right">
              <%= style_menu(style) %>
              <% with_permission(action: :sort) do %>
                <span class='handle'><%= icon('move', text: t("move")) %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= t('.no_styles') %>
  </div>
<% end %>
