<div class="row">
  <div class="col-md-5">
    <%= form_tag site_admin_styles_path, method: 'get', name: 'style_search', remote: true, class: 'search' do %>
      <%= content_tag :div, class: 'input-group' do %>
        <%= search_field_tag :search, params[:search], class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag t("search"), class: 'btn btn-info' %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>

<% unless styles.blank? %>
 <div class="styles" id="other_styles">
  <table class='table table-striped'>
    <thead>
      <th> <%= t('.name') %> </th>
      <th> <%= t('.site') %> </th>
      <th> <%= t('.updated_at') %> </th>
      <th></th>
    </thead>
    <tbody>
      <% styles.each do |style| %>
        <tr>
          <td><%= link_to(style.name, site_admin_style_path(style)) %></td>
          <td><%= link_to style.site.name, site_url(subdomain: style.site), title: style.site.title, target: :_blank %></td>
          <td><%= l(style.updated_at, format: :short) %>
          <td class="text-right"><%= style_menu(style) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate styles, remote: true %>
 </div>
<% else %>
  <div class="alert alert-warning">
    <%= t(".no_other_styles") %>
  </div>
<% end %>
