<% unless styles.empty? %>
  <div class="styles">
    <table class="table table-striped" id="style_list">
      <thead>
        <th> <%= t('.name') %> </th>
        <th> <%= t('.sites_followers') %> </th>
        <th style="text-align: center;"> <%= t('.publish') %> </th>
        <th> <%= t('.actions') %> </th>
      </thead>
      <tbody>
        <% styles.each do |style| %>
          <tr id="sort_style_<%= style.id %>" class="<%= style.publish ? "success" : "error" %>">
            <td> <%= link_to(style.name, site_admin_style_path(style)) %> </td>
            <td> 
              <% style.followers.each do |site| %>
                <%= link_to site.name, site_url(subdomain: site) %>
              <% end %>
            </td>
            <td style="text-align: center;"><%= raw toggle_field(style, "publish") %></td>
            <td class="style-action">
              <%= raw make_menu(style, :except => "show") %>
              <% with_permission(action: :sort) do %>
                <span class='handle'><%= icon('move', text: t("move")) %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert">
    <%= t('.no_own_styles') %>
  </div>
<% end %>

<%= content_for :javascripts, javascript_include_tag("jquery-ui.min") %>
<%= content_for :stylesheets, stylesheet_link_tag("sortable") %>
