<% unless styles.empty? %>
  <div class="styles">
    <table class="table table-striped" id="style_list">
      <thead>
        <th> <%= t('.name') %> </th>
        <th> <%= t('.sites_followers') %> </th>
        <th> <%= t('.actions') %> </th>
      </thead>
      <tbody>
        <% styles.each do |style| %>
          <tr id="sort_style_<%= style.id %>" class="<%= style.publish ? "success" : "error" %>">
            <td> <%= style.name %> </td>
            <td> 
              <% style.followers.each do |site| %>
                <%= link_to site.name, site_url(subdomain: site) %>
              <% end %>
            </td>
            <td class="style-action">
              <% with_permission(action: :sort) do %>
                <span class='handle'><%= icon('move', text: t("move")) %></span>
              <% end %>
              <%= raw style_actions style %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert">
    <%= t('.no_own_styles') %>
  </div>
<% end %>

<%= content_for :javascripts, javascript_include_tag("jquery-ui.min") %>
<%= content_for :stylesheets, stylesheet_link_tag("sortable") %>
