<% unless styles.blank? %>
 <div class="styles" id="<%= "others_styles" %>">
  <table class='table table-striped'>
    <thead>
      <th> <%= t('.name') %> </th>
      <th> <%= t('.site') %> </th>
      <th> <%= t('.actions') %> </th>
    </thead>
    <tbody>
      <% styles.each do |style| %>
        <tr>
          <td><%= link_to(style.name, site_admin_style_path(style)) %></td>
          <td>
            <%= link_to style.site.name, site_url(subdomain: style.site) %>
          </td>
          <td class="style-action">
            <% if check_permission(Sites::Admin::StylesController, 'follow') %>
              <%= link_to( icon('star', text: t('follow')), follow_site_admin_style_path(style)) %>
            <% end %>
            <% if check_permission(Sites::Admin::StylesController, 'copy') %>
              <%= link_to( icon('hdd', text: t('copy')), copy_site_admin_style_path(style)) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate styles, param_name: "page_others_styles", remote: true, params: { style_type: 'others' } %>
 </div>
<% else %>
  <h4><%= t(".others_styles") %></h4>
  <div class="alert">
    <%= t(".no_others_styles") %>
  </div>
<% end %>
