<% title ".styles" %>
<% breadcrumb params[:search].present? ? :styles_search : :styles %> 
<% with_permission action: :new do %>
  <div class="pull-right">
    <%= link_to t(".new_style"),
      new_site_admin_style_path,
      class: "btn btn-success" %>
  </div>
  <div class="clearfix form-group"></div>
<% end %>

<div class="tabbable">
  <ul class="nav nav-tabs" id="style-tab">
    <li class="<%= params["others"] ? "" : "active" %>" >
      <a href="#styles" data-toggle="tab"><%= t(".styles") %></a>
    </li>
    <li class="<%= params["others"] ? "active" : "" %>" >
      <a href="#others" data-toggle="tab"><%= t(".others") %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane <%= params["others"] ? "" : "active" %>" id="styles">
      <%= render partial: 'list', locals: { styles: @styles.delete(:styles) } %>
    </div>
    <div class="tab-pane <%= params["others"] ? "active" : "" %>" id="others">
      <%= render partial: 'others', locals: { styles: @styles.delete(:others) } %>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_tag do %>
    function initStylesSortable(){
      $('#style_list').sortable({
        axis: 'y',
        dropOnEmpty:false,
        handle: '.handle',
        items: 'tbody > tr',
        opacity: 0.6,
        scroll: true,
        forcePlaceholderSize: true,
        placeholder: 'drop-here',
        tolerance: 'pointer',
        start: function (event, ui){
          ui.placeholder.html('<td colspan="'+ui.helper.find('td').length+'">&nbsp;</td>');
        },
        update: function(ev, ui){
          $.ajax({
            type: 'post',
            data: $(this).sortable('serialize'),
            dataType: 'script',
            complete: function(request){ ui.item.effect('pulsate', {times: 1}, 350); },
            error: function(){$(this).sortable('cancel');},
            url: '<%= sort_site_admin_styles_path %>'
          });
        }
      });
    }

    window.onload=function(){
      $(document).ready(function(){
        initStylesSortable();
      });
    };
  <% end %>
<% end %>
<% content_for :javascripts, javascript_include_tag("init/sortable") %>
<% content_for :stylesheets, stylesheet_link_tag("sortable") %>
