<%- title 'style.other' %>

<div class="span9">
  <div class="well">

    <% if check_permission(Sites::Admin::StylesController, 'new') %>

      <div class="pull-right">
        <%= link_to t('new_param.masc', param: t('style.one')),
          new_site_admin_style_path,
          class: "btn btn-success btn-large" %>
      </div>
      <div class="clearfix"></div>
    <% end %>

    <div class="pull-left">
      <%= form_tag request.path, method: 'get', autocapitalize: "off", class: 'search pull-right' do %>
        <%= content_tag :div do %>
          <%= search_field_tag :search, params[:search], class: 'input-search' %>
          <%= select_tag :style_type, options_for_select([
            [t('own_styles'), 'own'],
            [t('follow_styles'), 'follow'],
            [t('other_styles'), 'other']], @style_type) %>
        <%= submit_tag t("search"), class: 'btn btn-large btn-primary btn-search' %>
        <% end %>
      <% end %>
    </div>

    <div class="clearfix"></div>
    
    <%= render partial: 'own_styles', locals: { styles: @styles.delete(:own) } %>

    <% @styles.each do |type, styles| %>
      <%= render partial: "styles", locals: { styles: styles, type: type } %>
    <% end %>
  </div>
</div>
</div>
