<% title ".styles" %>
<% breadcrumb :styles_show, @current_skin, @style %>
<h3> <%= t(".style") %>: <%= @style.name %> </h3>
<% if @style.owner != current_site %>
<h4> <%= t(".site") %>: <%= @style.owner.title %> </h4>
<% end %>

<b> <%= "CSS" %> </b>
<textarea class="code-area" data-code-readonly="true" data-code-mode="css"><%= @style.css %></textarea>

<div class="form-actions">
  <%= style_menu @style %>
  <%= link_to icon('list', text:t(".list_all")), site_admin_skin_path(@current_skin, anchor: 'tab-styles') %>
  <%= link_to icon('chevron-left', text:t("back")), :back %>
</div>

<% content_for :javascripts, javascript_include_tag("init/codemirror") %>
