<% title ".styles" %> 
<% breadcrumb :styles_show, @style %>
<h3> <%= t(".style") %>: <%= @style.name %> </h3>

<b> <%= "CSS" %> </b>
<textarea id="code"><%= @style.css %></textarea>

<div class="form-actions">
  <%= style_menu @style %>
  <%= link_to icon('list', text:t(".list_all")), site_admin_styles_path %>
  <%= link_to icon('chevron-left', text:t("back")), :back %>
</div>

<%= content_for :stylesheets, stylesheet_link_tag("codeMirror/codemirror") %>
<%= content_for :javascripts, javascript_include_tag("codeMirror/codemirror.min") %>
<%= content_for :javascripts, javascript_include_tag("codeMirror/css.min") %>
<%= content_for :javascripts do %>
  <script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      lineNumbers: true,
      tabSize: 2,
      readOnly: "nocursor" 
    });
  </script>
<% end %>
