<%# hack para criar um hash vazio caso as configurações sejam nulas %>
<% @site_component.settings ||= "{}" %>

<!-- VARIAVEIS PARA O JS -->
<input id="components_settings" type="hidden" meta-components_settings="<%= components_settings.to_json %>" />
<input id="component_settings" type="hidden" meta-component_settings="<%= eval(@site_component.settings).to_json %>" />

<%= javascript_include_tag 'site_component_form' %>

<%= form_for [@site,@site_component] do |f| %>
  <% if @site_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_component.errors.count, "error") %> prohibited this site_component from being saved:</h2>

      <ul>
      <% @site_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :site_id, :value => @site.id %>

  <div class="field">
    <%= f.label :place_holder %><br />
    <%= f.select :place_holder, places_holder %>
  </div>

  <div class="field">
    <%= f.label :component %><br />
    <%= f.select :component, components, {}, {:id => "component"} %>
  </div>

  <div class="field" id="settings">
    <%= f.label :settings %><br />
    <%= f.text_area :settings %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
