<fieldset>
<legend><%= t("component.other") %></legend>

  <div class="contextual">
    <p>
      <%= link_to t("new_param.masc", :param => t("component.one")),
        new_site_site_component_path, :class => "icon icon-add" %>
    </p>
  </div>

<table id="list">
  <thead>
    <th><%= t("place") %></th>
    <th><%= t("component.one") %></th>
    <th></th>
  </thead>

  <tbody>
    <% @site_components.each do |site_component| %>
      <tr>
        <td><%= site_component.place_holder %></td>
        <td><%= site_component.component %></td>
        <td><%= raw make_menu(site_component, :except => "show") %>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

