<fieldset>
  <legend><%= t("component.other") %></legend>

  <div class="contextual">
    <% if check_permission(SiteComponentsController, 'new') %>
      <%= link_to t("new_param.masc", :param => t("component.one")),
        new_site_site_component_path, :class => "icon icon-add" %>
    <% end %>
  </div>

  <table id="list" class="list">
    <thead>
      <th>id</th>
      <th><%= t("component.one") %></th>
      <th><%= t("category") %></th>
      <th><%= t"active" %></th>
      <th></th>
    </thead>
    <% places_holder.each do |place_holder| %>
    <thead>
      <tr>
        <td colspan="99" class="dark"><%= t("components.pos.#{place_holder}") %></td>
      </tr>
    </thead>
      <% components_per_holder = @site_components.select{|component| component.place_holder == place_holder} %>
      <%  if components_per_holder.empty? %>
        <tr>
          <td colspan="99"><i><%= t("empty_placeholder") %></i></td>
        </tr>
      <% else %>
        <tbody class="placeholder-group">
        <% components_per_holder.each do |site_component| %>
            <tr id="sort_sites_component_<%= site_component.id %>" class="place-<%=  "#{place_holder}" -%>">
            <td><%= site_component.id %></td>
            <td><%= t("components.#{site_component.component}") %></td>
            <td><%= components_settings_category(site_component) %></td>
            <td align="center"><%= raw toggle_field(site_component, "publish") %></td>
            <td>
              <%= raw make_menu(site_component, :except => "show") %>
              <% if check_permission(SiteComponentsController, 'sort') %>
                <span class='handle icon icon-drag'><%= t("move") %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <%= javascript_tag do %>
   window.onload=function(){
    $(document).ready(function() {

    $('.placeholder-group').each(function(){

      $(this).sortable({
        axis: 'y',
        dropOnEmpty:false,
        handle: '.handle',
        cursor: 'crosshair',
        items: 'tr',
        opacity: 0.4,
        scroll: true,
        update: function(evt, ui){
          $.ajax({
            type: 'post',
            data: $(this).sortable('serialize'),
            dataType: 'script',
            complete: function(request){ $(ui.item).effect('highlight'); },
            url: '<%= sort_site_site_components_path %>'
          })
        }
      })
    });

    ////FIX-ME
      $('#content').css({'overflow':'hidden'});
      $('#list').css({'height':$('#list').height()});
      
    });
   }
  <% end %>
</fieldset>
<%= content_for :javascripts, javascript_include_tag("jquery.ui.nestedSortable") %>
<%= content_for :stylesheets, stylesheet_link_tag("jquery.sortable") %>
