<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= @site_component.site %>
</p>

<p>
  <b>Place holder:</b>
  <%= @site_component.place_holder %>
</p>

<p>
  <b>Settings:</b>
  <%= @site_component.settings %>
</p>

<p>
  <b>Component:</b>
  <%= @site_component.component %>
</p>


<%= link_to 'Edit', edit_site_site_component_path %> |
<%= link_to 'Back', site_site_components_path %>
