<%= simple_form_for [@site, @feedback] do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count,"") %> <%= t"prohibited_being_saved", :count => @feedback.errors.count %>:</h2>
      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @groups.empty? %>
    <div class="collection_check_boxes">
      <label for="group_ids"><%= t("group.one") %></label>
      <div class="check_boxes">
        <% @groups.each do |group| %>
          <%= check_box_tag 'feedback[group_ids][]', group.id %>
          <%= group.name %>
          <br />
        <% end %>
        <span class="hint"> <%= %> </span>
      </div>
    </div>
  <% end %>

  <%= f.input :name, :label => t("name") %>
  <%= f.input :email, :label => t("email") %>
  <%= f.input :subject, :label => t("subject") %>
  <%= f.input :message, :label => t("message"), :as => :text %>

  <%=  f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden %>

	<div class="actions">
    <%= f.submit t("save"), class: "green-button" %>
    <%= link_to t("back"), :back, class: "red-button" %>
	</div>
	
<% end %>
