<%= form_for [@site, @feedback],
              :builder => SemanticFormBuilder do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="feedback_group">
  <% unless @groups.empty? %>
    <div class="text-field">
      <label for="group_ids">Grupos</label>

      <div class="input">
      <% @groups.each do |group| %>
        <p>
        <%= check_box_tag 'feedback[group_ids][]', group.id %>
        <%= group.name %>
        </p>
      <% end %>
      </div>
    </div>
  <% end %>
  </div>

  <%= f.text_field :name, :label => t("name") %>
  
  <%= f.text_field :email, :label => t("email") %>
  
  <%= f.text_field :subject, :label => t("subject") %>

  <%= f.text_area :message, :label => t("message") %>

  <%=  f.hidden_field :site_id, :value => @site.id %>

  <%= f.submit t("submit") %>

<% end %>
