<%= form_for @feedback, :builder => SemanticFormBuilder do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%#= f.select(:name,Groups.find(:all, :conditions => 'status = 1', :order => 'created_at DESC').collect{|p| [ p.service, p.id ]}) %>
  <% unless @groups.empty? %>
    <%= f.select :name , Group.find(:all, :conditions => "site_id = #{params[:site_id]}").collect{|p| [ p.name, p.id ]}, :required => true, :label => t(:group, :count => 1) %>
  <% end %>

  <%= f.text_field :name, :label => t("name") %>
  
  <%= f.text_field :email, :label => t("email") %>
  
  <%= f.text_field :subject, :label => t("subject") %>

  <%= f.text_area :message, :label => t("message") %>

  <%=  f.hidden_field :site_id, :value => params[:site_id] %>

  <%= f.submit t("create") %>

<% end %>
