<h1>Listing feedbacks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Site</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedbacks.each do |feedback| %>
  <tr>
    <td><%= feedback.name %></td>
    <td><%= feedback.email %></td>
    <td><%= feedback.subject %></td>
    <td><%= feedback.message %></td>
    <td><%= feedback.site_id %></td>
    <td><%= link_to 'Show', site_feedback_path(@site, feedback) %></td>
    <td><%= link_to 'Edit', edit_site_feedback_path(@site, feedback) %></td>
    <td><%= link_to 'Destroy', site_feedback_path(@site, feedback), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feedback', new_site_feedback_path(@site) %>
