<h1>Listing feedbacks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Site</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedbacks.each do |feedback| %>
  <% if feedback.site_id == @site.id %>
    <tr>
      <td><%= feedback.name %></td>
      <td><%= feedback.email %></td>
      <td><%= feedback.subject %></td>
      <td><%= feedback.message %></td>
      <td><%= feedback.site_id %></td>
      <td><%= link_to 'Show', :controller => "feedbacks", :action => "show", :id => feedback.id %></td>
      <td><%= link_to 'Edit', :controller => "feedbacks", :action => "edit", :id => feedback.id %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Feedback', new_site_feedback_path %>
