<fieldset>
  <legend><%= t 'listing', :param => t('feedback', :count => 2) %></legend>
  <table class='list'>
    <thead>
      <th><%= t 'name' %></th>
      <th><%= t 'email' %></th>
      <th><%= t 'subject' %></th>
      <th><%= t 'message' %></th>
      <th></th>
    </thead>
    <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= feedback.name %></td>
        <td><%= feedback.email %></td>
        <td><%= feedback.subject %></td>
        <td><%= feedback.message %></td>
        <td>
          <%= link_to t('show'), site_feedback_path(@site, feedback) %>
          <%= link_to t('edit'), edit_site_feedback_path(@site, feedback) %>
          <%= link_to t('destroy'), site_feedback_path(@site, feedback), :confirm => t('are_you_sure'), :method => :delete %>
        </td>
      </tr>
    <% end; reset_cycle %>
    </tbody>
  </table>
</fieldset>
