<% unless styles.empty? %>
  <div class="table-wrapper styles">
    <table class="table table-striped align-middle" id="style_list" data-url="<%= sort_site_admin_skin_styles_path(@skin) %>">
      <thead>
        <% with_permission(action: :sort, controller: Sites::Admin::StylesController) do %>
          <th class="grab-header"></th>
        <% end %>
        <th class="center sel-all"><%= check_box_tag :select_all, 1, false %></th>
        <th width="20%"> <%= t('.name') %> </th>
        <th width="30%"> <%= "#{t('.site')}/#{t('.followers')}" %> </th>
        <th width="15%"> <%= t('.updated_at') %> </th>
        <th width="5%" style="text-align: center;"> <%= t('.publish') %> </th>
        <th></th>
      </thead>
      <tbody>
        <% styles.each do |style| %>
          <% next if !style.owner.active? %>
          <tr id="sort_style_<%= style.id %>" class="<%= "deactivated" unless style.publish %>">
            <% with_permission(action: :sort, controller: Sites::Admin::StylesController) do %>
              <td class="grab-cell"><%= link_to image_tag('drag.png'), '#', class: 'handle', title: t('move') %></td>
            <% end %>
            <td class="center sel-item"><%= check_box_tag :select_item, style.id, false %></td>
            <td>
              <% if style.style_id %>
                <%= icon('retweet') %>
                <%= link_to(style.name, site_admin_skin_style_path(style.skin_id, style)) %>
              <% else %>
                <% if check_permission(Sites::Admin::StylesController, [:edit]) %>
                  <%= link_to "#{style.name} #{content_tag(:span, icon(:edit), class: 'oh-c-i')}".html_safe, edit_site_admin_skin_style_path(@skin, style) %>
                <% else %>
                  <%= link_to style.name, site_admin_skin_style_path(style.skin_id, style) %>
                <% end %>
              <% end %>
            </td>
            <td> <%= style.style ?
                      link_to( style.owner.name, site_url(subdomain: style.owner), target: :_blank, title: style.owner.title) :
                      style.followers.each.map{|site| link_to site.name, site_url(subdomain: site), title: site.title, target: :_blank }.join(', ').html_safe
                 %>
            </td>
            <td> <%= l(style.original.updated_at, format: :short) %></td>
            <td class="publish" style="text-align: center;"><%= raw toggle_field(style, 'publish', 'toggle', controller: :styles, skin_id: style.skin_id, remote: true) %></td>
            <td class="actions text-right">
              <%= render_dropdown_menu do %>
                <%= style_menu(style) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render_bulk_actions do %>
      <% with_permission(action: :destroy_many, controller: Sites::Admin::StylesController) do %>
        <%= link_to icon('trash', text: t('destroy')), destroy_many_site_admin_skin_styles_path(@skin), class: 'btn btn-sm btn-default destroy-many', method: :delete, data: {confirm: t('are_you_sure_del_many')} %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= t('.no_styles') %>
  </div>
<% end %>
