<% title ".themes" %>
<% breadcrumb :skins_edit %>

<%= simple_form_for [:site_admin, @skin] do |f| %>

  <% if @theme.variables.blank? %>
    <div class="alert alert-warning">
      <%= t(".no_settings") %>
    </div>

    <div class="form-actions">
      <%= link_to t("back"), :back, class: "btn btn-default" %>
    </div>
  <% else %>

    <% @theme.variables.each do |name, config| %>

      <div class="form-group string optional">
        <label class="string optional" for="code"><%= t('themes.'+@skin.theme+'.variables.'+name) %></label>
        <% if config['type'] == 'color' %>
          <div class="color-pick-container">
            <% config['values'].each do |val| %>
              <div class="color-pick-option">
                <%= radio_button_tag name, val, @skin.get_variable(name) == val, id: "name-#{val}" %>
                <label style="background-color: <%= val %>;" for="<%= "name-#{val}" %>"></label>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    <% end %>

    <div class="form-actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to t("back"), :back, class: "btn btn-default" %>
    </div>

  <% end %>
<% end %>
