<% title ".themes" %>
<% breadcrumb :skins %>

<% content_for :javascripts, javascript_include_tag('repositories.index') %>

<style type='text/css'>
  input[type='checkbox'] {margin: 0px 0 0;}
</style>

<div class="pull-right">
  <% if check_permission(Sites::Admin::SkinsController, [:create, :preview]) %>
    <%= link_to "#{t(".change_theme")} (#{ current_site.active_skin.theme })",
      '#',
      class: "btn btn-success btn-change" %>
  <% end %>
</div>
<div class="clearfix"></div>
<div class="skins" style="display: none">
  <div class="row">
    <% @themes.each do |theme| %>
      <% #skin = current_site.skins.find_by(theme: theme.name) %>
      <div class="col-md-3">
        <div class="thumbnail">
          <h3 class="text-center"><%= theme.title %></h3>
          <%= image_tag "#{theme.name}/thumb.png", style: 'width: 160px' %>
          <div class="caption">
            <% if current_site.theme && theme.name == current_site.theme.name %>
                <b class="text-success text-center">Tema atual<br/>
                <%= link_to t('.default'), site_admin_skin_path(current_site.active_skin), method: :delete, data: {confirm: t('.confirm_default')} if check_permission(Sites::Admin::SkinsController, [:destroy]) %>
                </b>
            <% else %>
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <%= link_to t('.preview'), preview_site_admin_skins_path(theme: theme.name), class: 'btn btn-default', target: :_blank if check_permission(Sites::Admin::SkinsController, [:preview]) %>
                </div>
                <div class="btn-group" role="group">
                  <%= simple_form_for current_site, url: site_admin_skins_path(theme: theme.name), method: :post do |f| %>
                    <button type="submit" class="btn btn-success" data-theme="<%=theme.name %>"><%= t('.apply') %></button>
                  <% end if check_permission(Sites::Admin::SkinsController, [:create]) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if current_site.theme %>
  <% can_layout = check_permission(Sites::Admin::ComponentsController, [:index]) %>
  <% can_style = check_permission(Sites::Admin::StylesController, [:index]) %>
  <ul class="nav nav-tabs" id="tabs">
    <% if can_layout %>
      <li class="active"><%= link_to('Layout', '#tab-layout', data: {toggle: :tab}) %></li>
    <% end %>
    <% if can_style %>
      <li class="<%= 'active' unless can_layout %>"><%= link_to(t('.styles'), '#tab-styles', data: {toggle: :tab}) %></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% if can_layout %>
      <div role="tabpanel" class="tab-pane active" id="tab-layout">
        <p class="pull-right">
          <% if check_permission(Sites::Admin::ComponentsController, [:new]) %>
            <%= link_to t(".new_component"),
              new_site_admin_component_path,
              class: "btn btn-success" %>
          <% end %>

          <% if current_user.is_admin? || current_user.is_local_admin?(current_site) %>
            <%= link_to t('.settings'), settings_site_admin_layouts_path, class: "btn btn-default" %>
          <% end %>
        </p>
        <div class="clearfix form-group"></div>

        <div id="maxi_layout">
        <% @placeholders.each do |row| %>
          <%= content_tag :div, class: "maxi_level #{row["names"].many? ? "multi" : "single"}" do %>
            <% row["names"].each_with_index do |name, idx| %>
              <%= content_tag :div, class: "placeholder", data: {place: name}, style: "width: #{row["widths"] ? row["widths"][idx] : 100/row["names"].size}%;" do %>
                <%= link_to '+', new_site_admin_component_path(placeholder: name), class: "add-btn btn btn-success btn-sm", title: t(".new_component") if check_permission(Sites::Admin::ComponentsController, 'new') %>
                <div class="placeholder-name"><%= t("themes.#{current_site.theme.name}.placeholders.#{name}") %></div>
                <ul class="order-list" data-place="<%= name %>">
                  <% components_per_holder = @components.select{|component| component.place_holder == name} %>
                  <% if components_per_holder.empty? %>
                    <!--<div><i><%#= t(".empty_placeholder") %></i></div>-->
                  <% end %>

                  <% components_per_holder.each do |comp| %>
                    <% component = Weby::Components.factory(comp) %>
                    <%= list_component(component) %>

                  <% end %>
                  <% @components = @components - components_per_holder %>
                </ul>
              <% end %>
            <% end %>
          <div class="clearfix"></div>
          <% end %>
        <% end %>
        </div>

        <% if @components.any? %>
          <div class="placeholder-name"><%= t(".leftout_components") %></div>
          <div id="leftout" class="placeholder">
            <ul>
            <%# Se sobrou algum component com placeholder que não está no layout atual %>
            <% @components.each do |comp| %>
                <% component = Weby::Components.factory(comp) %>
                <%= list_component(component, true) %>
            <% end %>
            </ul>
          </div>
        <% end %>

        <% content_for :javascripts do %>
          <script type="text/javascript">
            $(document).ready(function(){
              $('.order-list').each(function(){
                $(this).sortable({
                  //axis: 'y',
                  dropOnEmpty: true,
                  handle: '.handle',
                  connectWith: '.order-list',
                  forcePlaceholderSize: true,
                  placeholder: 'drop-here',
                  items: '> li',
                  opacity: 0.4,
                  scroll: true,
                  tolerance: 'pointer',
                  update: function(evt, ui){
                    $('.maxi_level.multi').each(function(){ $(this).attr('style', ''); $(this).css({'height':$(this).height()}); });
                    $.ajax({
                      type: 'post',
                      data: 'place_holder='+ $(this).data('place') +'&'+ $(this).sortable('serialize'),
                      dataType: 'script',
                      complete: function(request){ if(!ui.sender){ ui.item.effect('pulsate', {times: 1}, 350); } },
                      url: '<%= sort_site_admin_components_path %>'
                    });
                  }
                });
              });

              ////FIX-ME
              $('.maxi_level.multi').each(function(){
                var h = $(this).height();
                if(h > 0){
                  $(this).css({'height': h});
                }
              });
            });
          </script>
        <% end %>
      </div>
    <% end %>
    <% if can_style %>
      <div role="tabpanel" class="tab-pane <%= 'active' unless can_layout %>" id="tab-styles">
        <% with_permission action: :new, controller: Sites::Admin::StylesController do %>
          <div class="pull-right">
            <%= link_to t(".new_style"),
              new_site_admin_style_path,
              class: "btn btn-success" %>
          </div>
          <div class="clearfix form-group"></div>
        <% end %>

        <div class="tabbable">
          <ul class="nav nav-tabs" id="style-tab">
            <li class="<%= params["others"] ? "" : "active" %>" >
              <a href="#styles" data-toggle="tab"><%= t(".my_styles") %></a>
            </li>
            <li class="<%= params["others"] ? "active" : "" %>" >
              <a href="#others" data-toggle="tab"><%= t(".others") %></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane <%= params["others"] ? "" : "active" %>" id="styles">
              <%= render partial: 'list', locals: { styles: @styles.delete(:styles) } %>
            </div>
            <div class="tab-pane <%= params["others"] ? "active" : "" %>" id="others">
              <%= render partial: 'others', locals: { styles: @styles.delete(:others) } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% content_for :stylesheets, stylesheet_link_tag("sortable") %>
  <% content_for :stylesheets, stylesheet_link_tag("maxi_layout") %>
<% else %>
  <%= t('.no_theme') %>
<% end %>
<% content_for :javascripts, javascript_include_tag("init/sortable") %>
<% content_for :javascripts, javascript_include_tag("skins") %>
