<% content_for :javascripts do %>
<script>
  $('.btn-apply').click(function(){
    $.ajax('<%= site_admin_skins_path %>',
            {method: 'POST', data: {theme: {name: $(this).data('theme')}}}
    ).done(function(data){
       alert(data);
    });
  });
</script>
<% end %>
<% title ".themes" %>
<% breadcrumb :skins %>

<div class="row">
  <% @themes.each do |theme| %>
    <% skin = current_site.skins.find_by(theme: theme.name) %>
    <div class="col-md-4">
      <div class="thumbnail">
        <h3 class="text-center"><%= theme.name %></h3>
        <%= raw make_mini_layout theme, 270 %>
        <div class="caption">
          <% if current_site.theme && theme.name == current_site.theme.name %>
              <h5 class="text-success text-center">Tema atual</h5>
          <% else %>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <%= link_to 'Visualizar', preview_site_admin_skins_path(theme: theme.name), class: 'btn btn-default', target: :blank %>
              </div>
              <div class="btn-group" role="group">
                <%= simple_form_for current_site, url: site_admin_skins_path(theme: theme.name), method: :post do |f| %>
                  <button type="submit" class="btn btn-success" data-theme="<%=theme.name %>">Aplicar</button>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% content_for :javascripts, javascript_include_tag('repositories.index') %>