<% title ".themes" %>
<% breadcrumb :skins_show, @skin %>

<% content_for :javascripts, javascript_include_tag('repositories.index') %>

<div class="row">
  <div class="col-md-12">
    <% if !@active_skin.persisted? %>
      <div class="pull-left">
        <span class="label label-danger"><%= t('.no_theme') %></span>
      </div>
    <% end %>
    <div class="pull-right">
      <% with_permission(action: :create) do %>
        <%= link_to icon('plus-sign', text: t(".install_theme")),
            new_site_admin_skin_path,
            class: "btn btn-success" %>
      <% end %>
      <% if current_user.is_admin? || current_user.is_local_admin?(current_site) %>
          <%= link_to t('.head'), settings_site_admin_layouts_path, class: "btn btn-default" %>
        <% end %>
    </div>
  </div>
</div>
<ul class="nav nav-tabs" id="theme-tabs">
  <% if @active_skin.persisted? %>
    <li class="current <%= 'active' if @active_skin.theme == @skin.theme %>">
      <div class="skin-tooltip label label-success"><%= t('.active_theme') %></div>
      <%= link_to(@active_skin == @skin ? '#' : site_admin_skin_path(@active_skin)) do %>
        <div><%= @active_skin.base_theme.title %></div>
        <%= image_tag "#{@active_skin.theme}/thumb.png", style: 'width: 85px' %>
      <% end %>
    </li>
  <% end %>
  <% with_permission(action: :index) do %>
    <% @skins.each do |skin| %>
      <% next unless skin.base_theme %>
      <li class="<%= 'active' if skin.theme == @skin.theme %>">
        <%= link_to(skin == @skin ? '#' : site_admin_skin_path(skin)) do %>
          <div><%= skin.base_theme.title %></div>
          <%= image_tag "#{skin.theme}/thumb.png", style: 'width: 85px' %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <% if @skin != @active_skin %>
        <% with_permission(action: :create) do %>
          <%#= simple_form_for current_site, url: apply_site_admin_skin_path(@skin), method: :post do |f| %>
            <!-- <button type="submit" class="btn btn-success"><%= t('.apply') %></button> -->
          <%# end %>
          <%= link_to t('.apply'), apply_site_admin_skin_path(@skin), method: :post, class: 'btn btn-primary', data: {confirm: t('.confirm_apply')} %>
        <% end %>
        <% with_permission(action: :preview) do %>
          <%= link_to t(".preview"),
              preview_site_admin_skin_path(@skin),
              class: "btn btn-default", target: :_blank %>
        <% end %>
      <% end %>
      <% with_permission(action: :create) do %>
        <%= link_to t('.settings'), edit_site_admin_skin_path(@skin), class: 'btn btn-default' %>
      <% end %>
      <% with_permission(action: :destroy) do %>
        <%= link_to t('.default'), site_admin_skin_path(@skin), method: :delete, class: 'btn btn-default', data: {confirm: t('.confirm_default')} %>
      <% end %>
    </div>
  </div>
</div>
<% @can_layout = check_permission(Sites::Admin::ComponentsController, [:index]) %>
<% @can_style = check_permission(Sites::Admin::StylesController, [:index]) %>
<ul class="nav nav-tabs" id="tabs">
  <% if @can_layout %>
    <li class="active"><%= link_to('Layout', '#tab-layout', data: {toggle: :tab}) %></li>
  <% end %>
  <% if @can_style %>
    <li class="<%= 'active' unless @can_layout || @can_theme %>"><%= link_to(t('.styles'), '#tab-styles', data: {toggle: :tab}) %></li>
  <% end %>
</ul>

<div class="tab-content">
  <% if @can_layout %>
    <div role="tabpanel" class="tab-pane active" id="tab-layout">
      <p class="pull-right">
        <% if check_permission(Sites::Admin::ComponentsController, [:new]) %>
          <%= link_to icon('plus-sign', text: t(".new_component")),
            new_site_admin_skin_component_path(@skin),
            class: "btn btn-success" %>
        <% end %>
        <% if current_user.is_admin? %>
          <%= link_to icon('download-alt'), site_admin_skin_components_path(@skin, format: :yaml), class: 'btn btn-default', title: 'Download YML' %>
        <% end %>
      </p>
      <div class="clearfix form-group"></div>

      <div class="maxi_layout" data-sorturl="<%= sort_site_admin_skin_components_path(@skin) %>">
      <% @placeholders.each do |row| %>
        <%= content_tag :div, class: "maxi_level #{row["names"].many? ? "multi" : "single"}" do %>
          <% row["names"].each_with_index do |name, idx| %>
            <%= content_tag :div, class: "placeholder", data: {place: name}, style: "width: #{row["widths"] ? row["widths"][idx] : 100/row["names"].size}%;" do %>
              <%= link_to image_tag('add-row-w.svg'), new_site_admin_skin_component_path(@skin, placeholder: name), class: "add-btn btn btn-success btn-sm add-subitem", title: t(".new_component") if check_permission(Sites::Admin::ComponentsController, 'new') %>
              <div class="placeholder-name"><%= t("themes.#{@skin.theme}.placeholders.#{name}") %></div>
                <ul class="order-list" data-place="<%= name %>">
                  <% components_per_holder = @components.select{|component| component.place_holder == name} %>
                  <% if components_per_holder.empty? %>
                    <!--<div><i><%#= t(".empty_placeholder") %></i></div>-->
                  <% end %>

                  <% components_per_holder.each do |comp| %>
                    <% component = Weby::Components.factory(comp) %>
                    <%= list_component(component) %>

                  <% end %>
                  <% @components = @components - components_per_holder %>
                </ul>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </div>

      <% if @components.any? %>
        <div class="placeholder-name"><%= t(".leftout_components") %></div>
        <div id="leftout" class="placeholder">
          <ul>
          <%# Se sobrou algum component com placeholder que não está no layout atual %>
          <% @components.each do |comp| %>
              <% component = Weby::Components.factory(comp) %>
              <%= list_component(component, true) %>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @can_style %>
    <div role="tabpanel" class="tab-pane <%= 'active' unless @can_layout || @can_theme %>" id="tab-styles">
      <% with_permission action: :new, controller: Sites::Admin::StylesController do %>
        <div class="pull-right">
          <%= link_to t(".new_style"),
            new_site_admin_skin_style_path(@skin),
            class: "btn btn-success" %>
        </div>
        <div class="clearfix form-group"></div>
      <% end %>

      <div class="tabbable">
        <ul class="nav nav-tabs" id="style-tab">
          <li class="<%= params["others"] ? "" : "active" %>" >
            <a href="#styles" data-toggle="tab"><%= t(".my_styles") %></a>
          </li>
          <li class="<%= params["others"] ? "active" : "" %>" >
            <a href="#others" data-toggle="tab"><%= t(".others") %></a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane <%= params["others"] ? "" : "active" %>" id="styles">
            <%= render partial: 'list', locals: { styles: @styles.delete(:styles) } %>
          </div>
          <div class="tab-pane <%= params["others"] ? "active" : "" %>" id="others">
            <%= render partial: 'others', locals: { styles: @styles.delete(:others) } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% content_for :stylesheets, stylesheet_link_tag("sortable") %>
<% content_for :stylesheets, stylesheet_link_tag("maxi_layout") %>

<% content_for :javascripts, javascript_include_tag("init/sortable") %>
<% content_for :javascripts, javascript_include_tag("skins") %>
