<% content_for :javascripts, javascript_include_tag("settings.index") %>

<%= form_tag admin_settings_path, :method => :put, :id => 'settings_form' do %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th> <%= t('.name') %> </th>
        <th> <%= t('.value') %> </th>
        <th> <%= t('.description') %> </th>
      </tr>
    </thead>
    <tbody>
      <% @settings.each do |setting| %>
        <tr>
          <input type="hidden" value="<%= setting.id %>" name="settings[][id]"/>
          <input type="hidden" value="<%= setting.name %>" name="settings[][name]"/>
          <td> <%= setting.name %> </td>
          <td> <%= setting_input_tag setting %> </td>
          <td> <%= t("settings.#{setting.name}") %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="form-actions">
    <%= button_tag t("save"), class: 'btn btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>
