<%= link_to new_admin_setting_path, class: 'pull-right' do %>
  <button class="btn btn-success">
    <%= t(".new_setting") %>
  </button>
<% end %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th> <%= sortable 'name', t('.name') %> </th>
      <th> <%= sortable 'value', t('.value') %> </th>
      <th> <%= t('.description') %> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td> <%= setting.name %> </td>
        <td> <%= setting.value %> </td>
        <td> <%= setting.description %> </td>
        <td> <%= raw make_menu(setting, :except => "show") %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
