<fieldset>
  <legend><%= t"setting.other" %></legend>

    <div class="contextual">
      <p> <%= link_to t("new_param.fem", :param => (t"setting.one")), new_admin_setting_path, :class => 'icon icon-add' %> </p>
    </div>

  <table class="list">
    <thead>
      <tr>
        <th><%= sortable 'name', t('name') %></th>
        <th><%= sortable 'value', t('value') %></th>
        <% if check_permission(Admin::SettingsController, ["delete"]) %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @settings.each do |setting| %>
        <tr>
          <td><%= link_to setting.name, setting %></td>
          <td><%= setting.value %></td>
          <td><%= raw make_menu(setting, :except => "show") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</fieldset>
