<%= simple_form_for (@site ? [@site, @role] : @role) do |f| %>
    <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count,"") %> <%= t"prohibited_being_saved", :count => @role.errors.count %>:</h2>
      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :site_id, :input_html => {:value => @site.id}, :as => :hidden if @site %>
  <%= f.input :name, :label => t("name") %>
  <%= f.input :theme, :collection => @themes.collect{|p| [ p , p]}, :label => t("layout") %>

		<div class="actions">
		   <%= f.submit t("submit") %> <%= link_to t("back"), :back %>
  	</div>
  
<% end %>
