<fieldset>
  <legend><%= t"editing", :param => t('roles') %></legend>

  <% form_for(@roles) do |f| %>
    <% if @roles.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@roles.errors.count, "error") %> prohibited this site from being saved:</h2>
        <ul>
        <% @roles.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <p>
      <%= f.label t"name" %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :theme, t('layout') %><br />
      <%= f.select :theme, @themes.collect{|p| [ p , p]}, {:include_blank => true} %>
    </p>
    <%= f.submit t"update", :param => t('role') %> <%= link_to t"back" %>
  <% end %>
</fieldset>
