<%= javascript_tag do %>
  function checkAll(id, checked) {
    var els = $(id).find('input[type=checkbox]');
    for (var i = 0; i < els.length; i++) {
      if (els[i].disabled==false) {
        els[i].checked = checked;
      }
    }
  }
  function toggleCheckboxesBySelector(selector) {
    boxes = $(selector);
    var all_checked = true;
    for (i = 0; i < boxes.length; i++) {
      if (boxes[i].checked == false) {
        all_checked = false;
      }
    }
    for (i = 0; i < boxes.length; i++) {
      boxes[i].checked = !all_checked;
    }
  }
<% end %>
<fieldset>
  <legend><%= t('roles_permissions') %></legend>

  <% if check_permission(RolesController, [:new]) %>
    <div class="contextual">
      <p><%= link_to (t"create_param", :param => t("role.one")), new_role_path, :class => 'icon icon-add' %></p>
    </div>
  <% end %>

  <%= form_tag roles_path, :method => :put, :id => 'roles_form' do %>
  <table class="list">
    <thead>
     <tr>
      <th><%= t"roles_permissions", :count => 2%></th>
      <% @roles.each do |role| %>
        <th>
          <%= link_to '', nil, :title => "#{t("button_check_all.fem")}/#{t("button_uncheck_all.fem")}", :class => 'icon icon-toggle-check', :onclick => "toggleCheckboxesBySelector('input.column-#{role.id}')", :remote => true %>
          <%= role.name %> 
          <p> <%= link_to t('edit'), edit_role_path(role), :class => "icon icon-edit" %> <%= link_to t('destroy'), role, :confirm => t('are_you_sure'), :method => :delete, :class => "icon icon-del" %> </p>
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <% @rights.group_by(&:controller).sort.each do |p, i| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td colspan="<%= @roles.length + 1%>">
           <b><%= t("#{p.singularize}.other") %></b>
          </td>
        </tr>
        <% i.each do |right| %>
          <tr class="<%= cycle 'odd', 'even' %> right-<%= right.id %>">
            <td>
              <%= link_to '', nil, :title => "#{t("button_check_all.fem")}/#{t("button_uncheck_all.fem")}", :class => 'icon icon-toggle-check', :onclick => "toggleCheckboxesBySelector('.right-#{right.id} input')", :remote => true %>
              <%= right.name %>
            </td>
            <% @roles.each do |role| %>
              <td>
                <%= check_box_tag "role[#{role.id}][right_ids][]", right.id, role.rights.include?(right), :id => nil, :class => "column-#{role.id}" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end; reset_cycle %>
    </tbody>
  </table>

  <p> 
    <%= link_to t("button_check_all.fem"), nil, :onclick => "checkAll('#roles_form',true)", :remote => true %> | <%= link_to t("button_uncheck_all.fem"), nil, :onclick => "checkAll('#roles_form',false)", :remote => true %> 
  </p>
  <%= submit_tag t("save") %>
  <% end %>

  <p> <%= link_to (t"list_param", :param => (t"permission", :count => 2)), :controller => "rights", :action => "index" %> </p>
</fieldset>
