<fieldset>
  <legend><%= t('roles_permissions') %></legend>

  <% if check_permission(RolesController, [:new]) %>
    <div class="contextual">
      <p><%= link_to (t"create_param", :param => t("role")), new_role_path, :class => 'icon icon-add' %></p>
    </div>
  <% end %>

  <%= form_tag roles_path, :method => :put do %>
  <table class="list">
    <thead>
     <tr>
      <th><%= t"roles_permissions", :count => 2%></th>
      <% @roles.each do |role| %>
        <th>
          <%= link_to_function '', "toggleCheckboxesBySelector('input.column-#{role.id}')", :title => "#{t(:button_check_all)}/#{t(:button_uncheck_all)}", :class => 'icon icon-toggle-check' %>
          <%= role.name %> 
          <p> <%= link_to t('edit'), edit_role_path(role), :class => "icon icon-edit" %> <%= link_to t('destroy'), role, :confirm => t('are_you_sure'), :method => :delete, :class => "icon icon-del" %> </p>
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <% @rights.group_by(&:controller).sort.each do |p, i| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td colspan="<%= @roles.length + 1%>">
           <b><%= t("#{p}") %></b>
          </td>
        </tr>
        <% i.each do |right| %>
          <tr class="<%= cycle 'odd', 'even' %> right-<%= right.id %>">
            <td>
              <%= link_to_function '', "toggleCheckboxesBySelector('.right-#{right.id} input')", :title => "#{t(:button_check_all)}/#{t(:button_uncheck_all)}", :class => 'icon icon-toggle-check' %>
              <%= right.name %>
            </td>
            <% @roles.each do |role| %>
              <td>
                <%= check_box_tag "role[#{role.id}][right_ids][]", right.id, role.rights.include?(right), :id => nil, :class => "column-#{role.id}" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end; reset_cycle %>
    </tbody>
  </table>

  <p> <%= link_to_function(t(:button_check_all), "checkAll('roles_form',true)") %> | <%= link_to_function(t(:button_uncheck_all), "checkAll('roles_form',false)") %> </p>
  <%= submit_tag t("save") %>
  <% end %>

  <p> <%= link_to (t"list_param", :param => (t"permission", :count => 2)), :controller => "rights", :action => "index" %> </p>
</fieldset>
