<fieldset>
  <legend><%= t('roles_permissions') %></legend>

  <% form_tag 'roles' do %>
    <table class="list">
      <thead>
       <tr>
        <th><%= t"roles_permissions"  %></th>
        <% @roles.each do |role| %>
          <th><%= role.name %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <% @rights.each do |right| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%= right.name %></td>
          <% @roles.each do |role| %>
            <td>
              <%= check_box_tag "right_ids[#{right.id}][role_ids][]", role.id, role.rights.include?(right), :id => nil %>
            </td>
          <% end %>
        </tr>
        <% end; reset_cycle %>
      </tbody>
    </table>
    <p> <%= submit_tag t("submit") %> </p>
  <% end %>

  <% form_for @roles do %>
      <%= t"new_param", :param => t("role") %>
        <%= text_field_tag "roles" %>
        <%= submit_tag t("submit") %>
  <% end %>
</fieldset>
