
<% quant = settings[:quant] || 5 %>
<% front = settings[:front] || false %>
<% @no_front_news = @site.pages.news(front).except(:order).page(params[:no_front_pages]).per(quant) %>

<div id='no_front_news'>
  <%= info_page @no_front_news, 'width: 100%' %>
    <table class="list border fullwidth zebra">
    <tr>
      <th> <%= link_to t("page.other"), site_pages_path(@site) %> </th>
    </tr>
    <% @no_front_news.try(:each) do |page| %>
      <tr>
        <td>
          <p>
          <%= link_to page.by_locale(session[:locale]).title, site_page_path(@site, page) %>
          <%= raw page.by_locale(session[:locale]).summary %>
          </p>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @no_front_news, :param_name => 'no_front_pages' %>
</div>
