<section id="weby_bar">
  <nav  class="top_menu left">
    <menu>
      <li>
        <%= raw portals %>
      </li>

      <% if @site %>
        <li> <%= link_to( t("home"), @site ) %> </li>
      <% end %>

      <% if(@site.try(:id) and current_user) %>
        <li class='sub'>
          <%= link_to t("admin.one"), site_admin_index_path(@site) %>
          <menu>
            <li class="separator"> <%= t("site", :count => 1) %> </li>

            <% if check_permission(AdminController, [:edit]) %>
              <li> <%= link_to (t"setting.other"), edit_site_admin_path(@site, @site) %> </li>
            <% end %>

            <% if check_permission(PagesController, [:index]) %>
              <li> <%= link_to (t"page.other"), site_pages_path(@site) %>
                <menu>
                <% if check_permission(PagesController, [:new]) %>
                  <li> <%= link_to t("new.fem"), new_site_page_path(@site), :class => 'icon icon-add' %> </li>
                <% end %>
                <li> <%= link_to t("covers"), fronts_site_pages_path(@site), :class => 'icon icon-newspaper' %> </li>
                </menu>
              </li>
            <% end %>

            <% if check_permission(MenusController, [:index]) %>
              <li> <%= link_to (t"menu.other"), site_menus_path(@site) %>
                <menu>
                <% if check_permission(MenusController, [:new]) %>
                  <li> <%= link_to (t"new_param.masc", :param => (t"menu.one")), new_site_menu_path(@site), :class => 'icon icon-add' %> </li>
                <% end %>
                  <% @global_menus.each do |k, menu| %>
                  <% if check_permission(MenuItemsController, [:index]) %>
                      <li> <%= link_to menu.name.try(:titleize), site_menus_path(@site, :menu => menu.id), :class => 'icon icon-list' %>
                      <% if check_permission(MenuItemsController, [:new]) %>
                        <menu>
                          <li> <%= link_to (t"new_param.masc", :param => (t"menu_item.one")), new_site_menu_menu_item_path(@site, menu), :class => 'icon icon-add' %> </li>
                        </menu>
                      <% end %>
                      </li>
                      <%  end %>
                  <% end %>
                </menu>
              </li>
            <% end %>

            <% if check_permission(BannersController, [:index]) %>
              <li> <%= link_to (t"banner.other"), site_banners_path(@site) %>
                <menu>
                <% if check_permission(BannersController, [:new]) %>
                  <li> <%= link_to t("new.masc"), new_site_banner_path(@site), :class => 'icon icon-add' %> </li>
                <% end %>
                </menu>
              </li>
            <% end %>

            <% if check_permission(SiteComponentsController, [:index]) %>
              <li> <%= link_to t("component.other"), site_site_components_path(@site) %>
                <menu>
                <% if check_permission(SiteComponentsController, [:new]) %>
                  <li> <%= link_to t("new.masc"), new_site_site_component_path(@site), :class => 'icon icon-add' %> </li>
                <% end %>
                </menu>
              </li>
            <% end %>

            <% if check_permission(RepositoriesController, [:index]) %>
              <li> <%= link_to (t"archive.other"), site_repositories_path(@site) %>
                <menu>
                <% if check_permission(RepositoriesController, [:new]) %>
                  <li> <%= link_to t("new.masc"), new_site_repository_path(@site), :class => 'icon icon-add' %> </li>
                <% end %>
                </menu>
              </li>
            <% end %>
      
            <% if check_permission(StylesController, [:index]) %>
              <li> <%= link_to (t"style.other"), site_styles_path(@site) %>
                <menu>
                <% if check_permission(StylesController, [:new]) %>
                  <li> <%= link_to t("new.masc"), new_site_style_path(@site), :class => 'icon icon-add' %> </li>
                <% end %>
                </menu>
              </li>
            <% end %>

            <li class="separator"> <%= t("user", :count => 2) %> </li>

            <% if check_permission(UsersController, [:index]) %>
              <li> <%= link_to (t"user.other"), @site ? site_users_path(@site) : users_path %> </li>
            <% end %>

            <% if check_permission(RightsController, [:index]) %>
              <li> <%= link_to (t"permission.other"), rights_path %>
                <menu>
                <% if check_permission(RightsController, [:new]) %>
                  <li> <%= link_to t("new.fem"), new_site_right_path(@site), :class => 'icon icon-add' %> </li>
                <% end %>
                </menu>
              </li>
            <% end %>
      
            <% if check_permission(RolesController, [:index]) %>
              <li> <%= link_to (t"roles_permissions"), site_roles_path(@site) %> </li>
            <% end %>
      
            <% if check_permission(Sites::FeedbacksController, [:index]) %>

              <li class="separator"> <%= t("feedback.one") %> </li>

                <% if check_permission(Sites::GroupsController, [:index]) %>
                  <li> <%= link_to (t"group.other"), site_groups_path(@site) %>
                    <menu>
                      <% if check_permission(Sites::GroupsController, [:new]) %>
                        <li> <%= link_to t("new.masc"), new_site_group_path(@site), :class => 'icon icon-add' %> </li>
                      <% end %>
                   </menu>
                 </li>
                <% end %>

              <li> <%= link_to (t"messages"), site_feedbacks_path(@site) %> </li>

            <% end %>
          </menu>
        </li>
      <% end %>
    
      <%# Quando na tela dos portais %>
      <% if(not(@site) and current_user) %>
        <% if check_permission(AdminController, [:index]) %>
          <li class='sub'>
            <%= link_to t("admin.one"), admin_index_path() %>
            <menu>
              <li> <%= link_to (t"site.other"), sites_path %>
                <% if check_permission(SitesController, ["new"]) %>
                  <menu>
                    <li>
                      <%= link_to t("new.masc"), new_site_path, :class => 'icon icon-add' %>
                    </li>
                  </menu>
                <% end %>
              </li>
            
              <% if check_permission(UsersController, ['index']) %>
                <li> <%= link_to (t"user.other"), @site ? site_users_path : users_path %>
                  <% if check_permission(UsersController, ["new"]) %>
                    <menu>
                      <li>
                        <%= link_to t("new.masc"), new_user_path, :class => 'icon icon-add' %>
                      </li>
                    </menu>
                  <% end %>
                </li>
              <% end %>
            
              <% if check_permission(RolesController, [:index]) %>
                <li> <%= link_to (t"roles_permissions"), roles_path %> </li>
              <% end %>
            </menu>
          </li>
        <% end %>
      <% end %>
    
      <li>
        <%= link_to (t"help"),
          "https://softifes.andifes.org.br/projects/weby/wiki/Documenta%C3%A7%C3%A3o_para_usu%C3%A1rios",
          :target => '_blank' %>
      </li>
      <li>
        <%= link_to (t"about"),
          "/about",
          :target => '_blank' %>
      </li>
    </menu>
  </nav>

  <nav class="top_menu right">
    <menu>
      <% if(@site.try(:id) and current_user) %>
        <li> <%= link_to(current_user.first_name.titleize, site_user_path(@site, current_user)) %> </li>
      <% end %>

      <% if(not(@site) and current_user) %>
        <li> <%= link_to(current_user.first_name.titleize, user_path(current_user)) %> </li>
      <% end %>

      <% if current_user %>
        <li> <%= link_to( t("logout"), logout_path(:back_url => "#{request.fullpath}"), :confirm => t("are_you_sure") ) %> </li>
      <% end %>

      <% if not(current_user) %>
        <li class='to_left'> <%= link_to( t("login"), login_path(:back_url => "#{request.fullpath}")) %> </li>
        <li> <%= link_to( t("register"), new_user_path ) %> </li>
      <% end %>

      <% # FIXME Contador de usuários não está funcionando ao realizar logoff. %>
      <%# User.logged_in.count.to_s + ' ' + t('logged', :count => User.logged_in.count) %>
    </menu>
  </nav>
</section>
