<div class="tabbable i18n">
  <ul class="nav nav-tabs">
    <% current_site.locales.each_with_index do |locale, index| %>
      <li class="<%= index == 0 ? "active" : "" %>"><%= link_to locale_with_name(locale, '16'), "#tab_#{locale}", data: {toggle: 'tab'} %></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% current_site.locales.each_with_index do |locale, index| %>
      <div id="tab_<%= locale.name %>" class="tab-pane<%= index == 0 ? " active" : "" %>">

        <%= f.component_i18n_input locale, :label, :as => :string %>
        
      </div>
    <% end %>
  </div>
</div>

<% if current_site.groups %>
  <div class="control-group check_boxes optional">
    <label class="check_boxes optional control-label"> <%= t(".group_checked") %> </label>
    <div class="controls">
      <% current_site.groups.each do |group| %>
        <label class="checkbox">
          <%= check_box_tag 'feedback_component[groups_id][]', group.id, component.checked?(group.id), class: 'check_boxes optional'  %>
          <%= group.name %>
        </label>
      <% end %>
    </div>
  </div>
<% end %>
