<div class="form-group boolean optional side">
  <div class="col-md-2 control-label">
    <%= label_tag :is_event, t(".is_event"), class: 'boolean optional', for: 'is_event' %>
  </div>
  <div class="col-md-7">
    <%= f.input :type, as: :hidden %>
    <label class="checkbox">
      <%= check_box_tag :is_event, :Event, @page.type == 'Event' %>
    </label>
  </div>
</div>
<div id="form_event">
  <div id="event_fields">
    <%= f.input :local,
      :required => true,
      :help => t("field_required") %>

    <%= f.input :kind, 
      collection: @event_types,
      as: :select %>

    <%= f.input :event_email %>

    <%= f.input :event_begin, required: :true, label: t(".period_event") do %>
      <div class="row">
        <div class="col-md-5">
           <%= f.input_field :event_begin, placeholder: t(".begin") %>
        </div>
        <div class="col-md-1 text-center">
          <b><%= t('time.period_separator') %></b>
        </div>
        <div class="col-md-6">
           <%= f.input_field :event_end, placeholder: t(".end") %>
        </div>
      </div>
    <% end %>
    <div class='clear'></div>
  </div>
</div>
