<%= simple_form_for [:site_admin, @page] do |f| %>
  <%= f.show_errors %>

  <%= render('translates_form', f: f) %>

  <%= f.input :publish, wrapper_html: { class: "side" }, 
    as: :boolean,
    input_html: { class: "check-button" },
    wrapper: :checkbox %>

  <%= repository_search t(".related_files"),
    "related_file_ids", "page[related_file_ids][]", @page.related_files,
    multiple: true, file_types: false %>
  
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>

<% content_for :javascripts, javascript_include_tag("pages.form") %>
<% content_for :stylesheets, stylesheet_link_tag("datetime") %>
