<% if @pages.empty? %>
  <div class="alert alert-warning">
    <%= t(".none_page") %>
  </div>
<% else %>
  <div class="pull-left"> <%= info_page @pages %> </div>
  <div class="pull-right"> <%= paginate @pages, remote: true %> </div>
  <div class="clearfix"></div>
  <div class="table-wrapper">
    <table class="table table-striped nowrap align-middle">
      <thead>
        <tr>
          <th class="center sel-all"><%= check_box_tag :select_all, 1, false %></th>
          <th width="35%"><%= t(".title") %></th>
          <th width="12%"><%= sortable 'users.first_name', t(".author") %></th>
          <th width="25%"><%= sortable 'pages.created_at', t(".created_at") %></th>
          <% with_permission(action: :show) do %>
            <th width="5%"><%= sortable 'pages.publish', t(".publish") %></th>
          <% end %>
          <th width="5%" class="center"><%= sortable 'pages.view_count', t(".views") %></th>
          <th width="5%" class="center"><%#= t(".action")%></th>
        </tr>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
        <tr id="<%= page.id %>"<%= ' class="deactivated"'.html_safe unless page.publish? %>>
          <td class="center sel-item"><%= check_box_tag :select_item, page.id, false %></td>
          <td>
            <%= title_with_flags(page) %>
          </td>
          <td><%= page.user.first_name %></td>
          <td><%= l(page.created_at, :format => :short) %></td>
          <% with_permission(action: :show) do %>
            <td class="publish">
              <%= publication_status_page(page, remote: true) %></td>
          <% end %>
          <td width="5%" style="text-align:center;"><%= page.view_count %></td>
          <td class="actions">
            <%= render_dropdown_menu do %>
              <%= link_to icon('eye-open', text: t('show')), site_page_path(page), target: :_blank %>
              <% with_permission(action: :new) do %>
                <%= link_to fa_icon('files-o', text: t('copy')), new_site_admin_page_path(copy_from: page.id) %>
              <% end %>
              <%= make_menu(page, :except => "show", :with_text => true) %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= render_bulk_actions do %>
      <% with_permission(action: :destroy_many) do %>
        <%= link_to icon('trash', text: t('destroy')), destroy_many_site_admin_pages_path, class: 'btn btn-sm btn-default destroy-many', method: :delete, data: {confirm: t('are_you_sure_del_many')} %>
      <% end %>
    <% end %>
  </div>

  <div class="pull-left"> <%= per_page_links @pages, true, :sm %> </div>
  <div class="pull-right"> <%= paginate @pages, remote: true %> </div>
  <div class="clearfix"></div>
<% end %>
