<div class="pull-left"> <%= info_page @pages %> </div>
<div class="pull-right"> <%= paginate @pages, remote: true %> </div>
<div class="clearfix"></div>

<% if @pages.empty? %>
  <div class="alert">
    <%= (t"none_param", param: t("page.one")) %>
  </div>
<% end %>

<table class="table table-striped table-condensed nowrap">
    <thead>
      <tr>
        <th width="100px"><%= sortable 'pages.created_at', t(".created_at") %></th>
        <th width="300px"><%= t("title") %></th>
        <th width="90px"><%= sortable 'users.first_name', t("author") %></th>
        <th width="80px"><%= sortable 'tags.name', t("category") %></th>
        <th width="50px"><%= sortable 'pages.type', t("type") %></th>
        <% with_permission(action: :toggle_field) do %>
          <th><%= sortable 'pages.front', t("cover") %></th>
          <th><%= sortable 'pages.publish', t("publish") %></th>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
      <tr id="<%= page.id %>">
        <td><%= l(page.created_at, :format => :short) %></td>
        <td>
          <%= title_with_flags(page) %>
        </td>
        <td><%= page.author.first_name %></td>
        <td><%= page.category_list * ', ' %></td>
        <td><%= t"#{page.type.downcase}.one" %></td>
        <% with_permission(action: :toggle_field) do %>
          <td align="center" class="front">
            <%= raw toggle_field(page, "front") %></td>
          <td align="center" class="publish">
            <%= publication_status(page) %></td>
          <td><%= make_menu(page, :except => "show", :with_text => false) %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

<div class="pull-left"> <%= per_page_links @pages, true %> </div>
<div class="pull-right"> <%= paginate @pages, remote: true %> </div>
<div class="clearfix"></div>
