<div>
  <%= form_tag site_admin_pages_path(template: 'list_popup'), method: 'get', autocapitalize: "off", class: 'search pull-right', remote: true do %>
    <%= content_tag :div, class: 'input-append' do %>
      <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t("search"), class: 'btn btn-large btn-primary btn-search' %>
    <% end %>
    <%= hidden_field_tag 'page', 1 %>
    <%= hidden_field_tag 'per_page', "#{params[:per_page]}" %>
  <% end %>
</div>

<div class="pull-left"> <%= info_page @pages %> </div>
<!--<div class="pull-right"> <%#= paginate @pages, remote: true %> </div>-->
<div class="clearfix"></div>

<table id='list' class="list table table-striped">
  <thead>
    <th><%= sortable 'date_begin_at', t(".register_date")%></th>
    <th><%= t(".title") %></th>
    <th><%= sortable 'tags.name', t(".category") %></th>
    <th><%= sortable 'type', t(".type") %></th>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <%= content_tag :tr, id: "sort_page_#{page.id}", onclick: "selected(#{page.id}, '#{escape_javascript(page.title)}', 'Page')", style: 'cursor: pointer' do %>
        <td><%= page.created_at.strftime('%d/%m/%y') %></td>
        <td><%= page.title %></td>
        <td><%= page.category_list %></td>
        <td><%= t(".#{page.type.downcase}") %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="pull-left"> <%= per_page_links @pages %> </div>
<div class="pull-right"> <%= paginate @pages, remote: true %> </div>
<div class="clearfix"></div>
