
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 class="pull-left"><%= t('.sites') %></h3>
<div class="clearfix"></div>
</div>
<div class="modal-body">
  <table class="table table-striped table-condensed table-bordered">  
  <tbody>
    <% current_user.sites.each do |site|  %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><input id="<%= site.id %> " type="checkbox"/></td>
        <td><%= site.title     %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" onClick="javascript:save();">Salvar</button>
  <a href="#" class="btn" data-dismiss="modal"><%=t('close')%></a>
</div>
</div>