<%# Não inclua essa partial diretamente, utilize a função helper 'target_dialog_input' %>
<% field_name = editable_url ? :url : target_name %>

<div class="input target_select" id="inputs-for-<%= field_name.to_s %>">
   <%= f.input field_name, :wrapper => :append do %>
      <%= f.input_field field_name, as: :string,
        disabled: !editable_url,
        value: editable_url ? f.object.send(field_name) : f.object.send(field_name).try(:title),
        placeholder: editable_url ? "" : t("target_dialog.none_selected"),
        data: {target_content: true, prefix: "#{target_name}", editable: editable_url}, class: 'url-field' %>
      <span class="input-group-btn">
        <%=  link_to t("target_dialog.select_target"), '#', class: 'target-btn btn btn-info' %>
      </span>
   <% end %>

   <%= f.input "#{target_name}_id", as: :hidden, input_html: {data: {target_id: true, prefix: "#{target_name}"}} %>
   <%= f.input "#{target_name}_type", as: :hidden, input_html: {data: {target_type: true, prefix: "#{target_name}"}} if polymorphic %>
</div>
