<script type="text/javascript">
  $(function() {
    // Forma um link para a página da forma:
    //  /pages/page_id
    $("table.list > tbody > tr").click(function(){
      $('#href').val("/pages/"+$(this).find('td').first().text());
    });
                          
    $("#page_list .pagination a,#page_list a#search_button").click(function(){
        $comp = $(this).parents('#page_list');
        //alert($comp);
        $comp.css('position', 'relative');
        $comp.prepend($('<div class="loading-cloak"></div>').css({
            position: 'absolute',
            top: 0,
            left: 0,
            height: $comp.outerHeight(),
            width: $comp.outerWidth(),
            textAlign: 'center',
            background: 'rgba(255,255,255,.65) url(/assets/loading.gif) no-repeat center center'
        }));
    });

    // Para realizar a consulta por páginas
    $('#search_button').click(function(e) {
      var search = $('#search').val();
      $.get(this.href, {'template': "tiny_mce", 'search': search}, null, 'script');
      e.preventDefault();
      return false;
    });


  });
</script>

<style type="text/css">
  table.list tr{
    cursor: pointer;
  }
  table.list tbody tr:hover {
    background: rgb(204, 204, 204);
  }
</style>

<div id="tinyMCE_search_area">
  <%= text_field_tag 'search', params[:search], placeholder: t('search') + " " + t(".pages"), onkeypress: "return enter_to_click(event,'search_button');" %>
  <%= link_to t('search'), site_admin_pages_path, remote: true, id: 'search_button' %>
</div>
<br/>

<table class='list' style="width:100%;table-layout: fixed;white-space:nowrap;" rules="all">
  <thead>
    <th width="7%"><%= sortable 'pages.id', t(".id") %></th>
    <th width="58%"><%= t(".title") %></th>
    <th width="35%"><%= sortable 'users.first_name', t(".author") %></th>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.id %></td>
        <td style="overflow:hidden;"><%= page.title %></td>
        <td style="overflow:hidden;"><%= page.author.name_or_login %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br style="clear:both;" />
<div style="float:right;margin-bottom:2px;">
  <%= paginate @pages, remote: true %>
</div>
<div style="clear:both;"></div>
