<div class="tabbable i18n">
  <ul class="nav nav-tabs">
    <% available_locales(@page).each_with_index do |locale, index| %>
      <li class="<%= index == 0 ? "active" : "" %>"><%= link_to locale_with_name(locale, '16'), "#tab_#{locale}", data: {toggle: 'tab'} %></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% available_locales(@page).each_with_index do |locale, index| %>
      <div id="tab_<%= locale.name %>" class="tab-pane<%= index == 0 ? " active" : "" %>">
        <%= f.i18ns_fields_for(locale) do |g| %>
          <%= g.input :_destroy,
            label: t("activerecord.attributes.page/i18ns._destroy", locale: locale.name.to_sym),
            as: :boolean if g.object.try(:id) %>
          <%= g.input :title,
            label: t("activerecord.attributes.page/i18ns.title", locale: locale.name.to_sym) %>

          <%= g.input :summary,
            label: t("activerecord.attributes.page/i18ns.summary", locale: locale.name),
            input_html: {class: "mceSimple", style: "width: 550px; height: 180px;"},
            as: :text %>
          <%= g.input :text,
            label: t("activerecord.attributes.page/i18ns.text", locale: locale.name.to_sym),
            input_html: {class: "mceAdvance", style: "width: 550px; height: 320px;"},
            as: :text %>
        <% end %>
      </div>
    <% end %>
    <%= target_dialog %>
  </div>
</div>
