<% title ".pages" %>
<% breadcrumb :pages_fronts %>
<div class="pull-right">
  <% with_permission(action: :new) do %>
    <%= link_to t(".new_page"),
      new_site_admin_page_path,
      class: "btn btn-success" %>
  <% end %>
  <%= link_to t(".list_pages"), site_admin_pages_path, :class => 'btn' %>
</div>
<div class="pull-left">
  <%= select_tag "filter-category",
    options_for_select(current_site.pages.uniq_category_counts.map{|c| [c.name, c.name.parameterize] }),
    include_blank: false,
    class: 'select2 input-xlarge',
    multiple: true %>
  &nbsp;<input type="checkbox" name="filter-events" id="filter-events"/>&nbsp;<%= t('.events_only') %>
  <label></label>
</div>
<div class="clearfix control-group"></div>

<% if @pages.empty? %>
  <div class="alert">
    <%= t(".none_cover") %>
  </div>
<% else %>

  <table  class="table table-striped table-condensed" id="list">
    <thead>
      <th><%= t(".title") %></th>
      <th><%= t(".author") %></th>
      <th><%= t(".category") %></th>
      <th><%= t(".type") %></th>
      <th><%= t(".created_at") %></th>
      <% with_permission(action: :edit) do %>
        <th><%= sortable 'pages.publish', t(".publish") %></th>
        <th></th>
      <% end %>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr id="sort_page_<%= page.id %>" class="sort_page <%= page.type.downcase%> <%= page.category_list.map{|categ| categ.parameterize }.join(' ') %>">
          <td>
            <%= title_with_flags(page) %>
          </td>
          <td><%= page.author.first_name %></td>
          <td><%= raw categories_links(page.category_list) %></td>
          <td><%= t(".#{page.type.downcase}") %></td>
          <td><%= l(page.created_at, :format => :short) %></td>
          <% with_permission(action: :edit) do %>
            <td align="center" class="publish">
              <%= publication_status(page) %></td>
            <td>
              <%= make_menu(page, :except => "show") %>
              <% with_permission(action: :sort) do %>
                <a href='#' class='handle'><%= icon('move', text:t(".move"))%></a>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= javascript_tag do %>
    window.onload=function(){
      $(document).ready(function() {
        $('#list').sortable({
          axis: 'y',
          dropOnEmpty:false,
          handle: '.handle',
          items: 'tbody > tr',
          opacity: 0.7,
          scroll: true,
          forcePlaceholderSize: true,
          placeholder: 'drop-here',
          tolerance: 'pointer',
          start: function (event, ui){
            ui.placeholder.html('<td colspan="'+ui.helper.find('td').length+'">&nbsp;</td>');
          },
          update: function(ev, ui){
            id_moved = ui.item.attr('id').replace('sort_page_','');
            id_after = ui.item.next().attr('id') ? ui.item.next().attr('id').replace('sort_page_','') : 0;
            id_before = ui.item.prev().attr('id') ? ui.item.prev().attr('id').replace('sort_page_','') : 0;
            //alert(id_moved+' between '+id_before+' and '+id_after);
            $.ajax({
              type: 'post',
              data: {'id_moved':id_moved,'id_after':id_after,'id_before':id_before},
              dataType: 'script',
              complete: function(request){ ui.item.effect('pulsate', {times: 1}, 350); },
              error: function(){$('#list').sortable('cancel');},
              url: '<%= sort_site_admin_pages_path %>'
            });
          }
        });

        $('.select2').select2({
           placeholder: "Filtrar por categoria",
           width: 'resolve'
        });

        var applyFilter = function(){
          var onlyEvents = $('#filter-events'),
              categories = $('#filter-category');

          $('.sort_page').hide();

          if(categories.val()){
            $(categories.val()).each(function(idx, category){
              $('.sort_page.'+category).show();
            });
          }else{
            $('.sort_page').show();
          }

          if(onlyEvents.is(':checked')){
            $('.sort_page.news').hide();
          }
        }

        $('#filter-events, #filter-category').change(applyFilter);
      });
    }
  <% end %>
  <%= content_for :javascripts, javascript_include_tag("jquery-ui.min") %>
  <%= content_for :stylesheets, stylesheet_link_tag("sortable") %>

<% end %>
