
<%- title 'page.other' %>

<div class="span9">
  <div class="well">
    <div class="pull-left">
      <%= form_tag request.path, method: 'get', autocapitalize: "off", class: 'search pull-right' do %>
        <%= content_tag :div, class: 'input-append' do %>
          <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t("search"), class: 'btn btn-large btn-primary btn-search' %>
        <% end %>
      <% end %>
    </div>


    <div class="pull-right">

      <% with_permission do %>
        <%= link_to t('new_param.masc', param: t('page.one')),
          new_site_admin_page_path,
          class: "btn btn-success btn-large" %>
      <% end %>
      <% with_permission(action: :fronts) do %>
        <%= link_to (t"covers"), fronts_site_admin_pages_path(@site), class: "btn btn-primary btn-large" %>
      <% end %>
    </div>
    <div class="clearfix"></div>

    <div class="pull-left"> <%= info_page @pages %> </div>
    <div class="pull-right"> <%= paginate @pages %> </div>
    <div class="clearfix"></div>
    <div id="pages">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= sortable 'pages.created_at', t("date_param", param: t("register"))%></th>
            <th><%= t("title") %></th>
            <th><%= sortable 'users.first_name', t("author") %></th>
            <th><%= sortable 'tags.name', t("category") %></th>
            <th><%= sortable 'pages.type', t("type") %></th>
            <% with_permission(action: :toggle_field) do %>
              <th><%= sortable 'pages.front', t("cover") %></th>
              <th><%= sortable 'pages.publish', t("publish") %></th>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'page', collection: @pages %>
        </tbody>
      </table>
    </div>
    <div class="pull-left"> <%= info_page @pages %> </div>
    <div class="pull-right"> <%= paginate @pages %> </div>
    <div class="clearfix"></div>
  </div>
</div>
