<div class="pull-left">
  <%= form_tag site_admin_pages_path, method: 'get', autocapitalize: "off", class: 'search pull-right' do %>
    <%= content_tag :div, class: 'input-append' do %>
      <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t("search"), class: 'btn btn-info btn-search' %>
    <% end %>
  <% end %>
</div>

<div class="pull-right">
  <% with_permission do %>
    <%= link_to t(".new_page"),
      new_site_admin_page_path,
      class: "btn btn-success" %>
  <% end %>
  <% with_permission(action: :fronts) do %>
    <%= link_to t(".covers"), fronts_site_admin_pages_path, class: "btn" %>
  <% end %>
</div>
<div class="clearfix"></div>

<div id="pages">
  <%= render :partial => "list" %>
</div>
