<% title ".pages" %>
<% breadcrumb :pages_show, @page %>
<article class="page-show">

  <header>
    <%= raw available_flags(@page) if @page.locales.many? %>
    <h1><%= @page.title %></h1>
  </header>

  <p class="page-details details">
    <div class="author"><%= t(".authored", author: @page.user, created_at: l(@page.created_at, format: :short)) %></div>
    <% if @page.updated_at != @page.created_at %>
      <div class="date"><%= t(".updated_at", updated_at: l(@page.real_updated_at, format: :short)) %></div>
    <% end %>
  </p>

  <%= render partial: 'sites/shared/pages_show_actions' %>

  <div class="form-actions">
    <%= link_to icon('eye-open', text: t('show')), site_page_path(@page) if @page.publish || @page.user_id == current_user.id %>
    <%= make_menu(@page, :except => "show") %>
    <%= link_to icon('list', text: t(".list_all")), site_admin_pages_path %>
    <%= link_to icon('chevron-left', text: t("back")), :back %>
  </div>
</article>
