<% unless @my_csses.nil? and @othe_csses.nil? OR @my_csses.empty? and @othe_csses.empty? %>

  <%#= will_paginate @csses, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next"), :class => 'pagination ajax' %>

  <% unless @my_csses.empty? %>
    <%= t'my_css' %>
    <table class='list'>
      <thead>
        <th><%= t'name' %></th>
        <th><%= t'publish' %></th>
        <th></th>
      </thead>
      <tbody>
        <% @my_csses.each do |css| %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td> <%= css.css.name %> </td>
            <td align="center"><%= raw toggle_field(css, "publish") %></td>
            <td> <%= raw make_menu(css) %> </td>
          </tr>
        <% end; reset_cycle %>
      </tbody>
    </table>
  <% end %>

  <% unless @other_csses.empty? %>
    <%= t'other_css' %>
    <table class='list'>
      <thead>
        <th><%= t'name' %></th>
        <th><%= t'publish' %></th>
        <th></th>
      </thead>
      <tbody>
        <tr class="even">
          <td>Css Usados</td>
        </tr>
        <% @used_csses.each do |css| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td> <%= css.css.name %> </td>
          <td align="center"><%= raw toggle_field(css, "publish") %></td>
          <td> <%= raw make_menu(css) %> </td>
        </tr>
        <% end; reset_cycle %>
        <tr class="even">
          <td>Css Não Usados</td>
        </tr>
        <% @other_csses.each do |css| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td> <%= css.css.name %> </td>
          <td align="center"><%= raw toggle_field(css, "publish") %></td>
          <td> <%= raw make_menu(css) %> </td>
        </tr>
        <% end; reset_cycle %>
      </tbody>
    </table>
  <% end %>

  <%#= will_paginate @csses, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next"), :class => 'pagination ajax' %>

<% else %>
  <% flash.now[:warning] = (t"none_param", :param => t("css.one")) %>
<% end %>
