
<details open>
  <summary><%= t("my_css") %></summary>
  <%= paginate @my_csses, :param_name => :page_my_csses, :window => 1 %>
  <%= info_page @my_csses %>
  <table class='list'>
    <thead>
      <th><%= t'name' %></th>
      <th><%= t'publish' %></th>
      <th></th>
    </thead>
    <tbody>
      <% @my_csses.each do |site_css| %>
        <tr>
          <td> <%= site_css.css.name %> </td>
          <td align="center"> <%= raw toggle_field(site_css, "publish") %> </td>
          <td> <%= raw make_menu_css(site_css) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</details>

<details open>
  <summary><%= t('other_css') %></summary>
  <%= paginate @other_csses, :param_name => :page_other_csses, :window => 1 %>
  <%= info_page @other_csses %>
  <table class='list'>
    <thead>
      <th><%= t('name') %></th>
      <th><%= t('owner') %></th>
      <th><%= t('follow') %></th>
      <th></th>
    </thead>
    <tbody>
      <% unless @other_csses.empty? %>
        <% @other_csses.each do |site_css| %>
          <tr>
            <td> <%= site_css.css.name %> </td>
            <td> <%= site_css.css.owner.try(:name) %> </td>
            <td align="center"> <%= follow(site_css) %> </td>
            <td> <%= make_menu_css(site_css) %> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</details>
