<% unless @csses.empty? %>

  <%= will_paginate @csses, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next"), :class => 'pagination ajax' %>

  <table class='list'>
    <thead>
      <th><%= t'name' %></th>
      <th><%= t'publish' %></th>
      <th></th>
    </thead>
    <tbody>
    <% @csses.each do |css| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td> <%= css.name %> </td>
        <td align="center"><%= raw toggle_field(css, "publish") %></td>
        <td> <%= raw make_menu(css) %> </td>
      </tr>
    <% end; reset_cycle %>
    </tbody>
  </table>

  <%= will_paginate @csses, :previous_label => t("will_paginate.previous"), :next_label => t("will_paginate.next"), :class => 'pagination ajax' %>

<% else %>
  <% flash.now[:warning] = (t"none_param", :param => t("css")) %>
<% end %>
