<%= info_page other_csses %>
<%= paginate other_csses, :param_name => :page_other_csses, :window => 1 %>
<table class='list'>
  <thead>
    <th><%= t('name') %></th>
    <th><%= t('owner') %></th>
    <th><%= t('follow') %></th>
    <th></th>
  </thead>
  <tbody>
    <% unless other_csses.empty? %>
      <% other_csses.each do |site_css| %>
        <tr>
          <td> <%= site_css.css.name %> </td>
          <td> <%= link_to site_css.css.owner.try(:name), site_css.site %> </td>
          <td align="center"> <%= follow(site_css) %> </td>
          <td> <%= make_menu_css(site_css) %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%#= per_page_links other_csses %>
<%= paginate other_csses, :param_name => :page_other_csses, :window => 1 %>
