<% breadcrumb params[:search].present? ? :backups : :backups %>
<ul class="nav nav-tabs" id="backup-tab">
  <li class="<%= params["restore"] ? "" : "active" %>" >
    <a href="#backup" data-toggle="tab"><%= t(".backup") %></a>
  </li>
  <li class="<%= params["restore"] ? "active" : "" %>" >
    <a href="#restore" data-toggle="tab"><%= t(".restore") %></a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane <%= params["restore"] ? "" : "active" %>" id="backup">
    <%= form_tag site_admin_generate_path, method: 'get' do %>
      <div class="row">
        <div class="col-md-6">
          <%= t('.output') %>
          <%= select_tag :type, options_for_select([ "XML", "JSON" ], "XML"), class: 'form-control' %>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box_tag(:pages) %>
          <%= t('.pages') %>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box_tag(:news) %>
          <%= t('.news') %>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box_tag(:events) %>
          <%= t('.events') %>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box_tag(:repositories) %>
          <%= t('.repositories') %>
        </label>
        <label>
          <%= check_box_tag(:files, 1, true) %>
          <%= t('.files') %>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box_tag(:menus) %>
          <%= t('.menus') %>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box_tag(:themes) %>
          <%= t('.themes') %>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box_tag(:banners) %>
          <%= t('.banners') %>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box_tag(:extensions) %>
          <%= t('.extensions') %>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box_tag(:messages) %>
          <%= t('.messages_feedbacks') %>
        </label>
      </div>
      <div class="form-actions">
          <%= submit_tag t('generate'), class: 'btn btn-primary generate', data: {disable_with: false}  %>
          <%= link_to t("back"), site_admin_path, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
  <div class="tab-pane <%= params["restore"] ? "active" : "" %>" id="restore">
    <%= form_tag site_admin_import_path, id: 'import-form', multipart: true, method: :post do %>
      <div class="row">
        <div class="col-md-6">
          <%= file_field_tag 'upload', required: :required, :accept => 'text/json,text/xml,application/JSON', class: 'form-control' %>
        </div>
      </div>
      <div class="form-actions">
        <%= submit_tag t('import'), class: 'btn btn-primary import', data: {confirm: t('.confirm_import')} %>
      </div>
    <% end %>
  </div>
</div>
