<div  id="banners_right">
  <% @component_banners = @site.banners.published.tagged_with(component.category) %>
  <% @component_banners.each do |banner| %>
    <% banner_url = banner.page_id ? site_page_path(@site, banner.page_id) : banner.url %>
    <% unless banner.repository.nil? %>
      <figure class='banner'>
        <% format = banner.size ? banner.size : "little" %>
        <%= weby_file_view(banner.repository,
                           format,
                           "#{banner.width}",
                           "#{banner.height}",
                           {
                              as: 'link',
                              alt: banner.text,
                              title: banner.text,
                              url: banner_url,
                              target: (banner.new_tab ? '_blank' : '')
                           }) %>
      </figure>
    <% else %>
        <div class='banner_textual'>
            <h2><%= "#{banner.title}" %></h2>
            <a href="<%= "#{banner_url}" %>" target="<%= banner.new_tab ? "_blank":"" %>"><p><%= "#{banner.text}" %></p></a>
        </div>
    <% end %>
    <% if check_permission(BannersController, ["toggle_field"]) %>
      <%= link_to t("unpublish"), toggle_field_site_banner_path(@site, banner, :field => 'publish') %>
    <% end %>
  <% end %>
</div>