<section class="news_as_home_component <%= component.popup_class %>">
  <div class="component-content <%= 'hide-title' if !component.show_title && component.source == 'page' %>">
    <% if component.is_popup? %>
      <% include_component_javascript :javascripts, 'news_as_home' %>
      <% content_for :body_class, 'modal-open' %>
      <%= link_to '×', '#', class: 'popup-close' %>
    <% end %>
    <% if component.source == 'page' %>
      <% if (@page = component.page).present? %>
        <%= render template: 'sites/pages/show', locals: { as_component: {show_title: component.show_title , show_info: component.show_info} } %>
      <% else %>
        <%= content_tag :h1, t(".page_not_found") %>
      <% end %>
    <% elsif component.source == 'feedback' %>
      <% @message = Feedback::Message.new(name: t('.feedback')) %>
      <% @extension = current_site.extensions.find_by(name: 'feedback') %>
      <% @groups = current_site.groups.order(position: :asc) %>
      <%= render template: 'feedback/messages/new', locals: { as_component: {show_title: component.show_title , show_info: component.show_info} } %>
    <% end %>
  </div>
</section>
