<div class="search_box_component <%=  component.align %>" style="width: <%= component.width.to_i > 0 ? "#{component.width}px" : "100%" %>;">
  <%= form_tag component.form_action, class: 'form_search', method: 'get' do %>
    <%= search_field_tag :search, nil, placeholder: t('.search') %>
    <% if component.action.blank? || component.action == 'choose' %>
      <select id="options" onchange="search_action()">
        <option value="/news"  <%= request.env['PATH_INFO'] == '/news' ? "selected" : '' %>><%= t('.news') %></option>
        <option value="/pages" <%= request.env['PATH_INFO'] == '/pages' ? "selected" : '' %>><%= t('.pages') %></option>
        <option value="/events" <%= request.env['PATH_INFO'] == '/events' ? "selected" : '' %>><%= t('.events') %></option>
        <option value="/search" <%= request.env['PATH_INFO'] == '/search' ? "selected" : '' %>><%= t('.all') %></option>
      </select>
    <% end %>
    <% if component.show_button? %>
      <%= submit_tag t(".search") %>
    <% end %>
  <% end %>
</div>
<% content_for :javascripts, javascript_include_tag("search_action") %>
