<%= form_tag change_roles_site_admin_users_path, method: "post", id: "subscribe_users", remote: 'true', update: 'enrole' do %>
  <table class="table">
    <% if check_permission(Sites::Admin::UsersController, [:change_roles]) %>
      <thead>
        <tr>
          <th><%= t(".enrole_user") %></th>
          <th style="width: 55%"><%= t(".role") %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= render 'admin/users/user_search' %>
          </td>
          <td>
            <ul class="nav">
              <% if @roles.each do |role| %>
                <li>
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag 'role_ids[]', role.id %>
                      <%= role.name %>
                    </label>
                  </div>
                </li>
              <% end.empty? %>
                <% if check_permission(Sites::Admin::RolesController, [:new]) %>
                  <%= link_to t(".new_role"),
                    new_site_admin_role_path,
                    class: "btn btn-success" %>
                <% else %>
                  <div class="alert alert-warning">
                    <%= t(".none_role") %>
                  </div>
                <% end %>
              <% end %>
            </ul>
          </td>
        </tr>
      </tbody>
    <% else %>
      <tr><td>
        <div class="alert alert-warning">
          <%= t('access_denied.access_denied') %>
        </div>
      </td></tr>
    <% end %>
  </table>
  <div class="form-actions">
    <% if check_permission(Sites::Admin::UsersController, [:change_roles]) %>
      <%= button_tag t("save"), class: 'btn btn-primary', data: { disable_with: t("please_wait") } %>
    <% end %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>
