<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".enroled_users") %></th>
      <th style="width: 40%"><%= t(".role") %></th>
      <th style="width: 15%"></th>
    </tr>
  </thead>
  <tbody>
    <% if @site_users.present? %>
      <% @site_users.each do |user| %>
        <tr>
          <td><%= link_to user, profile_url(user.login, subdomain: current_site) %> <%= link_to "(#{user.login}) #{icon('user')}".html_safe, admin_user_url(user, subdomain: nil), target: '_blank' if current_user.is_admin? %></td>
          <td>
            <span id="user_<%= user.id %>">
              <%= user.roles_in(current_site).map{|r| content_tag(:span, r.name, class: 'label label-primary') }.join(' ').html_safe %>
            </span>
            <div id="role_form_<%= user.id %>">
              <% if @user and @user == user %>
                <%= render 'role_form' %>
              <% end %>
            </div>
          </td>
          <td class="text-right">
            <% if check_permission(Sites::Admin::UsersController, [:change_roles]) %>
              <%= link_to icon('edit', text: t("edit")), { action: 'manage_roles', user_id: user.id },
                remote: 'true', class: 'action-link' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="3">
        <div class="alert alert-warning">
          <%= t(".none_user") %>
        </div>
      </td></tr>
    <% end %>
  </tbody>
</table>


