<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".enroled_users") %></th>
      <th style="width: 15%"></th>
    </tr>
  </thead>
  <tbody>
    <% if @site_admins.present? %>
      <% @site_admins.each do |user| %>
        <tr>
          <td>
            <%= link_to user, profile_url(user.login, subdomain: current_site) %> <%= link_to "(#{user.login}) #{icon('user')}".html_safe, admin_user_url(user, subdomain: nil), target: '_blank' if current_user.is_admin? %>
          </td>
          <td>
            <% if check_permission(Sites::Admin::UsersController, [:destroy_local_admin_role]) %>
              <div class="text-right">
                <%= link_to icon('trash', text: t("destroy")),destroy_local_admin_role_site_admin_users_path(id: user.id), :data => {:confirm => t("are_you_sure_del_admin", user: user.fullname)}, :method => :delete %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="2">
        <div class="alert alert-warning">
          <%= t(".none_user") %>
        </div>
      </td></tr>
    <% end %>
  </tbody>
</table>

<%= form_tag create_local_admin_role_site_admin_users_path, method: "post", id: "subscribe_users", update: 'enrole_adms' do %>
  <table class="table">
    <% if check_permission(Sites::Admin::UsersController, [:create_local_admin_role]) %>
      <thead>
        <tr>
          <th><%= t(".enrole_user") %></th>
        </tr>
      </thead>
      <tbody>
        <td>
          <%= render 'admin/users/user_search' %>
        </td>
      </tbody>
    <% else %>
      <tr><td>
        <div class="alert alert-warning">
          <%= t('access_denied.access_denied') %>
        </div>
      </td></tr>
    <% end %>
  </table>
  <div class="form-actions">
    <% if check_permission(Sites::Admin::UsersController, [:create_local_admin_role]) %>
      <%= button_tag t("save"), class: 'btn btn-primary', data: { disable_with: t("please_wait") } %>
    <% end %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>
