<%= form_tag change_roles_site_admin_users_path,
  method: "post",
  id: "form_user_#{@user.id}",
  remote: 'true',
  update: 'enroled' %> 

  <%= hidden_field_tag 'user[id]', @user.id %>
  
  <p>
    <% @roles.each do |role| %>
      <label class="checkbox">
        <%= check_box_tag 'role_ids[]', 
          role.id, 
          @user.roles.any?{ |r| r.site_id == @site.try(:id) && r.id == role.id} %>
        <%= role.name %>
      </label>
    <% end %>
  </p>

  <%= submit_tag (t"submit"),
    class: "btn btn-default btn-primary", disable_with: t("please_wait"),
    onclick: current_user.id == @user.id ? "return test_unrole('form_user_#{@user.id}');" : "" %>

  <%= link_to t('cancel'), {action: 'manage_roles'},
    onclick: "return hide_form(#{@user.id});", 
    id: "form_role_cancel",
    class: "btn btn-default" %>
</form>

<%= javascript_tag do %>
  function test_unrole(form_id){
    if( $('#'+form_id+' input:checked').length == 0 ){
      if(!confirm('<%= t(".confirm_unrole") -%>')){
        return false;
      }
    }
    return true;
  }
<% end %>
