<fieldset>
  <legend><%= t"editing", :param => t("my_account")%></legend>

  <%= simple_form_for [@site, :admin, @user], :url => site_admin_user_path do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "") %> <%= t"prohibited_being_saved", :count => @user.errors.count %>:</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= render :partial => "form", :object => f %>

    <div class="actions">
      <%= f.submit t("save"), class: "green-button" %>
		  <%= link_to t("my_profile"), site_admin_user_path %>
      <%= link_to t("back"), :back, class: "red-button" %>
    </div>
    
  <% end %>
</fieldset>
