<%- title "user.other" %>

<fieldset>
  <legend><%=  t"user.other" %></legend>

  <%# if current_user.is_admin? %>
  <% if check_permission(Sites::Admin::UsersController, 'manage_roles') %>
    <div class="contextual">
      <%= link_to (t"enrole_user_site"), manage_roles_site_admin_users_path(@site), :class => 'icon icon-add' %>
    </div>
  <% end %>
  
  <center>
    <%= form_tag request.path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag t("search"), class: 'search-button' %>
    <% end %>
  </center>

  <div id="list">
    <%= render :partial => "list" %>
  </div>
</fieldset>
