<% unless @site.repository.nil? %>
  <section class="header_component" style="z-index: -1;">
    <% if @site.repository.image? %>
      <%
        width = @site.top_banner_width ? @site.top_banner_width : @site.body_width ? @site.body_width : false
        height = @site.top_banner_height ? @site.top_banner_height : false
        size = ""
        size << "width:#{width}px; " if width
        size << "height:#{height}px; " if height
      %>
      <%= link_to image_tag(@site.repository.archive.url,
        alt: @site.repository.description,
        title: @site.description,
        style: size.to_s), site_path %>
    <% else %>
      <% width = @site.top_banner_width ? @site.top_banner_width : @site.body_width %>
      <% height = @site.top_banner_height %>
      <object width='<%= width %>' height='<%= height %>'>
        <embed src='<%= @site.repository.archive.url %>' width='<%= width %>' height='<%= height %>' type='application/x-shockwave-flash' wmode="opaque"></embed> 
      </object>
    <% end %>
  </section>
<% end %>
