<%= form_tag change_roles_admin_users_path, method: "post", id: "subscribe_users", remote: 'true', update: 'enrole' do %>
  <table class="table">
    <thead>
      <tr>
        <th><%= t(".enrole_user") %></th>
        <th style="width: 55%"><%= t('.role') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= render 'user_search' %>
        </td>
        <td>
          <ul class="nav">
            <% if @roles.each do |role| %>
              <li>
                <div class="checkbox">
                  <label>
                    <%= check_box_tag 'role_ids[]', role.id %>
                    <%= role.name %>
                  </label>
                </div>
              </li>
            <% end.empty? %>
              <%= link_to t(".new_role"), new_admin_role_path, class: "btn btn-success" %>
            <% end %>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-actions">
    <%= button_tag t("save"), class: 'btn btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn btn-default" %>
  </div>
<% end %>
