<%= form.input :login, :label => t(".username"), :hint => t("field_required") %>
<%= form.input :email, :hint => t("field_required"), :as => :email %>
<%= form.input :password, :label => form.object.new_record? ?  t(".password") : t(".password_change"), :hint => t("field_required")+" - "+t("lower_upper_number_chars"), :as => :password, :input_html => {:pattern => '(?=.*\d)(?=.*[A-Z])(?=.*[a-z])^.{4,}$'} %>
<%= form.input :password_confirmation, :hint => t("field_required"), :as => :password %>
<%= form.input :first_name, :hint => t("field_required") %>
<%= form.input :last_name %>
<%= form.input :phone, :input_html => {:size => 20, :maxlength => 20} %>
<%= form.input :mobile, :input_html => {:size => 20, :maxlength => 20}, :as => :tel %>
<%= form.input :locale_id,
    :as => :radio, :hint => t(".locale_hint"),
    :collection => admin_locales.map{|l| [image_tag("flags/24/#{l.flag}", :title=>t(l.name)), l.id] } %>
<div class="form-actions">
  <%= form.button :submit, class: 'btn-primary', disable_with: t("please_wait") %>
  <%= link_to t("back"), :back, class: "btn btn-default" %>
</div>
