<div class="pull-left"> <%= info_page @users %> </div>
<div class="pull-right"> <%= paginate @users %> </div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= t("id") %></th>
      <th><%= sortable 'login', t("user", :count => 1) %></th>
      <th><%= sortable 'email', t("email") %></th>
      <th><%= t"active" %></th>
      <th><%= t"is_admin" %></th>
      <% if check_permission(Admin::UsersController, :change_roles) %>
        <th><%= t"role.other" %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.login, admin_user_path(user) %></td>
        <td><%=h user.email %></td>
        <td align="center"><%= raw toggle_field(user, 'status') %></td>
        <td align="center"><%= raw toggle_field(user, 'is_admin', 'set_admin') %></td>
        <% if check_permission(Admin::UsersController, :change_roles) %>
          <% link = user.is_admin? ? t('admin.one') : t('manage_roles') %>
          <td> <%= link_to link, manage_roles_admin_users_path(:user_id => user.id ) %> </td>
        <% end %>
        <td> <%= raw make_menu(user) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-left"> <%= per_page_links @users %> </div>
<div class="pull-right"> <%= paginate @users %> </div>
