<% if @users.empty? %>
    <div class="alert alert-warning">
      <%= t(".none_user") %>
    </div>
<% else %>
  <div class="pull-left"> <%= info_page @users %> </div>
  <div class="pull-right"> <%= paginate @users, remote: true %> </div>
  <div class="clearfix"></div>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= sortable 'first_name', t(".name") %></th>
        <th><%= sortable 'email', t(".email") %></th>
        <th><%= t(".active") %></th>
        <th><%= t(".is_admin") %></th>
        <% if check_permission(Admin::UsersController, :change_roles) %>
          <th><%= t(".roles") %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr<%= ' class="deactivated"'.html_safe unless user.confirmed_at %>>
          <td><%= link_to "#{captalize_name user} (#{user.login})", admin_user_path(user) %></td>
          <td><%=h user.email %></td>
          <td align="center"><%= raw toggle_field(user, 'confirmed_at') %></td>
          <td align="center"><%= raw toggle_field(user, 'is_admin') %></td>
          <% if check_permission(Admin::UsersController, :change_roles) %>
            <% link = user.is_admin? ? t('.admin') : t('.manage_roles') %>
            <td> <%= link_to link, manage_roles_admin_users_path(:user_id => user.id ) %> </td>
          <% end %>
          <td class="text-right"> <%= raw make_menu(user, with_text: false) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pull-left"> <%= per_page_links @users, true, :sm %> </div>
  <div class="pull-right"> <%= paginate @users, remote: true %> </div>
  <div class="clearfix"></div>
<% end %>
