<div class="row">
  <div class="col-md-5">
    <%= form_tag admin_users_path, method: 'get', autocapitalize: "off", class: ' search' do %>
      <%= content_tag :div, class: 'input-group' do %>
        <%= search_field_tag :search, params[:search], class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag t("search"), class: 'btn btn-info' %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-7">
    <div class="pull-right">
      <% if current_user.is_admin? %>
        <%= link_to t(".new_user"), new_admin_user_path, class: "btn btn-success" %>
      <% end %>
      <% if check_permission(Admin::UsersController, :change_roles) %>
        <%= link_to t('.roles_permissions'), admin_roles_path, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>

<div id="list">
  <%= render :partial => "list" %>
</div>
