<div class="pull-left">
  <%= form_tag request.path, method: 'get', autocapitalize: "off", class: 'pull-left' do %>
    <%= content_tag :div, class: 'input-append' do %>
      <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t("search"), class: 'btn btn-primary btn-search' %>
    <% end %>
  <% end %>
</div>

<% if check_permission(Admin::SitesController, ["new"]) %>
  <p class="pull-right">
  <%= link_to new_admin_user_path do %> 
    <button class="btn btn-success">
      <%= t(".new_user")%> 
    </button>
  <% end %>
  </p>
<% end %>
<div class="clearfix"></div>

<div id="list">
  <%= render :partial => "list" %>
</div>
