<%- title t("new_param.masc", :param => (t"user.one"))  %>

<div class="span9">
  <div class="well">
    <%= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "") %> <%= t"prohibited_being_saved", :count => @user.errors.count %>:</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render :partial => "form", :object => f %>
    <% end %>
  </div>
</div>
