<%# TODO: Verificação deve ser feita no controller %>
<%# if current_user %>
<%# end %>

<p>
  <%= link_to t("site.other"), admin_sites_path %>
  <% if check_permission(Admin::SitesController, ["new"]) %>
    | <%= link_to t("new.masc"), new_admin_site_path, class:'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to t("user.other"), admin_users_path %>
  <% if check_permission(Admin::UsersController, ["new"]) %>
    | <%= link_to t("new.masc"), new_admin_user_path, class: 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to t("roles_permissions"), admin_roles_path %>
  <% if check_permission(Admin::RolesController, ["new"]) %>
    | <%= link_to t("new.fem"), new_admin_role_path, class: 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to t("rights"), admin_rights_path %>
  <% if check_permission(Admin::RightsController, ["new"]) %>
    | <%= link_to t("new.fem"), new_admin_right_path, class: 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to t("setting.other"), admin_settings_path %>
</p>
