<div class="span8 pull-left">
  <% if @pages.empty? %>
    <div class="alert">
      <%= t(".none_page") %>
    </div>
  <% else %>
    <div class="row" id="clipping-list">
      <div class="span8">
        <ul class="thumbnails">
          <% @pages.each do |page| %>
            <li class="span4">
              <div class="thumbnail">
                <%= weby_file_view(page.image, :thumb, 64, nil, {as: "link", url: site_page_url(page, subdomain: page.owner)}) %>
                <div class="caption">
                  <h4>
                    <%= link_to page.title.truncate(70), site_page_url(page, subdomain: page.owner) %>
                  </h4>
                  <p>
                    <%= raw sanitize(page.summary, :tags=>[]).truncate(150) %>
                  </p>
                </div>
                <span><%= page.owner.title %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
