<div class="list">
  <div class="pull-left"> <%= info_page @sites %> </div>
  <div class="pull-right"> <%= paginate @sites, remote: true %> </div>
  <div class="clearfix"></div>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th class='site-name'><%= sortable 'name', t(".name") %></th>
        <th><%= t(".description") %></th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td> <%= link_to site.title, site_url(subdomain: site) %> </td>
          <td> <%= site.description %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pull-left"> <%= per_page_links @sites, true %> </div>
  <div class="pull-right"> <%= paginate @sites, remote: true %> </div>
  <div class="clearfix"></div>
</div>
