<%= paginate @sites %>
<%= info_page @sites %>
<%= per_page_links @sites %>
<table class='list'>
  <thead>
    <th><%= sortable "id" %></th>
    <th><%= sortable 'name', t("name") %></th>
    <th><%= t"description" %></th>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td> <%= site.id %> </td>
        <td> <%= link_to site.name, site_path(site) %> </td>
        <td> <%= site.description %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @sites %>
