<div id="list" class="span4 pull-right">
  <ul class="nav nav-pills">
    <li class="active"><a href="#sites" data-toggle="tab"><%= t(".sites") %></a></li>
  </ul>
  <% if @sites.empty? %>
    <div class="alert">
      <%= t(".no-site-found") %>
    </div>
  <% else %>
    <div class="pull-left"><%= info_page @sites %></div>
    <div class="pull-right"><%= paginate @sites, remote: true %></div>
    <div class="clearfix"></div>
    <table class="table table-striped">
      <% @sites.each do |site| %>
        <tr>
          <td><%= site_avatar_tag site %></td>
          <td> <%= link_to site.title, site_url(subdomain: site), title: site.description %> </td>
        </tr>
      <% end %>
    </table>
    <div class="pull-left"> <%= per_page_links @sites, true %> </div>
    <div class="pull-right"> <%= paginate @sites, remote: true %> </div>
    <div class="clearfix"></div>
  <% end %>
</div>
