<div class="thumbnail">
  <div class="thumbnail-header" title="<%= site.description %>">
    <%= site_avatar_tag site, 60 %>
    <span><%= link_to site.title, site_url(subdomain: site) %></span>
    <small><%= link_to icon('cog'), site_admin_url(subdomain: site), class: 'pull-right' if current_user && current_user.is_admin? %></small>
  </div>
  <div class="caption">
    <% newslist = Journal::NewsSite.where(site_id: site.id).preload(news: [:i18ns, :site]).published.order('updated_at desc').front.first(4) %>
      <% top_news = newslist.shift.news if newslist.any? %>
    <% if top_news %>
      <div class="top-news col-md-6">
        <%= news_image(top_news.image, :t, 140, nil, {as: "link", url: news_url(top_news, subdomain: top_news.site)}) %>
        <div><%= link_to top_news.title, news_url(top_news, subdomain: top_news.site) %></div>
        <span class="date"><%= l(top_news.updated_at, format: :short) %></span>
      </div>
      <div class="news col-md-6">
        <% newslist.each do |news_site| %>
          <% news = news_site.news %>
          <% if news %>
            <div>
              <%= news_image(news.image, :t, 60, nil, {as: "link", url: news_url(news, subdomain: news.site)}) %>
              <div><%= link_to news.title, news_url(news, subdomain: news.site) %></div>
              <span class="date"><%= l(news.updated_at, format: :short) %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div>
        <%= site.description %>
      </div>
    <% end %>
  </div>
  <%= link_to '...', news_index_url(subdomain: site), class: 'pull-right footer-link', title: t('.see_all') %>
</div>
