<div class="thumbnail">
  <div class="thumbnail-header" title="<%= site.description %>">
    <%= site_avatar_tag site, 60 %>
    <span><%= link_to site.title, site_url(subdomain: site) %></span>
  </div>
  <div class="caption">
    <% pages = site.pages.includes(:image).order('position desc').front.available.first(4) %>
    <% if pages.any? %>
      <% page = pages.shift %>
      <div class="top-news col-md-6">
        <%= news_image(page.image, :t, 140, nil, {as: "link", url: link_on_title(page.owner, page)}) %>
        <div title="<%= strip_tags(page.summary.to_s).html_safe %>"><%= link_to page.title, link_on_title(page.owner, page) %></div>
        <span class="date"><%= l(page.updated_at, format: :short) %></span>
        <!--<p><%#= page.summary.html_safe %></p>-->
      </div>
      <div class="news col-md-6">
        <% pages.each do |page| %>
          <div>
            <%= news_image(page.image, :t, 60, nil, {as: "link", url: link_on_title(page.owner, page)}) %>
            <div title="<%= strip_tags(page.summary.to_s).html_safe %>"><%= link_to page.title, link_on_title(page.owner, page) %></div>
            <span class="date"><%= l(page.updated_at, format: :short) %></span>
          </div>
        <% end %>
      </div>
    <% else %>
      <div>
        <%= site.description %>
      </div>
    <% end %>
  </div>
  <%= link_to '...', site_pages_url(subdomain: site), class: 'pull-right footer-link', title: t('.see_all') %>
</div>
