<div class="thumbnail">
  <div class="thumbnail-header" title="<%= site.description %>">
    <%= site_avatar_tag site, 60 %>
    <span><%= link_to site.title, site_url(subdomain: site) %></span>
  </div>
  <div class="caption">
    <% newslist = Journal::News.where(site_id: site.id).order('updated_at desc').front.published.first(4) %>
    <% if newslist.any? %>
      <% news = newslist.shift %>
      <div class="top-news col-md-6">
        <%= news_image(news.image, :t, 140, nil, {as: "link", url: news_url(news, subdomain: news.site)}) %>
        <div><%= link_to news.title, news_url(news, subdomain: news.site) %></div>
        <span class="date"><%= l(news.updated_at, format: :short) %></span>
        <!--<p><%#= page.summary.html_safe %></p>-->
      </div>
      <div class="news col-md-6">
        <% newslist.each do |news| %>
          <div>
            <%= news_image(news.image, :t, 60, nil, {as: "link", url: news_url(news, subdomain: news.site)}) %>
            <div><%= link_to news.title, news_url(news, subdomain: news.site) %></div>
            <span class="date"><%= l(news.updated_at, format: :short) %></span>
          </div>
        <% end %>
      </div>
    <% else %>
      <div>
        <%= site.description %>
      </div>
    <% end %>
  </div>
  <%= link_to '...', news_index_url(subdomain: site), class: 'pull-right footer-link', title: t('.see_all') %>
</div>
