<% if @sites.empty? %>
    <div class="alert alert-warning">
      <%= t(".no-site-found") %>
    </div>
<% else %>
  <div class="pull-left"> <%= info_page @sites %> </div>
  <div class="pull-right"> <%= paginate @sites, remote: true %> </div>
  <div class="clearfix"></div>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th class='site-name'><%= sortable 'name', t(".name") %></th>
        <th><%= sortable 'title', t(".title") %></th>
        <th><%= sortable 'description', t(".description") %></th>
        <th><%= current_user.is_admin ? t('.active') : 'Status' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr class="<%= site.status %> <%= 'text-danger' if site.status == 'inactive' %>">
          <td> <%= link_to site.name, site_url(subdomain: site) %> </td>
          <td> <%= site.title %> </td>
          <td> <%= site.description %> </td>
          <td>
            <% if current_user.is_admin %>
              <% if current_site %>
                <% if site.status == 'active' %>
                  <%= link_to render_toggle(:status, 1, true), update_subsite_admin_path(site.id, site: {status: 'inactive'}), class: "action-link", method: :patch, data: {confirm: t('are_you_sure')} %>
                <% else %>
                  <%= link_to render_toggle(:status, 1, false), update_subsite_admin_path(site.id, site: {status: 'active'}), class: "action-link", method: :patch, data: {confirm: t('are_you_sure')} %>
                <% end %>
              <% else %>
                <%= toggle_field(site, 'is_active', 'toggle', data: {confirm: t('are_you_sure')}) %>
              <% end %>
            <% else %>
              <%= t(".#{site.status}") %>
            <% end %>
          </td>
          <td class="actions">
            <%= render_dropdown_menu do %>
              <% if current_user && current_user.is_admin %>
                <%= link_to icon('trash', text: t(".delete")), current_site ? destroy_subsite_admin_path(site.id) : admin_site_path(site.id), class: "action-link", method: :delete, data: {confirm: t('are_you_sure_del_item', item: site.title)} %>
                <%= link_to icon('edit', text: t(".settings")), current_site ? edit_site_admin_url(subdomain: site) : edit_admin_site_path(site), class: "action-link" %>
              <% end %>
              <%= link_to icon('briefcase', text: t(".dashboard")), site_admin_url(subdomain: site), class: "action-link"  if current_user && current_user.has_role_in?(site) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pull-left"> <%= per_page_links @sites, true, :sm %> </div>
  <div class="pull-right"> <%= paginate @sites, remote: true %> </div>
  <div class="clearfix"></div>
<% end %>
