<% frontnews = Page.where(["front=1 and site_id = ? and date_begin_at <= ? and date_end_at > ?", @site.id, Time.now, Time.now]).limit(7).order("date_begin_at").all %>
<% nofrontnews = Page.where(["front=0 and site_id = ? and date_begin_at <= ? and date_end_at > ?", @site.id, Time.now, Time.now]).limit(7).order("date_begin_at").all %>

<% unless frontnews.empty? %>
  <section id="pages">
  <% frontnews.each do |page| %> 
    <div class="<%= cycle 'pageright', 'pageleft' %>">
      <% unless page.repository.nil? %>
        <%= link_to image_tag("#{page.repository.archive.url(:little)}"), site_page_path(@site, page, :type => params[:type]), :alt => page.repository.description, :title => page.repository.description %>
      <% end %>
      <p> <h2> <%= page.title %> </h2> </p>
      <%= raw page.summary %>
      <p> <%= link_to t("read_more"), site_page_path(@site, page) %> </p>
    <div class="clear" /></div>
    </div>
  <% end; reset_cycle %>
  </section>
<% end %>

<% unless nofrontnews.empty? %>
  <table class="border fullwidth zebra">
    <tr> <th> <%= t "page", :count => 2 %> </th> </tr>
    <% nofrontnews.each do |page| %>
      <tr>
        <td>
          <p> 
            <%= link_to page.title, site_page_path(@site, page) %>
            <%= raw page.summary %>
          </p>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

