<p>
  <%= link_to (t"setting.other"), admin_site_path(@site) %>
</p>
<p>
  <%= link_to (t"user.other"), site_admin_users_path(@site) %>
  <% if check_permission(Sites::Admin::UsersController, ["new"]) %>
    | <%= link_to t("new.masc"), new_site_admin_user_path(@site), :class => 'icon icon-add' %>
  <% end %>
</p>

<p>
  <%= link_to (t"page.other"), site_admin_pages_path(@site) %>
    | <%= link_to t("covers"), fronts_site_admin_pages_path(@site), :class => 'icon icon-newspaper' %>
  <% if check_permission(Sites::Admin::PagesController, ["new"]) %>
    | <%= link_to t("new.fem"), new_site_admin_page_path(@site), :class => 'icon icon-add' %>
  <% end %>    
</p>
<p>
  <%= link_to (t"menu.other"), site_admin_menus_path(@site) %>
  <% if check_permission(Sites::Admin::MenusController, ["new"]) %>
    | <%= link_to (t"new_param.masc", :param => (t"menu.one")), new_site_admin_menu_path(@site), :class => 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to (t"banner.other"), site_admin_banners_path(@site) %>
  <% if check_permission(Sites::Admin::BannersController, ["new"]) %>
    | <%= link_to t("new.masc"), new_site_admin_banner_path(@site), :class => 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to t("component.other"), site_admin_components_path(@site) %>
  <% if check_permission(Sites::Admin::ComponentsController, ["new"]) %>
    | <%= link_to t("new.masc"), new_site_admin_component_path(@site), :class => 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to (t"archive.other"), site_admin_repositories_path(@site) %>
  <% if check_permission(Sites::Admin::RepositoriesController, ["new"]) %>
    | <%= link_to t("new.masc"), new_site_admin_repository_path(@site), :class => 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to (t"style.other"), site_admin_styles_path(@site) %>
  <% if check_permission(Sites::Admin::StylesController, ["new"]) %>
    | <%= link_to t("new.masc"), new_site_admin_style_path(@site), :class => 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to (t"permission.other"), site_admin_rights_path(@site) %>
  <% if check_permission(Sites::Admin::RightsController, ["new"]) %>
    | <%= link_to t("new.fem"), new_site_admin_right_path(@site), :class => 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to (t"roles_permissions"), site_admin_roles_path(@site) %>
  <% if check_permission(Sites::Admin::RolesController, ["new"]) %>
    | <%= link_to t("new.fem"), new_site_admin_role_path(@site), :class => 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to (t"group.other"), site_admin_groups_path(@site) %>
  <% if check_permission(Sites::Admin::GroupsController, ["new"]) %>
    | <%= link_to t("new.masc"), new_site_admin_group_path(@site), :class => 'icon icon-add' %>
  <% end %>
</p>
<p>
  <%= link_to (t"messages") +" "+ (t"feedback.one"), site_admin_feedbacks_path(@site) %>
</p>
