<% title ".settings" %>
<% breadcrumb :settings %>
<% has_subsites = @sites.any? %>
<div class="tabbable">
  <ul class="nav nav-tabs" id="style-tab">
    <li class="active" >
      <a href="#tab-form" data-toggle="tab"><%= t(".main") %></a>
    </li>
    <li>
      <a href="#tab-pages" data-toggle="tab"><%= t(".pages") %></a>
    </li>
    <li>
      <a href="#tab-social" data-toggle="tab"><%= t(".social") %></a>
    </li>
    <% if has_subsites %>
      <li>
        <a href="#tab-subsites" data-toggle="tab"><%= t(".subsites") %></a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab-form">
      <%= render 'sites/form' %>
    </div>
    <div class="tab-pane" id="tab-pages">
      <%= simple_form_for @site, url: update_site_admin_path do |f| %>
        <%= f.input :show_pages_author, wrapper: :checkbox, as: :boolean %>
        <%= f.input :show_pages_created_at, wrapper: :checkbox, as: :boolean %>
        <%= f.input :show_pages_updated_at, wrapper: :checkbox, as: :boolean %>
        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary', disable_with: t("please_wait") %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane" id="tab-social">
      <%= simple_form_for @site, url: update_site_admin_path do |f| %>
        <% Site::SHAREABLES.each do |shareable| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= t(".#{shareable}") %></h3>
            </div>
            <div class="panel-body">
              <%= f.input "#{shareable}_social_share_pos", label: t('.social_share_pos'), as: :select, collection: [[t('.none'), :none], [t('.top'), :top], [t('.middle'), :middle], [t('.bottom'), :bottom]], include_blank: false %>
              <%= f.input "#{shareable}_social_share_networks", label: t('.social_share_networks'), as: :check_boxes, collection: [['Twitter', 'twitter'], ['Facebook', 'facebook'], ['WhatsApp', 'whatsapp']] %>

              <% if shareable == :news && Weby::Settings::Social.facebook_comments == 'true' %>
                <%= f.input "#{shareable}_facebook_comments", label: t('.facebook_comments'), wrapper: :checkbox, as: :boolean %>
              <% end %>
            </div>
          </div>
        <% end %>
          <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-primary', disable_with: t("please_wait") %>
          </div>
      <% end %>
    </div>
    <% if has_subsites %>
      <div class="tab-pane" id="tab-subsites">
        <%= content_tag :div, render('sites/subsites') %>
      </div>
    <% end %>
  </div>
</div>
