<fieldset>
  <% unless @site %>
    <legend><%= t"list", :param => (t"site", :count => 2) %></legend>

    <% if check_permission(SitesController, "new")  %>
      <div class="contextual">
        <p> <%= link_to (t"new_param", :param => (t"site", :count => 1)), new_site_path, :class => 'icon icon-add' %> </p>
      </div>
    <% end %>

    <table class='list'>
      <thead>
        <th><%= t"name" %></th>
        <th><%= t"description" %></th>
      </thead>
      <tbody>
      <% @sites.each do |site| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td>
            <%= link_to site.name, site_path(site.name) %>
          </td>
          <td>
            <%= site.description %>
          </td>
        </tr>
      <% end; reset_cycle %>
      </tbody>
    </table>
  <% else %>

			<%@news = News.find(:all, :limit => 7)%>
			<% @news.each do |page| %> <!-- Para cada noticia verifiar se
			é capa. Se pertence aquele site e se a data de publicação é anterior ou igual a data de hoje-->
				<% if page.front == 1 && page.site_id == @site.id %>
						<%if page.date_begin <= Date.today%>
						  <p>	Esta é uma notícia. <br/> 
							Título <b><%= page[:title] %>	</b> <br/>
							<%= page[:summary] %>
								
							</p>
						<%end%>
				<%end%>		
			<%end%>	

			
    
  <% end %>
</fieldset>
