<fieldset>
  <legend><%= t"list", :param => (t"site", :count => 2) %></legend>

  <table class='list'>
    <thead>
      <th><%= t"name" %></th>
      <th><%= t"description" %></th>
    </thead>
    <tbody>
    <% @sites.each do |site| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td>
          <%= link_to site.name, site_path(site.name) %>
				</td>
        <td>
          <%= site.description %>
        </td>
      </tr>
    <% end; reset_cycle %>
    </tbody>
  </table>

  <% if check_permission(SitesController, "new")  %>
  <p> <%= link_to (t"new_param", :param => (t"site", :count => 1)) , new_site_path %> </p>
  <% end %>
</fieldset>
