<% has_my_sites = current_user && !current_user.is_admin? && current_user.sites.any? %>
<div class="row">
  <div class="span12">

    <% if check_permission(Admin::SitesController, ["new"]) %>
      <%= link_to t(".new_site"), new_admin_site_path, class: 'btn btn-success pull-right new-site' %>
    <% end %>
    <% if has_my_sites %>
      <%= link_to t(".my-sites"), admin_sites_path, class: 'btn pull-right new-site' %>
    <% end %>
    <%= form_tag request.path, method: 'get', autocapitalize: "off", class: 'form-inline search' do %>
      <%= content_tag :div, class: 'input-append' do %>
        <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t(".search"), class: 'btn btn-info' %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= render 'list' %>
</div>
 