<fieldset>
  <legend><%= t"site.other" %></legend>

  <% if check_permission(SitesController, ["new"])  %>
    <div class="contextual">
      <%= link_to (t"new_param.masc", :param => (t"site.one")), new_site_path, :class => 'icon icon-add' %> 
    </div>
  <% end %>

  <center>
    <%= form_tag "/", :method => 'get', :autocapitalize => "off" do %>
      <%= text_field_tag :search %>
      <%= submit_tag t("search") %>
    <% end %>
  </center>

  <div id="list">
    <%= render "list" %>
  </div>
</fieldset>
