<fieldset>
  <% unless @site %>
    <legend><%= t"list", :param => (t"site", :count => 2) %></legend>

    <% if check_permission(SitesController, "new")  %>
      <div class="contextual">
        <p> <%= link_to (t"new_param", :param => (t"site", :count => 1)), new_site_path, :class => 'icon icon-add' %> </p>
      </div>
    <% end %>

    <table class='list'>
      <thead>
        <th><%= t"name" %></th>
        <th><%= t"description" %></th>
      </thead>
      <tbody>
      <% @sites.each do |site| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td>
            <%= link_to site.name, site_path(site.name) %>
          </td>
          <td>
            <%= site.description %>
          </td>
        </tr>
      <% end; reset_cycle %>
      </tbody>
    </table>
  <% else %>
			
			<!-- Para cada noticia verifiar se
			é capa. Se pertence aquele site e se a data de publicação é anterior ou igual a data de hoje
			e a data final posterior a data de hoje-->
				
			<%@news = News.find(:all, :limit => 7, :order => :date_begin)%>
			
			<h2><%= t("news", :count => 2) %> </h2>
			
			<% @news.each do |page| %> 
				<% if page.front == 1 && page.site_id == @site.id %>	
						<%if page.date_begin <= Date.today && page.date_end > Date.today  %>
						<div id="News" style="float:left">
							<p>
							<b><%= page[:title] %></b> 
							<img src="<%= page.image.url(:little) %>" align="right"> </img>
							</p>
							<%= raw page[:summary] %>															
						</div>							

						<%end%>
				<%end%>		
			<%end%>	
		
    
  <% end %>
</fieldset>
