<% has_my_sites = current_user && !current_user.is_admin? && current_user.sites.any? %>
<div class="row">
  <div class="col-md-4">
    <%= form_tag root_path, method: 'get', autocapitalize: "off", class: 'search' do %>
      <%= hidden_field_tag(:groupings, params[:groupings]) if params[:groupings] %>
      <%= search_input params[:search] %>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <% if check_permission(Admin::SitesController, ["new"]) %>
      <%= link_to t(".new_site"), new_admin_site_path, class: 'btn btn-success pull-right new-site' %>
    <% end %>
    <% if has_my_sites %>
      <%= link_to t(".my-sites"), '#', class: 'btn btn-default pull-right switch', data: {switchtext: t('.sites')}  %>
    <% end %>
  </div>
  <div class="col-md-12">
    <% @groupings.each do |grouping| %>
      <%= link_to main_app.root_path(groupings: params[:groupings] == grouping.id.to_s ? nil : grouping.id.to_s, search: params[:search]),
            class: "grouping-label label #{params[:groupings] == grouping.id.to_s ? 'label-primary' : 'label-default'}" do %>
        <span><%= grouping.name %></span>
        <%= content_tag :span, 'X', class: 'label label-info' if params[:groupings] == grouping.id.to_s %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 switch-panel buffer-top">
    <%= render 'list' %>
  </div>
  <div class="col-md-12 switch-panel" style="display: none">
    <%= render 'my_list' %>
  </div>
</div>