<fieldset>
  <legend><%= t:list, :param => (t:site, :count => 2) %></legend>

  <table class='list'>
    <thead>
      <th><%= t:name %></th>
      <th></th>
    </thead>
    <tbody>
    <% @sites.each do |site| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= site.name %></td>
        <td>
          <%= link_to 'Show', site %>
          <%= link_to 'Edit', edit_site_path(site) %>
          <%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end; reset_cycle %>
    </tbody>
  </table>

  <p> <%= link_to (t:new_param, :param => (t:site, :count => 1)) , new_site_path %> </p>
</fieldset>
