<% begin %>
  <% class_for_login %>
<% rescue %>
  <% class_for_login = "" %>
<% end %>
<%= stylesheet_link_tag 'login_embedded' %>
<fieldset class="<%= class_for_login %>">
  <legend><%= t"login" %></legend>

  <%= simple_form_for @user_session do |f| %>
    <% if @user_session.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user_session.errors.count,"") %><%= t"prohibited_being_saved", :count => @user_session.errors.count %>:</h2>
        <ul>
          <% @user_session.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :login, :required => true, :autofocus => true, :autocapitalize => "off" %>
    <%= f.input :password, :required => true %>
    <%= f.input :remember_me, :label => t("remember_me"), :as => :boolean %>
    <%= hidden_field_tag :back_url, "#{params[:back_url].blank? ? request.fullpath : params[:back_url]}" %>

    <label class="string"></label>
    <%= f.submit t"login" %> <%= link_to t('forgot_password'), new_password_reset_path %>
  <% end %>
</fieldset>
