<fieldset>
  <legend><%= t"login" %></legend>

  <%= form_for @user_session, :builder => SemanticFormBuilder do |f| %>
    <% if @user_session.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user_session.errors.count,"") %><%= t"prohibited_being_saved", :count => @user_session.errors.count %>:</h2>

        <ul>
        <% @user_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :login, {:label => t("username"), :autofocus => true } %><br />
    <%= f.password_field :password, :label => t("password") %><br />
    <%= f.check_box :remember_me, :label => t("remember_me") %><br />
    <br />
    <%= f.submit t"login" %> <%= link_to t('forgot_password'), new_password_reset_path %>
  <% end %>
</fieldset>
