<% if current_user %>
  <div id="webybar">
    <%= link_to main_app.root_url(subdomain: nil), class: 'pull-left logo' do %>
      <%= image_tag 'weby-navbar.png' %>
    <% end %>

    <div class="nav pull-left">
      <%= link_to t(".dashboard"), main_app.site_admin_path, class: 'pull-left' if current_user.has_role_in?(current_site) %>
      <%= link_to(t(".help"), current_settings.help_site, target: '_blank', class: 'pull-left') if current_settings.help_site %>
    </div>
    <div class="user pull-right">
      <%= link_to main_app.profile_url(current_user.login, subdomain: current_site), class: 'user-avatar', data: {pref: set_preferences_site_admin_users_path} do %>
        <img src="//www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=42&d=mm"
        class="pull-right"/>
      <% end %>
      <div class="info pull-right">
        <%= link_to current_user.first_name, main_app.profile_url(current_user.login, subdomain: current_site) %>
        <br/>
        <% if current_user.is_admin? %>
          <%= link_to '<span class="glyphicon glyphicon-cog"></span>'.html_safe, main_app.site_admin_url(subdomain: nil), class: 'label label-default' %>
        <% end %>
        <%= notifications_icon %>
        <%= link_to '<span class="glyphicon glyphicon-off"></span>'.html_safe, main_app.logout_path(back_url: main_app.site_path), method:
          :delete, class: 'label label-danger', title: t('.logout') %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <%# Flash message for site front end %>
  <% unless flash.empty? %>
    <%= raw flash_message %>
  <% end %>
<% else %>
  <%= link_to image_tag('weby-shortcut.png'),
    weby_login_url(request.url), id: 'weby_shortcut' %>
<% end %>
