<!doctype html>
<html lang="<%= current_locale %>">
  <head>
  <title>weby <%= "-#{yield :title}" if content_for?(:title) %></title>
    <%= stylesheet_link_tag 'application', media: "all" %>
    <%# NOTE: review here %>
    <%= yield :stylesheets %>
    <%= yield :components_stylesheets %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shim/html5" %>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="zone">
      <div id="header" class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <%= link_to main_app.root_url(subdomain: nil) do %>
              <%= image_tag 'weby-logo-60.png' %>
            <% end %>
          </div>
          <% if current_site %>
            <div class="col-lg-5 col-md-5 col-sm-5 site">
              <div class="avatar pull-left">
                <%= site_avatar_tag %>
              </div>
              <div class="pull-left">
                <div class="info name">
                  <%= current_site.title %>
                </div>
                <div class="info actions">
                  <%= link_to t(".show-site"), main_app.site_url(subdomain: current_site) %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="col-lg-4 col-md-4 col-sm-4 <%= current_site ? "" : "offset5 " %>person">
            <div class="pull-right">
              <div class="info name">
                <%= link_to current_user, main_app.profile_url(current_user.login, subdomain: current_site) %>
              </div>
              <div class="info actions">
                <%= link_to main_app.site_admin_url(subdomain: nil) do %>
                  <%= content_tag(:span, icon('cog', white: true), class: "label label-default") %>
                <% end if current_user.is_admin? %>
                <%= notifications_icon %>
                <%= link_to icon('off', white: true), main_app.logout_path(back_url: main_app.site_path), method: :delete, class: 'label label-danger', title: t('.logout') %>
              </div>
            </div>
            <div class="avatar pull-right">
              <%= link_to main_app.profile_url(current_user.login, subdomain: current_site) do %>
                <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=32&d=mm">
              <% end %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <%= breadcrumbs separator: " &rsaquo; " %>
      </div>
    </div>

    <div id="main" class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <%= render 'layouts/shared/menu_admin' %>
          &nbsp;
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <% unless flash.empty? %>
            <%= raw flash_message %>
          <% end %>
          <div class="well">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div id="footer" class="container">
      <p>
        <%= t(".licence") %>
        <br />
        <%= link_to t(".sites"), main_app.root_url(subdomain: nil) %>
        <%= link_to(t(".help"), current_settings.help_site, target: '_blank') if current_settings.help_site %>
        <%= link_to t(".about"), '#', target: '_blank', id: 'about-weby' %>
      </p>
    </div>

    <%# NOTE: review here %>
    <%= yield :body_end %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>
  </body>
</html>
