<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="shortcut icon" href="../images/favicon.ico" />
  <title> Webyge </title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'this2' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="outsidebox">
    <div class="insidebox">
      <!-- Topo -->
      <div class="top">
        <%= link_to "Home", root_path %>
      </div>
      <!-- Conteúdo geral inclue menus esquerdo e direito -->
      <div class="content">
        <div id="flash_messages">
          <%= raw flash_message %>
        </div>

        <!-- Menu superior -->
        <div class="top-menu">
          <% Menu.find(:all, :conditions => {:position => "Superior"}).each do |menus| %>

            <% if !menus.father_id %>
              <div class="top-menus" onmouseout="mostramenu(<%= menus.id %>,'');" onmouseover="mostramenu(<%= menus.id %>,'mostra');">
                <%= link_to menus.title, "#{menus.link}" %>

                <div id="<%= menus.id %>" class="menuBox"  style="display:none;" >

                  <% Menu.find(:all, :conditions => {:father_id => menus.id}).each do |subs| %>
                    <div class="subSup"><%= link_to subs.title, "#{subs.link}" %></div>
                  <% end %>

                </div>

              </div>
            <% end %>
          <% end %>
        </div>

        <!-- Menu esquerdo -->
        <div class="left-menu">
          <% Menu.find(:all, :conditions => {:position => "Esquerdo"}).each do |menus| %>
            <% if !menus.father_id %>
              <div class="menus"><%= link_to menus.title, "#{menus.link}" %></div>
              <% Menu.find(:all, :conditions => {:father_id => menus.id}).each do |subs| %>
                <div class="submenus"><%= link_to subs.title, "#{subs.link}" %></div>
                <% Menu.find(:all, :conditions => {:father_id => subs.id}).each do |susu| %>
                  <div class="subsubmenus"><%= link_to susu.title, "#{susu.link}" %></div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <!-- Conteúdo principal -->
        <div class="main-content">
          <% if !current_user %>
            <%= link_to "Register", new_account_path, :layout => "application" %> |
            <%= link_to "Log In", new_user_session_path %>
          <% else %>
            <p> <%= link_to "My Account", :controller => "users", :action => "show", :id => current_user.id %> </p>
            <p> <%= link_to "Logout", user_sessions_path, :method => :delete, :confirm => "Are you sure you want to logout?" %> </p>
          <% end %>
          <%= pluralize User.logged_in.count, "user" %> currently logged in
          <!-- This based on last_request_at, if they were active < 10 minutes they are logged in -->

          <%= yield  %>
        </div>

        <!-- Menu direito -->
        <div class="right-menu">
          <div id="date">10/10/2010</div>
          <div id="search">Busca</div>
          <% Menu.find(:all, :conditions => {:position => "Direito"}).each do |menus| %>
            <% if !menus.father_id %>
              <div class="menus"><%= link_to menus.title, "#{menus.link}" %></div>
              <% Menu.find(:all, :conditions => {:father_id => menus.id}).each do |subs| %>
                <div class="submenus"><%= link_to subs.title, "#{subs.link}" %></div>
                <% Menu.find(:all, :conditions => {:father_id => menus.id}).each do |susu| %>
                  <div class="subsubmenus"><%= link_to susu.title, "#{susu.link}" %></div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>

      </div>
      <!-- Topo -->
      <div class="bottom">
        Rodapé
      </div>
    </div>
  </div>

</body>
</html>
