<% admin_title = content_for?(:title) ? content_for(:title) : t("application.dashboard") %>
<!doctype html>
<html lang="<%= current_locale %>">
  <head>
    <title>Weby - <%= admin_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5" %>
    <![endif]-->
    <%= yield :stylesheets %>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'layouts/shared/navbar' %>
    <header id="header" class="container">
      <div class="row">
        <div class="span9 title">
          <%= admin_title %>
        </div>
        <div class="span3 hidden-phone">
          <%= image_tag 'weby-dashboard.png' %>
        </div>
      </div>
    </header>
    <div class="bg-zone">
      <section id="main-container" class="container">
        <div class="row">
          <% if response.status == 200 %>
          <div class="span3">
            <%= render 'layouts/shared/menu_admin' %>
            &nbsp;
          </div>
          <% end %>
          <div class="span9" id="content">
            <%= raw flash_message %>
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer id="footer" class="container">
      <p> <%= t("application.licence") %> </p>
    </footer>
    <%= yield :body_end %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>
  </body>
</html>
