<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> Webyge </title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'semantic_forms' %>
  <%= stylesheet_link_tag 'this2' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%#= debug(params) %>
  <%#= debug(@sites) %>
  <%#= request.env['HTTP_REFERER'] %>
  <div class="all">
    <div class="top"> </div>

    <div class="top-menu">
      <div style="float:right">
        <%= link_to image_tag("flag_uk.png"), :locale => "en" %>
        <%= link_to image_tag("flag_br.png"), :locale => "pt-BR" %>
      </div>
      <%#= render 'menus/top', :object => @top %>
    </div>
    <div class="left-menu">
      <%#= render 'menus/left', :object => @left %>  
    </div>

    <div class="content">
      <div id="flash_messages">
        <%= raw flash_message %>
      </div>

	    <%= link_to t("home"), root_path %> |
			<% if @site and @site.name %>
				<%= link_to (t"setting", :count => 1), edit_site_path(@site.name) %> |
			<% end %>
      <% if !current_user %>
        <%= link_to t("register"), new_user_path %> |
        <%= link_to t("login"), login_path %> |
      <% else %>
        <%= link_to t("admin"), :controller => 'admin', :action => 'index' %> |
        <%= link_to t("my_profile"), user_path(current_user) %> |
        <%= link_to t("logout"), logout_path, :confirm => "Are you sure you want to logout?" %>
      <% end %>
      <%= User.logged_in.count %> <%= (t"user", :count => User.logged_in.count) %> logado.

      <%= yield  %>
    </div>

    <div class="right-menu">
      <%#= render 'menus/right', :object => @right %>
    </div>
    <div class="bottom">
      <%#= render 'menus/bottom', :object => @bottom %>  
    </div>

  </div>
</body>
</html>
