<!DOCTYPE html>
<html lang="<%= session[:locale].to_s %>">
  <%= stylesheet_link_tag 'portal' %>
  <%= render 'layouts/shared/head', :contrast => 'contrast' %>
  <body>
    <header>
      <nav class="right">
        <%= render "layouts/shared/menu_locale" %>
      </nav>
    </header>

    <section id="content">
      <%= raw flash_message %>
      <%= raw menu_admin %>
      <%= yield %>
    </section>

    <footer>
      <%= Time.now.year %><%=t'licence' %>
    </footer>

    <%= render 'layouts/shared/javascripts' %>
  </body>
</html>

