<%# TODO: meus portais %>
<!doctype html>
<html lang="<%= current_locale %>">
  <head>
    <title>Weby</title>
    <%= stylesheet_link_tag 'sites', media: "all" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shim/html5" %>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="zone">
    <div id="header" class="container">
      <div class="row">
        <div class="span3">
          <%= link_to main_app.root_url(subdomain: nil) do %>
            <%= image_tag 'weby-logo-60.png' %>
          <% end %>
        </div>
        <% if current_user %>
          <div class="span4 offset5 person">
            <div class="pull-right">
              <div class="info name">
                <%= current_user %>
              </div>
              <div class="info actions">
                <%# TODO: apenas weby admin %>
                <%# TODO: icone em vermelho %>
                <%= link_to main_app.site_admin_path(subdomain: nil) do %>
                  <i class="icon-cog"></i>
                <% end %>
                <%# TODO: perfil, editar perfil %>
                <%= link_to t(".logout"), main_app.logout_path(back_url: main_app.site_path) %>
              </div>
            </div>
            <div class="avatar pull-right">
              <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=32">
            </div>
            <div class="clearfix"></div>
          </div>
        <% else %>
          <div class="span4 offset5 noperson">
            <%= link_to t(".register"), main_app.signup_url(subdomain: nil, protocol: login_protocol,
              back_url: "#{request.fullpath}"), class: 'btn' %>
            <%= link_to t(".login"), main_app.login_url(subdomain: nil, protocol: login_protocol,
              back_url: "#{request.fullpath}"), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
    <div id="main" class="container">
      <% unless flash.empty? %>
        <div class="row">
          <div class="span12">
            <%= raw flash_message %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer" class="container">
      <p>
        <%= t("sites.licence") %>
        <br />
        <%= link_to t(".clipping"), clipping_url(subdomain: nil) %>
        <%= link_to(t(".help"), current_settings[:help_site], target: '_blank') if current_settings[:help_site] %>
        <%= link_to t(".about"), '#', target: '_blank', id: 'try-1' %>
        <br />
        <% admin_locales.each do |locale| %>
          <%= link_to flag(locale), params.merge(locale: locale.name ) %>
        <% end %>
      </p>
    </div>
    <%= javascript_include_tag "sites" %>
  </body>
</html>
