<!DOCTYPE html>
<html lang="<%= session[:locale].to_s %>">
	<%= content_for :stylesheets, stylesheet_link_tag('teachers')%>
  
  <%= render 'layouts/shared/head', :contrast => 'teachers_contrast' %>
  
  <body>
  	<div class='first_place'>
      <%= load_components 'first_place' %>
    </div>
    <div id="wrapper" <%= "style='width: #{ @main_width }px'" if @main_width %>>
      
      <header>
        <%= load_components 'top' %>
        <section id="description">
          <spam><%= raw @site.description %></spam>
        </section>
        <div class="clear"> </div>
      </header>

      <aside class="left">
        <%= load_components 'left' %>
      </aside>

      <section id="content">
        <%= raw flash_message %>
        <%= yield %>
      </section>
      
      <footer>
        <%= load_components 'bottom' %>
      </footer>
    </div>
    <%= render 'layouts/shared/javascripts' %>
  </body>
</html>

