<!doctype html>
<html lang="<%= current_locale %>">
<%= render 'layouts/shared/head', theme: 'this2' %>
<body>
  <%= render_webybar %>
  <div class='first_place'>
    <%= load_components 'first_place' %>
  </div>
  <div id="wrapper" <%= "style=\"width: #{ @main_width }px\"".html_safe if @main_width %>>
    <header>
      <%= load_components 'top' %>
      <div class="clear"> </div>
    </header>
    <aside class="left">
      <%= load_components 'left' %>
    </aside>
    <aside class="right">
      <%= load_components 'right' %>
    </aside>
    <section id="content">
      <%= yield %>
    </section>
    <footer>
      <%= load_components 'bottom' %>
    </footer>
  </div>
  <%= render 'layouts/shared/javascripts' %>
</body>
</html>
