<!DOCTYPE html>
<html lang=<%= session[:locale].to_s %> >
  <%= render :partial => 'layouts/shared/head' %>
	<%= content_for :stylesheets do %>
		<%= stylesheet_link_tag 'negativo' if session[:contrast] == 'yes' %>
  <% end %>
  <body>
    <%= render :partial => 'layouts/shared/institutional_bar' %>
    <div id="wrapper" <%= "style='width: #{ @main_width }px'" if @main_width %>>

      <header>
        <%= render :partial => "sites/viewCover" %>
        <nav>
          <%= raw print_menu(@menus['main']) %>
          <nav class="right">
            <%= render :partial => "layouts/shared/menu_acessibility" %>
            <%= render :partial => "layouts/shared/menu_locale" %>
          </nav>
          <div class="clear"> </div>
        </nav>
      </header>

      <aside class="left">
        <nav>
          <%= raw print_menu(@menus['secondary']) %>
        </nav>
        <% if @site.banners %>
          <%= raw print_banner(@site.banners.category('esq'))%>
        <% end %>
      </aside>

      <aside class="right">
        <nav>
          <%= raw print_menu(@menus['auxiliary']) %>
        </nav>
        <% if @site.banners %>
          <%= raw print_banner(@site.banners.category('dir'))%>
        <% end %>
      </aside>

      <section id="content">
        <%= raw flash_message %>
        <%= raw menu_admin(@site) %>
        <%= yield %>
      </section>

      <footer class="clear">
        <nav>
          <%= raw print_menu(@menus['base']) %>
          <div class="clear"></div>
        </nav>
        <nav class="right">
          <%= link_to t("feedback.one"), new_site_feedback_path(@site), :class => 'icon icon-add' %>
        </nav>
        <section id="info">
          <%= raw @site.footer %>
        </section>
      </footer>
    </div>
    <%= render :partial => 'layouts/shared/javascripts' %>
  </body>
</html>
