<!DOCTYPE html>
<html>
<head>
  <title> <%= @site.name %> </title>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'institutional' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'semantic_forms' %>
  <%= stylesheet_link_tag 'this2' %>
  <%= stylesheet_link_tag 'will_paginate' %>
  <%= stylesheet_link_tag 'SyntaxHighlighter/shCore' %>
  <%= stylesheet_link_tag 'SyntaxHighlighter/shThemeDefault' %>
  <%= render :partial => 'sites/viewCsses' %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>
  <%= javascript_include_tag "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" %>
  <![endif]-->
  <%= stylesheet_link_tag 'negativo' if session[:contrast] == 'yes' %>
</head>

<%#= debug params %>
<% if @site.body_width %>
  <body style='width:<%= "#{@site.body_width.to_i + 4}" %>px'>
<% elsif @top_banner_width %>
  <body style='width:<%= "#{@top_banner_width.to_i + 4}" %>px'>
<% else %>
  <body>
<% end %>

  <%= raw institutional_bar %>

  <div id="wrapper">
    <%#= debug(session) %>

    <header>
      <%= render :partial => "sites/viewCover" %>
      <nav>
        <%= raw print_menu(@main) %>
        <nav class="right">
          <%= raw menu_acessibility %>
          <%= raw menu_locale %>
        </nav>
        <div class="clear"> </div>
      </nav>
    </header>

    <aside class="left">
      <nav>
        <%= raw print_menu(@secondary) %>
      </nav>
    </aside>

    <aside class="right">
      <nav>
        <%= raw print_menu(@auxiliary) %>
      </nav>
      <%= render :partial => "sites/viewBanner"  %>
    </aside>

    <section id="content">
      <%= raw flash_message %>
      <%= raw menu_admin(@site) %>
      <%= yield %>
    </section>

    <footer class="clear">
      <nav>
        <%= raw print_menu(@base) %>
        <div class="clear"></div>
      </nav>
      <nav class="right">
        <%= link_to t("feedback.one"), new_site_feedback_path(@site), :class => 'icon icon-add' %>
      </nav>
      <section id="info">
        <%= raw @site.footer %>
      </section>
    </footer>
  </div>

  <%= javascript_include_tag "SyntaxHighlighter/shCore" %>
  <%= javascript_include_tag "SyntaxHighlighter/shBrushCss" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "tiny_mce/jquery.tinymce" %>
  <%= javascript_include_tag "jquery-ui.min.js" %>
</body>
</html>

