<!doctype html>
<html lang="<%= session[:locale].to_s %>">
<head>
  <title>Weby</title>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'user_sessions' %>
</head>
<body>
  <div class='login-box'>
    <div style="text-align: center;">
    <%= link_to root_path do %> 
      <%= image_tag 'weby.png', class: 'logo' %>
    <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
