<!doctype html>
<html>
<head>
  <title>Weby Documentation</title>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'weby_doc' %>
  <%= render 'styles/load' if @site %>
  <%= yield :stylesheets %>
</head>
<body>

  <div class="first_place">
    <%= load_components 'first_place' %>
  </div>
  
  <header class="cf">
    <%= link_to image_tag('weby.png', class: 'pull-left'), current_site %>
    <div class="orbitron title pull-right">Documentação</div>
  </header>

  <section id="content">
    <div class="container">
      <%= raw flash_message_NEW %>
      <%= yield %>
    </div>
  </section>

  <footer>
    <%= load_components 'bottom' %>
  </footer>

  <%= render 'layouts/shared/javascripts' %>
</body>
</html>

