<!DOCTYPE html>
<html>
<head>
  <title>Webyge</title>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'semantic_forms' %>
  <%= stylesheet_link_tag 'webyge' %>
  <%= stylesheet_link_tag 'will_paginate' %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>
  <%= javascript_include_tag "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" %>
  <![endif]-->
</head>
<body>

  <header>
    <nav class="right">
      <%= raw menu_locale %>
    </nav>
    <%= image_tag("logo_2.png") %>
  </header>

  <section id="content">
    <%= raw menu_admin %>
    <%= yield %>
  </section>

  <footer>
    2011 © UFG. All Rights Reserved.
  </footer>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "tiny_mce/jquery.tinymce" %>
</body>
</html>

