<!DOCTYPE html>
<html lang="<%= current_locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag asset_url('favicon.ico') %>
    <title>weby</title>
    <%= stylesheet_link_tag 'weby_sessions' %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% if ENV['STORAGE_HOST'].present? %>
      <meta name="storage" content="<%= "#{ENV['STORAGE_HOST']}/#{ENV['STORAGE_BUCKET']}" %>">
    <% end %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="inside">
        <div class="logo">
          <%= link_to image_tag('weby-logo-60.png'), main_app.root_url(subdomain: nil, protocol: 'http') %>
        </div>

        <div class="box">
          <nav class="locales-nav pull-right">
            <% admin_locales.each do |locale| %>
              <%= link_to flag(locale), {locale: locale.name} %>
            <% end %>
          </nav>

          <ul class="sessions-pills nav nav-pills">
            <li<%= ' class=active' if active_tab('login').present? %>>
              <% if active_tab('login').present? || active_tab('signup').present? %>
                <%= link_to t('.login'), '#login', 'data-toggle' => 'tab' %>
              <% else %>
                <%= link_to t('.login'), login_path %>
              <% end %>
            </li>
            <li<%= ' class=active' if active_tab('signup').present? %>>
              <% if active_tab('login').present? || active_tab('signup').present? %>
                <%= link_to t('.register'), '#signup', 'data-toggle' => 'tab' %>
              <% else %>
                <%= link_to t('.register'), signup_path %>
              <% end %>
            </li>
          </ul>
          <%= flash_message %>
          <%= yield %>
        </div>
        <nav class="help-nav">
          <% if Weby::Settings::Cafe.login_host.present? %>
            <%= link_to image_tag('cafe-logo.png'), user_omniauth_authorize_path(:shibboleth), class: 'cafe-logo' %>
          <% end %>
          <li><%= link_to t('.confirmation'), new_user_confirmation_path %></li>
          <li><%= link_to t('.unlock'), new_user_unlock_path %></li>
          <li><%= link_to t('.sites'), root_url(subdomain: nil, protocol: 'http') %></li>
          <li><%= link_to(t('.help'), current_settings.help_site, target: '_blank') if current_settings.help_site %></li>
        </nav>
      </div>
    </div>
    <%= javascript_include_tag 'weby_sessions' %>
  </body>
</html>
