<!DOCTYPE html>

<html lang=<%= session[:locale].to_s %> >
  <head>
    <title>Weby</title>
    <meta charset="utf-8">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'institutional' %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'semantic_forms' %>
    <%= stylesheet_link_tag 'weby' %>
    <%= stylesheet_link_tag 'paginate' %>
    <%= render :partial => 'sites/viewCsses' %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>
    <%= javascript_include_tag "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" %>
    <![endif]-->
    <%= stylesheet_link_tag 'weby_negativo' if session[:contrast] == 'yes' %>
  </head>

  <body>
  	<% if @site.body_width %> 		
		<div id="wrapper" style='width:<%= "#{@site.body_width.to_i + 2}" %>px'>
	<% elsif @top_banner_width %>
      <div id="wrapper" style='width:<%= "#{@top_banner_width.to_i + 2}" %>px'>
   <% else %>
        <div id="wrapper">
   <% end %>
   
		<%= raw institutional_bar %>
		<%= raw menu_admin(@site) %>
				
		<header>
			<%= render :partial => "sites/viewCover" %>
			<nav>
         	<%= raw print_menu(@menus['main']) %>
         	<nav class="right">
         		<%= raw menu_acessibility %>
         		<%= raw menu_locale %>
        		</nav>
          <div class="clear"> </div>
          </nav> 					
		</header>
		
		<aside class="right" >
			<nav>
         	<%= raw print_menu(@menus['secondary']) %>
         </nav>	
		</aside>
		
		<section id="content">
			<%= raw flash_message %>
			<%= yield %>		
		<section>	
	</div>  
	<footer>
		<section id="info">
   	<%= raw @site.footer %>
   	</section>		
	</footer>
  
  </body>
    
</html>  