<!doctype html>
<html lang="<%= session[:locale].to_s %>">
<head>
  <title>Weby Documentation</title>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'layouts/weby_doc/main' %>
  <%= stylesheet_link_tag 'layouts/weby_doc/mini' %>
  <%= render 'sites/shared/loadStyles' %>
  <%= yield :stylesheets %>
</head>

<body>
  <div class="first_place">
    <%= load_components 'first_place' %>
  </div>

  <header class="cf">
    <%= link_to image_tag('weby.png', class: 'pull-left'), site_path %>
    <div class="orbitron title pull-right">
      <% if @page %>
        <div class='title'>
          <%= raw @page.title %>
        </div>
        <div class='summary'>
          <%= raw @page.summary %>
        </div>
      <% else %>
       <%= t('documentation') %>
      <% end %>
    </div>
  </header>

  <div class="top">
    <%= load_components 'top'%>
    <div style="clear: both"> </div>
  </div>

  <section id="content">
    <div class="container">
      <%= raw flash_message %>
      <%= yield %>
    </div>
  </section>

  <footer>
    <%= load_components 'bottom' %>
  </footer>

  <%= render 'layouts/shared/javascripts' %>
</body>
</html>

