<!DOCTYPE html>
<html lang="<%= current_locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag asset_url('favicon.ico') %>
    <title><%= content_for?(:title) ? "#{yield :title}" : 'weby' %></title>
    <%= stylesheet_link_tag 'weby_pages' %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% if ENV['STORAGE_HOST'].present? %>
      <meta name="storage" content="<%= "#{ENV['STORAGE_HOST']}/#{ENV['STORAGE_BUCKET']}" %>">
    <% end %>
  </head>
  <body class="<%= yield :body_class %>">
    <div class="zone">
      <div id="header" class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <%= link_to image_tag('weby-logo-60.png', class: 'logo'), main_app.root_url(subdomain: nil) %>
          </div>
          <% if current_user %>
            <div class="col-md-4 col-md-offset-5 person">
              <div class="avatar pull-right">
                <%= link_to main_app.profile_url(current_user.login, subdomain: current_site) do %>
                  <img src="//www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=32&d=mm">
                <% end %>
              </div>
              <div class="pull-right text-right">
                <div class="info name">
                  <%= link_to current_user.first_name, main_app.profile_url(current_user.login, subdomain: current_site) %>
                </div>
                <div class="info actions">
                  <%= link_to(icon('cog', white: true), main_app.site_admin_url(subdomain: nil), class: "label label-default") if current_user.is_admin? %>
                  <%= notifications_icon %>
                  <%= link_to icon('off', white: true), main_app.logout_path(back_url: main_app.site_path), method: :delete, class: 'label label-danger', title: t('.logout') %>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          <% else %>
            <div class="col-md-4 col-md-offset-5 noperson">
              <%= link_to t(".register"), main_app.signup_url(subdomain: nil, protocol: login_protocol,
                back_url: "#{request.fullpath}"), class: 'btn btn-default' %>
              <%= link_to t(".login"), weby_login_url("#{request.fullpath}"), class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="main" class="container">
      <%= flash_message %>
      <%= yield %>
    </div>
    <div id="footer" class="container">
      <p>
        <%= t(".licence") %>
        <br />
        <%= link_to t(".sites"), main_app.root_url(subdomain: nil) %>
        <%= link_to(t(".help"), current_settings.help_site, target: '_blank') if current_settings.help_site %>
        <br />
        <% admin_locales.each do |locale| %>
          <%= link_to flag(locale), {locale: locale.name} %>
        <% end unless current_user %>
      </p>
    </div>
    <%= javascript_include_tag 'weby_pages' %>
    <%= yield :javascripts %>
  </body>
</html>
