<% load_components %>
<!doctype html>
<html lang="<%= current_locale %>">
<%= render 'layouts/shared/head', layout: 'weby' %>
<body>
  <%= render_webybar %>
  <div class='first_place'>
    <%= yield :layout_first_place %>
  </div>
  <div id="wrapper" <%= "style=\"max-width: #{ @main_width }px\"".html_safe if @main_width %>>
    <header>
      <%= yield :layout_top %>
      <div class="clear"> </div>
    </header>
    <section id="content">
      <%= yield %>
    </section>
    <footer>
      <%= yield :layout_bottom %>
    </footer>
  </div>
  <%= render 'layouts/shared/javascripts', layout: 'weby' %>
</body>
</html>
