<% load_components %>

<!doctype html>
<html lang="<%= current_locale %>">
  <head>
    <title><%= @site.try(:description) || 'Weby' %><%= yield :title %></title>
    <meta charset="utf-8"/>
    <meta name="description" content="<%= @site.try(:description) %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag favicon(@site) %>
    <%= auto_discovery_link_tag(:rss, main_app.site_feed_url(format: 'rss'),  {:title => "#{@site.try(:title)} - RSS"}) %>
    <%= auto_discovery_link_tag(:atom, main_app.site_feed_url(format: 'atom'),  {:title => "#{@site.try(:title)} - ATOM"}) %>
    <%= stylesheet_link_tag '_webybar' %>
    <%= stylesheet_link_tag 'weby-assets' %>
    <%= yield :stylesheets %>
    <%= yield :components_stylesheets %>
    <%= render 'sites/shared/loadStyles' %>
    <%= current_site.try(:head_html).try(:html_safe) %>
  </head>
  <body>
    <%= render_webybar %>
    <div class='first_place'>
      <%= yield :layout_first_place %>
    </div>
    <div id="wrapper" <%= "style=\"max-width: #{ @main_width }px\"".html_safe if @main_width %>>
      <header>
        <%= yield :layout_top %>
        <div class="clear"> </div>
      </header>
      <section id="content">
        <div class="container"><%= yield %></div>
      </section>
    </div>
    <footer>
      <%= yield :layout_bottom %>
    </footer>

    <%= javascript_include_tag "base" %>
    <%= yield :javascripts %>
  </body>
</html>
