<!DOCTYPE html>
<html lang="<%= session[:locale].to_s %>">
  <%= content_for :stylesheets do %>
    <%= stylesheet_link_tag 'weby' %>
    <%= stylesheet_link_tag 'nivo-slider' %>
  <% end %>
  <%= render 'layouts/shared/head', :contrast => 'weby_contrast' %>
  <body>
    <%= load_components 'first_place' %>
    <div id="wrapper" <%= "style='width: #{ @main_width }px'" if @main_width %>>

      <header>
      	<nav>
      		<%= raw print_menu(@menus['superior']) %>
      		<nav class="right">
						<%= render "layouts/shared/menu_acessibility" %>
            <%= render "layouts/shared/menu_locale" %>
      		</nav>
      	</nav>        
      <div class="clear"> </div>   
      </header>
      
      <aside class="right" >
      <%= load_components 'right' %>
      </aside>

      <section id="content">
        <%= raw flash_message %>
        <% if controller.controller_name.include? 'pages' and controller.action_name.include? 'view' %>
          <!-- slider com imagens na lateral -->
          <div id="slider">
            <% images = @site.pages.category('slider')[0..3] %>
            <% images.each do |image| %>
              <%= image_tag image.repository.archive.url() %>
            <% end %>
          </div>
          <section id="pages">
          <ul>
            <% @front_news.each do |page| %>
              <li id=<%= "page_#{page.id}" %> style="list-style-type:none;">
              <article class="<%= cycle 'pageleft','pageright' %>">
                <% unless page.repository.nil? %>
                  <% page.repository.reprocess! %>

                  <%= weby_file_view(page.repository, :mini) %>

                  <%= link_to image_tag("#{page.repository.archive.url(:mini)}",
                                        :alt => page.repository.description),
                                        site_page_path(@site, page),
                                        :title => page.repository.description %>
                                    <% end %>

              <header>
                <h2> <%= link_to page.title, site_page_path(@site, page) %> </h2>
                <% if @site.view_desc_pages %>
                  <p><i>
                    <%= page.user.first_name ?
                      ("#{page.user.first_name} #{page.user.last_name}") :
                      page.user.login %>
                    <%= l page.created_at, :format => :short  %>
                  </i></p>
                <% end %>
              </header>
              <summary>
                <%= raw page.summary %>
              </summary>
              <p> <%= link_to t("read_more"), site_page_path(@site, page) %> </p>
              <div class="clear"></div>
              <%= raw make_menu(page) %>
            </article>
            </li>
            <% end %>
          </ul>
          <div class="clear"></div>
          <%#= paginate @front_news, :param_name => 'front_pages', :remote => true %>
        <% else %>
          <%= yield %>    
        <% end %>
      </section>
    </div>

    <footer style="clear:both">
      <%= load_components 'bottom' %>
      <section id="footer">
        <div id="content-footer"></div>
        <%= raw @site.footer %>
      </section>
    </footer>

 	<%= content_for :javascripts do %>
		<%= javascript_include_tag "jquery.nivo.slider.pack.js" %>
    <%= javascript_tag do %>
      $().ready(function() {
        $('#slider').nivoSlider({
          controlNav:false,
          directionNavHide:false,
          keyboardNav:false,
          prevText: 'Anterior',
          nextText: 'Próximo'
        });
      });
    <% end %>
  <% end %>
	<%= render 'layouts/shared/javascripts'%>
  </body>

</html>  
