<!doctype html>
<html lang="<%= current_locale %>">
<%= render 'layouts/shared/head', layout: 'weby_doc' %>
<body>
  <%= render_webybar %>
  <div class="first_place">
    <%= load_components 'first_place' %>
  </div>
  <div class="container">  
    <header class="row">
      <div class="span4">
        <%= link_to image_tag('weby.png', class: 'pull-left'), site_path %>
      </div>
      <div class="span8">
        <div class="orbitron title pull-right">
          <% if @page %>
            <div class='title'><%= raw @page.title %></div>
            <div class='summary'><%= raw @page.summary %></div>
          <% else %>
            <%= t("weby_doc.documentation") %>
          <% end %>
        </div>
      </div>
    </header>
  </div>
  <div class="container">
    <%= load_components 'top'%>
  </div>
  <section id="content">
    <div class="container">
      <%= yield %>
    </div>
  </section>
  <footer>
    <%= load_components 'bottom' %>
  </footer>
  <%= render 'layouts/shared/javascripts', layout: 'weby_doc' %>
</body>
</html>
