<!DOCTYPE html>
<html lang=<%= session[:locale].to_s %> >
  <%= render 'layouts/shared/head', :contrast => 'weby_contrast' %>
  <body>
    <%= render 'layouts/shared/institutional_bar' %>
    <div id="wrapper" <%= "style='width: #{ @main_width }px'" if @main_width %>>

      <header>
     		<%= raw menu_admin(@site) %>
     		<%= render "sites/viewCover" %>
      	<nav>
      		<%= raw print_menu(@menus['superior']) %>
      		<nav class="right">
						<%= render "layouts/shared/menu_acessibility" %>
            <%= render "layouts/shared/menu_locale" %>
      		</nav>
      	</nav>        
      <div class="clear"> </div>   
      </header>

      <!-- MENUS RIGHT -->
      <!--aside class="right" >
      <nav>
      <%= raw print_menu(@menus['direita']) %>
      </nav>  
      </aside-->

      <!-- BANNERS RIGHT -->
      <!--aside id="banners_right">
      <div>
        <% @banners = @site.banners[0..3] %>
        <% @banners.each do |b| %>
          <figure>
            <%= image_tag(b.repository.archive.url(b.size), :height => '60', :alt => b.text) %>
          </figure>
        <% end %>
      </div>
      <div class="clear"></div>
      </aside-->

      <!-- TESTE PARA COMPONENTES -->
      <%= load_components 'right' %>

      <section id="content">
        <%= raw flash_message %>
        <% if controller.controller_name.include? 'pages' and controller.action_name.include? 'view' %>
          <!-- slider com imagens na lateral -->
          <div id="slider">
            <% images = @site.pages.category('slider')[0..3] %>
            <% images.each do |image| %>
              <%= image_tag image.repository.archive.url() %>
            <% end %>
          </div>
          <section id="pages">
          <ul>
            <% @front_news.each do |page| %>
              <li id=<%= "page_#{page.id}" %> style="list-style-type:none;">
              <article class="<%= cycle 'pageleft','pageright' %>">
                <% unless page.repository.nil? %>
                  <% page.repository.archive.reprocess! if File.file?(page.repository.archive.path) and
                    not File.file?(page.repository.archive.path(:little)) %>

                  <%= link_to image_tag("#{page.repository.archive.url(:mini)}",
                                        :alt => page.repository.description),
                                        site_page_path(@site, page, :type => params[:type]),
                                        :title => page.repository.description %>
                                    <% end %>

              <header>
                <h2> <%= link_to page.title, site_page_path(@site, page) %> </h2>
                <% if @site.view_desc_pages %>
                  <p><i>
                    <%= page.user.first_name ?
                      ("#{page.user.first_name} #{page.user.last_name}") :
                      page.user.login %>
                    <%= l page.created_at, :format => :short  %>
                  </i></p>
                <% end %>
              </header>
              <summary>
                <%= raw page.summary %>
              </summary>
              <p> <%= link_to t("read_more"), site_page_path(@site, page) %> </p>
              <div class="clear"></div>
              <%= raw make_menu(page) %>
            </article>
            </li>
            <% end %>
          </ul>
          <div class="clear"></div>
          <%#= paginate @front_news, :param_name => 'front_pages', :them => 'blog', :remote => true %>
        <% else %>
          <%= yield %>    
        <% end %>
      </section>
    </div>  

    <!--section id="banners_footer">
      <div>
        <% @banners = @site.banners[0..3] %>
        <% @banners.each do |b| %>
          <figure>
            <%= image_tag(b.repository.archive.url(b.size), :width => b.width, :height => b.height, :alt => b.text) %>
          </figure>
        <% end %>
      </div>
      <div class="clear"></div>
    </section-->
    <%= load_components 'bottom' %>

    <footer>
      <section id="footer">
        <div id="content-footer"></div>
        <%= raw @site.footer %>
      </section>
    </footer>

	<%= render 'layouts/shared/javascripts'%>
 	<%= content_for :javascripts do %>
		<%= javascript_include_tag "jquery.nivo.slider.pack.js" %>
  <% end %>
  </body>

</html>  
