<%= simple_form_for [:admin, @site], html: { class: 'form-horizontal' } do |f| %>
  <%= f.show_errors %>

  <%= f.input :body_width, :hint => t(".example_width") %>
  <%= f.input :name, :hint => t("field_required"), :input_html => {:pattern => '^[a-z0-9_\-]+$'}  %>
  <%= f.input :domain, :hint => t(".domain_explain") %>
  <%= f.input :url, :hint =>  (t("field_required") + " " + t(".example_url")), :placeholder => "http://"%>
  <%= f.input :parent_id, :collection => main_sites_list(@site).collect{|s| [s.title || s.name ,s.id]}, :label => t(".main_site") %>
  <%= f.input :per_page,  :hint => t(".example_per_page") %>
  <%= f.input :per_page_default,  :required => true %>
  <%= f.input :title, :input_html => {:maxlength => 50} %>
  <%= f.input :description, :input_html => {:rows => 8}, :hint => t(".site_comments"), :as => :text %>
  
  <%= f.input :view_desc_pages, :hint => t(".view_desc_pages_help"), :as => :boolean %>

  <%= f.input :theme, :collection => @themes.collect{|name| [t("themes.#{name}.title"), name]} %>

  <%= f.association :locales,
    :as => :check_boxes,
    :collection => Locale.all.map{|l| [image_tag("flags/24/#{l.flag}", :title=>t(l.name)), l.id] } %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary', disable_with: t("please_wait") %>
    <%= link_to t("back"), :back, class: "btn" %>
  </div>
<% end %>
<%= content_for :javascripts, javascript_include_tag("admin.edit") %>
