<% if @sites.empty? %>
    <div class="alert alert-warning">
      <%= t(".no-site-found") %>
    </div>
<% else %>
  <div class="pull-left"> <%= info_page @sites %> </div>
  <div class="pull-right"> <%= paginate @sites, remote: true %> </div>
  <div class="clearfix"></div>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th class='site-name'><%= sortable 'name', t(".name") %></th>
        <th><%= sortable 'title', t(".title") %></th>
        <th><%= sortable 'description', t(".description") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td> <%= link_to site.name, site_url(subdomain: site) %> </td>
          <td> <%= site.title %> </td>
          <td> <%= site.description %> </td>
          <td class="text-right">
                <%= link_to icon('briefcase', text: t(".dashboard")), site_admin_url(subdomain: site), class: "action-link"  if current_user && current_user.has_role_in?(site) %>
                <%= link_to icon('edit', text: t(".settings")), edit_admin_site_url(site.id, subdomain: nil), class: "action-link" if current_user && current_user.is_admin %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pull-left"> <%= per_page_links @sites, true, :sm %> </div>
  <div class="pull-right"> <%= paginate @sites, remote: true %> </div>
  <div class="clearfix"></div>
<% end %>
