<%- title '.sites' %>

<div class="span9">
  <div class="well">
    <div class="pull-left">
      <%= form_tag request.path, method: 'get', autocapitalize: "off", class: 'search pull-right' do %>
        <%= content_tag :div, class: 'input-append' do %>
          <%= search_field_tag :search, params[:search], class: 'input-search' %><%= submit_tag t("search"), class: 'btn btn-large btn-primary btn-search' %>
        <% end %>
      <% end %>
    </div>

    <% if check_permission(Admin::SitesController, ["new"]) %>
    <div class="pull-right">
      <%= link_to t(".new_site"),
        new_admin_site_path,
        class: "btn btn-success btn-large" %>
    </div>
    <% end %>
    <div class="clearfix"></div>

    <%= content_tag :div, render('list'), class: 'list' if @sites %>
  </div>
</div>
