<%= form_tag @site ? change_roles_site_users_path(@site) : change_roles_users_path,
      :method => "post",
      :id => "form_user_#{@user.id}",
      :remote => 'true',
      :update => 'enroled' %> 
  <%= hidden_field_tag 'user[id]', @user.id %>
  <p>
    <% @roles.each do |role| %>
      <label>
        <%= check_box_tag 'role_ids[]', role.id,
              @user.roles.any?{ |r| r.site_id == @site.try(:id) && r.id == role.id} %>
        <%= role.name %>
      </label>
      <br />
    <% end %>
  </p>
  <%= submit_tag (t"submit"), class: "green-button" %>
  <%= link_to t('cancel'), {action: 'manage_roles'}, 
    onclick: "return hide_form(#{@user.id});", 
    id: "form_role_cancel", class: "red-button" %>
</form>
